
Verify that the PKS control plane remains functional by performing the following steps:
    1. Add more workloads and create an additional cluster. For more information, see
<a href="maintain-uptime.html#upgrades">About Cluster Upgrades</a> in _Maintaining Workload Uptime_ and
<a href="create-cluster.html">Creating Clusters</a>.
    1. Monitor the PKS control plane VM by clicking the <strong><%= vars.product_tile %></strong> tile, selecting the <strong>Status</strong> tab, and reviewing the **Pivotal Container Service** VM's data points. If any data points are at capacity, scale your deployment accordingly.