
    1. Add more workloads and create an additional cluster. For more information, see
<a href="maintain-uptime.html#upgrades">About Cluster Upgrades</a> in _Maintaining Workload Uptime_ and
<a href="create-cluster.html">Creating Clusters</a>.
    1. Monitor the Tanzu Kubernetes Grid Integrated Edition control plane in the <strong>Tanzu Kubernetes Grid Integrated Edition</strong> tile > <strong>Status</strong> tab.
    Review the load and resource usage data for the TKGI API and TKGI Database VMs.
    If any levels are at capacity, scale up the VMs.
    <br>
