
    1. Add more workloads and create an additional cluster. For more information, see
<a href="maintain-uptime.html#upgrades">About Cluster Upgrades</a> in _Maintaining Workload Uptime_ and
<a href="create-cluster.html">Creating Clusters</a>.
    1. Monitor the <%= vars.product_short %> control plane in the <strong><%= vars.product_tile %></strong> tile > <strong>Status</strong> tab.
    Review the load and resource usage data for the <%= vars.control_plane %> and <%= vars.control_plane_db %> VMs.
    If any levels are at capacity, scale up the VMs.
    <br>
