<p class="note"><strong>Note:</strong>
Operators should add additional workloads and create an additional cluster to ensure that the PKS control plane is still functional between every upgrade step. For more information on performing those actions, see [About Workload Upgrades](maintain-uptime.html#upgrades) and [Create a Cluster](create-cluster.html)
</p>