1. Return to the Ops Manager Installation Dashboard.
1. Click **Review Pending Changes**. Select the product you intend to deploy and review the changes. For more information, see [Reviewing Pending Product Changes](https://docs.pivotal.io/pivotalcf/customizing/review-pending-changes.html).
  <p class="note"><strong>Note</strong>: In Ops Manager v2.2, the <em>Review Pending Changes</em> page is a Beta feature. If you deploy PKS to Ops Manager v2.2, you can skip this step.</p>
1. Click **Apply Changes**.
