Perform the following steps:

1. Click **Assign AZs and Networks**.

1. Under **Place singleton jobs in**, select the availability zone (AZ) where you want to deploy the PKS API and PKS database.

    ![Assign AZs and Networks pane in Ops Manager](images/azs-networks.png) 
1. Under **Balance other jobs in**, select the AZ for balancing other jobs.  
    <p class="note"><strong>Note</strong>: You must specify the <strong>Balance other jobs in</strong> AZ, but the selection has no effect in the current version of <%= vars.product_short %>.
    </p>
1. Under **Network**, select the infrastructure subnet that you created for <%= vars.product_short %> components, such as the PKS API and PKS database.
1. Under **Service Network**, select the services subnet that you created for Kubernetes cluster VMs.
1. Click **Save**.
