To configure the availability zones (AZs) and networks used by the <%= vars.product_short %> control plane:

1. Click **Assign AZs and Networks**.

1. Under **Place singleton jobs in**, select the availability zone (AZ) where you want to deploy the PKS API VM as a singleton job. 

    ![Assign AZs and Networks pane in Ops Manager](images/azs-networks.png) 
1. Under **Balance other jobs in**, select the AZ for balancing other <%= vars.product_short %> control plane jobs.  
    <p class="note"><strong>Note</strong>: You must specify the <strong>Balance other jobs in</strong> AZ, but the selection has no effect in the current version of <%= vars.product_short %>.
    </p>
1. Under **Network**, select the infrastructure subnet that you created for the PKS API VM.
1. Under **Service Network**, select the services subnet that you created for Kubernetes cluster VMs.
1. Click **Save**.
