To configure the availability zones (AZs) and networks 
used by the Tanzu Kubernetes Grid Integrated Edition control plane:

1. Click **Assign AZs and Networks**.

1. Under **Place singleton jobs in**, select the AZ where you want to deploy the 
TKGI API and TKGI Database.

    ![Assign AZs and Networks pane in Ops Manager](images/azs-networks.png) 
1. Under **Balance other jobs in**, select the AZ for balancing other Tanzu Kubernetes Grid Integrated Edition control plane jobs.  
    <p class="note"><strong>Note</strong>: You must specify the <strong>Balance other jobs in</strong> AZ, but the selection has no effect in the current version of Tanzu Kubernetes Grid Integrated Edition.
    </p>
1. Under **Network**, select the infrastructure subnet that you created for Tanzu Kubernetes Grid Integrated Edition component VMs, such as the TKGI API and TKGI Database VMs.
1. Under **Service Network**, select the services subnet that you created for Kubernetes cluster VMs.
1. Click **Save**.
