### <a id='supported'></a> Supported Components

BBR can back up the following components:

* BOSH Director
* <%= vars.product_short %> control plane UAA MySQL database
* <%= vars.product_short %> control plane PKS API MySQL database
* The ETCD database of a cluster

### <a id='unsupported'></a> Unsupported Components

BBR cannot back up the following components:

* Harbor tile
* Persistent volumes attached to nodes
* Network resources. For example, load balancers to the cluster.

<p class="note warning"><strong>Warning:</strong> BBR is not validated for backing up vSphere with NSX-T Objects.</p>