In the procedure below, you use credentials for vCenter master VMs. You must have provisioned the service account with the correct permissions. For more information, see [Create the Master Node Service Account](vsphere-prepare-env.html#create-master) in _Preparing vSphere Before Deploying <%= vars.product_short %>_.

To configure your Kubernetes cloud provider settings, follow the procedure below:

1. Click **Kubernetes Cloud Provider**.
1. Under **Choose your IaaS**, select **vSphere**.
1. Ensure the values in the following procedure match those in the **vCenter Config** section of the Ops Manager tile.  
<br>
    <img src="images/cloud-vsphere.png" alt="vSphere pane configuration">
    1. Enter your **vCenter Master Credentials**. Enter the vCenter Server username using the format `user@domainname`, for example: "_user@example.com_". 
    For more information about the master node service account, see [Preparing vSphere Before Deploying <%= vars.product_short %>](vsphere-prepare-env.html).  
        <p class="note warning"><strong>Warning</strong>: The vSphere Container Storage Plug-in will not function if you do not specify the domain name for active directory users.</p>  
    1. Enter your **vCenter Host**. For example, `vcenter-example.com`.
    1. Enter your **Datacenter Name**. For example, `example-dc`.
    1. Enter your **Datastore Name**. For example, `example-ds`. Populate **Datastore Name** with the Persistent Datastore name 
        configured in your **BOSH Director** tile under **vCenter Config** > **Persistent Datastore Names**. 
        The **Datastore Name** field should contain a single Persistent datastore.
        <p class="note"><strong>Note</strong>: The vSphere datastore type must be Datastore. <%= vars.product_short %> does not support the use of vSphere Datastore Clusters with or without Storage DRS. For more information, see <a href="https://docs.vmware.com/en/VMware-vSphere/6.7/com.vmware.vsphere.monitoring.doc/GUID-408D2430-A252-495E-BDB1-4D1940CBC6E1.html">Datastores and Datastore Clusters</a> in the vSphere documentation.</p>
        <p class="note"><strong>Note</strong>: The <strong>Datastore Name</strong> is the default datastore used if the Kubernetes cluster <code>StorageClass</code> does not define a <code>StoragePolicy</code>. Do not enter a datastore that is a list of BOSH Job/VMDK datastores. For more information, see <a href="./vsphere-persistent-storage.html">PersistentVolume Storage Options on vSphere</a>.</p>
        <p class="note"><strong>Note</strong>: For multi-AZ and multi-cluster environments, your <strong>Datastore Name</strong> should be a shared Persistent datastore available to each vSphere cluster. Do not enter a datastore that is local to a single cluster. For more information, see <a href="./vsphere-persistent-storage.html">PersistentVolume Storage Options on vSphere</a>.</p>
    1. Enter the **Stored VM Folder** so that the persistent stores know where to find the VMs. To retrieve the name of the folder, navigate to your BOSH Director tile, click **vCenter Config**, and locate the value for **VM Folder**. The default folder name is `pks_vms`.
    1. Click **Save**.  