In the procedure below, you use credentials for vCenter master VMs. You must have provisioned the service account with the correct permissions. For more information, see [Create the Master Node Service Account](vsphere-prepare-env.html#create-master) in _Preparing vSphere Before Deploying <%= vars.product_short %>_.

To configure your Kubernetes cloud provider settings, follow the procedure below:

1. Click **Kubernetes Cloud Provider**.
1. Under **Choose your IaaS**, select **vSphere**.
1. Ensure the values in the following procedure match those in the **vCenter Config** section of the Ops Manager tile.

    <img src="images/cloud-vsphere.png" alt="vSphere pane configuration">

    1. Enter your **vCenter Master Credentials**. Enter the username using the format `user@example.com`. For more information about the master node service account, see [Preparing vSphere Before Deploying <%= vars.product_short %>](vsphere-prepare-env.html).
    1. Enter your **vCenter Host**. For example, `vcenter-example.com`.
    1. Enter your **Datacenter Name**. For example, `example-dc`.
    1. Enter your **Datastore Name**. For example, `example-ds`.
    1. Enter the **Stored VM Folder** so that the persistent stores know where to find the VMs. To retrieve the name of the folder, navigate to your BOSH Director tile, click **vCenter Config**, and locate the value for **VM Folder**. The default folder name is `pcf_vms`.
    1. Click **Save**.

  <p class="note"><strong>Note</strong>: The value for the <strong>Datastore Name</strong> field is intended to be a single datastore that is the default target. This field should not include a list of BOSH Job/VMDK datastores. The default datastore is used if the Kubernetes cluster <code>StorageClass</code> does not define a <code>StoragePolicy</code>. For more information, see <a href="./vsphere-persistent-storage.html">PersistentVolume Storage Options on vSphere</a>.</p>

  <p class="note"><strong>Note</strong>: For multi-AZ and multi-cluster environments, we recommend using a shared datastore that is available to each vSphere cluster, as opposed to a datastore that is local to a single cluster. For more information, see <a href="./vsphere-persistent-storage.html">PersistentVolume Storage Options on vSphere</a>.</p>
