In the procedure below, you use credentials for vCenter master VMs. You must have provisioned the service account with the correct permissions. For more information, see [Create the Master Node Service Account](vsphere-prepare-env.html#create-master) in _Preparing vSphere Before Deploying PKS_.

To configure your Kubernetes cloud provider settings, follow the procedure below:

1. Click **Kubernetes Cloud Provider**.
1. Under **Choose your IaaS**, select **vSphere**.
1. Ensure the values in the following procedure match those in the **vCenter Config** section of the **Ops Manager** tile.

    <img src="images/cloud-vsphere.png" alt="vSphere pane configuration">

    1. Enter your **vCenter Master Credentials**. Enter the username using the format `user@CF-EXAMPLE.com`. For more information about the master node service account, see [Preparing to Deploy PKS on vSphere](vsphere-prepare-env.html).
    1. Enter your **vCenter Host**. For example, `vcenter.CF-EXAMPLE.com`.
    1. Enter your **Datacenter Name**. For example, `CF-EXAMPLE-dc`.
    1. Enter your **Datastore Name**. For example, `CF-EXAMPLE-ds`.
    1. Enter the **Stored VM Folder** so that the persistent stores know where to find the VMs. To retrieve the name of the folder, navigate to your BOSH Director tile, click **vCenter Config**, and locate the value for **VM Folder**. The default folder name is `pcf_vms`.
  <p class="note"><strong>Note</strong>: We recommend using a shared datastore for multi-AZ and multi-cluster environments.</p>
1. Click **Save**.
