Topic 								              		| Description
----------------------------------------------------------------|------------------------------------------------------------------------------
[Flexible Node Types](#flexible-types)	  		| TK one line description
[Heterogeneous Nodes](#heterogeneous-nodes)	  		| TK one line description
[Custom AZs for Nodes](#custom-azs)	  		| Specify AZs for each node type

### <a id='flexible-types'></a> Flexible Node Types

TK Recipe.

### <a id='heterogeneous-nodes'></a> Heterogeneous Nodes

TK Recipe.

### <a id='custom-azs'></a> Custom AZs for Nodes

You can define Availability Zones (AZs) dynamically instead of adding new AZs in the BOSH Director tile. As a result, you do not need to make AZ changes to each plan and the overall impact to the TKGI control plane is smaller.

TK Recipe.
