Errands are scripts that run at designated points during an installation.

To configure when post-deploy and pre-delete errands for <%= vars.product_short %> are run, make a selection in the dropdown next to the errand.

We recommend that you set the **Run smoke tests** errand to **On**. The errand uses the PKS CLI to create a Kubernetes cluster and then delete it. If the creation or deletion fails, the errand fails and the installation of the <%= vars.product_tile %> tile is aborted.

For the other errands, we recommend that you leave the default settings.

  ![Errand configuration pane](images/errands.png)

For more information about errands and their configuration state, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/customizing/managing_errands.html).

<p class="note warning"><strong>Warning:</strong> If <strong>Upgrade all clusters errand</strong> is enabled, updating the <%= vars.product_tile %> tile with a new Linux stemcell triggers the rolling of every Linux VM in each Kubernetes cluster. This automatic rolling ensures that all your Linux VMs are patched. To avoid workload downtime, use the resource configuration recommended in <a href="understanding-upgrades.html#upgrade-all">What Happens During <%= vars.product_short %> Upgrades</a> and <a href="maintain-uptime.html">Maintaining Workload Uptime</a>.</p>
