<br>
1. (Optional) Configure a global proxy for all outgoing HTTP and HTTPS traffic from your Kubernetes clusters.  This setting will not set the proxy for running Kubernetes workloads or pods.
<br><br>
Production environments can deny direct access to public Internet services and between internal services by placing an HTTP or HTTPS proxy in the network path between Kubernetes nodes and those services.
<br><br>
If your environment includes HTTP or HTTPS proxies, configuring <%= vars.product_short %> to use these proxies allows <%= vars.product_short %>-deployed Kubernetes nodes to access public Internet services and other internal services. Follow the steps below to configure a global proxy for all outgoing HTTP/HTTPS traffic from your Kubernetes clusters:
  1. Under **HTTP/HTTPS Proxy**, select **Enabled**.  
      <img src="images/networking-https-proxy.png" alt="Networking pane configuration" width="325"><br>
  1. Under **HTTP Proxy URL**, enter the URL of your HTTP proxy endpoint. 
  For example, `http\://myproxy.com:1234`.
  1. (Optional) If your HTTP proxy uses basic authentication, 
  enter the username and password under **HTTP Proxy Credentials**.  
  1. Under **HTTPS Proxy URL**, enter the URL of your HTTPS proxy endpoint. 
  For example, `https\://myproxy.com:1234`.
  1. (Optional) If your HTTPS proxy uses basic authentication, 
  enter the username and password under **HTTPS Proxy Credentials**.
  1. Under **No Proxy**, enter the service network CIDR where your <%= vars.product_short %> 
  cluster is deployed. List any additional IP addresses or domain names that should bypass the proxy. 
  The **No Proxy** property for vSphere accepts wildcard domains denoted by a prefixed `\*.` or `.`, 
  for example `\*.example.com` and `.example.com`.  
  <br>
  <p class="note"><strong>Note</strong>: By default, the <code>.internal</code>, <code>10.100.0.0/8</code>, and <code>10.200.0.0/8</code> IP address ranges are not proxied. This allows internal <%= vars.product_short %> communication.
  <br><br>
  Do not use the <code>-</code> character in the <strong>No Proxy</strong> field. Entering an
  underscore character in this field can cause upgrades to fail.
  <br><br>
  Because some jobs in the VMs accept `\*.` as a wildcard, while others only accept `.`, 
  we recommend that you define a wildcard domain using both of them. 
  For example, to denote `example.com` as a wildcard domain, add both `\*.example.com` and `example.com` 
  to the **No Proxy** property.
  </p>