### Storage Requirements for Large Numbers of Pods

If you expect the cluster workload to run a large number of pods continuously, 
then increase the size of persistent disk storage allocated to the <%= vars.control_plane_db %> VM as follows:

 <table>
  <tr>
    <th>Number of Pods</th>
    <th>Persistent Disk Requirements (GB)</th>
  </tr>
    <tr>
    <td>1,000  pods</td>
    <td>20</td>
  </tr>
  <tr>
    <td>5,000  pods</td>
    <td>100</td>
  </tr>
  </tr>
    <tr>
    <td>10,000 pods</td>
    <td>200</td>
  </tr>
  <tr>
    <td>50,000 pods</td>
    <td>1,000</td>
  </tr>
</table>