<table class="nice">
  <tr>
    <th>IaaS</th>
    <th>Installation Link</th>
  </tr>
  <tr>
    <td>vSphere</td>
    <td>[Installing PKS on vSphere](installing-pks-vsphere.html)</td>
  </tr>
  <tr>
    <td>vSphere with NSX-T</td>
    <td>[Installing PKS on vSphere with NSX-T Integration](installing-nsx-t.html)</td>
  </tr>
  <tr>
    <td>Google Cloud Platform</td>
    <td>[Installing PKS on GCP
](installing-pks-gcp.html)</td>
  </tr>
   <tr>
    <td>Amazon Web Services</td>
    <td>[Installing PKS on AWS
](installing-pks-aws.html)</td>
</tr>
</table>