<p class="note"><strong>Note</strong>: After you click <b>Apply Changes</b> for
the first time, BOSH assigns the PKS VM an IP address. BOSH uses the name you provide
in the <b>Load Balancers</b> column to locate your load balancer, and then connect
the load balancer to the PKS VM using its new IP address.</p>
