<p class="note"><strong>Note:</strong> After you click <strong>Apply Changes</strong> for the first time,
BOSH assigns the <%= vars.control_plane %> VM an IP address. BOSH uses the name you provide in the <strong>LOAD BALANCERS</strong> field
to locate your load balancer and then connect the load balancer to the <%= vars.control_plane %> VM using its new IP address.</p>