You can designate an external syslog endpoint for forwarding BOSH-deployed VM logs.

In addition, you can enable sink resources to collect Kubernetes cluster and namespace log messages.

To configure logging in <%= vars.product_tile %>, do the following:

1. Click **Logging**.

    ![Logging pane](images/logging.png)

1. Under **Enable Syslog for PKS**, select **Yes** to enable syslog forwarding for BOSH-deployed VM logs.
1. Under **Address**, enter the destination syslog endpoint.
1. Under **Port**, enter the destination syslog port.
1. Under **Transport Protocol**, select a transport protocol for log forwarding.
1. (Optional) To enable TLS encryption during log forwarding, perform the following steps:
  1. Ensure **Enable TLS** is selected.  
  <p class="note"><strong>Note</strong>: Logs may contain sensitive information. 
  	For example, logs may contain cloud provider credentials. 
  	Pivotal strongly recommends that you enable TLS encryption for log forwarding.
  </p>  
  1. Under **Permitter Peer**, provide the accepted fingerprint (SHA1) or name of remote peer. For example, `*.YOUR-LOGGING-SYSTEM.com`.
  1. Under **TLS Certificate**, provide a TLS certificate for the destination syslog endpoint.
  <p class="note"><strong>Note</strong>: You do not need to provide a new certificate if the TLS certificate for the destination syslog endpoint is signed by a Certificate Authority (CA) in your BOSH certificate store.
  </p>
<% if current_page.data.iaas == "vSphere" || current_page.data.iaas == "vSphere-NSX-T" %>
1. <%= partial 'vrealize-logs' %>
<% else %>
1. To enable clusters to drain Kubernetes API events and pod logs to log sinks, select the **Enable Log Sink Resources** checkbox. In addition to enabling the checkbox, you must create your log sink resources. For information about creating sink resources, see [Creating Sink Resources](create-sinks.html).
1. Click **Save**.
<% end %>
