To configure networking, do the following:

1. Click **Networking**.
1. Under **Container Networking Interface**, select **Antrea**.
  <img src="images/networking-flannel.png" alt="Networking pane configuration" width="425">
    <p class="note"><strong>Note</strong>: Flannel has been deprecated. Although you can select <strong>Flannel</strong>, 
    <%= vars.recommended_by %> recommends that you select <strong>Antrea</strong>. 
      Networking Configurations using Flannel will automatically be switched to using <strong>Antrea</strong> during a future upgrade.</p>
<% if current_page.data.windowsclusters == true %>
1. (Optional) Enter values for **Kubernetes Pod Network CIDR Range** and **Kubernetes Service Network CIDR Range**.  
	* For Windows worker-based clusters the **Kubernetes Service Network CIDR Range** setting must remain `10.220.0.0/16`.  
    <p class="note"><strong>Note:</strong> vSphere on Flannel does not support networking Windows containers.
    </p>
<% else %>
1. (Optional) Enter values for **Kubernetes Pod Network CIDR Range** and **Kubernetes Service Network CIDR Range**.
  * Ensure that the CIDR ranges do not overlap and have sufficient space for your deployed services.
  * Ensure that the CIDR range for the **Kubernetes Pod Network CIDR Range** is large enough to accommodate the expected maximum number of pods.
<% end %>
<%= partial 'global-proxy' %>
1. Under **Allow outbound internet access from Kubernetes cluster vms (IaaS-dependent)**, ignore the **Enable outbound internet access** checkbox.
1. Click **Save**.