Perform the following steps:

1. Click **PKS API**.

1. Under **Certificate to secure the PKS API**, provide your own certificate and private key pair.
  <br>
  ![PKS API pane configuration](images/pks-api.png)
  <br>
  The certificate that you supply should cover the domain that routes to the PKS API VM with TLS termination on the ingress.
  <br><br>
  If you do not have a certificate and private key pair, Ops Manager can generate one for you. To generate a certificate, do the following:
  1. Select the **Generate RSA Certificate** link.
  1. Enter the domain for your API hostname. This can be a standard FQDN or a wildcard domain.
  1. Click **Generate**.<br>
    ![PKS API certificate generation](images/pks-api-cert-gen.png)
    <% if current_page.data.iaas == "GCP" %>
    <p class="note"><strong>Note</strong>: If you deployed a global HTTP load balancer for Ops Manager without a certificate,
      you can configure the load balancer to use this newly-generated certificate.
      To configure your Ops Manager load balancer front end certificate,
      see <a href="https://docs.pivotal.io/pcf/om/gcp/prepare-env-manual.html#config-frontend">Configure Front End</a> in
       <em>Preparing to Deploy Ops Manager on GCP Manually</em>.</p>
    <% else %>
    <% end %>
1. Under **API Hostname (FQDN)**, enter the FQDN that you registered to point to the PKS API load balancer, such as `api.pks.example.com`.
To retrieve the public IP address or FQDN of the PKS API load balancer,
<% if current_page.data.iaas == "AWS" or current_page.data.iaas == "Azure" %>
see the `terraform.tfstate` file.
<% else %>
log in to your IaaS console.
<% end %>
1. Under **Worker VM Max in Flight**, enter the maximum number of non-canary worker instances to create or resize in parallel within an availability zone.
	<br><br>
	This field sets the `max_in_flight` variable, which limits how many instances of a component can start simultaneously when a cluster is created or resized.
	The variable defaults to `1`, which means that only one component starts at a time.
1. Click **Save**.
