Perform the following steps:

1. Click **PKS API**.
1. Under **Certificate to secure the PKS API**, provide your own certificate and private key pair.
  ![PKS API pane configuration](images/pks-api.png)
  <br>
  The certificate that you supply  should cover the domain that routes to the PKS API VM with TLS termination on the ingress.
  <br><br>
  If you do not have a certificate and private key pair, PKS can generate one for you by performing the following steps.
  <p class="note"><strong>Note</strong>: If you configured Ops Manager Front End without a certificate, 
  you can use this new certificate to complete Ops Manager configuration. To configure your Ops Manager Front End certificate, see <a href="https://docs.pivotal.io/pcf/om/2-2/gcp/prepare-env-manual.html#config-frontend">Configure Front End</a>.
  </p>
  1. Select the **Generate RSA Certificate** link.
  1. Enter the wildcard domain for your API hostname.
    For example, if your PKS API domain is `api.pks.example.com`, then enter `*.pks.example.com`.
  1. Click **Generate**.
1. Under **API Hostname (FQDN)**, enter a fully qualified domain name (FQDN) to access the PKS API.
For example, `api.pks.example.com`.
1. Click **Save**.