If you use an instance of Ops Manager that you configured previously to install other runtimes, confirm the following settings before you install PKS:

1. Navigate to Ops Manager.
1. Open the **Director Config** pane.
1. Select the **Enable Post Deploy Scripts** checkbox.
1. Clear the **Disable BOSH DNS server for troubleshooting purposes** checkbox.
1. Click the **Installation Dashboard** link to return to the Installation Dashboard.
1. Click **Review Pending Changes**. Select all products you intend to deploy and review the changes. For more information, see [Reviewing Pending Product Changes](https://docs.pivotal.io/pivotalcf/customizing/review-pending-changes.html).
  <p class="note"><strong>Note</strong>: In Ops Manager v2.2, the <em>Review Pending Changes</em> page is a Beta feature. If you deploy PKS to Ops Manager v2.2, you can skip this step.</p>
1. Click **Apply Changes**.
