For each job, review the automatic values in the following fields:
  * **INSTANCES**: <%= vars.product_short %> defaults to the minimum resource configuration.
  If you want a highly available resource configuration, scale the number of VM instances after installing <%= vars.product_short %>.
  For instructions on enabling high availability mode for <%= vars.product_short %>, see [(Optional) Scale <%= vars.product_short %> to High Availability Mode](#scale-to-ha) below.
  * **VM TYPE**: By default, the **Pivotal Container Service Database** and **Pivotal Container Service** jobs are set to the same automatic VM type.
  If you want to adjust this value, select the same VM type for both jobs.
  * **PERSISTENT DISK TYPE**: By default, the **Pivotal Container Service Database** and **Pivotal Container Service** jobs are set to the same persistent disk type.
  If you want to adjust this value, ensure the persistent disk type of the **Pivotal Container Service Database** job is at least as large as the persistent disk type of the **Pivotal Container Service** job.
    <p class="note"><strong>Note:</strong> The automatic <strong>VM TYPE</strong> and <strong>PERSISTENT DISK TYPE</strong> values match the minimum recommended resource configuration for the <strong>Pivotal Container Service</strong>
    and <strong>Pivotal Container Service Database</strong> jobs.
    </p>