  <p class="note"><strong>Note:</strong> If your operator has configured Tanzu Kubernetes Grid Integrated Edition to use a SAML identity provider,
  you must include an additional SSO flag to use the above command. For information about the SSO flags, see the section for the above command in <a href="./cli/index.html">TKGI CLI</a>. For information about configuring SAML, 
  see <a href="configuring-saml.html">Connecting Tanzu Kubernetes Grid Integrated Edition to a SAML Identity Provider</a>
</p> 
