If your operator has configured <%= vars.product_short %> to use a SAML identity provider,
you must include an additional flag to use the above command. For information about configuring SAML,
see [Configure SAML as an Identity Provider](./installing-pks-vsphere.html#configure-saml)
in the _Installing_ topic for your IaaS.

You must include one of the following flags:
<table class="nice">
  <tr>
  <th width=30%>Flag</th>
  <th>Description</th>
  </tr>

  <tr>
    <td><code>--sso</code></td>
    <td>This flag prompts the user to navigate to a URL in a web browser to retrieve
    a passcode. The user must then log in to their identity provider and record the passcode
    that appears in the URL. The URL uses the following format:
    <code>https<span>:</span>//PKS-API-FQDN<span>:</span>8443/?code=PASSCODE</code>.
    To complete the workflow, the user inputs the retrieved passcode in the command line.</td>
  </tr>

  <tr>
    <td><code>--sso-passcode PASSCODE</code></td>
    <td>This flag requires you to provide a passcode you have already obtained.
    For example: <code>--sso-passcode AB1C2Dfghi</code></td>
  </tr>

  <tr>
    <td><code>--sso-auto</code></td>
    <td>This flag automatically opens a web browser window to the login page for your SAML identity
    provider. After you log in to your SAML identity provider, the command automatically retrieves the passcode
    and completes the workflow.</td>
  </tr>
</table>
