  <p class="note"><strong>Note:</strong> If your operator has configured <%= vars.product_short %> to use a SAML identity provider,
  you must include an additional SSO flag to use the above command. For information about the SSO flags, see the section for the above command in <a href="./cli/index.html">PKS CLI</a>. For information about configuring SAML, 
  see <a href="./installing-pks-vsphere.html#configure-saml">Configure SAML as an Identity Provider</a>
  in the <i>Installing</i> topic for your IaaS.
</p> 
