<table>
  <tr>
    <th>Sink Type</th>
    <th width="30%">Sink Resource</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>Log sink</td>
    <td><code>ClusterLogSink</code></td>
    <td><p>Forwards logs from a cluster to a log destination. Logs are transported using one of the following:</p>
        <ul>
          <li>The Syslog Protocol defined in <a href="https://tools.ietf.org/html/rfc5424">RFC 5424</a></li>
          <li>WebHook</li>
          <li>Fluent Bit output plugins</li>
        </ul>
    </td>
  </tr>
  <tr>
    <td>Log sink</td>
    <td><code>LogSink</code></td>
    <td><p>Forwards logs from a namespaced subset within a <code>ClusterLogSink</code> resource to a log destination. Logs are transported using one of the following:</p>
        <ul>
          <li>The Syslog Protocol defined in <a href="https://tools.ietf.org/html/rfc5424">RFC 5424</a></li>
          <li>WebHook</li>
          <li>Fluent Bit output plugins</li>
        </ul>
    </td>
  </tr>
  <tr>
    <td>Metric&nbsp;sink</td>
    <td><code>ClusterMetricSink</code></td>
    <td>Collects and writes metrics from a cluster to specified outputs using input and output plugins.</td>
  </tr>
  <tr>
    <td>Metric&nbsp;sink</td>
    <td><code>MetricSink</code></td>
    <td>Collects and writes metrics from a namespace within a cluster to specified outputs using input and output plugins.</td>
  </tr>
</table>
