1. Gather credential and IP address information for your BOSH Director, SSH into
the Ops Manager VM, and use BOSH CLI to log in to the BOSH Director from the Ops
Manager VM. For more information, see [Advanced Troubleshooting with the BOSH
CLI](https://docs.pivotal.io/pivotalcf/customizing/trouble-advanced.html).

1. To identify your PKS deployment's name, run the following command:
  <pre>bosh -e ENVIRONMENT deployments</pre>

    Where `ENVIRONMENT` is the BOSH environment alias you set in the [Set a BOSH Environment Alias](manage-deployments-bosh.html#alias) section of _Managing PKS Deployments with BOSH_.
  <br>
  <br>
    For example:
      <pre class="terminal">$ bosh -e pks deployments</pre>
      Your PKS deployment name begins with `pivotal-container-service` and includes
  a BOSH-generated hash.

1. To identify your PKS VM's name, run the following command:
  <pre>bosh -e ENVIRONMENT -d DEPLOYMENT vms</pre>

    Where:
     * `ENVIRONMENT` is the BOSH environment alias.
     * `DEPLOYMENT` is your PKS deployment name.

    For example:
    <pre class="terminal">$ bosh -e pks -d service-instance_ae681cd1-7ff4-4661-b12c-49a5b543f16f vms</pre>

    Your PKS VM name begins with `pivotal-container-service` and includes a
  BOSH-generated hash.
    <p class="note"><strong>Note:</strong> The PKS VM hash value is different from the hash in your PKS
  deployment name.
</p>

1. To SSH into the master node of the cluster, run the following command:
  <pre>bosh -e ENVIRONMENT -d DEPLOYMENT ssh master/MASTER-NUMBER</pre>

    Where:
    * `ENVIRONMENT` is the BOSH environment alias.
    * `DEPLOYMENT` is your PKS deployment name.
    * `MASTER-NUMBER` is your master number.

    For example:
    <pre class="terminal">$ bosh -e pks -d service-instance_ae681cd1-7ff4-4661-b12c-49a5b543f16f ssh master/0</pre>
