
In **Storage Configurations** you can configure vSphere CNS settings.  

![Storage Configurations pane](images/vsphere/vsphere-storage.png)

<p class="note"><strong>Note:</strong> 
To create clusters with resizable persistent volumes you must enable privileged mode. 
For more information about enabling privileged mode, see <a href="#plans">Plans</a> above.</p>  

To configure vSphere CNS:  

1. Select **Storage**.  

1. (Optional) To enable automatic installation of the vSphere CSI driver on all clusters, select **Yes**.  

    <p class="note warning"><strong>Warning:</strong> If you have existing clusters with a manually deployed vSphere CSI driver, 
    	you must remove the manually deployed driver after enabling this feature. 
    	For more information, see <a href="vsphere-cns.html">Deploying Cloud Native Storage (CNS) on vSphere</a>.
    </p>   

