#### <a id='tagging-rules'></a>Tagging Rules

The tagging you apply should adhere to the following rules:

* Tag names and values should not include either `"`, `:` or `,`. 
* Tag names and values must adhere to the tagging rules of the IaaS hosting your <%= vars.product_short %> environment. 
* Surrounding double quotes are required if there are one or more spaces in your tag list, such as a space after a comma delimiter.  

For information about Azure tagging rules see [Use tags to organize your Azure resources]
(https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/tag-resources) in the Azure documentation.  

<%#= 
<br>For information about tagging rules see the following: 
<table>
    <tr>
        <th>IaaS</th>
        <th>Tagging Rule Documentation</th>
    </tr>
    <tr>
        <td>Azure</td>
        <td>See <a href="https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/tag-resources">Use tags to organize your Azure resources</a> in the Azure documentation.</td>
    </tr>
    <tr>
        <td>AWS</td>
        <td>See <a href="https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/allocation-tag-restrictions.html">User-Defined Tag Restrictions</a> in the AWS documentation.</td>
    </tr>
    <tr>
        <td>GCP</td>
        <td>See <a href="https://cloud.google.com/blog/products/gcp/labelling-and-grouping-your-google-cloud-platform-resources">Labelling and grouping your Google Cloud Platform resources</a> in the GCP documentation.</td>
    </tr>
</table>
%>

#### <a id='tagging-max'></a>Maximum Number of Tags

<%= vars.product_short %> applies ten default tags to every cluster. 
The total of the number of custom tags you apply to a cluster plus the number of 
default tags applied by <%= vars.product_short %> 
should not exceed the tagging maximum specified by your IaaS.  

For example: Azure limits tagging to a maximum of 50 tags per entity. 
Therefore, if your <%= vars.product_short %> 
environment is hosted on Azure, apply fewer than 40 custom tags to your clusters.  

For information about Azure tagging limits see [Use tags to organize your Azure resources]
(https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/tag-resources) in the Azure documentation.  
