#### <a id='tagging-rules'></a>Tagging Rules

The tagging you apply should adhere to the following rules:

* Tag names and values should not include either `"`, `:` or `,`. 
* Tags must adhere to the tagging rules of the IaaS hosting your <%= vars.product_short %> environment. 
For information about Azure tagging rules see [Use tags to organize your Azure resources]
(https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/tag-resources) in the Azure documentation.  

<%#= 
<br>For information about tagging rules see the following: 
<table>
    <tr>
        <th>IaaS</th>
        <th>Tagging Rule Documentation</th>
    </tr>
    <tr>
        <td>Azure</td>
        <td>See <a href="https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/tag-resources">Use tags to organize your Azure resources</a> in the Azure documentation.</td>
    </tr>
    <tr>
        <td>AWS</td>
        <td>See <a href="https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/allocation-tag-restrictions.html">User-Defined Tag Restrictions</a> in the AWS documentation.</td>
    </tr>
    <tr>
        <td>GCP</td>
        <td>See <a href="https://cloud.google.com/blog/products/gcp/labelling-and-grouping-your-google-cloud-platform-resources">Labelling and grouping your Google Cloud Platform resources</a> in the GCP documentation.</td>
    </tr>
</table>
%>

If you are configuring multiple tags and prefer to include a space after each comma delimiter, you must enclose the entire set of tags in double-quotes.  

For example:  

<% if current_page.data.pkscommand == "create" %>
<pre class="terminal">$ pks create-cluster my-cluster --tags "status:billable, region:northwest"
</pre>
<% else %>
<pre class="terminal">$ pks update-cluster my-cluster --tags "client:tinymegacorp, costcenter:pettycash"
</pre>
<% end %>

#### <a id='tagging-max'></a>Maximum Number of Tags

<%= vars.product_short %> applies ten default tags to every cluster. 
The total of the number of custom tags you apply to a cluster plus the number of 
default tags applied by <%= vars.product_short %> 
should not exceed your IaaS tagging maximum.  

For example: Azure limits tagging to a maximum of 50 tags per entity. 
Therefore, apply fewer than 40 custom tags to your clusters if your <%= vars.product_short %> 
environment is hosted on Azure.  

For information about Azure tagging limits see [Use tags to organize your Azure resources]
(https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/tag-resources) in the Azure documentation.  

<p class="note"><strong>Note</strong>: Do not exceed the maximum number of tags allowed by your IaaS.
</p>

