IaaSs provide the ability for customers to "tag" VMs, databases and other resources with custom labels and metadata values. 
Apply one or more tags to your clusters to simplify organizing, managing, searching for, and filtering resources within your IaaS-provided management console and other tools.  

<p class="note"><strong>Note</strong>: <%= vars.product_short %> supports tagging on Azure only.
</p>
To apply tags to your cluster's VMs, include the `--tags` parameter in your 
`pks <%= current_page.data.pkscommand %>-cluster` command line, 
and specify the desired tags as a comma-delimited list of `key:value` pairs. 

For example:

<% if current_page.data.pkscommand == "create" %>
<pre class="terminal">
$ pks create-cluster my-cluster --tags status:billable
$ pks create-cluster my-cluster --tags status:non-billable,region:northwest
</pre>
<% else %>
<pre class="terminal">
$ pks update-cluster my-cluster --tags client:tinymegacorp
$ pks update-cluster my-cluster --tags client:perish.com,costcenter:pettycash
</pre>
<% end %> 

<% if current_page.data.pkscommand == "update" %>
<p class="note"><strong>Note:</strong> When you use <code>pks update-cluster</code> to 
modify existing tags all of the cluster's existing tags are completely overwritten.
</p>
When using `pks create-cluster` to add, modify or delete a tag, always specify the complete 
list of all of the cluster's tags, modified with the desired changes. 
To determine a cluster's existing tags use `pks cluster`. 
For information on `pks cluster` see 
[Review Your Tags](#tagging-review), below.  
<% end %> 

#### <a id='tagging-review'></a>Review Your Tags

To review the tags applied to a cluster, run `pks cluster`. 

For example:
<pre class="terminal">$ pks cluster my-cluster
Name:                     my-cluster
Plan Name:                large
UUID:                     01a234bc-d56e-7f89-01a2-3b4cde5f6789
Last Action:              CREATE
Last Action State:        succeeded
Last Action Description:  Instance provisioning completed
Kubernetes Master Host:   my-cluster.example.com
Kubernetes Master Port:   8443
Worker Instances:         3
Kubernetes Master IP(s):  192.168.20.7
Tags:                     client:tinymegacorp, costcenter:pettycash
</pre>