In the **Tanzu Mission Control (Experimental)** pane of the <%= vars.product_tile %> tile, if you are a participant in the VMware Tanzu Mission Control beta program, you can integrate your <%= vars.product_short %> deployment with Tanzu Mission Control.

Tanzu Mission Control (TMC) provides a single point of control to manage configuration and policy across all Kubernetes clusters, regardless of where they are running. When you integrate <%= vars.product_tile %> with Tanzu Mission Control, any clusters that you deploy are visible for monitoring and management in the Tanzu Mission Control dashboard.

  <img src="images/tmc-integration.png" alt="Tanzu Misison Control Integration" width="675">

<p class="note warning"><strong>Important:</strong> VMware Tanzu Mission Control is currently experimental Beta software and is intended for evaluation and test purposes only. For more information about Tanzu Mission Control, see the <a href="https://cloud.vmware.com/tanzu-mission-control" target="_blank">VMware Tanzu Mission Control home page</a>.</p> 

Before you configure the integration, you must have an API token for an active Tanzu Mission Control account. If you are a part of the Tanzu Mission Control Beta program, you obtain your Access API token by logging in to [VMware Cloud Services](https://cloud.vmware.com/) and accessing your account information in your VMware Cloud Services console. 

To integrate Enterprise PKS with Tanzu Mission Control, configure the following fields:

- **Tanzu Mission Control Integration**: Select **Yes** to enable the integration.
- **Tanzu Mission Control URL**: Enter the API URL of your Tanzu Mission Control Subscription. The TMC URL must not end with a trailing slash (`/`).
- **VMware Cloud Services API token**: Enter your API token to authenticate when calling VMware Cloud Services APIs.
- **Tanzu Mission Control Cluster Group**: Enter the default cluster group in Tanzu Mission Control. See below for additional information about TMC access control.
- **Tanzu Mission Control Cluster Name Prefix**: Enter the name with which the PKS cluster names are to be prefixed in Tanzu Mission Control.

The default Tanzu Mission Control (TMC) access policy maps the CSP "Org Owner" to the TMC `organization.admin role`, allowing such users to create cluster groups. Currently, however, the "TMC service Admin" cannot create cluster groups by default. Only an "Org Owner" can change the default access policy in the TMC Policy view.
As an "Org Member", you can create/attach a cluster in the "default" cluster group only. If an "Org Member" needs to create/attach a cluster in a cluster group other than "default", he or she needs to have either the `clustergroup.admin` or `clustergroup.edit` role on that cluster group. An admin will be able to view and modify TMC access policy in the Policy view.