Tanzu Mission Control integration lets you monitor and manage <%= vars.product_tile %> clusters from the Tanzu Mission Control console,
which makes the Tanzu Mission Control console a single point of control for all Kubernetes clusters. For more information about Tanzu Mission Control, see the <a href="https://cloud.vmware.com/tanzu-mission-control" target="_blank">VMware Tanzu Mission Control</a> home page.

To integrate <%= vars.product_short %> with Tanzu Mission Control, refer to the topic [Attach an Existing Cluster](https://docs.vmware.com/en/VMware-Tanzu-Mission-Control/services/tanzumc-getstart/GUID-F0162E40-8D47-45D7-9EA1-83B64B380F5C.html) in the Tanzu Mission Control documentation.

<p class="note warning"><strong>Warning:</strong> Do not use the TKGI tile to configure the integration with VMware Tanzu Mission Control. This feature is experimental and deprecated. After deploying a cluster, use the manual integration method cited above.</p>
