  <p class="note"><strong>Note:</strong> If your operator has configured <%= vars.product_short %> to use a SAML identity provider,
  you must add <code>--origin SAML-ORIGIN</code> to the above command.<code>SAML-ORIGIN</code> is the domain name for your SAML identity provider. For information about configuring SAML,
  see <a href="./installing-pks-vsphere.html#configure-saml">Configure SAML as an Identity Provider</a>
  in the <i>Installing</i> topic for your IaaS.</p> 
