
<%# WARNING!!!! %>
<%# DO NOT ADD READBILITY LINE WRAPPING TO THIS CONTENT THE LONG LINES MUSt REMAIN TO CORRECTLY FORMAT THE FOLLOWING SECTION'S MARKDOWN CONTENT %>
<%#  WARNING!!!! %>
VMware's Customer Experience Improvement Program (CEIP) and the Pivotal Telemetry Program (Telemetry) provides VMware and Pivotal with information that enables the companies to improve their products and services, fix problems, and advise you on how best to deploy and use our products. As part of the CEIP and Telemetry, VMware and Pivotal collect technical information about your organization's use of the <%= vars.product_short %> on a regular basis. Since <%= vars.product_short %> is jointly developed and sold by VMware and Pivotal, we will share this information with one another. Information collected under CEIP or Telemetry does not personally identify any individual.  

Regardless of your selection in the **Usage Data** pane, a small amount of data is sent from Cloud Foundry Container Runtime (CFCR) to the <%= vars.product_tile %> tile. However, that data is not shared externally.  

To configure the **Usage Data** pane, perform the following steps:  

1. Select the **Usage Data** side-tab.  
1. Read the Usage Data description.  
1. Make your selection.  
  1. To join the program, select **Yes, I want to join the CEIP and Telemetry Program for PKS**.  
  1. To decline joining the program, select **No, I do not want to join the CEIP and Telemetry Program for PKS**.  
1. Click **Save**.  

<p class="note"><strong>Note:</strong> If you join the CEIP and Telemetry Program for <%= vars.product_short %>, open your firewall to allow outgoing access to <code>https://vcsa.vmware.com/ph-prd</code> on port <code>443</code>.</p>
<%# WARNING!!!! %>
<%#  DO NOT ADD READBILITY LINE WRAPPING TO THIS CONTENT THE LONG LINES MUSt REMAIN TO CORRECTLY FORMAT THE FOLLOWING SECTION'S MARKDOWN CONTENT  %>
<%# WARNING!!!!  %>
