To configure CEIP and Telemetry, do the following:

1. Click **CEIP and Telemetry**.
1. Review the information about CEIP and the Telemetry program.
  ![CEIP and Telemetry pane](ceip-telemetry.png)
1. Choose your participation by selecting one of the following:
  * **None:** If you select this option, data is not collected from your PKS installation.
  * **Standard:** If you select this option, data is collected from your PKS installation and used to improve PKS. This participation level is anonymous and does not permit CEIP and Telemetry to identify your organization.
  * **Enhanced:** If you select this option, data is collected from your PKS installation and used to provide you proactive support and other features. This participation level permits CEIP and Telemetry to identify your organization.
  For more information, see [Benefits of the Enhanced Participation Level](telemetry.html#benefits) in _Telemetry_.
1. If you selected the **Enhanced** participation level, enter your VMware account number or Pivotal customer number.
1. Select your PKS installation type.
1. Click **Save**.  

<p class="note"><strong>Note:</strong> If you join the CEIP and Telemetry Program for <%= vars.product_short %>, open your firewall to allow outgoing access to <code>https://vcsa.vmware.com/ph</code> on port <code>443</code>.</p>
<p class="note"><strong>Note:</strong> Regardless of your selection in the <strong>CEIP and Telemetry</strong> pane, a small amount of data is sent from Cloud Foundry Container Runtime (CFCR) to the <%= vars.product_tile %> tile. However, that data is not shared externally.</p>
