<table class="nice">
  <tr>
    <th>Versions</th>
    <th>Editions</th>
  </tr>
  <tr>
    <td>
      <ul>
        <li>VMware vSphere 6.7 U1</li>
        <li>VMware vSphere 6.7.0</li>
        <li>VMware vSphere 6.5 U2</li>
        <li>VMware vSphere 6.5 U1</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>vSphere Enterprise Plus</li>
        <li>vSphere with Operations Management Enterprise Plus</li>
      </ul>
    </td>
  </tr>
</table>
<% if current_page.data.topictype == "vsphere" || current_page.data.topictype == "vsphereupgrade" %>
<p class="note"><strong>Note:</strong> VMware vSphere 6.7 is only supported with Ops Manager v2.3.1 or later.</p>
<% else %>
<p class="note"><strong>Note:</strong> VMware vSphere 6.7 is only supported with Ops Manager v2.3.1 or later and NSX&#8209;T v2.3.</p>
For more information, see
[Upgrading vSphere in an NSX Environment](https://docs.vmware.com/en/VMware-NSX-for-vSphere/6.4/com.vmware.nsx.upgrade.doc/GUID-ED005943-AB33-4D8D-A642-97774276C539.html)
in the VMware documentation.
<% end %>