<table class="nice">
  <tr>
    <th>Versions</th>
    <th>Editions</th>
  </tr>
  <tr>
    <td>
      <ul>
        <li>VMware vSphere 6.7 U2 (see Note below)</li>
        <li>VMware vSphere 6.7 U1</li>
        <li>VMware vSphere 6.7.0</li>
        <li>VMware vSphere 6.5 U2</li>
        <li>VMware vSphere 6.5 U1</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>vSphere Enterprise Plus</li>
        <li>vSphere with Operations Management Enterprise Plus</li>
      </ul>
    </td>
  </tr>
</table>

<p class="note"><strong>Note</strong>:  For the Enterpise PKS v1.4.0 GA release, vSphere v6.7 U2 is the only supported vSphere version for NSX-T v2.4.0. For more information, see the <a href="https://www.vmware.com/resources/compatibility/sim/interop_matrix.php#interop&356=&175=&1=">VMware Interoperability Matrix</a>.</p>
