<table class="nice">
  <tr>
    <th>Versions</th>
    <th>Editions</th>
  </tr>
  <tr>
    <td>
      <ul>
        <li>VMware vSphere 6.7 U2</li>
        <li>VMware vSphere 6.7 U1</li>
        <li>VMware vSphere 6.7.0</li>
        <li>VMware vSphere 6.5 U2</li>
        <li>VMware vSphere 6.5 U1</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>vSphere Enterprise Plus</li>
        <li>vSphere with Operations Management Enterprise Plus</li>
      </ul>
    </td>
  </tr>
</table>
