---
title: About Load Balancers in PKS
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes the types of load balancers that are used in Pivotal Container Service (PKS).

You can configure load balancers for the following:

* **PKS API**: configuring this load balancer allows you to run PKS Command Line Interface (CLI) commands from your local workstation.
* **Kubernetes Clusters**: configuring a load balancer for each new cluster allows you to access the cluster's master worker VM.
* **Workloads**: configuring a load balancer for your application workloads allows external access to the services that run on your cluster.

If you use either vSphere with NSX-T or GCP, you can create load balancers within your cloud provider console.

If you do not use a load balancing option provided by your cloud provider, you can use any external TCP load balancer of your choice.

## <a id='pks-api'></a>About the PKS API Load Balancer

The load balancer for the PKS API allows to access the PKS API from outside the network.
You can use any external TCP load balancer of your choice.

See _Installing and Configuring PKS on [vSphere](installing-pks-vsphere.html#loadbalancer-pks-api) or [GCP](installing-pks-gcp.html#loadbalancer-pks-api)_ for more information.
