---
title: Access Dashboard
owner: PKS
---

##<a id='dashboard'></a>Access Dashboard

Dashboard is a web-based Kubernetes user interface. Use Dashboard to deploy containerized applications to a Kubernetes cluster, troubleshoot containerized apps, and manage the cluster and its resources. Dashboard also provides information about the state of Kubernetes resources in the cluster. You can use Dashboard to manage the cluster at scale, including initiating rolling updates, restarting pods, and deploying new apps.

To access Dashboard, follow the steps in [Accessing the Dashboard UI](https://v1-10.docs.kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard/#accessing-the-dashboard-ui) in the Kubernetes Web UI (Dashboard) documentation.

<p class='note'><strong>Note:</strong> When accessing Dashboard, use the <code>http://localhost:8001/api/v1/namespaces/kube-system/services/https:kubernetes-dashboard:/proxy/</code> URL.</p>

<p class='note'><strong>Note:</strong> You must have <code>kubectl</code> credentials to access Dashboard. This requirement prevents unauthorized admin access to the Kubernetes cluster through a browser.</p>
