---
title: Accessing Dashboard
owner: PKS
---

This topic describes how to access Dashboard, a web-based Kubernetes user interface, for your Pivotal Container Service (PKS) deployment. 

##<a id='overview'></a>Overview

You can use Dashboard to deploy containerized applications to a Kubernetes cluster, troubleshoot containerized apps, manage the cluster and its resources, initiate rolling updates, and restart pods. Dashboard also provides information about the state of Kubernetes resources in the cluster. 

##<a id='prereqs'></a>Prerequisites

You must have <code>kubectl</code> credentials to access Dashboard. This requirement prevents unauthorized admin access to the Kubernetes cluster through a browser.

##<a id='access'></a>Access Dashboard

To access Dashboard, run `kubectl proxy` on terminal and navigate to `http://localhost:8001/api/v1/namespaces/kube-system/services/https:kubernetes-dashboard:/proxy/` in a browser.

##<a id='use'></a>Use Dashboard

For information on how to use Dashboard, see the [Web UI (Dashboard)](https://kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard/#welcome-view) topic of the Kubernetes documentation. 