---
title: Disabling Admission Control Plugins for Enterprise PKS Clusters
owner: PKS
---
<%= vars.vmware_attribution %>

<strong><%= modified_date %></strong>

This section describes how to disable one or more admission control plugins for <%= vars.product_full %> clusters. For more information, see [Enabling and Using Admission Control Plugins for Enterprise PKS Clusters](./admission-plugins.html).

##<a id='admission-plugin-disable-single'></a> Disabling a Single Admission Plugin

To disable a single Admission Plugin, complete the following steps:

1. Log in to Ops Manager.
1. Edit the Enterprise PKS tile.
1. Select the Plan, such as **Plan 1**.
1. Deselect (uncheck) the Admission Plugin to disable it.
1. Save the changes to the Enterprise PKS tile.
1. At the Installation Dashboard, select **Review Pending Changes**.
1. Verify that the **Upgrade all clusters errand** is enabled (checked) for Enterprise PKS.
1. Click **Apply Changes**.

##<a id='admission-plugin-disable'></a> Disabling an Orphaned Admission Plugin

The Ops Manager user interface does not let you deselect (disable) all Admission Plugins. In other words, once an Admission Plugin is enabled, the Ops Manager UI requires that at least one Admission Plugin checkbox be selected (checked).

To disable an orphaned Admission Plugin, complete the following workflow:

1. Obtain the Ops Manager API URL.
1. Obtain the Ops Manager user name and password.
1. Obtain the GUID for the Enterprise PKS tile using either of the following methods:
  - Option 1: In Ops Manager, select the PKS tile and copy the GUID from the URL:
  	<img src="images/pks-guid.png" alt="PKS GUID" width="325">
  - Option 2: Run the following command: 
  		om -t OPSMAN-FQDN -u <ops man user> -p "<ops man password>" -k curl -s -p /api/v0/staged/products | jq .[].guid | grep "pivotal-container-service" | tr -d '"'
1. To disable the orphaned Admission Plugin, run the following command using the Ops Manager CLI. In this example, `30.0.0.5` is the IP address of the Ops Manager VM.
		om -t 30.0.0.5 -u <ops man user> -p "<ops man password>" -k curl -p /api/v0/staged/products/pivotal-container-service-guid/properties -x PUT -d '{"properties": {".properties.plan1_selector.active.admission_plugins":{"value":[]}}}' -H "Content-Type: application/json"
