---
title: Product Architecture
owner: PKS
---

This topic describes the product architecture of Pivotal Container Service (PKS).

##<a id='overview'></a> Overview

The following diagram illustrates the PKS product architecture:

<%= image_tag('pks-overview.png') %>

##<a id='components'></a> PKS Components

The PKS Controller contains the following components:

* An [On-Demand Broker](https://docs.pivotal.io/svc-sdk/odb/) that deploys [Cloud Foundry Container Runtime](https://docs-kubo.cfapps.io) (CFCR), an open-source project that provides a solution for deploying and managing [Kubernetes](https://kubernetes.io/docs/home/) clusters using [BOSH](https://bosh.io/docs).
* A Service Adapter
* The PKS API

NSX-T and Harbor are optional integrations for vSphere.

The GCP Service Broker is under development.
