---
title: Amazon Web Services (AWS)
owner: Ops Manager
iaas: AWS
---

This topic outlines the steps for installing Pivotal Container Service (PKS) on Amazon Web Services (AWS). See the following sections:

<ul>
  <li>
    <a href="./aws-requirements.html">AWS Prerequisites and Resource Requirements</a>
  </li>
  <li>
    <a href="./aws-om-deploy.html">Deploying Ops Manager on AWS</a>
  </li>
  <li>
    <a href="./aws-om-config.html">Configuring Ops Manager on AWS</a>
  </li>
  <li>
    <a href="./aws-prepare-env.html">Preparing AWS Before Deploying PKS</a>
  </li>
  <li>
    <a href="./aws-api-load-balancer.html">Creating an AWS Load Balancer for the PKS API</a>
  </li>
  <li>
    <a href="./installing-pks-aws.html">Installing PKS on AWS</a>
  </li>
  <li>
    <a href="./installing-pks-cli.html">Installing the PKS CLI</a>
  </li>
  <li>
    <a href="./installing-kubectl-cli.html">Installing the Kubernetes CLI</a>
  </li>
</ul>
