---
title: Installing Tanzu Kubernetes Grid Integrated Edition on Amazon Web Services (AWS)
owner: Ops Manager
iaas: AWS
---

The topics below describe how to install VMware Tanzu Kubernetes Grid Integrated Edition (TKGI) on Amazon Web Services (AWS).  

## Install Tanzu Kubernetes Grid Integrated Edition on AWS

To install Tanzu Kubernetes Grid Integrated Edition on AWS, follow the instructions below:

<ul>
  <li>
    <a href="aws-requirements.html">AWS Prerequisites and Resource Requirements</a>
  </li>
  <li>
    <a href="aws-om-install-config.html">Installing and Configuring Ops Manager on AWS</a>
  </li>
  <li>
    <a href="installing-aws.html">Installing Tanzu Kubernetes Grid Integrated Edition on AWS</a>
  </li>
  <li>
    <a href="./proxies-aws.html">Using Proxies with Tanzu Kubernetes Grid Integrated Edition on AWS</a>
  </li>
  <li>
    <a href="aws-configure-users.html">Setting Up Tanzu Kubernetes Grid Integrated Edition Admin Users on AWS</a>
  </li>
</ul>

## Install the TKGI and Kubernetes CLIs

The TKGI CLI and Kubernetes CLI help you interact with your Tanzu Kubernetes Grid Integrated Edition-provisioned Kubernetes clusters and Kubernetes workloads.

To install the CLIs, follow the instructions below:

<ul>
  <li>
    <a href="installing-cli.html">Installing the TKGI CLI</a>
  </li>
  <li>
    <a href="installing-kubectl-cli.html">Installing the Kubernetes CLI</a>
  </li>
</ul>
