---
title: Completing AWS Load Balancer Configuration
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to complete configuring a load balancer for the PKS API using Amazon Web Services (AWS). Before you perform the procedures below, you must complete the steps in the following topics:

1. [Creating an AWS Load Balancer for the PKS API](aws-api-load-balancer.html)
2. [Installing PKS on AWS](installing-pks-aws.html)



##<a id='create-firewall'></a>Step 1: Create a Firewall Rule for the Load Balancer

1. In the **EC2 Dashboard**, under **Network & Security**, click **Security Groups**.
1. Select the security group that is applied to the `pivotal-container-service` instance.
1. In the **Inbound** tab, click **Edit**.
1. Click **Add Rule** and complete the following fields:
  * **Type**: Select **Custom TCP**.
  * **Port Range**: Enter `8443`.
  * **Source**: Select **Custom** and enter `0.0.0.0/0`.
  * **Description**: Enter `UAA`.
1. Click **Add Rule** and complete the following fields:
  * **Type**: Select **Custom TCP**.
  * **Port Range**: Enter `9021`.
  * **Source**: Select **Custom** and enter `0.0.0.0/0`.
  * **Description**: Enter `PKS API`.
1. Click **Save**.

##<a id='next-steps'></a> Next Steps

After installing PKS on AWS, you may want to do one or more of the following:

* [Install the PKS and Kubernetes CLIs](#clis)
* [Configure PKS API Access](#api)
* [Configure Authentication for PKS](#auth)

### <a name='clis'></a> Install the PKS and Kubernetes CLIs

<%= partial 'install-cli' %>

### <a name='api'></a> Configure PKS API Access

Follow the procedures in [Configuring PKS API Access](configure-api.html).

### <a name='auth'></a> Configure Authentication for PKS

<%= partial 'configure-auth' %>
