---
title: Deploying Ops Manager to AWS
owner: Ops Manager
---

<strong><%= modified_date %></strong>
<html class="list-style-none"></html>

This topic describes how to deploy Ops Manager for Pivotal Container Service (PKS) on Amazon Web Services (AWS)

After you complete this procedure, follow the instructions in the [Configuring Ops Manager on AWS](./aws-om-config.html) and [Configuring PKS on AWS](./installing-pks-aws.html) topics.

To install Ops Manager on AWS follow the instructions at https://docs.pivotal.io/pivotalcf/1-12/customizing/aws.html

## <a id="next"></a> Next Steps

After you complete this procedure, follow the instructions in the [Configuring Ops Manager on AWS](./aws-om-config.html) topic.

