---
title: Installing and Configuring Ops Manager on AWS
owner: Ops Manager
---

This topic describes how to install and configure VMware Tanzu Operations Manager (Ops Manager) 
before deploying VMware Tanzu Kubernetes Grid Integrated Edition (TKGI) on Amazon Web Services (AWS).  


## <a id='overview'></a> Overview

Use Ops Manager to install and configure TKGI.  

Ops Manager provides a dashboard UI for installing applications and components. 
Ops Manager and the installed components include an interface for configuring the Ops Manager environment, component settings, and cluster configurations.  

To install Ops Manager:  

1. [Prerequisites](#prerequisites)  
1. [Install and Configure Ops Manager](#install-om)  

## <a id='prerequisites'></a>Prerequisites

Before installing Ops Manager, review [AWS Prerequisites and Resource Requirements](aws-requirements.html).  

## <a id="install-om"></a>Install and Configure Ops Manager

To install Ops Manager:  

1. Determine the most recent version of Ops Manager that is compatible with the TKGI version you are deploying. 
For information on Ops Manager compatibility with TKGI, 
see [<%= vars.product_network %>](https://network.pivotal.io/products/pivotal-container-service).  

1. To install and configure Ops Manager, follow the installation instructions for your selected Ops Manager version:  

    <table>
      <tr>
        <th>Version</th>
        <th>Instructions</th>
      </tr>
      <tr>
        <td>Ops Manager v3.0</td>
        <td>
          <ol>
            <li><a href="https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/aws-deploy-manual.html">Deploying Ops Manager on AWS</a></li>
            <li><a href="https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/aws-config-manual.html">Configuring BOSH Director on AWS</a></li>
          </ol>
        </td>
      </tr>
      <tr>
        <td>Ops Manager v2.10</td>
        <td>
          <ol>
            <li><a href="https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/2.10/vmware-tanzu-ops-manager/aws-deploy-manual.html">Deploying Ops Manager on AWS</a></li>
            <li><a href="https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/2.10/vmware-tanzu-ops-manager/aws-config-manual.html">Configuring BOSH Director on AWS</a></li>
          </ol>
        </td>
      </tr>
    </table>

## <a id="next-steps"></a>Next Installation Step

To install and configure Tanzu Kubernetes Grid Integrated Edition,
follow the instructions in [Installing Tanzu Kubernetes Grid Integrated Edition on AWS](installing-aws.html).
