---
title: Preparing to Deploy PKS on AWS
owner: Ops Manager
---

<strong><%= modified_date %></strong>
<html class="list-style-none"></html>

This guide describes the preparation steps required to install Pivotal Container Service (PKS) on Amazon Web Services (AWS).

In addition to fulfilling the prerequisites listed in the [AWS Prerequisites and Resource Requirements](aws-requirements.html) topic,
you must create resources in AWS such policies and users for the master and worker VMs before deploying PKS.
Follow these procedures to prepare your AWS environment.

## <a id='users'></a>Step 1: Set Up User Accounts

In order for Kubernetes to create load balancers and attach persistent disks to pods, you must create users with sufficient permissions.

To set up accounts with the correct permissions, create master and worker VM policies and associate them to users.

### <a id='master-policy'></a>Create the Master VM Policy

1. Log in to the [AWS Management Console](https://aws.amazon.com/console/).
1. Select **IAM > Policies**.
1. Click **Create policy**.
1. Click **JSON**.
1. Copy the following policy and paste it into the policy field:
   <pre>
   {
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": "s3:\*",
            "Resource": [
                "arn:aws:s3:::kubernetes-\*"
            ]
        },
        {
            "Effect": "Allow",
            "Action": "ec2:Describe\*",
            "Resource": "\*"
        },
        {
            "Effect": "Allow",
            "Action": "ec2:AttachVolume",
            "Resource": "\*"
        },
        {
            "Effect": "Allow",
            "Action": "ec2:DetachVolume",
            "Resource": "\*"
        },
        {
            "Effect": "Allow",
            "Action": [
                "ec2:\*"
            ],
            "Resource": [
                "\*"
            ]
        },
        {
            "Effect": "Allow",
            "Action": [
                "elasticloadbalancing:\*"
            ],
            "Resource": [
                "\*"
            ]
        }
    ]
    }
    </pre>
1. Click **Review policy**.
1. Give the policy a name. For example, `pks-master-policy`.
1. Click **Create policy**.

### <a id='master-policy-user'></a>Assign the Master VM Policy to a User

1. From the AWS Management Console, select **IAM > Users**.
1. Click **Add user**.
1. Give the user a name. For example, `pks-master`.
1. Select **Access type** - **Programmatic access**.
1. Click **Next: Permissions**.
1. Click **Attach existing policies directly**.
1. Select the policy you created in the previous section. For example, `pks-master-policy`.
1. Click **Next: Review**.
1. Click **Create user**.
1. Record the value of the **Access key ID** and **Secret access key**.

### <a id='worker-policy'></a>Create the Worker VM Policy

1. From the AWS Management Console, select **IAM > Policies**.
1. Click **Create policy**.
1. Click **JSON**.
1. Copy the following policy and paste it into the policy field:
   <pre>
   {
    "Version": "2012-10-17",
    "Statement": [
        {
            "Action": "ec2:Describe\*",
            "Effect": "Allow",
            "Resource": "\*"
        },
        {
            "Action": "ec2:AttachVolume",
            "Effect": "Allow",
            "Resource": "\*"
        },
        {
            "Action": "ec2:DetachVolume",
            "Effect": "Allow",
            "Resource": "\*"
        }
    ]
    }
    </pre>
1. Click **Review policy**.
1. Give the policy a name. For example, `pks-worker-policy`.
1. Click **Create policy**.

### <a id='worker-policy-user'></a>Assign the Worker VM Policy to a User

1. From the AWS Management Console, select **IAM > Users**.
1. Click **Add user**.
1. Give the user a name. For example, `pks-worker`.
1. Select **Access type** - **Programmatic access**.
1. Click **Next: Permissions**.
1. Click **Attach existing policies directly**.
1. Select the policy you created in the previous section. For example, `pks-worker-policy`.
1. Click **Next: Review**.
1. Click **Create user**.
1. Record the value of the **Access key ID** and **Secret access key**.

## <a id='next-steps'></a>Next Steps

Follow the procedures in [Deploying Ops Manager to AWS](aws-om-deploy.html).
