---
title: Completing AWS Load Balancer Configuration
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to complete configuring a load balancer for the PKS API using Amazon Web Services (AWS). Before you perform the procedures below, you must complete the steps in the following topics:

1. [Creating an AWS Load Balancer for the PKS API](aws-api-load-balancer.html)
2. [Installing PKS on AWS](installing-pks-aws.html)

##<a id='config-api-target'></a> Step 1: Configure pks-api Target Group

1. In a browser, navigate to the [AWS Management Console](https://console.aws.amazon.com/console/home).
1. Under **Compute**, click **EC2**.
1. In the **EC2 Dashboard**, under **Load Balancing**, click **Target Groups**.
1. Select the `pks-api` target group.
1. In the **Targets** tab, click **Edit**.
1. Under **Instances**, select the instance named `pivotal-container-service`.
1. Click **Add to registered**.
1. Click **Save**.

##<a id='create-uaa-target'></a> Step 2: Create pks-uaa Target Group

1. Click **Create target group**.
1. Complete the target group configuration as follows:
  * **Target group name**: Enter `pks-uaa`.
  * **Protocol**: Select **TCP**.
  * **Port**: Enter `8443`.
  * **Target type**: Select **instance**.
  * **VPC**: Select the VPC where you installed Ops Manager.
1. Under **Health check settings > Protocol**, select **TCP**.
1. Click **Create**.
1. After AWS creates the target group, click **Close**.

##<a id='config-uaa-target'></a> Step 3: Configure pks-uaa Target Group

1. Select the  `pks-uaa` target group.
1. In the **Targets** tab, select **Edit**.
1. Under **Instances**, select the instance named `pivotal-container-service`.
1. Click **Add to registered**.
1. Click **Save**.

##<a id='config-api-lb'></a> Step 4: Configure pks-api Load Balancer

1. In the **EC2 Dashboard**, under **Load Balancing**, click **Load Balancers**.
1. Select the `pks-api` load balancer.
1. In the **Listeners** tab, select the **TCP : 8443** listener.
1. Click **Edit**.
1. Set the **Default target group** to `pks-uaa`.
1. Click **Save**.

##<a id='create-firewall'></a>Step 5: Create a Firewall Rule for the Load Balancer

1. In the **EC2 Dashboard**, under **Network & Security**, click **Security Groups**.
1. Select the security group that is applied to the `pivotal-container-service` instance.
1. In the **Inbound** tab, click **Edit**.
1. Click **Add Rule** and complete the following fields:
  * **Type**: Select **Custom TCP**.
  * **Port Range**: Enter `8443`.
  * **Source**: Select **Custom** and enter `0.0.0.0/0`.
  * **Description**: Enter `UAA`.
1. Click **Add Rule** and complete the following fields:
  * **Type**: Select **Custom TCP**.
  * **Port Range**: Enter `9021`.
  * **Source**: Select **Custom** and enter `0.0.0.0/0`.
  * **Description**: Enter `PKS API`.
1. Click **Save**.

##<a id='next-steps'></a> Next Steps

After installing PKS on AWS, you may want to do one or more of the following:

* [Install the PKS and Kubernetes CLIs](#clis)
* [Configure PKS API Access](#api)
* [Configure Authentication for PKS](#auth)

### <a name='clis'></a> Install the PKS and Kubernetes CLIs

<%= partial 'install-cli' %>

### <a name='api'></a> Configure PKS API Access

Follow the procedures in [Configuring PKS API Access](configure-api.html).

### <a name='auth'></a> Configure Authentication for PKS

<%= partial 'configure-auth' %>
