---
title: Creating an AWS Load Balancer for the PKS API
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to create a load balancer for the PKS API using Amazon
Web Services (AWS).

Before you install PKS, you must configure an external TCP load balancer to
access the PKS API from outside the network. You can use any external TCP load
balancer of your choice.

Refer to the procedures in this topic to create a load balancer using AWS. If
you choose to use a different load balancer, use this topic as a guide.

## <a id='create'></a>Step 1: Create and Configure a Load Balancer

To create and configure your load balancer using AWS, you must provide a name,
select a scheme, specify one or more listeners, and select a network.
Perform the following steps:

1. In a browser, navigate to the [AWS Management Console](https://console.aws.amazon.com/console/home).
1. Under **Compute**, click **EC2**.
1. In the **EC2 Dashboard**, under **Load Balancing**, click **Load Balancers**.
1. Click **Create Load Balancer**.
1. Under **Network Load Balancer**, click **Create**.
1. On the **Configure Load Balancer** page, complete the **Basic Configuration** section as follows:
  1. **Name**: Name the load balancer. Pivotal recommends that you name your load balancer `pks-api`.
  1. **Scheme**: Select **internet-facing**.
1. Complete the **Listeners** section as follows:
  1. Configure the first listener as follows.
      * Under **Load Balancer Protocol**, select **TCP**.
      * Under **Load Balancer Port**, enter `8443`.
  1. Click **Add listener**.
      * Under **Load Balancer Protocol**, select **TCP**.
      * Under **Load Balancer Port**, enter `9021`.
1. Complete the **Availability Zones** section as follows:
  1. Select the VPC where you installed Ops Manager.
  1. Select an availability zone.
  1. Within the availability zone section, select the public subnet.
1. Click **Next: Configure Routing**.

## <a id='configure-routing'></a>Step 2: Configure Routing

Follow the steps below to configure routing. The load balancer routes requests
to the targets in the target group you create using the protocol and port that
you specify.

1. Complete the **Target group** section as follows:
  * **Target group**: Select **New target group**.
  * **Name**: Enter `pks-api`.
  * **Protocol**: Select **TCP**.
  * **Port**: Enter `9021`.
  * **Target type**: Select **instance**.
1. Under **Health checks > Protocol**, select **TCP**.
1. Click **Next: Register Targets**. You must resister targets after you install PKS. See [Completing AWS Load Balancer Configuration](aws-lb-config.html).
1. Click **Next: Review**
1. Review the load balancer details.
1. Click **Create**.
1. After AWS creates the load balancer, click **Close**.

## <a id='record-fqdn'></a>Step 3: Record Load Balancer FQDN

When you install and configure the PKS tile, you must supply the fully qualified domain name (FQDN) of the load balancer to secure the PKS API. To view the FQDN of the load balancer, perform the following steps:

1. In the **EC2 Dashboard**, under **Load Balancing**, click **Load Balancers**.
1. Select the load balancer you created above.
1. In the **Description** tab, view and record the FQDN of the load balancer.

## <a id='next-steps'></a>Next Steps

After you complete this procedure, follow the instructions in the following topics:

1. [Installing PKS on AWS](installing-pks-aws.html)
1. [Completing AWS Load Balancer Configuration](aws-lb-config.html)
