---
title: Amazon Web Services (AWS)
owner: Ops Manager
iaas: AWS
---

This topic outlines the steps for installing <%= vars.product_full %> on Amazon Web Services (AWS). See the following sections:

<p class="note"><strong>Note</strong>: The topics below provide the Terraform procedures for deploying Ops Manager on AWS, not the manual procedures. The Terraform procedures are the currently supported path for deploying Ops Manager on AWS for use with <%= vars.product_short %>.</p>

<ul>
  <li>
    <a href="./aws-requirements.html">AWS Prerequisites and Resource Requirements</a>
  </li>
  <li>
    Deploying Ops Manager on AWS:
    <ul>
      <li><a href="https://docs.pivotal.io/pcf/om/2-4/aws/prepare-env-terraform.html">Deploying Ops Manager v2.4 on AWS Using Terraform</a> or</li>
      <li><a href="https://docs.pivotal.io/pcf/om/2-5/aws/prepare-env-terraform.html">Deploying Ops Manager v2.5 on AWS Using Terraform</a></li>
    </ul>
  </li>
  <li>
    Configuring Ops Manager on AWS:
    <ul>
      <li><a href="https://docs.pivotal.io/pcf/om/2-4/aws/config-terraform.html">Configuring BOSH Director v2.4 on AWS Using Terraform</a> or</li>
      <li><a href="https://docs.pivotal.io/pcf/om/2-5/aws/config-terraform.html">Configuring BOSH Director v2.5 on AWS Using Terraform</a></li>
    </ul>
  </li>
  <li>
    <a href="./installing-pks-aws.html">Installing <%= vars.product_short %> on AWS</a>
  </li>
  <li>
    <a href="aws-configure-pks-users.html">Setting Up <%= vars.product_short %> Admin Users on AWS</a>
  </li>
  <li>
    <a href="./installing-pks-cli.html">Installing the PKS CLI</a>
  </li>
  <li>
    <a href="./installing-kubectl-cli.html">Installing the Kubernetes CLI</a>
  </li>
</ul>
