---
title: Installing PKS on AWS
owner: Ops Manager
iaas: AWS
---

This topic outlines the steps for installing Pivotal Container Service (PKS) on AWS. See the following sections:

<ul>
  <li>
    <a href="./aws-requirements.html">AWS Prerequisites and Resource Requirements</a>
  </li>
  <li>
    <a href="./aws-prepare-env.html">Preparing to Deploy PKS on AWS</a>
  </li>
  <li>
    <a href="./aws-om-deploy.html">Deploying Ops Manager to AWS</a>
  </li>
</ul>
