---
title: Installing Tanzu Kubernetes Grid Integrated Edition on Microsoft Azure
owner: Ops Manager
iaas: Azure
---

The topics below describe the procedures to follow to install VMware Tanzu Kubernetes Grid Integrated Edition on Microsoft Azure.

## Install Tanzu Kubernetes Grid Integrated Edition on Azure

To install Tanzu Kubernetes Grid Integrated Edition on Azure, follow the instructions below:

<ul>
  <li>
    <a href="./azure-requirements.html">Azure Prerequisites and Resource Requirements</a>
  </li>
  <li>
    <a href="./azure-om-install-config.html">Installing and Configuring Ops Manager on Azure</a>
  </li>
  <li>
    <a href="./azure-managed-identities.html">Creating Managed Identities in Azure for Tanzu Kubernetes Grid Integrated Edition</a>
  </li>
  <li>
    <a href="./installing-azure.html">Installing Tanzu Kubernetes Grid Integrated Edition on Azure</a>
  </li>
  <li>
    <a href="./azure-api-load-balancer.html">Configuring an Azure Load Balancer for the TKGI API</a>
  </li>
  <li>
    <a href="./azure-configure-users.html">Setting Up Tanzu Kubernetes Grid Integrated Edition Admin Users on Azure</a>
  </li>
</ul>

## Install the TKGI and Kubernetes CLIs

The TKGI CLI and Kubernetes CLI help you interact with your Tanzu Kubernetes Grid Integrated Edition-provisioned Kubernetes clusters and Kubernetes workloads.

To install the CLIs, follow the instructions below:

<ul>
  <li>
    <a href="installing-cli.html">Installing the TKGI CLI</a>
  </li>
  <li>
    <a href="installing-kubectl-cli.html">Installing the Kubernetes CLI</a>
  </li>
</ul>
