---
title: Azure
owner: Ops Manager
iaas: Azure
---

This topic outlines the steps for installing Pivotal Container Service (PKS) on Microsoft Azure. See the following sections:

<p class="note"><strong>Note</strong>: The topics below provide the Terraform procedures for deploying Ops Manager on Azure, not the manual procedures. Using the Terraform procedures is the only currently supported path for deploying Ops Manager on Azure for use with PKS.</p>

Deploying Ops Manager 2.4 on Azure Using Terraform:
  <ul>
    <li><a href="https://docs.pivotal.io/pcf/om/2-4/azure/prepare-azure-terraform.html">Preparing to Deploy Ops Manager on Azure Using Terraform</a></li>      
    <li><a href="https://docs.pivotal.io/pcf/om/2-4/azure/prepare-env-terraform.htmll">Deploying Ops Manager to Azure Using Terraform</a></li>
    <li><a href="https://docs.pivotal.io/pcf/om/2-4/azure/config-terraform.html">Configuring BOSH Director on Azure Using Terraform</a></li>
  </ul>
Deploying Ops Manager 2.3 on Azure Using Terraform:
  <ul>
    <li><a href="https://docs.pivotal.io/pcf/om/2-3/azure/prepare-azure-terraform.html">Preparing to Deploy Ops Manager on Azure Using Terraform</a></li>
    <li><a href="https://docs.pivotal.io/pcf/om/2-3/azure/prepare-env-terraform.html">Deploying Ops Manager to Azure Using Terraform</a></li>
    <li><a href="https://docs.pivotal.io/pcf/om/2-3/azure/config-terraform.html">Configuring BOSH Director on Azure Using Terraform</a></li>
  </ul>
  <li>
    <a href="./azure-managed-identities.html">Creating Managed Identities in Azure for PKS</a>
  </li>
  <li>
    <a href="./installing-pks-azure.html">Installing PKS on Azure</a>
  </li>
  <li>
    <a href="./azure-api-load-balancer.html">Configuring an Azure Load Balancer for the PKS API</a>
  </li>
</ul>
