---
title: Installing and Configuring Ops Manager on Azure
owner: Ops Manager
---

This topic describes how to install and configure VMware Tanzu Operations Manager (Ops Manager) on Microsoft Azure 
before deploying VMware Tanzu Kubernetes Grid Integrated Edition (TKGI).  

## <a id='overview'></a> Overview

Use Ops Manager to install and configure TKGI.  

Ops Manager provides a dashboard UI for installing applications and components. 
Ops Manager and the installed components include an interface for configuring the Ops Manager environment, component settings, and cluster configurations.  

To install Ops Manager:  

1. [Prerequisites](#prerequisites)  
1. [Install and Configure Ops Manager](#install-om)  

## <a id='prerequisites'></a>Prerequisites

Before installing Ops Manager, review [Azure Prerequisites and Resource Requirements](azure-requirements.html).  

## <a id="install-om"></a>Install and Configure Ops Manager

To install Ops Manager:  

1. Determine the most recent version of Ops Manager that is compatible with the TKGI version you are deploying. 
For information on Ops Manager compatibility with TKGI, 
see [<%= vars.product_network %>](https://support.broadcom.com/group/ecx/productdownloads?subfamily=Tanzu%20Kubernetes%20Grid%20Integrated%20Edition%20(TKGi)).  

1. To install and configure Ops Manager, follow the installation instructions for your selected Ops Manager version: 

    <table>
      <tr>
        <th>Version</th>
        <th>Instructions</th>
      </tr>
      <tr>
        <td>Ops Manager v3.0</td>
        <td>
          <ol>
            <li><a href="https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/azure-prepare-env-manual.html">Preparing to Deploy Ops Manager on Azure</a></li>
            <li><a href="https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/azure-deploy-manual.html">Deploying Ops Manager on Azure</a></li>
            <li><a href="https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/azure-config-manual.html">Configuring BOSH Director on Azure</a></li>
          </ol>
        </td>
      </tr>
      <tr>
        <td>Ops Manager v2.10</td>
        <td>
          <ol>
            <li><a href="https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/2.10/vmware-tanzu-ops-manager/azure-prepare-env-manual.html">Preparing to Deploy Ops Manager on Azure</a></li>
            <li><a href="https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/2.10/vmware-tanzu-ops-manager/azure-deploy-manual.html">Deploying Ops Manager on Azure</a></li>
            <li><a href="https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/2.10/vmware-tanzu-ops-manager/azure-config-manual.html">Configuring BOSH Director on Azure</a></li>
          </ol>
        </td>
      </tr>
    </table>

## <a id="next-steps"></a>Next Installation Step

To create managed identities for Tanzu Kubernetes Grid Integrated Edition,
follow the instructions in [Creating Managed Identities in Azure for Tanzu Kubernetes Grid Integrated Edition](azure-managed-identities.html).
