---
title: Azure
owner: Ops Manager
iaas: Azure
---

This topic outlines the steps for installing Pivotal Container Service (PKS) on Microsoft Azure. See the following sections:

<ul>
  <li>
    <a href="./azure-requirements.html">Azure Prerequisites and Resource Requirements</a>
  </li>
  <li>
    <a href="./azure-om-deploy.html">Deploying Ops Manager on Azure</a>
  </li>
  <li>
    <a href="./azure-om-config.html">Configuring Ops Manager on Azure</a>
  </li>
  <li>
    <a href="./azure-api-load-balancer.html">Creating an Azure Load Balancer for the PKS API</a>
  </li>
  <li>
    <a href="./installing-pks-azure.html">Installing PKS on Azure</a>
  </li>
  <li>
    <a href="./installing-pks-cli.html">Installing the PKS CLI</a>
  </li>
  <li>
    <a href="./installing-kubectl-cli.html">Installing the Kubernetes CLI</a>
  </li>
</ul>
