---
title: Backing Up and Restoring NSX-T Data Center for TKGI
owner: TKGI
---

This section describes how to back up and restore the <%= vars.product_full %> control plane and <%= vars.product_short %> clusters.
<%= vars.product_short %> uses the BOSH Backup and Restore (BBR) framework to back up and restore the <%= vars.k8s_runtime_abbr %> control plane and clusters. For more information, see [BOSH Backup and Restore](https://docs.cloudfoundry.org/bbr/index.html).

## NSX-T Data Center Backup and Recover

NSX-T Data Center provides in-product backup and recovery that supports backup and restore of the NSX Manager Nodes. See [Backing Up and Restoring NSX Manager](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/3.0/administration/GUID-A0B3667C-FB7D-413F-816D-019BFAD81AC5.html?hWord=N4IghgNiBcIEZgMYGsCuAHABGAdgE0wCcBTAZwBcB7EkAXyA) in the NSX-T Data Center documentation.

### Deployment HA

1. Deploy 3 NSX Manager Nodes and 2 or more Edge Nodes.
1. Use HA VIP and Load Balancer for access.
1. Use HA VIP for Edge Nodes.

### Backup Procedure

Create a backup of the NSX-T Manager Nodes. System > Backup & Restore System -> Backup & Restore -> Backup -> BACKUP NOW. Refer to [Configure Backups](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/3.0/administration/GUID-E6181BF1-2CB7-4870-B508-BFAF5B47D702.html) in the NSX-T Data Center documentation.

### Restore Procedure

To restore NSX-T Data Center, you restore the configuation using the backup and start sending traffic. Sed [Restore a Backup](
https://docs.vmware.com/en/VMware-NSX-T-Data-Center/3.0/administration/GUID-9749F041-15E5-4662-85E7-756D4B071C17.html) in the NSX-T Data Center documentation.

<p class="note"><strong>Note</strong>: Configuration changes made between backup and restore will not be saved.</p>

## Testing 

The following test scenario assumes TKGI is installed on vSphere with NSX-T 3.0, and that a full backup of NSX-T has been performed. This scenario tests the restoration of NSX-T.

1. Start checking connectivity to frontend app over LoadBalancer
1. Turn off all 3 NSX Managers and delete them.
1. Deploy 1 NSX Managers.
1. Restore from backup.
1. Add 2 additional Managers.