---
title: Backing Up and Restoring the Data Center for TKGI
owner: TKGI
---

This section describes how to backup and restore the TKGI infrastructure.

## Overview

Backup and restoring the TKGI infrastructure includes the following components:

* NSX-T Data Center. See [Backing Up and Restoring NSX-T Manager](./backup-and-restore-nsxt.html).
* vCenter Server. See [Backing Up and Restoring the vCenter Server](./backup-and-restore-vcenter.html).

<p class="note"><strong>Note</strong>: In terms of TKGI, the primary focus is the backup and restore of NSX-T Data Center. vCenter backup and restore is outside the scope of this documentation, but a mention of it is included to ensure it is part of your end-to-end backup and restore workflow.</p>

## Test Considerations

As part of your TKGI backup and restore planning and testing, consider the following test scenarios for NSX-T.

* Take backup of NSX-T.
* Shut down (or delete) NSX Manager nodes. 
* Deploy new NSX-T Manager node and restore configuration from backup. 
* Restore additional NSX Manager nodes.

* If you deploy a Kubernetes application with a service endpoint, and it is included in the NSX-T backup, on restore of NSX-T there is no loss in application connectivity. However, the application must be redeployed if it was deployed after the backup was taken.

* If you create a Kubernetes namespace, and it is included in the NSX-T backup, on restore of NSX-T, the namespace is present. However, the namespace must be recreated if it was created after the backup was taken. If you delete a namespace when NSX-T is down, on restore of NSX-T the namespace is removed.

* If you create a Kubernetes cluster, and it is included in the NSX-T backup, on restore of NSX-T the cluster is reachable. However, if the cluster was created after the NSX-T backup  was taken, the cluster is not reachable. In this case, delete cluster and create new one.

* If you create a Kubernetes namespace, and take an NSX-T backup, then deploy pods, on restore of NSX-T, restarting pods brings them to running state since the namespace was created before backup. However, if the namespace was not created before the NSX-T backup, the pods are stuck in ContainerCreating state. Both the namespace and the pods must be recreated.

* If you create a load balancer service before taking a backup of NSX-T, on restore the service is present. However, if you create the service after taking a backup of NSX-T, on restore of NSX-T the load balancer VIP is pending. You must redeploy the service for it to work. If you delete a load balancer service in-between taking a back up of NSX-T and restoring NSX-T, on restore the load balancer VIP is deleted.






