---
title: Backing Up and Restoring the TKGI Management Plane
owner: TKGI
---

This section describes how to back up and restore <%= vars.product_full %> Management Plane.

## Components

This section describes how to back up and restore the <%= vars.k8s_runtime_abbr %> Management Plane, including Ops Manager, BOSH Director VM, the TKGI database VM, and the TKGI API Server VM.

- Back up and restore Ops Manager. See [Backing Up and Restoring Ops Manager for TKGI](./backup-and-restore-om.html).
- Back up and restore TKGI. See [Backing Up and Restoring TKGI Clusters](./backup-and-restore-tkgi.html).

<p class="note"><strong>Note</strong>: Backing up and restoring Ops Manager configuration covers the Ops Manager VM, BOSH tile, and TKGI tile. To restore the BOSH and TKGI VMs, you use BBR.</p>


## Scenarios and Considerations

Test Scenario 						| Expected Result
------------------------------------|----------------------------------------------------------
| Export Ops Manager configuration. Take backup of TKGI Managmenet Plane using BBR. Power off Ops Manager, BOSH, TKGI Control Plane and TKGI DB VMs. Deploy new Ops Manager VM and import the exported configuration. Restore BOSH and TKGI VMs using BBR. | No loss of data for configurations included in the backups.
| Export Ops Manager configuration. Take backup of TKGI Managmenet Plane using BBR.  Make configuration changes to TKGI tile. Power off Ops Manager, BOSH, TKGI Control Plane and TKGI DB VMs. Deploy new Ops Manager VM and import the exported configuration. Restore BOSH and TKGI VMs using BBR. | TKGI configuration changes are not restored since they were made after the backup.
