---
title: <%= vars.k8s_runtime_abbr %> Backup and Restore Scenarios and Considerations
owner: TKGI
---

This section summarizes the backup and restore scenarios and considerations for all TKGI components.

## Scenarios and Considerations

The following scenarios and considerations summarize the various aspects of backup and restore for TKGI. Refer to the individual sections for details on performing backup and restore for that layer.

Scenario 							| Tool(s) 		    | Test Considerations 
------------------------------------|-------------------|-----------------------------|
| [Backup and Restore Kubernetes Workloads](./backup-and-restore-work.html) | Velero, Restic | Must account for stateless and stateful applications, and load balancer and ingress services. See <a href="./velero-scenarios.html">Velero Backup and Restore Scenarios</a> for details. 
| [Backup and Restore TKGI Clusters](./backup-and-restore-tkgi.html) | BOSH Backup and Restore (BBR) | Use BBR to back up and restore <%= vars.k8s_runtime_abbr %> clusters, which includes the control plane and worker nodes; applications deployed before backup was taken may be fully restored but workload backup/restore is recommended. See <a href="./backup-and-restore-tkgi.html">TKGI Cluster Backup and Restore Scenarios</a> for details.
| [Backup and Restore TKGI Management Plane](./backup-and-restore-tkgi-mgmt.html) | Ops Manager, BBR | Ops Manager configuration is exported and imported to new Ops Manager instance. BBR is used to backup and restore TKGI Managment Plane VMs (BOSH, TKGI Control Plane, TKGI DB). See <a href="./backup-and-restore-tkgi-mgmt.html">TKGI Management Plane Backup and Restore Scenarios</a> for details.
| [Backup and Restore TKGI SDDC](./backup-and-restore-sddc.html) | NSX Manager; vCenter | In context of TKGI, the primary focus of this documentation is NSX-T. See <a href="./backup-and-restore-sddc.html">TKGI Cluster Backup and Restore Scenarios</a> for details.
