---
title: Backing Up and Restoring Tanzu Kubernetes Workloads Using Velero with Restic
owner: TKGI
---

This section describes how to back up and restore Kubernetes workloads deployed to TKGI clusters using Velero and Restic.

## <a id="velero-about"></a>About Tanzu Kubernetes Workload Backup and Restore

Tanzu Kubernetes workload backup and restore is done using [Velero](https://velero.io/) and [Restic](https://github.com/restic/restic) software. 

Velero is the only open source product to provide full backup and recovery of Kubernetes workloads. Restic is used as a [companion tool](https://velero.io/docs/v1.4/restic/) with Velero to provide platform independent volume snapshots. Together Velero and Restic support backup and recovery for all types of Kubernetes workloads deployed to Tanzu clusters.

###<a id="app-types"></a>  Application Types

An application deployed to Kubernetes can be stateless or stateful. Velero with Restic can back up and restore both types, but the procedure may differ slightly. The examples demonstrate the differences and process for each type.

In addition, an application may have a service attached. If a service is attached, the IP address may need to be static for backup and restore to work as eexpected.

###<a id="persistence-prov"></a> Storage Types

Tanzu Kubernetes clusters support two persistence providers: VMware Cloud Provider (vCP) and the Container Storage Interface (CSI). 

vCP is VMware's Kubernetes storage plugin that allows cluster nodes on vSphere to interact with vCenter to support Kubernetes Persistent Volume objects. CSI is open source software that enables Kubernetes implementations to provide a standard interface for storage systems, without having to create drivers for each  system.

The provider is defined in the storage class. Velero with Restic backup and restore is slightly different depending on the type of persistence provider. 

The VMware Cloud Provider (vCP) StorageClass provisioner only works with TKGI:

```
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: demo-sts-sc
provisioner: kubernetes.io/vsphere-volume
parameters:
  diskformat: thin
```

The Container Storage Interface (CSI) StorageClass provisioner works with TKGI, TKGM, and TKGS.

```
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: guestbook-sc-csi
  annotations:
    storageclass.kubernetes.io/is-default-class: "true"
provisioner: csi.vsphere.vmware.com
parameters:
  datastoreurl: "ds:///vmfs/volumes/vsan:52d8eb4842dbf493-41523be9cd4ff7b7/"
```

##<a id="requirements"></a> Tanzu Kubernetes Workload Backup and Restore Requirements

This section lists the requirements for using Velero and Restic for Kubernetes workload backup and recovery.

###<a id="velero-cluster-req"></a> Cluster Configuration

A Velero pod and a Restic pod are installed on the Kubernetes cluster. To use Velero and Restic for Kubernetes workload backup and recovery with TKGI, you must configure each target cluster as follows:

1. Enable the `Allow Privileged` option in the plan configuration so that Restic is able to mount the hostpath.
1. Change the hostPath from `/var/lib/kubelet/pods` to `/var/vcap/data/kubelet/pods`.

The examples provided in this section demonstate how to perform these actions.

<p class="note"><strong>Note</strong>: Enabling the Allow Privileged option means that all containers in the cluster will run in privileged mode. Pod Security Policy provides a privileged parameter that can be used to enable or disable Pods running in privileged mode. As a best practice, if you enable Allow Privileged, define PSP to limit which Pods run in privileged mode. If you are implementing PSP for privileged pods, you must enable Allow Privileged mode. For more information, see <a href="./pod-security-policy.html">Enabling and Configuring Pod Security Policies</a>.</p>

###<a id="velero-objstore-req"></a> Object Store

You need to provide an object store for Velero backups. Velero supports a number of [object store providers](https://velero.io/docs/v1.4/supported-providers/). Minio is a S3-compatible object store that is easy to install and use. This documentation uses the Minio server installed on a Linux VM as a backup destination.

###<a id="velero-client-req"></a> Velero CLI

To perform Velero backup and recovery, you install the Velero CLI on a client VM. This can be the TKGI client VM or an administrator laptop.

###<a id="velero-airgap-req"></a>Air-Gapped Environment

The instructions assume that the cluster environment has internet access, including the client where the Velero CLI is installed as well as the Kubernetes cluster. In case the environment has no internet access, follow the [Air-gapped deployments[(https://velero.io/docs/v1.4/on-premises/#air-gapped-deployments) procedure in the Velero documentation.

###<a id="velero-version-req"></a> Velero Version

This documentation is tested with [Velero v1.4.2](https://github.com/vmware-tanzu/velero/releases/tag/v1.4.2).



