---
title: Backup and Restore Scenarios and Test Considerations
owner: TKGI
---

This section describes backup and restore scenarios and considerations.

## Scenarios and Considerations

The following scenarios and considerations summarize the various aspects of backup and restore for TKGI.

Scenario 							| Tool(s) 		    | Test Considerations 
------------------------------------|-------------------|-----------------------------|
| [Backup and restore Kubernetes Workloads](./backup-and-restore-work.html) | Velero, Restic | Must account for stateless and stateful applications, and load balancer and ingress services. See <a href="./velero-scenarios.html">Velero Backup and Restore Scenarios</a> for details. 
| [Backup and restore TKGI Clusters](./backup-and-restore-tkgi.html) | BBR | Restore BOSH from backup. Restore TKGI from backup. New cluster nodes are recreated; existing nodes are NOT deleted and must be manually removed. If an application is deployed before the cluster backup, the load balancer IP of the application is changed on restore. If an application is deployed after the cluster backup, the application is lost and NSX objects for the application are deleted. See <a href="./backup-and-restore-tkgi.html"></a> for details.
| [Backup and restore TKGI Management Plane](./backup-and-restore-tkgi-mgmt.html) | Ops Manager configuration export/import, BBR | Take backup of Ops Manager by exporting the configuration. Take backup of TKGI Management Plane and cluster nodes using BBR. Restore Ops Manager by deploying a new Ops Manager instance and importing the exported configuration. BOSH and TKGI tiles should be restored and configured. Restore TKGI VMs, BOSH Director, and TKGI cluster nodes using BBR. 
| Backup and restore vSpere SDDC | NSX-T Manager backup; vCenter file backup | Take backup of NSX-T and vCenter Server. On restore, applications deployed as part of the backup should have no loss of connectivity. If a TKGI cluster is created after the back up is taken, on restore TKGI cluster is not reachable. You must delete and recreate cluster. Any Kubernetes objects with network dependencies created after backup must be recreated. For create, Kubernetes pods will be stuck in in ContainerCreating state. If the namespace was created before, restarting pods brings the PODs to running state. If the application is still in ContainerCreating State, you must recreate the namespace and applications. Pods are successfully deleted when NSX-T is restored. On create, the load balance IP is pending; redeploy the service. On delete, the load balancer is deleted when NSX-T is restored. You are unable to create or delete a cluster if NSX-T is down.
