---
title: Backing up and Restoring PKS control plane
owner: PKS
---

This topic describes how to backup and restore the Pivotal Container Service control. PKS uses the [BOSH Backup and Restore](https://docs.cloudfoundry.org/bbr/index.html) framework for backing up and restoring the PKS deployment.

The control plane includes:
* The UAA mysql database
* The PKS API mysql database

No cluster data or deployed applications are backed up.

##<a id='installing'></a> Installing BBR

[Installing BOSH Backup and Restore](https://docs.cloudfoundry.org/bbr/installing.html)

##<a id='bbr-requirements'></a> BBR Requirements

`bbr` tool requires bosh credentials to connect to bosh and perform back up and restore of a deployment.

`BOSH-CLIENT-SECRET`: The value of `BOSH_CLIENT_SECRET` in the director tile under _Credentials_ > _Bosh Commandline Credentials_
`BOSH-TARGET`: The value of `BOSH_ENVIRONMENT` in the director tile under _Credentials_ > _Bosh Commandline Credentials_
`BOSH-CLIENT`: The value of `BOSH_CLIENT` in the director tile under _Credentials_ > _Bosh Commandline Credentials_
`PATH-TO-BOSH-CA-CERT`: Download Root CA certificate from _Opsmanager_ > _Settings_ > _Advanced_
`DEPLOYMENT-NAME`: Use the credentials to configure the `bosh` cli  and find the deployment that starts with `pivotal-container-service`

Note: `BOSH-TARGET` needs to be reachable from the machine you are running the `bbr` command.

##<a id='backing-up'></a> Backing up the control plane

[Back Up a BOSH Deployment](https://docs.cloudfoundry.org/bbr/backup.html#back-up-deployment)

##<a id='restoring'></a> Restoring the control plane

To restore a deployment follow the instructions under `Restore a BOSH Deployment` at [Restoring with BOSH Backup and Restore](https://docs.cloudfoundry.org/bbr/restore.html#restore).

