---
title: Backing Up and Restoring the vCenter Server
owner: TKGI
---

This section describes how to back up and restore the vCenter Server in context of a TKGI deployment.

<p class="note"><strong>Note</strong>: Backup and restore of the vSphere SDDC is typically included as part of a site-wide disaster recovery plan. The information provided here is to be used as part of confirmation of such a plan.</p>

## vCenter Cluster Configuration

To support highly available clusters, configure the vCenter clusters for TKGI with HA and DRS enabled. For more information, see [vSphere Availability](https://docs.vmware.com/en/VMware-vSphere/7.0/com.vmware.vsphere.avail.doc/GUID-63F459B7-8884-4818-8872-C9753B2E0215.html) in the VMware vSphere documentation.

## vCenter Server Backup and Recover

vCenter Server supports file backup to network attached storage.

To backup and restore vCenter, create a backup of the vCenter primary server. Refer to the topic [File-Based Backup and Restore of vCenter Server](https://docs.vmware.com/en/VMware-vSphere/7.0/com.vmware.vcenter.install.doc/GUID-3EAED005-B0A3-40CF-B40D-85AD247D7EA4.html) in the vCenter documentation.

## Data Protection

VMware provides a robust set of vSphere Storage APIs for host data protection, and partners with third-party vendors to provide backup and recovery solutions for vSphere datastores, including the following:

- [Dell Avamar](https://www.delltechnologies.com/en-us/data-protection/data-protection-suite/avamar-data-protection-software.htm#)
- [Veeam] (https://www.vmware.com/partners/strategic-technology-partners/veeam.html)
- [Datrium] (https://www.datrium.com/)