---
title: Backup and Restore Scenarios and Considerations
owner: TKGI
---

This section describes backup and restore scenarios and considerations.

## Scenarios and Considerations

The following scenarios and considerations summarize the various aspects of backup and restore for TKGI. Refer to the individual sections for details on performing backup and restore.

Scenario 							| Tool(s) 		    | Test Considerations 
------------------------------------|-------------------|-----------------------------|
| [Backup and restore Kubernetes Workloads](./backup-and-restore-work.html) | Velero, Restic | Must account for stateless and stateful applications, and load balancer and ingress services. See <a href="./velero-scenarios.html">Velero Backup and Restore Scenarios</a> for details. 
| [Backup and restore TKGI Clusters](./backup-and-restore-tkgi.html) | BOSH Backup and Restore (BBR) | Take backup using BBR. Restore BOSH and TKGI VMs from backup. New cluster nodes are recreated; existing nodes are NOT deleted and must be manually removed. If an application is deployed before the cluster backup, the load balancer IP of the application is changed on restore. If an application is deployed after the cluster backup, the application is lost and NSX objects for the application are deleted. See <a href="./backup-and-restore-tkgi.html"></a> for details.
| [Backup and restore TKGI Management Plane](./backup-and-restore-tkgi-mgmt.html) | Ops Manager UI, BBR | Take backup of Ops Manager by exporting the configuration. Take backup of TKGI Management Plane and cluster nodes using BBR. Restore Ops Manager by deploying a new OVA and importing the exported configuration. Verify that BOSH and TKGI tiles are restored. Restore BOSH and TKGI VMs from backup using BBR. New cluster nodes are recreated; existing nodes are NOT deleted and must be manually removed. Apps may need to be restored from Velero backup.
| [Backup and restore vSpere SDDC](./backup-and-restore-dc.html) | NSX-T Manager UI/CLI; vCenter UI/CLI | Take backup of NSX-T using NSX-T Manager interface. Take file backup of vCenter Server. On restore, applications deployed as part of the backup should have no loss of connectivity. If a TKGI cluster is created after the back up is taken, on restore TKGI cluster is not reachable. You must delete and recreate it. Any Kubernetes objects with network dependencies created after backup must be recreated. If the namespace was created before the backup, restarting pods brings the PODs to running state. For applications deployed before NSX-T backup was taken, on restore Kubernetes pods may be stuck in ContainerCreating state. If so you must recreate the namespace and applications. Pods deleted while NSX-T is down should be successfully deleted when NSX-T is restored. A Kubernetes service of type load balancer created before the backup, on restore load balance IP is pending; you must redeploy the service. On delete, the load balancer is deleted when NSX-T is restored.
