---
title: Backup and Restore Scenarios and Considerations
owner: TKGI
---

This section summarizes the backup and restore scenarios and considerations for all TKGI components.

## Scenarios and Considerations

The following scenarios and considerations summarize the various aspects of backup and restore for TKGI. Refer to the individual sections for details on performing backup and restore.

Scenario 							| Tool(s) 		    | Test Considerations 
------------------------------------|-------------------|-----------------------------|
| [Backup and restore Kubernetes Workloads](./backup-and-restore-work.html) | Velero, Restic | Must account for stateless and stateful applications, and load balancer and ingress services. See <a href="./velero-scenarios.html">Velero Backup and Restore Scenarios</a> for details. 
| [Backup and restore TKGI Clusters](./backup-and-restore-tkgi.html) | BOSH Backup and Restore (BBR) | BBR restores cluster nodes; applications deployed before backup was taken should not be lost. See <a href="./backup-and-restore-tkgi.html">TKGI Cluster Backup and Restore</a> for details.
| [Backup and restore TKGI Management Plane](./backup-and-restore-tkgi-mgmt.html) | Ops Manager UI, BBR | Ops Manager configuration is exported and imported to new Ops Manager instance. BBR is used to backup and restore TKGI Managment Plane VMs (BOSH, TKGI Control Plane, TKGI DB). See <a href="./backup-and-restore-tkgi-mgmt.html">TKGI Management Plane Backup and Restore</a> for details
| [Backup and restore TKGI SDDC](./backup-and-restore-sddc.html) | NSX-T Manager UI/CLI; vCenter UI/CLI | Primary focus of this documentation is NSX-T. See <a href="./backup-and-restore-sddc.html">TKGI Cluster Backup and Restore</a> for details
