---
title: Backing Up and Restoring the Data Center for TKGI
owner: TKGI
---

This section describes summarizes the scenarios for backing up and restoring the data center for TKGI.

## Components

Backup and restoring the data center for TKGI involves the following components:

- Backup and restore NSX-T Data Center. See [Backing Up and Restoring NSX-T Manager](./backup-and-restore-nsxt.html).
- Backup and restore vSphere SDDC. See [Backing Up and Restoring the vCenter Server](./backup-and-restore-sddc.html).

<p class="note"><strong>Note</strong>: In terms of TKGI, the focus is on backup and restore of NSX-T Data Center. vCenter backup and restore is generally outside the scope of this documentation, but a reference is provided to ensure it is part of your end-to-end backup and restore workflow.</p>

## Scenarios and Considerations

Test Scenario 						| Expected Result
------------------------------------|----------------------------------------------------------
| Deploy Kubernetes application with service endpoint. Take backup of NSX-T. Shut down (or delete) NSX Manager nodes. Deploy new NSX-T Manger node and restore configuration from backup. Restore additional NSX Manager nodes. | No loss in app connectivity.
| Take backup of NSX-T. Deploy Kubernetes application with service endpoint. Shut down (or delete) NSX Manager nodes. Deploy new NSX-T Manger node and restore configuration from backup. Restore additional NSX Manager nodes. | App must be redeployed because it was deployed after backup was taken.
| Take backup of NSX-T. Create Kubernetes namespace. Shut down (or delete) NSX Manager nodes. Deploy new NSX-T Manger node and restore configuration from backup. Restore additional NSX Manager nodes. | Namespace must be recreated because it was created after backup was taken.
| Take backup of NSX-T. Create TKGI cluster. Shut down (or delete) NSX Manager nodes. Deploy new NSX-T Manger node and restore configuration from backup. Restore additional NSX Manager nodes. | Cluster is not reachable. Delete cluster and create new one.
| Take backup of NSX-T. Shut down (or delete) NSX Manager nodes. Delete namespace. Deploy new NSX-T Manger node and restore configuration from backup. Restore additional NSX Manager nodes. | Namespace is removed when NSX-T is restored.
| Create namespace. Take backup of NSX-T. Shut down (or delete) NSX Manager nodes. Create pods. Deploy new NSX-T Manger node and restore configuration from backup. Restore additional NSX Manager nodes. | Restarting pods brings them to running state since namespace was created before backup. 
| Take backup of NSX-T. Shut down (or delete) NSX Manager nodes. Create pods. Deploy new NSX-T Manger node and restore configuration from backup. Restore additional NSX Manager nodes. | Pods stuck in ContainerCreating state. Namespace and app must be recreated.
| Take backup of NSX-T. Shut down (or delete) NSX Manager nodes. Create load balancer service. Deploy new NSX-T Manger node and restore configuration from backup. Restore additional NSX Manager nodes. | Load balancer VIP is pending. Must redeploy the service for it to work.
| Take backup of NSX-T. Shut down (or delete) NSX Manager nodes. Delete load balancer service. Deploy new NSX-T Manger node and restore configuration from backup. Restore additional NSX Manager nodes. | On restore the load balancer VIP is deleted.





