---
title: Backup and Restore Scenarios for TKGI
owner: TKGI
---

This section summarizes the backup and restore scenarios and considerations for all TKGI components.

## Scenarios and Considerations

The following scenarios and considerations summarize the various aspects of backup and restore for TKGI. Refer to the individual sections for details on performing backup and restore for that layer.

Scenario 							| Tool(s) 		    | Test Considerations 
------------------------------------|-------------------|-----------------------------|
| [Backup and Restore Kubernetes Workloads](./backup-and-restore-work.html) | Velero, Restic | Must account for stateless and stateful applications, and load balancer and ingress services. Stateless requires Restic plugin. See <a href="./velero-scenarios.html">Velero Backup and Restore Scenarios</a> for details. 
| [Backup and Restore TKGI Clusters](./backup-and-restore-tkgi.html) | BOSH Backup and Restore (BBR) | Use BBR to back up and restore <%= vars.k8s_runtime_abbr %> clusters, which includes the control plane and worker nodes; applications deployed before backup was taken may be restored but workload backup/restore is recommended. See <a href="./backup-and-restore-tkgi.html">TKGI Cluster Backup and Restore Scenarios</a> for details.
| [Backup and Restore TKGI Management Plane](./backup-and-restore-tkgi-mgmt.html) | Ops Manager, BBR | Export Ops Manager configuration and import to new Ops Manager instance. Use BBR to backup and restore the TKGI Management Plane VMs: BOSH, TKGI API, TKGI DB. See <a href="./backup-and-restore-tkgi-mgmt.html">TKGI Management Plane Backup and Restore Scenarios</a> for details.
| [Backup and Restore TKGI SDDC](./backup-and-restore-sddc.html) | NSX Manager; vCenter | Use the NSX Manager UI or CLI to backup the NSX Manager DB. Use the vSphere Client to backup the vCenter Server DB. See <a href="./backup-and-restore-sddc.html">TKGI Cluster Backup and Restore Scenarios</a> for details.
