---
title: Backing Up and Restoring PKS
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to back up and restore the Pivotal Container Service (PKS) control plane.
PKS uses the Cloud Foundry [BOSH Backup and Restore](https://docs.cloudfoundry.org/bbr/index.html) framework to back up and restore PKS deployments.

The PKS control plane includes the following components:

* UAA MySQL database
* PKS API MySQL database

BOSH Backup and Restore (BBR) backs up the PKS control plane components.
BBR does not back up cluster data or deployed applications.

##<a id='install'></a> Install BBR

Follow the procedures in [Install BOSH Backup and Restore](bbr-install.html) to install BBR.

##<a id='backup'></a> Back Up the PKS Control Plane

Follow the procedures in [Back Up the PKS Control Plane](bbr-backup.html) to back up the PKS control plane.

##<a id='restore'></a> Restore the PKS Control Plane

Follow the procedures in [Restore the PKS Control Plane](bbr-restore.html) to restore the PKS control plane.

##<a id='logging'></a> Troubleshooting BBR

See [BBR Exit Codes and Logging](bbr-logging.html) for troubleshooting information.