---
title: Backing Up and Restoring the PKS Control Plane
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to back up and restore the Pivotal Container Service (PKS) control plane.
PKS uses the Cloud Foundry [BOSH Backup and Restore](https://docs.cloudfoundry.org/bbr/index.html) framework to back up and restore PKS deployments.

The PKS control plane includes the following components:

* UAA MySQL database
* PKS API MySQL database

BOSH Backup and Restore (BBR) backs up the PKS control plane components.
BBR does not back up cluster data or deployed applications.

##<a id='install'></a> Install BBR

Follow the procedures in [Installing BOSH Backup and Restore](https://docs.cloudfoundry.org/bbr/installing.html) in the Cloud Foundry documentation to install BBR.

##<a id='backup'></a> Back Up the PKS Control Plane

Follow the procedures in the [Back Up a BOSH Deployment](https://docs.cloudfoundry.org/bbr/backup.html#back-up-deployment) section of the <em>Backing Up with BOSH Backup and Restore</em> topic.

To locate the credentials that the `bbr` commands require, see the following table:

<table>
  <tr>
    <th width="30%">Credential</th>
    <th>Location</th>
  </tr><tr>
    <td><code>BOSH-CLIENT-SECRET</code></td>
    <td>In the BOSH Director tile, navigate to <strong>Credentials > Bosh Commandline Credentials</strong>. Record the value for <code>BOSH_CLIENT_SECRET</code>.</td>
  </tr><tr>
    <td><code>BOSH-TARGET</code></td>
    <td>In the BOSH Director tile, navigate to <strong>Credentials > Bosh Commandline Credentials</strong>. Record the value for <code>BOSH_ENVIRONMENT</code>.
    You must be able to reach the target address from the workstation where you run <code>bbr</code> commands.</td>
  </tr><tr>
    <td><code>BOSH-CLIENT</code></td>
    <td>In the BOSH Director tile, navigate to <strong>Credentials > Bosh Commandline Credentials</strong>. Record the value for <code>BOSH_CLIENT</code>.</td>
  </tr><tr>
    <td><code>PATH-TO-BOSH-CA-CERT</code></td>
    <td>From the Ops Manager Installation Dashboard, navigate to <strong>Settings > Advanced</strong>. Click <strong>Download Root CA Cert</strong>.</td>
  </tr><tr>
    <td><code>DEPLOYMENT-NAME</code></td>
    <td>Use the BOSH CLI to locate your PKS BOSH deployment name. The name begins with <code>pivotal-container-service</code>. See <a href="manage-deployments-bosh.html">Manage PKS Deployments with BOSH</a> for more information.</td>.
  </tr>
</table>

##<a id='restore'></a> Restore the PKS Control Plane

To restore a PKS deployment, follow the procedures in the [Restore a BOSH Deployment](https://docs.cloudfoundry.org/bbr/restore.html#restore) section of the <em>Restoring with BOSH Backup and Restore</em> topic.

