---
title: Installing BOSH Backup and Restore
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to install BOSH Backup and Restore (BBR).

You install the `bbr` binary on a jumpbox, and then run `bbr` from the jumpbox to 
back up and restore your PKS deployment. For more information, see
[Backing up the PKS Control Plane](bbr-backup.html) and [Restoring the PKS Control Plane](bbr-restore.html).

##<a id="jumpbox-setup"></a> Step 1: Set up Your Jumpbox

Set up your jumpbox with the following settings:

* The jumpbox must be able to communicate with the network that contains your PKS deployment. You can use the Ops Manager VM as your jumpbox.
* The jumpbox must have sufficient space for the backup.
* BBR connects to the VMs at their private IP address, so the jumpbox needs to be in the same network as the deployed VMs. BBR does not support SSH gateways.
* BBR copies the backed-up data from the VMs to the jumpbox, so ensure you have minimal network latency between them to reduce transfer times.

<p class="note"><strong>Note</strong>: BBR uses SSH to orchestrate the backup of your PKS instances using port 22 by default.</p>

## <a id='scp'></a>Step 2: Transfer BBR to Your Jumpbox

Perform the following steps to transfer the `bbr` binary to your jumpbox:

1. Download the [latest BBR release](https://network.pivotal.io/products/p-bosh-backup-and-restore).
1. Change the permissions of `bbr` in order to make it executable:
	<pre class="terminal">$ chmod a+x bbr</pre>
1. SCP the binary to your jumpbox:
	<pre class="terminal">$ scp LOCAL\_PATH\_TO\_BBR/bbr JUMPBOX\_USER/JUMPBOX\_ADDRESS</pre>
	If your jumpbox has access to the internet, you can also SSH into your jumpbox and use `wget`:
	<pre class="terminal">
	$ ssh JUMPBOX\_USER/JUMPBOX\_ADDRESS -i YOUR\_CERTIFICATE.pem
	$ wget BBR\_RELEASE\_URL
	$ chmod a+x bbr
	</pre>


