---
title: Calculating Usage Data
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how operators can locate and extract usage information from
their Pivotal Container Service (PKS) deployment.

PKS logs the following usage data:

- **Capacity**: the number of pods that run at a time.
- **Consumption**: the total uptime of all pods.

## <a id="bosh-ssh"></a>SSH into Your PKS Deployment

To locate information about the capacity usage of your PKS deployment, follow
the steps below:

<ol>
<%= partial 'bosh-ssh' %>
<li>DONE</li>
</ol>

## <a id="capacity"></a>Locate Capacity Usage Data

## <a id="consumption"></a>Locate Consumption Usage Data
