---
title: Calculating Usage Data
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how operators can locate and extract usage information from
their Pivotal Container Service (PKS) deployment.

The PKS database stores the following pod usage data:

- **Watermark**: the number of pods that run at one time.
- **Consumption**: the total memory and CPU usage of all pods.

To extract either type of usage data from your PKS deployment, you must
`bosh ssh` into your PKS API VM.

## <a id="bosh-ssh"></a>SSH into Your PKS Deployment

To SSH into your PKS API VM using BOSH, follow the steps below:

<ol>
<%= partial 'bosh-ssh' %>
</ol>

## <a id="watermark"></a>Locate Watermark Usage Data

To locate the watermark data for your PKS deployment, follow the steps below:

1. From the PKS API VM, create a new file named `print-watermark.sh`.

1. Paste the following contents into the `print-watermark.sh` file:

    ```bash
    #! /bin/bash

    set -e

    db_username="$(grep 'DBName: telemetry' -A2 /var/vcap/jobs/mysql/config/mariadb_ctl_config.yml | grep 'User' | tr -d ' ' | cut -d':' -f2)"
  db_password="$(grep 'DBName: telemetry' -A2 /var/vcap/jobs/mysql/config/mariadb_ctl_config.yml | grep 'Password' | tr -d ' ' | cut -d':' -f2)"

    mysql_cmd="/var/vcap/packages/mariadb/bin/mysql -u$db_username -h 127.0.0.1 -p$db_password"

    watermark_select_result="$($mysql_cmd --execute="use telemetry; select * from pkswatermark order by collect_time")"

    watermark_csv="$(echo "$watermark_select_result" | tr '\t' ',')"

    echo "$watermark_csv"
    ```

1. Use one of the following options to view the watermark data:
    * To view all watermark data in the terminal, run the following command:
    <pre class="terminal">$ bash print-watermark.sh</pre>
    * To view the most recent five watermarks in the terminal, run
the following command:
    <pre class="terminal">$ bash print-watermark.sh | tail -n5</pre>
    * To write the data to a file, run the following command:
    <pre class="terminal">$ bash print-watermark.sh > watermarks-$(date -u +"%Y-%m-%dT%H:%M:%SZ").csv</pre>

## <a id="consumption"></a>Locate Consumption Usage Data

To locate the consumption data for your PKS deployment, follow the steps below:
