---
title: PKS Concepts
owner: PKS
---

This topic describes Pivotal Container Service (PKS) concepts. See the following sections:

<ul>
  <li>
    <a href="./control-plane.html">PKS Cluster Management</a>
  </li>
  <li>
    <a href="./pks-api-auth.html">PKS API Authentication</a>
  </li>
  <li>
    <a href="./about-lb.html">Load Balancers in PKS</a>
  </li>
  <li>
    <a href="./vm-sizing.html">VM Sizing for PKS Clusters</a>
  </li>
    <li>
    <a href="./telemetry.html">PKS Telemetry</a>
  </li>
  <li>
    <a href="./pas-and-pks.html">PAS and PKS Deployments with Ops Manager</a>
  </li>
    <li>
    <a href="./sink-architecture.html">Sink Architecture in PKS</a>
  </li>
</ul>
