---
title: Tanzu Kubernetes Grid Integrated Edition Concepts
owner: TKGI
---

This topic describes conceptual and architectural information about VMware Tanzu Kubernetes Grid Integrated Edition (TKGI) and its primary components.  

See the following topics for an architectural overview of TKGI systems and components:  

<ul>
  <li>
    <a href="./control-plane.html">Tanzu Kubernetes Grid Integrated Edition Architecture</a>
  </li>
  <li>
    <a href="./understanding-upgrades.html">About Tanzu Kubernetes Grid Integrated Edition Upgrades</a>
  </li>
  <li>
    <a href="./api-auth.html">TKGI API Authentication</a>
  </li>
  <li>
    <a href="./about-lb.html">Load Balancers in Tanzu Kubernetes Grid Integrated Edition</a>
  </li>
  <li>
    <a href="./vm-sizing.html">VM Sizing for Tanzu Kubernetes Grid Integrated Edition Clusters</a>
  </li>
  <li>
    <a href="./telemetry.html">Telemetry</a>
  </li>
  <li>
    <a href="./sink-architecture.html">Sink Architecture in Tanzu Kubernetes Grid Integrated Edition</a>
  </li>
</ul>
