---
title: Configure PKS API Access
owner: PKS
---

<strong><%= modified_date %></strong>

To configure access to the PKS API, perform the following steps:

1. Configure an external load balancer to forward traffic to the PKS API endpoint.
For more information, see the Configure External Load Balancer section of <em>Installing and Configuring PKS on [GCP](installing-pks-gcp.html#loadbalancer-pks-api) or [vSphere](installing-pks-vsphere.html#loadbalancer-pks-api)</em>.
  <p class="note"><strong>Note</strong>: If your PKS installation is integrated with NSX-T, map the external load balancer to the DNAT IP address assigned in the <a href="installing-nsx-t.html#apply-changes">Apply Changes and Retrieve the PKS Endpoint</a> section of <em>Installing and Configuring PKS with NSX-T Integration</em>.</p>

1. Configure a DNS entry that points to the load balancer and uses the domain configured in the PKS API section of <em>Installing and Configuring PKS on [GCP](installing-pks-gcp.html#pks-api) or [vSphere](installing-pks-vsphere.html#pks-api)</em>.