---
title: Configure PKS API Access
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to configure access to the Pivotal Container Service (PKS) API.
See [PKS API Authentication](pks-api-auth.html) for more information about how the PKS API and UAA interact with your PKS deployment.

##<a id='access'></a> Configure Access to the PKS API

1. Locate your Ops Manager root CA certificate.
 * If Ops Manager generated your certificate, refer to the [Retrieving the Root Certificate](https://docs.pivotal.io/pivotalcf/security/pcf-infrastructure/api-cert-rotation.html#root-certs) section of _Managing TLS Certificates_.
 * If you provided your own certificate, copy and paste the certificate you entered in the **PKS API** page into a file.

1. Locate the URL of your UAA server.
You configured this URL in the _UAA_ section of [Installing and Configuring PKS](installing-pks.html#uaa).

1. Run `uaac target UAA-URL --ca-cert ROOT-CA-FILENAME` to target the UAA server.
Replace `UAA-URL` with the URL of your UAA server and `ROOT-CA-FILENAME` with the certificate file you downloaded in a previous step.
For example:
  <pre class="terminal">
  $ uaac target api.pks.example.com:8443 --ca-cert my-cert.cert
  </pre>

1. Run `uaac token client get admin -s UAA-ADMIN-SECRET` to request a token from the UAA server.
Replace `UAA-ADMIN-SECRET` with your UAA admin secret.
Refer to **Ops Manager > Pivotal Container Service > Credentials > Uaa Admin Secret** to retrieve this value.

1. Grant cluster access to new or existing users with UAA.
For more information on granting cluster access to users or creating users, see the [Grant Cluster Access to a User](manage-users.html#uaa-scopes) section of _Managing Users in UAA_.

1. Run `pks login -a UAA-URL -u USERNAME -p PASSWORD -k` to log in to the PKS CLI.
Replace the `UAA-URL` with the URL of your UAA server, `USERNAME` with your username, and `PASSWORD` with your password.
For example:
  <pre class="terminal">
  $ pks login -a api.pks.example.com -u alana -p my-password -k
  </pre>
