---
title: Configure Authentication and Enterprise SSO
owner: Identity
---

<strong><%= modified_date %></strong>

This topic describes Pivotal Container Service (PKS) authentication and single sign-on configuration with 
Lightweight Directory Access Protocol (LDAP) and Security Assertion Markup Language (SAML).

Refer to the instructions below to configure your deployment with SAML or LDAP.

Connecting PKS to either the LDAP or SAML external user store allows the User Account and Authentication (UAA) server to 
delegate authentication to existing enterprise user stores.

If your enterprise user store is exposed as a SAML or LDAP Identity Provider 
for single sign-on (SSO), you can configure SSO to allow users to access the 
PKS API without creating 
a new account or, if using SAML, without re-entering credentials.

For an explanation of the process used by the UAA Server when it attempts to authenticate a user through LDAP, see the [Configuring LDAP Integration with Pivotal Cloud Foundry](https://discuss.zendesk.com/hc/en-us/articles/204140418-Configuring-LDAP-Integration-with-Pivotal-Cloud-Foundry-) Knowledge Base article.

<p class='note'><strong>Note:</strong> When integrating with an external identity provider, such as LDAP, authentication within the UAA becomes chained. An authentication attempt with a user's credentials is first attempted against the UAA user store before the external provider, LDAP. For more information, see <a href="https://github.com/cloudfoundry/uaa/blob/master/docs/UAA-LDAP.md#chained-authentication">Chained Authentication</a> in the <em>User Account and Authentication LDAP Integration</em> GitHub documentation.</p>

##<a id="configure-saml"></a>Configure PKS to Use a SAML Identity Provider

In SAML terminology, the SAML protocol communicates user data between an 
identity provider (IdP) and a service provider (SP).

###<a id="configure-saml-for-pcf"></a>Configure SAML as an Identity Provider for PKS

The following procedure configures a SAML IdP to designate PKS as an SP.

Download the Service Provider Metadata from `https://PKS-API:8443/saml/metadata`.
Replace `PKS-API` with the fully qualified domain name of your PKS API instance. For example, `https://pks-api.pks.example.com:8443/saml/metadata`.
Refer to **Ops Manager > Pivotal Container Service > PKS API > API Hostname (FQDN)** for your PKS API domain.

Consult the documentation from your Identity Provider for configuration 
instructions.

<p class="note"><strong>Note</strong>: Some Identity Providers allow uploads of Service Provider Metadata. Other providers require you to manually enter the Service Provider Metadata into a form.</p>

## <a id="configure-ldap"></a>Configure LDAP as an Identity Provider for PKS

To integrate UAA with one or more LDAP servers, configure PKS with your LDAP endpoint information as follows:

1. Under **UAA**, select **LDAP Server**.

1. For **Server URL**, enter the URLs that point to your LDAP server.
If you have multiple LDAP servers, separate their URLs with spaces.
Each URL must include one of the following protocols:
    * `ldap://`: Use this protocol if your LDAP server uses an unencrypted connection.
    * `ldaps://`: Use this protocol if your LDAP server uses SSL for an encrypted connection.
To support an encrypted connection, the LDAP server must hold a trusted certificate or you must import a trusted certificate to the JVM truststore.

1. For **LDAP Credentials**, enter the LDAP Distinguished Name (DN) and password for binding to the LDAP server.
For example, `cn=administrator,ou=Users,dc=example,dc=com`.
If the bind user belongs to a different search base, you must use the full DN.
    <p class="note"><strong>Note</strong>: Pivotal recommends that you provide LDAP credentials that grant read-only permissions on the LDAP search base and the LDAP group search base.</p>

1. For **User Search Base**, enter the location in the LDAP directory tree where LDAP user search begins.
The LDAP search base typically matches your domain name.
<br><br>
For example, a domain named `cloud.example.com` may use `ou=Users,dc=example,dc=com` as its LDAP user search base.

1. For **User Search Filter**, enter a string to use for LDAP user search criteria.
The search criteria allows LDAP to perform more effective and efficient searches.
For example, the standard LDAP search filter `cn=Smith` returns all objects with a common name equal to `Smith`.
<br><br>
In the LDAP search filter string that you use to configure PKS, use `{0}` instead of the username.
For example, use `cn={0}` to return all LDAP objects with the same common name as the username.
<br><br>
In addition to `cn`, other common attributes are `mail`, `uid` and, in the case of Active Directory, `sAMAccountName`.
    <p class="note"><strong>Note</strong>: For information about testing and troubleshooting your LDAP search filters, see the [Configuring LDAP Integration with Pivotal Cloud Foundry](https://discuss.zendesk.com/hc/en-us/articles/204140418-Configuring-LDAP-Integration-with-Pivotal-Cloud-Foundry-) Knowledge Base article.</p>

1. For **Group Search Base**, enter the location in the LDAP directory tree where the LDAP group search begins.
<br><br>
For example, a domain named `cloud.example.com` may use `ou=Groups,dc=example,dc=com` as its LDAP group search base.
<br><br>
Follow the instructions in the [Grant Cluster Access to an External LDAP Group](manage-users.html#external-group) section 
of _Creating and Managing Users with the UAA CLI (UAAC)_ to map the 
groups under this search base to roles in PKS.

1. For **Group Search Filter**, enter a string that defines LDAP group search 
criteria. The standard value is `member={0}`.

1. For **Server SSL Cert**, paste in the root certificate from your CA 
certificate or your self-signed certificate.

1. For **Server SSL Cert AltName**, do one of the following:
  * If you are using `ldaps://` with a self-signed certificate, enter a Subject 
Alternative Name (SAN) for your certificate. 
  * If you are not using `ldaps://` with a self-signed certificate, leave this field blank.

1. For **First Name Attribute**, enter the attribute name in your LDAP directory that contains user first names.
For example, `cn`.

1. For **Last Name Attribute**, enter the attribute name in your LDAP directory that contains user last names. 
For example, `sn`.

1. For **Email Attribute**, enter the attribute name in your LDAP directory that contains user email addresses.
For example, `mail`.

1. For **Email Domain(s)**, enter a comma-separated list of the email domains 
for external users who can receive invitations to Apps Manager.

1. For **LDAP Referrals**, choose how UAA handles LDAP server referrals to other user stores.
UAA can follow the external referrals, ignore them without returning errors, or generate an error for each external referral and abort the authentication.
