---
title: Configure Authentication and Enterprise SSO
owner: Identity
---

<strong><%= modified_date %></strong>

This topic describes Pivotal Container Service (PKS) authentication and single sign-on configuration with 
Lightweight Directory Access Protocol (LDAP) and Security Assertion Markup Language (SAML).

Refer to the instructions below to configure your deployment with SAML or LDAP.

Connecting PKS to either the LDAP or SAML external user store allows the User Account and Authentication (UAA) server to 
delegate authentication to existing enterprise user stores.

If your enterprise user store is exposed as a SAML or LDAP Identity Provider 
for single sign-on (SSO), you can configure SSO to allow users to access the 
PKS API without creating 
a new account or, if using SAML, without re-entering credentials.

For an explanation of the process used by the UAA Server when it attempts to authenticate a user through LDAP, see the [Configuring LDAP Integration with Pivotal Cloud Foundry](https://discuss.zendesk.com/hc/en-us/articles/204140418-Configuring-LDAP-Integration-with-Pivotal-Cloud-Foundry-) Knowledge Base article.

<p class='note'><strong>Note:</strong> When integrating with an external identity provider, such as LDAP, authentication within the UAA becomes chained. An authentication attempt with a user's credentials is first attempted against the UAA user store before the external provider, LDAP. For more information, see <a href="https://github.com/cloudfoundry/uaa/blob/master/docs/UAA-LDAP.md#chained-authentication">Chained Authentication</a> in the <em>User Account and Authentication LDAP Integration</em> GitHub documentation.</p>

##<a id="configure-saml"></a>Configure PKS to Use a SAML Identity Provider

In SAML terminology, the SAML protocol communicates user data between an 
identity provider (IdP) and a service provider (SP).

###<a id="configure-saml-for-pcf"></a>Configure SAML as an Identity Provider for PKS

The following procedure configures a SAML IdP to designate PKS as an SP.

Download the Service Provider Metadata from `https://PKS-API:8443/saml/metadata`.
Replace `PKS-API` with the fully qualified domain name of your PKS API instance. For example, `https://pks-api.pks.example.com:8443/saml/metadata`.
Refer to **Ops Manager > Pivotal Container Service > PKS API > API Hostname (FQDN)** for your PKS API domain.

Consult the documentation from your Identity Provider for configuration 
instructions.

<p class="note"><strong>Note</strong>: Some Identity Providers allow uploads of Service Provider Metadata. Other providers require you to manually enter the Service Provider Metadata into a form.</p>
