---
title: Configure Authentication and Enterprise SSO
owner: Identity
---

<strong><%= modified_date %></strong>

This topic describes Pivotal Container Service (PKS) authentication and single sign-on configuration with Security Assertion Markup Language (SAML).

Refer to the instructions below to configure your deployment with SAML.

Connecting PKS to a SAML external user store allows the User Account and Authentication (UAA) server to 
delegate authentication to existing enterprise user stores.

If your enterprise user store is exposed as a SAML Identity Provider 
for single sign-on (SSO), you can configure SSO to allow users to access the 
PKS API without creating 
a new account or without re-entering credentials.

##<a id="configure-saml"></a>Configure PKS to Use a SAML Identity Provider

In SAML terminology, the SAML protocol communicates user data between an 
identity provider (IdP) and a service provider (SP).

###<a id="configure-saml-for-pcf"></a>Configure SAML as an Identity Provider for PKS

The following procedure configures a SAML IdP to designate PKS as an SP.

Download the Service Provider Metadata from `https://PKS-API:8443/saml/metadata`.
Replace `PKS-API` with the fully qualified domain name of your PKS API instance. For example, `https://pks-api.pks.example.com:8443/saml/metadata`.
Refer to **Ops Manager > Pivotal Container Service > UAA > UAA URL** for your PKS API domain.

Consult the documentation from your Identity Provider for configuration 
instructions.

<p class="note"><strong>Note</strong>: Some Identity Providers allow uploads of Service Provider Metadata. Other providers require you to manually enter the Service Provider Metadata into a form.</p>
