---
title: Configuring an Ingress Controller
owner: PKS
---

<strong><%= modified_date %></strong>

This topic provides resources for configuring an ingress controller on <%= vars.product_full %>.

<p class="note"><strong>Note</strong>: If you deploy <%= vars.product_short %> to
vSphere with NSX-T, you can use the ingress services provided by NSX-T. For
more information, see <a href="nsxt-ingress-srvc-lb.html">Configuring Ingress Resources and Load Balancer Services</a>.</p>

## <a id='overview'></a>Overview

In Kubernetes, an ingress is an API object that manages external access to the
services in a cluster. You can use ingress rules to provide HTTP or HTTPS routes
to services within the cluster instead of creating a load balancer. The cluster
must have an ingress controller running. For more information, see [Ingress](https://kubernetes.io/docs/concepts/services-networking/ingress/) in the Kubernetes documentation.

You define ingress resource configuration in the manifest of your Kubernetes deployment. Use wildcard DNS entries to route traffic to the exposed ingress resource.

## <a id='gcp'></a>Configure a Cloud Provider Ingress Controller

If you deploy <%= vars.product_short %> on vSphere with NSX-T or Google Cloud
Platform (GCP), you can configure an ingress controller using ingress services
offered by your cloud provider.

For information about configuring an ingress controller using NSX-T, see [Configuring Ingress Resources and Load Balancer Services](nsxt-ingress-srvc-lb.html).

For information about configuring an ingress controller on GCP, see [How to set up an Ingress Controller for a PKS cluster](https://community.pivotal.io/s/article/how-to-set-up-an-ingress-controller-for-a-pks-cluster) in the Pivotal Knowledge Base.

## <a id='istio'></a>Deploy Istio to a PKS Cluster

If your cloud provider does not offer ingress resources and you do not want to
use a cluster load balancer, you can deploy Istio to the cluster and push an app
using the ingress service. For more information about Istio, see the [Istio documentation](https://istio.io/docs/).

Before you deploy Istio, make sure KubeDNS is enabled for your cluster.
