---
title: Deploy Enterprise PKS from the Management Console
owner: PKS
---

You can deploy a new <%= vars.product_full %> instance either by using the VMware <%= vars.product_short %> Management Portal configuration wizard to guide you through the configuration process, or by importing an existing YAML configuration file into the YAML editor.

- [Deploy Enterprise PKS by Using the Configuration Wizard](console-deploy-ent-pks-wizard.html)
- [Deploy Enterprise PKS by Importing a YAML Configuration File](console-deploy-ent-pks-yaml.html)

If you deploy <%= vars.product_short %> with plans that use Windows worker nodes, further configuration is required. See <a href="console-windows-workers.html">Enable Plans with Windows Worker Nodes</a> for information about how to install a Windows Server stemcell and other necessary configuration actions that you must perform after you deploy <%= vars.product_short %>.