---
title: Assign Resource Quotas to Users in the Management Console
owner: TKGI
---

<p class="note warning"><strong>Warning</strong>: This feature is a beta component and is intended for evaluation and test purposes only. Do not use this feature in a production environment. Product support and future availability are not guaranteed for beta components.</p>

After you have added users to your <%= vars.product_short %> deployment on vSphere and assigned the cluster manager or admin role to them, you can optionally assign resource quotas to them. By setting quotas, you can limit the amount of compute power and memory that those users can consume. You can also set a limit on the number of clusters that they can deploy.

1. Go to the **Quotas** view of the management console.

    ![Resource quotas](images/console/quotas.png)
    [View a larger version of this image](images/console/quotas.png)
1. Click **Add Quota** and select the users to whom to apply the quota.

    Only users who have the cluster manager role appear in the list.
    ![Add resource quota to users](images/console/add-quotas.png)
1. Enter maximums for the number of virtual CPUs and the amount of memory that the selected users can consume, and the number of clusters they can create.

    You can also use the **Unlimited** toggles to allow the users unrestricted access to resources.

    ![Resource quotas](images/console/quotas-maximums.png)
1. Click **Save**.

To update the resources assigned to a user, or to delete a quota, select the quota and click either **Edit** or **Delete**.

![Edit or delete quotas](images/console/edit-delete-quota.png)

<p class="note"><strong>Note</strong>: Deleting a quota only deletes the quota. It does not delete the user account.</p>

## <a id='next-steps'></a> Next Steps

- [Working with Network Profiles in the Management Console](console-network-profile.html)
- [Create Clusters in the Management Console](console-create-clusters.html)