---
title: Assign Resource Quotas to Users in the Management Console
owner: TKGI
---

This topic describes how to assign <%= vars.product_full %> (<%= vars.k8s_runtime_abbr %>) resource quotas to users.

<p class="note warning"><strong>Warning</strong>: This feature is a beta component and is intended for evaluation and test purposes only. Do not use this feature in a production environment. Product support and future availability are not guaranteed for beta components.</p>

## <a id='overview'></a>Overview
After you have added users to your <%= vars.k8s_runtime_abbr %> deployment on vSphere and assigned the cluster manager or admin role to them, 
you can optionally assign resource quotas to them.  

By setting quotas, you can limit the amount of compute power and memory that those users can consume. 
You can also set a limit on the number of clusters that they can deploy.

## <a id='assign-quota'></a>Assign a Resource Quota to a User

To assign a resource quota to a user:  

1. Go to the **Quotas** view of the management console.  

    ![Resource quotas](images/console/quotas.png)  
    [View a larger version of this image](images/console/quotas.png)  
1. Click **Add Quota** and select the users to whom to apply the quota.  
    
    ![Add resource quota to users](images/console/add-quotas.png)  
    Only users who have the cluster manager role are included in the list.  
1. Enter maximums for the number of virtual CPUs and the amount of memory that the selected users can consume, and the number of clusters they can create.  

    ![Resource quotas](images/console/quotas-maximums.png)  
1. To grant users unrestricted access to CPU or memory resources or an unlimited number of clusters, 
enable the **Unlimited** toggle for the unrestricted resource.  
1. Click **Save**.  

## <a id='updatedate-quota'></a>Modify a User Resource Quota

To update the resources assigned to a user:

1. Select the quota.
1. Click **Edit**.  

    ![Edit or delete quotas](images/console/edit-delete-quota.png)  
1. Modify the maximums for the number of virtual CPUs and the amount of memory that the selected users can consume, and the number of clusters they can create.  

1. To grant users unrestricted access to CPU or memory resources or an unlimited number of clusters, 
enable the **Unlimited** toggle for the unrestricted resource.  
1. Click **Save**.  


## <a id='delete-quota'></a>Delete a User Resource Quota

To delete a resources quota:

1. Select the quota.  
1. Click **Delete**.  

    ![Edit or delete quotas](images/console/edit-delete-quota.png)  

<p class="note"><strong>Note</strong>: Deleting a quota only deletes the quota. It does not delete the user account.</p>


## <a id='next-steps'></a> Next Steps

- [Working with Network Profiles in the Management Console](console-network-profile.html)
- [Create Clusters in the Management Console](console-create-clusters.html)