---
title: Creating and Managing Compute Profiles in the Management Console
owner: TKGI
---

You can add, view and remove compute profiles using the <%= vars.product_short %> Management Console on vSphere.

## <a id='about'></a>About Compute Profiles

A compute profile enables cluster administrators, `pks.clusters.admin`, to override the default settings defined by a plan.

Using a compute profile, cluster administrators can customize the following:

* Compute resources such as CPU, memory, ephemeral disk, and persistent disk for Kubernetes control plane and worker nodes
* vSphere resources for Kubernetes control plane and worker nodes

<p class="note"><strong>Note</strong>: A compute profile overrides only those CPU, memory, disk, and AZ settings that you define in the profile. If you do not define a setting in the profile, its configuration is inherited from the plan.</p>

After you create a compute profile, cluster managers, `pks.clusters.manage`, can apply it to one or more Kubernetes clusters.

For more information, see [Compute Profiles vs. Plans](compute-profiles-manage.html#vs-plans).

## <a id='compute-profile-cluster-create'></a>Create Cluster with Compute Profile

Use the <%= vars.product_short %> Management Console to create a cluster with an existing compute profile.

1. Select **TKG Integrated Edition** > **Clusters**, and select **Create Cluster**.
1. Use the **Compute Profile** drop-down menu to select the compute profile to use.
1. Click **Show More** to view the profile.

    ![Create cluster with compute profile](images/console/compute-profile-info.png)
    [View a larger version of this image](images/console/compute-profile-info.png)
1. Click **Modify Worker Nodes** to increase or reduce the number of worker nodes.

    ![Modify worker nodes](images/console/compute-profile-create-cluster-with.png)
    [View a larger version of this image](images/console/compute-profile-create-cluster-with.png)

## <a id='compute-profile-define'></a>Define Compute Profile

Use the <%= vars.product_short %> Management Console to define a compute profile. 

<p class="note"><strong>NOTE:</strong> You must be at the console home page to view the <strong>Compute Profiles</strong> tab.</p>

1. Select **Profiles** and select the **Compute** tab.
1. Click **Create Profile**.
1. Enter a **Name** for the profile.
1. Enter a suitable **Description** for the profile.
1. Click **Add Availability Zones** to create a new availability zone for the compute profile.

   1. Enter a name for the availability zone.
   1. Enter the name of an existing datacenter, cluster, resource pool, and host group.
   1. Click **Add Cluster** to add more clusters to the availability zone.
   1. Click **Add Datacenter** to add more datacenters to the availability zone.
   1. Click **Add Availability Zones** to create more availability zones.
   1. Click **Save Availability Zones**.

    ![Define compute profile availability zones](images/console/compute-profile-az.png)
    [View a larger version of this image](images/console/compute-profile-az.png)
    
1. For **Control plane AZs**, select the availability zone to use for the cluster control plane.
1. Configure the new profile as needed, to override the values set in plans for the resources that are allocated to control plane nodes.

    - Number of Control Plane Nodes
    - Control plane CPU
    - Control plane memory
    - Control plane ephemeral disk size
    - Control plane persistent disk size

     ![Define control plane resource usage](images/console/compute-profile-control-plane.png)
     [View a larger version of this image](images/console/compute-profile-control-plane.png)
    
1. Select **Node Pool Groups** to optionally override the values set in plans for the resources that are allocated to worker nodes.

    ![Define compute profile node group settings](images/console/compute-profile-node-group.png)
    [View a larger version of this image](images/console/compute-profile-node-group.png)
    
1. Click **Save Profile**.


## <a id='compute-profile-delete'></a>Delete Compute Profile

Use the <%= vars.product_short %> Management Console to delete compute profile. 

<p class="note"><strong>NOTE:</strong> You cannot delete a compute profile that is in use by a cluster.</p>

1. Select **Profiles** and select the **Compute** tab.
1. Select the compute profile to remove.
1. Click **Delete**.
1. Confirm deletion.

    ![Delete compute profile](images/console/compute-profile-delete.png)
    [View a larger version of this image](images/console/compute-profile-delete.png)