---
title: Virtual Infrastructure Prerequisites
owner: TKGI
---

The vSphere environment to which you deploy the management console OVA requires the following configuration:

- CPU: 2
- RAM: 8&nbsp;GB
- Disk: 40&nbsp;GB
- Virtual NIC (vNIC) must be assigned to a network with connectivity to vCenter and NSX Manager if Tanzu Kubernetes Grid Integrated Edition uses NSX Data Center as the container networking interface.

<p class="note"><strong>Note</strong>: The OVA requirements described here are the minimum supported configuration.</p>

The following vSphere clusters must exist in the target vCenter Server data center before you can deploy Tanzu Kubernetes Grid Integrated Edition from the management console:

- Management cluster for TKGI Management Plane components.
- At least one compute cluster for Kubernetes Cluster nodes, with the recommendation being to deploy more than one, for high-availability purposes.

For information about the supported versions of vSphere, see the [release notes](./release-notes.html).
