---
title: Install Tanzu Kubernetes Grid Integrated Edition on vSphere with the Management Console
owner: TKGI
---

VMware Tanzu Kubernetes Grid Integrated Edition Management Console provides a unified installation experience for 
deploying VMware Tanzu Kubernetes Grid Integrated Edition (TKGI) to vSphere. 


## <a id='overview'></a>Overview

The VMware Tanzu Kubernetes Grid Integrated Edition Management Console provides a graphical user interface to assist you with 
configuring and deploying TKGI to vSphere.  

The TKGI Management Console automates installation of the following: 

- Deploys Ops Manager
- Deploys BOSH Director
- Deploys Tanzu Kubernetes Grid Integrated Edition
- Deploys Harbor Registry
- Configures networking for Tanzu Kubernetes Grid Integrated Edition
- Generates and registers SSL certificates

The TKGI Management Console is provided as a virtual appliance that you deploy to vSphere by using an OVA template. 
If you are experienced with installing TKGI on vSphere, 
the help and the tool tips in the installer UI provide enough information to complete the process. 
If you are new to TKGI, refer to the following documentation as needed to assist with the installation:

- [Prerequisites for Tanzu Kubernetes Grid Integrated Edition Management Console Deployment](console-ova-deployment-prereqs.html)
- [Deploy the Tanzu Kubernetes Grid Integrated Edition Management Console](console-deploy-ova.html)
- [Deploy Tanzu Kubernetes Grid Integrated Edition from the Management Console](console-deploy.html)

## <a id='decide-when-to-use-console'></a>Decide When to Use TKGI Management Console

The TKGI Management Console provides an opinionated process for deploying Tanzu Kubernetes Grid Integrated Edition. 
Whether to use the management console depends on your situation.

#### <a id='when-to-use-console'></a>When Should I Use Tanzu Kubernetes Grid Integrated Edition Management Console?

Use the TKGI Management Console to simplify deploying Tanzu Kubernetes Grid Integrated Edition to less complex vSphere environments. 

Users on vSphere who do not have a custom Ops Manager installation might prefer to install TKGI 
using the curated workflow provided by the TKGI Management Console.

#### <a id='when-not-to-use-console'></a>When Should I Not Use Tanzu Kubernetes Grid Integrated Edition Management Console?

Users who already have Ops Manager installed for other uses, for example to run 
[<%= vars.app_runtime_full %>](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/5.0/tas-for-vms/concepts-overview.html),
might prefer to install TKGI using Ops Manager. 
Also, if you require more flexibility in configuring your TKGI deployment, especially in complex VMware NSX deployments, 
it might be more appropriate to install TKGI using Ops Manager. 


Do not use the TKGI Management Console if any the following conditions apply to your environment, they are not supported:  

- Deployments to a No-NAT topology with a vSphere Standard Switch or a vSphere Distributed Switch.
- [Multi-Foundation](.//nsxt-multi.html) deployments.  
<br>

Before using TKGI Management Console to deploy TKGI, consider the following factors:

- If you want to deploy TKGI Management Console to a No-NAT topology with an VMware NSX logical switch, you must perform a BYOT deployment.
- Deployments to a [Multi-Tier-0](./nsxt-multi-t0.html) topology are supported in BYOT deployments only and require additional configuration. For information about the additional configuration required, see [Tanzu Kubernetes Grid Integrated Edition Management Console Cannot Retrieve Cluster Data in a Multi-Tier0 Topology](console-troubleshooting.html#multi-T0-deployments) in *Troubleshooting Tanzu Kubernetes Grid Integrated Edition Management Console*.


For information about the supported topologies for a manual installation, see [NSX Deployment Topologies for TKGI](./nsxt-topologies.html).


## <a id='use-console-for-day-two'></a>Use the TKGI Management Console After Installing TKGI

After you have deployed Tanzu Kubernetes Grid Integrated Edition on vSphere, you can use the TKGI Management Console 
to deploy Kubernetes clusters and manage their lifecycle, and monitor and manage the operation of your Tanzu Kubernetes Grid Integrated Edition deployment. 
For information about how to use the TKGI Management Console after deployment, see the following topics:

- [Create and Manage Clusters in the Management Console](console-create-and-manage-clusters.html)
- [Monitor and Manage Tanzu Kubernetes Grid Integrated Edition in the Management Console](console-monitor-manage.html)
- [Troubleshooting Tanzu Kubernetes Grid Integrated Edition Management Console](console-troubleshooting.html)



