---
title: Prerequisites for an Automated NAT Deployment to NSX-T Data Center
owner: TKGI
---

An unprepared environment is an NSX-T Data Center instance that you have not already configured for use with <%= vars.product_short %>. <%= vars.product_short %> Management Console helps you to complete the configuration of an unprepared environment on vSphere, but the environment must meet certain infrastructure prerequisites.

- 3 NSX Manager Nodes deployed
- NSX Management Cluster formed
- Virtual IP address assigned for the Management Cluster or load balancer

For information about the supported versions of NSX-T Data Center, see the [release notes](./release-notes.html).

## <a id='general-requirements'></a> General Requirements

- Edge Cluster with at least 2 NSX-T Data Center Edge Nodes deployed and connectivity to an uplink network configured and verified
- Overlay Transport Zone created, with the edge nodes included 	
- VLAN Transport Zone created, with the edge nodes included 
- MTU of all transport nodes and physical interfaces configured to 1600 or more
- In NSX-T 3.0, you can create host transport nodes by installing NSX-T on a VDS switch. The NSX-T logical switch is created on the VDS as a distributed virtual port group.
- Obtain the following IP addresses for the uplink network to use:
  - Subnet, subnet mask, gateway, and VLAN ID of the uplink network
  - Addresses within the uplink subnet for the Tier 0 uplinks
  - Address to use for the HA Virtual IP on the Tier-0 router
- Obtain the following IP additional addresses:
  - CIDR ranges to use for deployment, pods, and nodes. This range of IP addresses must not be in conflict with any other workloads.  
  - IP addresses of DNS and NTP servers
  - A range of 5 available floating IP addresses
- If your NSX-T Data Center environment uses custom certificates, obtain the CA certificate for NSX Manager
<br>
<p class="note"><strong>Note</strong>: If NSX-T Data Center uses custom certificates and you do not provide the CA certificate for NSX Manager, <%= vars.product_short %> Management Console automatically generates one and registers it with NSX Manager. This can cause other services that are integrated with NSX Manager not to function correctly.</p>

## <a id='poc-deployments'></a>Proof-of-Concept Deployments

The requirements above are for production environments. In proof-of-concept deployments one NSX Manager node is sufficient. The NSX management cluster and load balancer are also optional for proof-of-concept deployments. One NSX-T Data Center Edge node is sufficient for proof-of-concept deployments.
