---
title: Virtual Infrastructure Prerequisites
owner: TKGI
---

The vSphere environment to which you deploy the management console OVA requires the following configuration:

- CPU: 2
- RAM: 8 GB
- Disk: 40 GB
- Virtual NIC (vNIC) should be assigned to a network with connectivity to vCenter and NSX Datacenter Manager, if you are using NSX-T Data Center as the container networking interface for <%= vars.product_short %>.

<p class="note"><strong>Note</strong>: The OVA requirements described here are the minimum supported configuration.</p>

The following vSphere clusters must exist in the target vCenter Server datacenter before you can deploy <%= vars.product_short %> from the management console:

- Management cluster for <%= vars.k8s_runtime_abbr %> Management Plane components.
- At least one compute cluster for Kubernetes Cluster nodes, with the recommendation being to deploy more than one, for high-availability purposes.

For information about the supported versions of vSphere, see the [release notes](./release-notes.html).
