---
title: Create a Sink Resource
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to create a Sink resouce in your  Kubernetes cluster
which is included by default in all clusters created by  Pivotal Container
Service (PKS). The Sink resource allows users to define a destination for
logs transported of the [RFC 5424 Syslog Protocol](https://tools.ietf.org/html/rfc5424).

## <a id='defining-a-sink-resource'></a>Defining a Cluster Sink resource

In order to create a Cluster Sink you will need to define the details for your log
destination in the following YAML format.

```
apiVersion: apps.pivotal.io/v1beta1
kind: ClusterSink
metadata:
  name: example-syslog
spec:
  type: syslog
    host: example.com
    port: 12345
    enable_tls: true
```

## <a id='apply-cluster-sink-resource'></a>Apply Cluster Sink Resource

Once the Cluster Sink details are defined they can be applied to a namespace using `kubectl`.

```
kubectl apply -f my-sink.yml
```

Sinks can also filter the results by namespace within a cluster. To create a namespace specific sink,
you can use the same sink definition, but define your "kind" field as 'sink'.

```
apiVersion: apps.pivotal.io/v1beta1
kind: Sink
metadata:
  name: example-syslog
  namespace: my-space
spec:
  type: syslog
  host: example.com
  port: 12345
  enable_tls: true
```

You apply the sink the same way.

```
kubectl apply -f my-sink.yml
```


## <a id='reviewing-and-deleting-sinks'></a>Reviewing and Deleting Sinks.

Users can also use `kubectl` to review and delete sinks. This can be accomplished
by running the command `kubectl get clustersinks` to see all the sink resources
deployed to your cluster. Additionally the user can run `kubectl delete clustersink SINKNAME`
to delete a sink. For reviewing and deleting sinks that filter by namespace simply use the `sink`
resource name for these same commands.


