---
title: Create a Cluster
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to create a Kubernetes cluster with Pivotal Container Service (PKS) using the PKS Command Line Interface (CLI).

## <a id='cluster-access'></a>Configure Cluster Access

When you create a cluster, you must configure external access to the cluster by creating an external TCP or HTTPS load balancer.
Create the load balancer before you create the cluster, then point the load balancer to the IP address of the master virtual machine (VM) after cluster creation.

You can configure any load balancer of your choice.
If you use vSphere with NSX-T or GCP, you can create a load balancer using your cloud provider console. For information about configuring a GCP load balancer for PKS clusters, see [Configuring a GCP Load Balancer for PKS Clusters](gcp-cluster-load-balancer.html).

<p class="note"><strong>Note</strong>: You can only configure GCP load balancers for PKS clusters deployed on GCP.</p>

If you are creating a cluster in a non-production environment, you can choose to create a cluster without a load balancer.
Create a DNS entry that points to the cluster's master VM after cluster creation.

## <a id='create'></a>Create a Kubernetes Cluster

Perform the following steps:

1. Grant cluster access to a new or existing user in UAA.
See the [Grant Cluster Access to a User](manage-users.html#uaa-scopes) section of _Manage Users in UAA_ for more information.

1. <%= partial 'login-pks-api' %>

1. Run the following command to create a cluster:
  <pre>
  pks create-cluster CLUSTER-NAME \
  --external-hostname HOSTNAME \
  --plan PLAN-NAME \
  [--num-nodes WORKER-NODES]
  </pre>
  Replace the placeholder values in the command as follows:
  * `CLUSTER-NAME`: Enter a unique name for your cluster.
  * `HOSTNAME`: Enter an external hostname for your cluster. You can use any fully qualified domain name (FQDN) or IP address you own.
  For example, `my-cluster.example.com` or `10.0.0.1`.
  * `PLAN-NAME`: Choose a plan for your cluster. Run `pks plans` to list your available plans.
  * (Optional) `WORKER-NODES`: Choose the number of worker nodes for the cluster.
  If you do not specify a number of worker nodes, the default value is 3.
  For high availability, Pivotal recommends creating clusters with at least 3 worker nodes.
  The maximum value is 50.
    <br><br>
    For example:
    <pre class="terminal">$ pks create-cluster my-cluster \
    --external-hostname my-cluster.example.com \
    --plan large --num-nodes 3</pre>

1. Track the cluster creation process by running `pks cluster CLUSTER-NAME`.
Replace `CLUSTER-NAME` with the unique name for your cluster. For example:
  <pre class="terminal">$ pks cluster my-cluster
  Name:                     my-cluster
  Plan Name:                large
  UUID:                     01a234bc-d56e-7f89-01a2-3b4cde5f6789
  Last Action:              CREATE
  Last Action State:        succeeded
  Last Action Description:  Instance provisioning completed
  Kubernetes Master Host:   my-cluster.example.com
  Kubernetes Master Port:   8443
  Worker Instances:         3
  Kubernetes Master IP(s):  192.168.20.7
</pre>
  If the value for **Last Action State** is `error`, troubleshoot cluster creation by logging in to the BOSH Director and running `bosh tasks`.
  See [Advanced Troubleshooting with the BOSH CLI](https://docs.pivotal.io/pivotalcf/customizing/trouble-advanced.html) for more information.

1. Configure external access to the cluster's master node using either a DNS record or an external load balancer.
Use the output from the `pks cluster` command to locate the master node IP address and port.

1. To access your cluster, run `pks get-credentials CLUSTER-NAME`.
This command creates a local `kubeconfig` that allows you to manage the cluster.
See [Retrieve Cluster Credentials and Configuration](cluster-credentials.html) for more information.

1. Run `kubectl cluster-info` to confirm you can access your cluster using the Kubernetes CLI.

See [Managing PKS](managing.html) for information about checking cluster health and viewing cluster logs.
