---
title: Deleting PKS
owner: PKS
---

This topic explains how to delete the <%= vars.product_tile %> tile.

## <a id="delete"></a>Delete the PKS Tile

To delete the PKS tile, perform the following steps:

1. Navigate to the Ops Manager Installation Dashboard.

1. Click the trash can icon on the PKS tile.

1. Click **Confirm**.

1. Click **Review Pending Changes**.

1. (Optional) By default, deleting the PKS tile also deletes all the clusters
created by PKS. To preserve the clusters, click **Errands** and deselect the
**Delete all clusters** errand.

1. Click **Apply Changes**.
