---
title: Deleting PKS
owner: PKS
---

To delete the Pivotal Container Service (PKS) tile, perform the steps in the section below that corresponds to the version of Ops Manager in your deployment.

## <a id="v2-2"></a>Ops Manager v2.2

1. Navigate to the Ops Manager Installation Dashboard.

1. Click the trash can icon on the PKS tile.

1. Click **Confirm**.

1. (Optional) By default, deleting the PKS tile also deletes all the clusters
created by PKS. To preserve the clusters, click the **Delete all clusters**
errand under **Pending Changes** and select **Off**.

1. Click **Apply Changes**.

## <a id="v2-3"></a>Ops Manager v2.3

1. Navigate to the Ops Manager Installation Dashboard.

1. Click the trash can icon on the PKS tile.

1. Click **Confirm**.

1. Click **Review Pending Changes**.

1. (Optional) By default, deleting the PKS tile also deletes all the clusters
created by PKS. To preserve the clusters, click **Errands** and deselect the
**Delete all clusters** errand.

1. Click **Apply Changes**.
