---
title: Disabling the DenyEscalatingExec Admission Plugin
owner: PKS
---

<%= vars.vmware_attribution %>

<strong><%= modified_date %></strong>

This section describes how and when to disable the DenyEscalatingExec admission controller for <%= vars.product_full %> clusters. 

##<a id='about-deny-esc-exe'></a> About the DenyEscalatingExec Admission Plugin

The DenyEscalatingExec admission controller denies the "exec" and "attach" commands to pods that run with escalated privileges that allow host access. This includes pods that run as privileged, have access to the host Interprocess Communication (IPC) namespace, and have access to the host PID namespace. 

See [DenyEscalatingExec](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#denyescalatingexec) in the Kubernetes documentation for more information.

<p class="note"><strong>Note</strong>: The DenyEscalatingExec admission plugin is deprecated and is scheduled to be removed in a future Kubernetes release.</p>

##<a id='when-sec-context-deny'></a> When to Disable the DenyEscalatingExec Admission Plugin

The DenyEscalatingExec admission controller is enabled by default with Kubernetes to provide some level of security when privileged containers are enabled. The **Disable DenyEscalatingExec** feature in PKS lets you disable the DenyEscalatingExec admission controller. You should enable (check) the **Disble DenyEscalatingExec** admission plugin with caution.

Rather than disabling the DenyEscalatingExec admission controller, the recommended approach is to use PodSecurityPolicy or a custom admission plugin that protects against the creation of overly privileged pods and can be targeted at specific users or namespaces. For more information, see [Pod Security Policy](http://docs-pcf-staging.cfapps.io/runtimes/pks/1-4/pod-security-policy.html).

##<a id='impact-sec-context-deny'></a> Impact of Disabling the DenyEscalatingExec Admission Controller

If checked (enabled), the DenyEscalatingExec admission controller will be disabled. Clusters in this plan can then create security vulnerabilities. By selecting the checkbox you are making Kubernetes clusters deployed with this plan insecure.

##<a id='enable-deny-esc-exe'></a> Enabling the DenyEscalatingExec Admission Plugin

To enable the **Disable DenyEscalatingExec** admission plugin, complete the following steps:

1. In the PKS tile, select the desired Plan, such as Plan 1.
1. At the bottom of the configuration panel, select the **DenyEscalatingExec** option.
	<img src="images/psp-denyescexe.png" alt="Enabling SecurityContextDeny" width="325">
1. Click **Save**.
1. At the Installation Dashboard, click **Review Pending Changes**.
1. For Enterprise PKS, verify that the "Upgrade all clusters errand" is selected.
1. Click **Apply Changes** to deploy Enterprise PKS.
