---
title: Deploying Workloads
owner: TKGI
---

The topics below describe how to deploy workloads to Kubernetes clusters provisioned by VMware Tanzu Kubernetes Grid Integrated Edition (TKGI):  

<ul>
  <li>
    <a href="deploy-workloads.html">Deploying and Exposing Basic Linux Workloads</a>
  </li>
  <li>
    <a href="deploy-windows-workloads.html">Deploying and Exposing Basic Windows Workloads</a>
  </li>
  <li>
    <a href="custom-workloads.html">Adding Custom Linux Workloads</a>
  </li>
  <li>
    <a href="helm.html">Using Helm with Tanzu Kubernetes Grid Integrated Edition</a>
  </li>
</ul>
