---
title: Deploying Workloads
owner: TKGI
---

This section describes how to deploy workloads to Kubernetes clusters provisioned by <%= vars.product_full %>.

See the following topics:

<ul>
  <li>
    <a href="deploy-workloads.html">Deploying and Exposing Basic Linux Workloads</a>
  </li>
  <li>
    <a href="deploy-windows-workloads.html">Deploying and Exposing Basic Windows Workloads</a>
  </li>
  <li>
    <a href="custom-workloads.html">Adding Custom Linux Workloads</a>
  </li>
  <li>
    <a href="helm.html">Using Helm with <%= vars.product_short %></a>
  </li>
</ul>
