---
title: Diagnostic Tools
owner: Ops Manager
---

##<a id='pks-cli'></a>Verify PKS CLI Version

The Pivotal Container Service (PKS) CLI interacts with the your PKS deployment through the PKS API endpoint. You create, manage, and delete Kubernetes clusters on your PKS deployment by entering commands in the PKS CLI. The PKS CLI is under active development and commands may change between versions.

Run `pks --version` to determine the version of PKS CLI installed locally. For example:

<pre class="terminal">
$ pks --version
PKS CLI version: 1.0.0-build.3
</pre>

##<a id='bosh-pks-map'></a>View Log Files

Log files contain error messages and other information you can use to diagnose issues with your PKS deployment. Follow the steps below to access PKS log files.

1. Gather credential and IP address information for your BOSH Director, SSH into the Ops Manager VM, and use BOSH CLI v2+ to log in to the BOSH Director from the Ops Manager VM.
For more information, see [Advanced Troubleshooting with the BOSH CLI](https://docs.pivotal.io/pivotalcf/customizing/trouble-advanced.html).

1. After logging in to the BOSH Director, identify the name of your PKS deployment. For example:
  <pre class="terminal">$ bosh -e pks deployments</pre>
  Your PKS deployment name begins with `pivotal-container-service` and includes a BOSH-generated hash.

1. On a command line, run `bosh -e pks -d YOUR-DEPLOYMENT-NAME vms` to list the virtual machines (VMs) in your PKS deployment. For example:
  <pre class="terminal">$ bosh -e pks -d pivotal-container-service-aa1234567bc8de9f0a1c vms</pre>

1. Run `bosh -e pks -d YOUR-DEPLOYMENT-NAME ssh VM-NAME/GUID` to ssh into a PKS VM. 
    * To access logs on the master VM, replace `VM-NAME/GUID` with the name of the PKS master VM, and `GUID` with the GUID of the master VM. 
    * To access logs on a worker VM, replace `VM-NAME/GUID` with the name of a PKS worker VM, and `GUID` with the GUID of the same worker VM. 

1. Run `sudo su` to act as super user on the PKS VM.

1. Navigate to `/vars/vcap/sys/log` on the PKS VM:
  <pre class="terminal">
  $ cd /var/vcap/sys/log
  </pre>

1. Examine the following file:
  * On the PKS master VM, examine the `kubernetes-api` log file.
  * On a PKS worker VM, examine the `kubelet` log file.
