---
title: Google Cloud Platform (GCP)
owner: Ops Manager
iaas: GCP
---

This topic lists the steps to follow when  preparing GCP for deploying Pivotal Container Service (PKS) and installing the PKS tile on Ops Manager.

## Installing PKS

To install PKS, follow the instructions below:

<ul>
  <li>
    <a href="./gcp-requirements.html">Prerequisites and Resource Requirements</a>
  </li>
  <li>
    <a href="./gcp-prepare-env.html">Preparing GCP Before Deploying PKS</a>
  </li>
  <li>
    <a href="./gcp-om-deploy.html">Deploying Ops Manager on GCP</a>
  </li>
  <li>
    <a href="./gcp-om-config.html">Configuring Ops Manager on GCP</a>
  </li>
  <li>
    <a href="./gcp-api-load-balancer.html">Configuring a GCP Load Balancer for the PKS API</a>
  </li>
  <li>
    <a href="installing-pks.html">Installing PKS on GCP</a>
  </li>
</ul>

## Installing the PKS and Kubernetes CLIs

The PKS and Kubernetes CLIs help you interact with your PKS-provisioned Kubernetes clusters and Kubernetes workloads. To install the CLIs, follow the instructions below:

<ul>
  <li>
    <a href="installing-pks-cli.html">Installing the PKS CLI</a>
  </li>
  <li>
    <a href="installing-kubectl-cli.html">Installing the Kubernetes CLI</a>
  </li>
</ul>