---
title: Installing Tanzu Kubernetes Grid Integrated Edition on Google Cloud Platform (GCP)
owner: TKGI
iaas: GCP
---

The topics below describe the procedures to follow to install VMware Tanzu Kubernetes Grid Integrated Edition (TKGI) on Google Cloud Platform (GCP).  

<p class="note"><strong>Note:</strong> Support for GCP is deprecated and will be entirely removed in TKGI v1.19.</p>

<br>
<br>
## <a id='install-gcp'></a> Install Tanzu Kubernetes Grid Integrated Edition on GCP

To install TKGI on GCP, follow the instructions below:

<ul>
  <li>
    <a href="gcp-requirements.html">Prerequisites and Resource Requirements</a>
  </li>
  <li>
    <a href="gcp-om-install-config.html">Installing and Configuring Ops Manager on GCP</a>
  </li>
  <li>
    <a href="gcp-service-accounts.html">Creating Service Accounts in GCP for Tanzu Kubernetes Grid Integrated Edition</a>
  </li>
  <li>
    <a href="gcp-api-load-balancer.html">Creating a GCP Load Balancer for the TKGI API</a>
  </li>
  <li>
    <a href="installing-gcp.html">Installing Tanzu Kubernetes Grid Integrated Edition on GCP</a>
  </li>
  <li>
    <a href="gcp-configure-users.html">Setting Up Tanzu Kubernetes Grid Integrated Edition Admin Users on GCP</a>
  </li>
</ul>

<br>
<br>
## <a id='install-w-k8s-cli'></a> Install the TKGI and Kubernetes CLIs

The TKGI CLI and Kubernetes CLI help you interact with your TKGI-provisioned Kubernetes clusters and Kubernetes workloads.

To install the CLIs, follow the instructions below:

<ul>
  <li>
    <a href="installing-cli.html">Installing the TKGI CLI</a>
  </li>
  <li>
    <a href="installing-kubectl-cli.html">Installing the Kubernetes CLI</a>
  </li>
</ul>
