---
title: Creating Service Accounts in GCP for Enterprise PKS
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This topic describes the steps required to create service accounts for <%= vars.product_full %> on Google Cloud Platform (GCP).

In order for Kubernetes to create load balancers and attach persistent disks to pods, you must create service accounts with sufficient permissions.

You need separate service accounts for Kubernetes cluster master and worker node VMs.
<%= vars.vm_credentials %>

## <a id='create-master'></a>Create the Master Node Service Account

1. From the GCP Console, select **IAM & admin > Service accounts**.
1. Click **Create Service Account**.
1. Enter a name for the service account, and add the following roles:
  * **Compute Engine**
      * **Compute Instance Admin (v1)**
      * **Compute Network Admin**
      * **Compute Security Admin**
      * **Compute Storage Admin**
      * **Compute Viewer**
  * **Service Accounts**
      * **Service Account User**
1. Click **Create**.

## <a id='create-worker'></a>Create the Worker Node Service Account

1. From the GCP Console, select **IAM & admin > Service accounts**.
1. Click **Create Service Account**.
1. Enter a name for the service account, and add the **Compute Engine > Compute Viewer** role.
1. Click **Create**.

## <a id="next-steps"></a>Next Installation Step

To create a load balancer in GCP, follow the instructions in
[Creating a GCP Load Balancer for the PKS API](./gcp-api-load-balancer.html).