---
title: Google Cloud Platform (GCP)
owner: PKS
iaas: GCP
---

This topic lists the steps to follow when installing Pivotal Container Service (PKS) on Google Cloud Platform (GCP).

See the following topics:

<ul>
  <li>
    <a href="./gcp-requirements.html">GCP Prerequisites and Resource Requirements</a>
  </li>
  <li>
    <a href="installing-pks-gcp.html">Installing PKS on GCP</a>
  </li>
</ul>

## Installing the PKS and Kubernetes CLIs

The PKS and Kubernetes CLIs help you interact with your PKS-provisioned Kubernetes clusters and Kubernetes workloads. To install the CLIs, follow the instructions below:

<ul>
  <li>
    <a href="installing-pks-cli.html">Installing the PKS CLI</a>
  </li>
  <li>
    <a href="installing-kubectl-cli.html">Installing the Kubernetes CLI</a>
  </li>
</ul>
