---
title: GCP Prerequisites and Resource Requirements
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes the prerequisites and resource requirements for installing Pivotal Container Service (PKS) on Google Cloud Platform (GCP).

##<a id='resources'></a> Resource Requirements

Installing PKS deploys the following two virtual machines (VMs):

<table>
  <tr>
    <th>VM</th>
    <th>CPU</th>
    <th>RAM</th>
    <th>Storage</th>
  </tr>
  <tr>
    <td>Pivotal Container Service</td>
    <td>1</td>
    <td>4 GB</td>
    <td>20 GB</td>
  </tr>
  <tr>
    <td>Pivotal Ops Manager</td>
    <td>1</td>
    <td>8 GB</td>
    <td>160 GB</td>
  </tr>
</table>

Each Kubernetes cluster provisioned through PKS deploys the VMs listed below. If you deploy more than one Kubernetes cluster, you must scale your allocated resources appropriately.

<table>
  <tr>
    <th>VM Name</th>
    <th>Number</th>
    <th>CPU Cores</th>
    <th>RAM</th>
    <th>Ephemeral Disk</th>
    <th>Persistent Disk</th>
  </tr>
  <tr>
    <td>master</td>
    <td>1</td>
    <td>2</td>
    <td>4 GB</td>
    <td>8 GB</td>
    <td>5 GB</td>
  </tr>
  <tr>
    <td>worker</td>
    <td>1</td>
    <td>2</td>
    <td>4 GB</td>
    <td>8 GB</td>
    <td>10 GB</td>
  </tr>
</table>

##<a id='installing'></a> Installing PKS on GCP

To install PKS on GCP, follow the procedures below:

1. [Preparing to Deploy PKS on GCP](gcp-prepare-env.html)
1. [Deploying Ops Manager to GCP](gcp-om-deploy.html)
1. [Configuring Ops Manager on GCP](gcp-om-config.html)
1. [Installing and Configuring PKS](installing-pks.html)
