---
title: GCP Prerequisites and Resource Requirements
owner: TKGI
---

This topic describes the prerequisites and resource requirements for installing VMware Tanzu Operations Manager (Ops Manager) and VMware Tanzu Kubernetes Grid Integrated Edition (TKGI) on Google Cloud Platform (GCP).  

<p class="note"><strong>Note:</strong> Support for GCP is deprecated and will be entirely removed in TKGI v1.19.</p>

<br>
<br>
## <a id='prerequisites'></a> Prerequisites

You can install Tanzu Kubernetes Grid Integrated Edition on GCP manually.

Complete the following before deploying TKGI:

1. Review [Resource Requirements](#resources) below.
1. Install and configure Ops Manager. To install and configure Ops Manager,
follow the instructions in [Installing and Configuring Ops Manager on GCP](gcp-om-install-config.html).
1. Create service accounts for Kubernetes control plane and worker nodes.
To create the service accounts,
follow the instructions in [Creating Service Accounts in GCP for Tanzu Kubernetes Grid Integrated Edition](gcp-service-accounts.html).
  <p class="note"><strong>Note:</strong> Perform this step after you install and configure Ops Manager.</p>
1. Create a load balancer to access the TKGI API from outside the network
and run `tkgi` commands from your local workstation. To create a load balancer in GCP, follow the instructions in
[Creating a GCP Load Balancer for the TKGI API](./gcp-api-load-balancer.html).
    <p class="note"><strong>Note:</strong> Perform this step before you install TKGI.
    After you install TKGI, you must complete the load balancer configuration.
    To complete the load balancer configuration,
    do the procedure in [Create a Network Tag for the Firewall Rule](./gcp-api-load-balancer.html#tag).</p>

<br>
<br>
## <a id='resources'></a> Resource Requirements

Installing Ops Manager and TKGI requires the following virtual machines (VMs):

<table>
  <tr>
    <th>VM</th>
    <th>CPU</th>
    <th>Memory (GB)</th>
    <th>Ephemeral Disk (GB)</th>
  </tr>
  <tr>
    <td>BOSH Director</td>
    <td>2</td>
    <td>8</td>
    <td>16</td>
  </tr>  
  <tr>
    <td>Ops Manager</td>
    <td>1</td>
    <td>8</td>
    <td>160</td>
  </tr>
  <tr>
    <td>TKGI API</td>
    <td>2</td>
    <td>8</td>
    <td>64</td>
  </tr>
  <tr>
    <td>TKGI Database</td>
    <td>2</td>
    <td>8</td>
    <td>64</td>
  </tr>
</table>

<p class="note"><strong>NOTE:</strong> VMware recommends deploying TKGI on its own dedicated Ops Manager instance, rather than on a shared Ops Manager that also hosts other runtimes such as Tanzu Application Service.</p>

<%= partial '_increase_persistent_disk' %>

<br>
### <a id='k8s-resources'></a> Kubernetes Cluster Resources </h3>

Each Kubernetes cluster provisioned through TKGI deploys the VMs listed below.

If you deploy more than one Kubernetes cluster, you must scale your allocated resources appropriately.

<table>
  <tr>
    <th>VM</th>
    <th>VM&nbsp;Count</th>
    <th>CPU Cores</th>
    <th>Memory (GB)</th>
    <th>Ephemeral Disk (GB)</th>
    <th>Persistent Disk (GB)</th>
  </tr>
  <tr>
    <td>Control Plane</td>
    <td>1</td>
    <td>2</td>
    <td>4</td>
    <td>32</td>
    <td>5</td>
  </tr>
  <tr>
    <td>Worker</td>
    <td>1</td>
    <td>2</td>
    <td>4</td>
    <td>32</td>
    <td>50</td>
  </tr>
</table>
