---
title: Installing PKS on GCP
owner: Ops Manager
iaas: GCP
---

This topic outlines the steps for installing Pivotal Container Service (PKS) on GCP. See the following sections: 

<ul>
  <li>
    <a href="/runtimes/pks/1-0/gcp-requirements.html">GCP Prerequisites and Resource Requirements</a>
  </li>
  <li>
    <a href="/runtimes/pks/1-0/gcp-prepare-env.html">Preparing to Deploy PKS on GCP</a>
  </li>
  <li>
    <a href="/runtimes/pks/1-0/gcp-om-deploy.html">Deploying Ops Manager to GCP</a>
  </li>
  <li>
    <a href="/runtimes/pks/1-0/gcp-om-config.html">Configuring Ops Manager on GCP</a>
  </li>
  <li>
    <a href="/runtimes/pks/1-0/installing-pks-gcp.html">Installing and Configuring PKS on GCP</a>
  </li>
</ul>