---
title: Generating and Registering the NSX Manager Certificate for PKS
owner: PKS
---

This topic describes how to generate and register the NSX Manager certificate authority (CA) certificate in preparation for installing Pivotal Container Service (PKS) on vSphere with NSX-T.

##<a id='prerequisites'></a>Prerequisites

Before you begin this procedure, ensure that you have successfully completed all preceding steps for installing PKS on vSphere with NSX-T, including:

<ul>
  <li>
    <a href="./nsxt-deploy.html">Deploy NSX-T for PKS</a>
  </li>
  <li>
    <a href="./nsxt-prepare-mgmt-plane.html">Create PKS Management Plane</a>
  </li>
  <li>
    <a href="./nsxt-prepare-compute-plane.html">Create PKS Compute Plane</a>
  </li>
  <li>
    <a href="./vsphere-nsxt-om-deploy.html">Deploy Ops Manager with NSX-T for PKS</a>
  </li>
</ul>

##<a id='certificates-nsx-mgr'></a> About the NSX Manager CA Certificate

The NSX Manager CA certificate is used to authenticate with the NSX Manager. You create an IP-based, self-signed certificate and register it with the NSX Manager. During PKS installation on vSphere with NSX-T, you provide this certificate in the **NSX Manager CA Cert** field in the **Networking** pane in the PKS tile.

See the **NSX Manager CA Cert** field in the following screenshot:

<img src="images/nsxt/nsx-ca-cert.png" alt="NSX Manager CA certificate configuration" width="575">

For configuration information, see the [Networking](installing-nsx-t.html#networking) section of _Installing PKS on vSphere with NSX-T_.

By default, the NSX Manager includes a self-signed API certificate with its hostname as the subject and issuer. Ops Manager requires strict certificate validation and expects the subject and issuer of the self-signed certificate to be either the IP address or fully qualified domain name (FQDN) of the NSX Manager. As a result, you need to regenerate the self-signed certificate using the FQDN of the NSX Manager in the subject and issuer field and then register the certificate with the NSX Manager using the NSX API.

The **Disable SSL certificate verification** option lets you disable validation of the NSX Manager CA certificate. Select this option for testing purposes only.

<p class="note"><strong>Note</strong>: The <strong>NSX Manager CA Cert</strong> field and the <strong>Disable SSL certificate verification</strong> option are intended to be mutually exclusive. If you disable SSL certificate verification, leave the CA certificate field blank. If you enter a certificate in the <strong>NSX Manager CA Cert</strong> field, do not disable SSL certificate verification. If you populate the certificate field and disable certificate validation, insecure mode takes precedence.</p>

##<a id='generate-self-signed-certificate'></a> Step 1: Generate a Self-Signed CA Certificate for the NSX Manager

Complete the following steps to generate a self-signed CA certificate for the NSX Manager:

1. Create a file for the certificate request parameters named `nsx-cert.cnf`.

1. Copy the following parameters and paste them into the file, replacing `NSX-MANAGER-IP-ADDRESS` with the IP address of your NSX Manager, and `NSX-MANAGER-COMMONNAME` with the FQDN of the NSX Manager host:

    ```
    [ req ]
    default_bits = 2048
    distinguished_name = req_distinguished_name
    req_extensions = req_ext
    prompt = no
    [ req_distinguished_name ]
    countryName = US
    stateOrProvinceName = California
    localityName = CA
    organizationName = NSX
    commonName = NSX-MANAGER-COMMONNAME
    [ req_ext ]
    subjectAltName = @alt_names
    [alt_names]
    DNS.1 = NSX-MANAGER-COMMONNAME,NSX-MANAGER-IP-ADDRESS
    ```

    For example:

    <pre class="terminal">
    [ req ]
    default_bits = 2048
    distinguished_name = req_distinguished_name
    req_extensions = req_ext
    prompt = no
    [ req_distinguished_name ]
    countryName = US
    stateOrProvinceName = California
    localityName = Palo-Alto
    organizationName = NSX
    commonName = nsxmgr-01a.example.com
    [ req_ext ]
    subjectAltName=DNS:nsxmgr-01a.example.com,IP:192.0.2.40
    </pre>

1. Export the `NSX_MANAGER_IP_ADDRESS` and `NSX_MANAGER_COMMONNAME` environment variables using the IP address of your NSX Manager and the FQDN of the NSX Manager host.<br><br>
For example:
  <pre class="terminal">
  $ export NSX\_MANAGER\_IP\_ADDRESS=192.0.2.40
  $ export NSX\_MANAGER\_COMMONNAME=nsxmgr-01a.example.com
  </pre>

1. Generate the certificate using openssl. Run the following command:
    <pre class="terminal">
    $ openssl req -newkey rsa:2048 -x509 -nodes \
    -keyout nsx.key -new -out nsx.crt -subj /CN=$NSX\_MANAGER\_COMMONNAME \
    -reqexts SAN -extensions SAN -config <(cat ./nsx-cert.cnf \
     <(printf "[SAN]\nsubjectAltName=DNS:$NSX\_MANAGER\_COMMONNAME,IP:$NSX\_MANAGER\_IP\_ADDRESS")) -sha256 -days 365
    </pre>

1. Verify that the certificate looks correct and that the NSX manager IP is in the Subject Alternative Name (SAN) by running the following command:

    <pre class="terminal">
    $ openssl x509 -in nsx.crt -text -noout
    </pre>

##<a id='import-certificate'></a> Step 2: Import the Certificate to NSX Manager

In this section you import the self-signed CA certificate you generated in the previous step to the NSX Manager.

Complete the following steps to import the certificate to the NSX Manager:

1. Log in to the NSX Manager UI.

1. Navigate to **System > Trust > Certificates**.

1. Click **Import > Import Certificate**.

	<img src="images/nsxt/import-cert.png" alt="Import the NSX Manager CA certificate to the NSX Manager" width="475">
    <p class="note"><strong>Note</strong>: Make sure you select **Import Certificate** and not **Import CA Certificate**</code>.</p>

1. Give the certificate a unique name, such as `NSX-API-CERT-NEW`.
  <p class="note"><strong>Note</strong>: Use a unique name for the new certificate you import. The default NSX Manager CA certificate is typically named <code>NSX-API-CERT</code>.</p>

1. Browse to and select the CA certificate and private key you generated in the previous section of steps.
  <p class="note"><strong>Note</strong>: If you are using NSX-T 2.4.0.1 and have deployed multiple NSX Managers,
  set the <strong>Service Certificate</strong> option to <strong>No</strong> because you are using the certificate with NSX Manager appliance nodes.
  See the <a href="https://docs.pivotal.io/pks/1-4/generate-nsx-ca-cert.html#import-certificate">PKS 1.4 documentation</a>.</p>

1. Click **Save**.

 	<img src="images/nsxt/import-cert-2.png" alt="Import the NSX Manager CA certificate to the NSX Manager" width="475"> 

##<a id='register-certificate'></a> Step 3: Register the Certificate with NSX Manager

The last step is to register the imported certificate with the NSX Manager. You must use the NSX API to register the certificate.

Complete the following steps to register the certificate with the NSX Manager:

1. To retrieve the certificate ID, run the following commands:

    ```
    export NSX_MANAGER_IP_ADDRESS=NSX-MANAGER-IP-ADDRESS
    curl --insecure -u admin:'ADMIN-PASSWORD' -X \
    GET "https://$NSX_MANAGER_IP_ADDRESS/api/v1/trust-management/certificates" \
    | jq -r '.results[] | select(.display_name == "CERTIFICATE-NAME") | .id'
    ```

    Where:
    * `NSX-MANAGER-IP-ADDRESS` is the NSX Manager IP address as determined in [Step 1: Generate a Self-Signed CA Certificate for the NSX Manager](#generate-self-signed-certificate).
    * `ADMIN-PASSWORD` is the administrator password.
    * `CERTIFICATE-NAME` is the certificate name.

1. To register the certificate with NSX Manager, run the following commands:

    ```
    export NSX_MANAGER_IP_ADDRESS=NSX-MANAGER-IP-ADDRESS
    export CERTIFICATE_ID="CERTIFICATE-ID" curl --insecure -u admin:'ADMIN-PASSWORD' -X \
    POST "https://$NSX_MANAGER_IP_ADDRESS/api/v1/node/services/http?action=apply_certificate&certificate_id=$CERTIFICATE_ID"
    ```

    Where:
    * `NSX-MANAGER-IP-ADDRESS` is the NSX Manager IP address as determined in [Step 1: Generate a Self-Signed CA Certificate for the NSX Manager](#generate-self-signed-certificate).
    * `CERTIFICATE-ID` is the retrieved certificate ID.
    * `ADMIN-PASSWORD` is the administrator password.

##<a id='next'></a> Next Step

<a href="./vsphere-nsxt-om-config.html">Configure BOSH Director with NSX-T for PKS</a>.
