---
title: VMware Tanzu Kubernetes Grid Integrated Edition
owner: TKGI
---

VMware Tanzu Kubernetes Grid Integrated Edition (TKGI) enables operators to provision, operate, and manage enterprise-grade Kubernetes clusters using BOSH and Ops Manager.

<br>
<br>
## <a id='overview'></a>Overview

Tanzu Kubernetes Grid Integrated Edition deploys Kubernetes to [BOSH](https://bosh.io) and [Ops Manager](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/index.html),
and uses the [On-Demand Broker](https://docs.vmware.com/en/On-Demand-Services-SDK-for-VMware-Tanzu/index.html) to dynamically
instantiate, deploy, and manage highly-available Kubernetes clusters on-premises or on a public cloud.

After operators install TKGI,
developers can use the TKGI Command Line Interface (TKGI CLI) to provision Kubernetes clusters,
and run container-based workloads on the clusters with the Kubernetes CLI, [kubectl](installing-kubectl-cli.html).

Operators install TKGI as a tile on the Ops Manager Installation Dashboard,
or from the TKGI Management Console on vSphere.

You can run TKGI standalone or alongside <%= vars.app_runtime_full %>
on Ops Manager.

##<a id='tkgi-kubernetes'></a> What Tanzu Kubernetes Grid Integrated Edition Adds to Kubernetes

The following table details the features that Tanzu Kubernetes Grid Integrated Edition adds to the Kubernetes platform.

<table>
  <tr>
    <th>Feature</th>
    <th>Included in K8s</th>
    <th>Included in Tanzu Kubernetes Grid Integrated Edition</th>
  </tr>
  <tr>
    <td>Single tenant ingress</td>
    <td align="center">&check;</td>
    <td align="center">&check;</td>
  </tr>
  <tr>
    <td>Secure multi-tenant ingress</td>
    <td></td>
    <td align="center">&check;</td>
  </tr>
  <tr>
    <td>Stateful sets of pods</td>
    <td align="center">&check;</td>
    <td align="center">&check;</td>
  </tr>
  <tr>
    <td>Multi-container pods</td>
    <td align="center">&check;</td>
    <td align="center">&check;</td>
  </tr>
  <tr>
    <td>Rolling upgrades to pods</td>
    <td align="center">&check;</td>
    <td align="center">&check;</td>
  </tr>
  <tr>
    <td>Rolling upgrades to cluster infrastructure</td>
    <td></td>
    <td align="center">&check;</td>
  </tr>
  <tr>
    <td>Pod scaling and high availability</td>
    <td align="center">&check;</td>
    <td align="center">&check;</td>
  </tr>
  <tr>
    <td>Cluster provisioning and scaling</td>
    <td></td>
    <td align="center">&check;</td>
  </tr>
  <tr>
    <td>Monitoring and recovery of cluster VMs and processes</td>
    <td></td>
    <td align="center">&check;</td>
  </tr>
  <tr>
    <td>Persistent disks</td>
    <td align="center">&check;</td>
    <td align="center">&check;</td>
  </tr>
  <tr>
    <td>Secure container registry</td>
    <td></td>
    <td align="center">&check;</td>
  </tr>
  <tr>
    <td>Embedded, hardened operating system</td>
    <td></td>
    <td align="center">&check;</td>
  </tr>
</table>

<br>
<br>
## <a id='features'></a>Features

Tanzu Kubernetes Grid Integrated Edition has the following features:

* **Kubernetes compatibility**: Constant compatibility with current stable release of Kubernetes

* **Production-ready**: Highly available from applications to infrastructure, with no single points of failure

* **BOSH advantages**: Built-in health checks, scaling, auto-healing and rolling upgrades

* **Fully automated operations**: Fully automated deploy, scale, patch, and upgrade experience

* **Multi-cloud**: Consistent operational experience across multiple clouds

<br>
<br>
## <a id='prerequisites'></a> Tanzu Kubernetes Grid Integrated Edition Prerequisites

For information about the resource requirements for installing Tanzu Kubernetes Grid Integrated Edition, see the topic that corresponds to your cloud provider:

* [vSphere Prerequisites and Resource Requirements](vsphere-requirements.html)
* [vSphere with NSX Version Requirements](vsphere-nsxt-requirements.html) and [Hardware Requirements for Tanzu Kubernetes Grid Integrated Edition on vSphere with NSX](vsphere-nsxt-rpd-mpd.html)
* [AWS Prerequisites and Resource Requirements](aws-requirements.html)
* [Azure Prerequisites and Resource Requirements](azure-requirements.html)
