---
title: Pivotal Container Service (PKS)
owner: PKS
---

Pivotal Container Service (PKS) enables operators to provision, operate, and manage enterprise-grade Kubernetes clusters on Pivotal Cloud Foundry (PCF).

## <a id='overview'></a>Overview

PKS uses the [On-Demand Broker](https://docs.pivotal.io/svc-sdk/odb/index.html) to deploy [Cloud Foundry Container Runtime](https://docs-kubo.cfapps.io/), a BOSH release that offers a uniform way to instantiate, deploy, and manage highly available Kubernetes clusters on a cloud platform using BOSH.

After operators install the PKS tile on the Ops Manager Installation Dashboard, developers can provision Kubernetes clusters using the PKS Command Line Interface (PKS CLI), and run container-based workloads on the clusters with the Kubernetes CLI, [kubectl](installing-kubectl-cli.html).

PKS is available as part of [Pivotal Cloud Foundry](https://docs.pivotal.io) or as a stand-alone product.

## <a id='features'></a>Features

PKS has the following features:

* **Kubernetes Compatibility**: Constant compatibility with current stable release of Kubernetes

* **Production-ready**: Highly available from applications to infrastructure, with no single points of failure

* **BOSH advantages**: Built-in health checks, scaling, auto-healing and rolling upgrades

* **Fully automated operations**: Fully automated deploy, scale, patch, and upgrade experience

* **Multi-cloud**: Consistent operational experience across multiple clouds

* **GCP APIs access**: The Google Cloud Platform (GCP) Service Broker gives applications access to the Google Cloud APIs, and Google Container Engine (GKE) consistency enables the transfer of workloads from or to GCP

##<a id='components'></a> PKS Components

The PKS control plane contains the following components:

* An [On-Demand Broker](https://docs.pivotal.io/svc-sdk/odb/) that deploys [Cloud Foundry Container Runtime](https://docs-kubo.cfapps.io) (CFCR), an open-source project that provides a solution for deploying and managing [Kubernetes](https://kubernetes.io/docs/home/) clusters using [BOSH](https://bosh.io/docs).
* A Service Adapter
* The PKS API

For more information about the PKS control plane, see [PKS Cluster Management](control-plane.html).

NSX-T and Harbor are optional integrations for vSphere.

The GCP Service Broker is under development.

For a detailed list of components and supported versions by a particular PKS release, see the [PKS Release Notes](release-notes.html).

##<a id='prerequisites'></a> PKS Prerequisites

See [PKS Prerequisites](prerequisites.html) for information about the requirements for installing PKS.

##<a id='preparing'></a> Preparing to Install PKS

To install PKS, you must deploy Ops Manager v2.0 or v2.1.
You use Ops Manager to install and configure PKS.

If you are installing PKS to vSphere, you can also configure integration with NSX-T and Harbor.

Consult the following table for compatibility information:

<table>
<tr>
<th>IaaS</th>
<th>Ops Manager v2.0</th>
<th>NSX-T</th>
<th>Harbor</th>
</tr>
<tr>
<td>vSphere</td>
<td>Required</td>
<td>Available</td>
<td>Available</td>
</tr>
<td>GCP</td>
<td>Required</td>
<td>Not Available</td>
<td>Not Available</td>
</tr>
</table>

For information about preparing your environment before installing PKS, see the topic that corresponds to your cloud provider:

* [Preparing to Install PKS on vSphere](vsphere.html)
* [Preparing to Install PKS on GCP](gcp.html)

## <a id='installing'></a>Installing PKS

For information about installing PKS, see [Installing and Configuring PKS](installing-pks.html).

## <a id='managing'></a>Managing PKS

See [Managing PKS](managing.html) for information about configuring authentication, creating users, and managing your PKS deployment.

## <a id='using'></a>Using PKS

See [Using PKS](using.html) for information about using the PKS CLI to create and manage Kubernetes clusters.

## <a id='troubleshooting'></a>Diagnostics and Troubleshooting PKS

See [Diagnosing and Troubleshooting PKS](troubleshoot.html) for information about diagnosing and troubleshooting issues installing or using PKS.

