---
title: Installing the Kubernetes CLI
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to install the Kubernetes Command Line Interface (kubectl).

To install kubectl, follow the procedures for your operating system to download kubectl from [Pivotal Network](https://network.pivotal.io/products/pivotal-container-service). Binaries are only provided for 64-bit architectures.

##<a id='mac'></a> Mac OS X
<ol><li>Navigate to <a href="https://network.pivotal.io/">Pivotal Network</a> and log in.</li>
<li>Click <strong><%= vars.product_full %></strong>.</li>
<li>Click <strong>Kubectl CLIs</strong>.</li>
<li>Click <strong>kubectl CLI - Mac</strong> to download the kubectl binary.</li>
<li>Rename the downloaded binary to <code>kubectl</code>.</li>
<li>On the command line, run the following command to make the kubectl binary executable: 
  <pre class="terminal">$ chmod +x kubectl</pre></li>
<li>Move the binary into your <code>PATH</code>. For example:
  <pre class="terminal">$ mv kubectl /usr/local/bin/kubectl</pre></li>
</ol>

##<a id='linux'></a> Linux

<ol><li>Navigate to <a href="https://network.pivotal.io/">Pivotal Network</a> and log in.</li>
<li>Click <strong><%= vars.product_full %></strong>.</li>
<li>Click <strong>Kubectl CLIs</strong>.</li>
<li>Click <strong>kubectl CLI - Linux</strong> to download the kubectl binary.</li>
<li>Rename the downloaded binary to <code>kubectl</code>.</li>
<li>On the command line, run the following command to make the kubectl binary executable: 
  <pre class="terminal">$ chmod +x kubectl</pre></li>
<li>Move the binary into your <code>PATH</code>. For example:
  <pre class="terminal">$ mv kubectl /usr/local/bin/kubectl</pre></li>
</ol>

##<a id='windows'></a> Windows

<ol><li>Navigate to <a href="https://network.pivotal.io/">Pivotal Network</a> and log in.</li>
<li>Click <strong><%= vars.product_full %></strong>.</li>
<li>Click <strong>Kubectl CLIs</strong>.</li>
<li>Click <strong>kubectl CLI - Windows</strong> to download the kubectl executable file.</li>
<li>Rename the downloaded binary to <code>kubectl.exe</code>.</li>
<li>Move the binary into your <code>PATH</code>.</li>
</ol>
