---
title: Installing Enterprise PKS
owner: PKS
---

<strong><%= modified_date %></strong>

See the following sections for <%= vars.product_full %> installation instructions:

<ul>
  <li>
    <a href="vsphere-index.html">vSphere with Flannel</a>
  </li>
  <li>
    <a href="vsphere-nsxt-index.html">vSphere with NSX-T</a>
  </li>
  <li>
    <a href="gcp-index.html">GCP</a>
  </li>
  <li>
    <a href="aws-index.html">AWS</a>
  </li>
  <li>
    <a href="azure-index.html">Azure</a>
  </li>
</ul>

<p class="note"><strong>Note:</strong> <%= vars.product_short %> supports air-gapped deployments on vSphere with or without NSX-T integration.</p>
