---
title: Installing the PKS CLI
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to install the Pivotal Container Service Command Line Interface (PKS CLI).

<p class="note warning"><strong>WARNING</strong>: The PKS CLI is under active development and commands may change. To ensure you have installed the latest version, we recommend that you re-install the PKS CLI before you use it.</p>

To install the PKS CLI, follow the procedures for your operating system to download the PKS CLI from [Pivotal Network](https://network.pivotal.io/products/pivotal-container-service). Binaries are only provided for 64-bit architectures.

* [Install PKS CLI for Mac OS X](#mac)  
* [Install PKS CLI for Linux](#linux) 
* [Install PKS CLI for Windows](#windows)

##<a id="mac"></a> Install PKS CLI for Mac OS X

1. On the command line, run the following command to download the Mac OS X binary: 
  <pre class="terminal">$ curl -LO http<span>s:</span>//network.pivotal.io/api/v2/products/pivotal-container-service/releases/43085/product_files/75334/download</pre>
  
2. Run the following command to make the PKS binary executable: 
  <pre class="terminal">$ chmod +x pks</pre>

3. Move the binary into your `PATH`. For example:
  <pre class="terminal">$ mv pks /usr/local/bin/pks</pre>

##<a id="linux"></a> Install PKS CLI for Linux

1. On the command line, run the following command to download the Linux binary: 
  <pre class="terminal">$ curl -LO http<span>s:</span>//network.pivotal.io/api/v2/products/pivotal-container-service/releases/43085/product_files/75337/download</pre>
  
2. Run the following command to make the PKS binary executable: 
  <pre class="terminal">$ chmod +x pks</pre>

3. Move the binary into your `PATH`. For example:
  <pre class="terminal">$ mv pks /usr/local/bin/pks</pre>

##<a id="windows"></a> Install PKS CLI for Windows

1. On the command line, run the following command to download the Windows executable file: 
  <pre class="terminal">$ curl -LO http<span>s:</span>//network.pivotal.io/api/v2/products/pivotal-container-service/releases/43085/product_files/75343/download</pre>
  
3. Move the executable into your `PATH`. 
