---
title: Installing Tanzu Kubernetes Grid Integrated Edition
owner: TKGI
---

This topics below describe how to install and configure VMware Tanzu Kubernetes Grid Integrated Edition (TKGI).  


<br>
<br>
## <a id='overview'></a>Overview

You can install TKGI manually as a VMware Tanzu Operations Manager (Ops Manager) tile or use the Tanzu Kubernetes Grid Integrated Edition Management Console which provides a graphical user interface to assist with 
configuring and deploying TKGI to vSphere.  
 
To install and configure TKGI:  

* [Tanzu Kubernetes Grid Integrated Edition Management Console (vSphere Only)](#install-mc)  
* [Tanzu Kubernetes Grid Integrated Edition on Ops Manager](#install-manual)  

<br>
<br>
## <a id='install-mc'></a>TKGI Management Console (vSphere Only)

See the following documentation for the TKGI Management Console, which is the recommended method for installing TKGI on vSphere:

* [Install Tanzu Kubernetes Grid Integrated Edition on vSphere with the Management Console](./console-install-vsphere.html)

For more information, see [When Should I Use Tanzu Kubernetes Grid Integrated Edition Management Console?](./vsphere-index.html#when-to-use-console).

<br>
<br>
## <a id='install-manual'></a>TKGI on Ops Manager

To manually install TKGI on Ops Manager:

<ul>
  <li>
    <a href="vsphere-flannel.html">vSphere (Antrea and Flannel Networking)</a>
  </li>
  <li>
    <a href="vsphere-nsxt-index.html">vSphere (NSX Networking)</a>
  </li>
  <li>
    <a href="aws-index.html">Amazon Web Services (Antrea and Flannel Networking)</a>
  </li>
  <li>
    <a href="azure-index.html">Azure (Antrea and Flannel Networking)</a>
  </li>
</ul>

<p class="note"><strong>Note:</strong> Tanzu Kubernetes Grid Integrated Edition supports air-gapped deployments on vSphere with Antrea or Flannel Networking or with NSX integration.</p>
