---
title: Installing PKS
owner: PKS
---

<strong><%= modified_date %></strong>

You can install Pivotal Container Service (PKS) on Google Cloud Platform (GCP) or vSphere. For installation instructions, see the following:

<ul>
  <li>
    <a href="vsphere-index.html">vSphere</a>
  </li>
  <li>
    <a href="vsphere-nsxt-index.html">vSphere with NSX-T Integration</a>
  </li>
  <li>
    <a href="gcp-index.html">GCP</a>
  </li>
</ul>