---
title: Installing PKS Overview
owner: PKS
---

<p class="note"><strong>Note</strong>: The PKS documentation is under development. This topic will continue to be updated and expanded to reflect the most current information.</p>

This topic provides an overview of how to install Pivotal Container Service (PKS).

To install PKS, you must have a vSphere or Google Cloud Platform (GCP) environment with Ops Manager v2.0 deployed. If you are installing PKS on vSphere, you can also configure integration with NSX-T and Harbor. 

Consult the following table:

<table>
<tr>
<th>IaaS</th>
<th>Ops Manager v2.0</th>
<th>NSX-T</th>
<th>Harbor</th>
</tr>
<tr>
<td>vSphere</td>
<td>Required</td>
<td>Available</td>
<td>Available</td>
</tr>
<td>GCP</td>
<td>Required</td>
<td>Not Available</td>
<td>Not Available</td>
</tr>
</table>

<p class="note"><strong>Note</strong>: If you have Pivotal Application Service (PAS) installed, Pivotal recommends installing PKS on a separate instance of Ops Manager v2.0.</p>

##<a id='workflows'></a> Workflows

###<a id='vsphere'></a> vSphere

If you want to install PKS on vSphere <strong>with</strong> NSX-T integration, use the following workflow:

* Consult the requirements in the [PKS With NSX-T Integration](requirements.html#pks-with-nsx-t) section of <em>Prerequisites and Resource Requirements</em>
* Perform the procedures in [Installing and Configuring PKS with NSX-T Integration](installing-nsx-t.html) 

If you want to install PKS on vSphere <strong>without</strong> NSX-T integration, use the following workflow:

* Consult the requirements in the [PKS Without NSX-T Integration](requirements.html#pks-without-nsx-t) section of <em>Prerequisites and Resource Requirements</em> 
* Perform the procedures in [Installing and Configuring PKS](installing.html) 

If you want to use Harbor to store and manage container images, see the VMware Harbor Registry [documentation](https://docs.pivotal.io/partners/vmware-harbor).

###<a id='gcp'></a> GCP

If you want to install PKS on GCP, use the following workflow:

* Consult the requirements in the [PKS Without NSX-T Integration](requirements.html#pks-without-nsx-t) section of <em>Prerequisites and Resource Requirements</em> 
* Perform the procedures in [Installing and Configuring PKS](installing.html) 









