---
title: Installing the Kubernetes CLI
owner: TKGI
---

This topic describes how to install the Kubernetes Command Line Interface (kubectl).

<br>
<br>
## <a id="overview"></a>Overview

Kubernetes provides the kubectl command line tool for communicating with a Kubernetes cluster's control plane, using the Kubernetes API.  

For more information about kubectl, see [Command line tool (kubectl)](https://kubernetes.io/docs/reference/kubectl/) in the Kubernetes documentation.  

To download and install kubectl, complete the steps in [Install the Kubernetes CLI](#install) below.  

<p class="note"><strong>Note:</strong> Kubernetes CLI binaries are only provided for 64-bit architectures.</p>

<br>
<br>
## <a id="install"></a>Install the Kubernetes CLI

To download and install the Kubernetes CLI:  

1. Navigate to <a href="https://support.broadcom.com/">Broadcom Support</a> and log in.  
1. Click <strong><%= vars.product_full %></strong>.  
1. Click <strong>Kubectl CLIs</strong>.  
1. To download the <%= vars.k8s_runtime_abbr %> CLI for your operating system:  

    * **Mac OS X**: Click <strong>kubectl CLI - Mac</strong> to download the kubectl binary.  
    * **Linux**: Click <strong>kubectl CLI - Linux</strong> to download the kubectl binary.
    * **Windows**: Click <strong>kubectl CLI - Windows</strong> to download the kubectl executable file.
1. To install the Kubernetes CLI, follow the procedures for your operating system:  

    * [Mac OS X](#mac)  
    * [Linux](#linux)  
    * [Windows](#windows)  

<br>
### <a id='mac'></a> Mac OS X

To install the Kubernetes CLI on Mac OS X:  

<ol><li>Rename the downloaded binary to <code>kubectl</code>.</li>
<li>On the command line, run the following command to make the kubectl binary executable: 
  <code>$ chmod +x kubectl</code></li>
<li>Move the binary into your <code>PATH</code>. For example:
  <code>$ mv kubectl /usr/local/bin/kubectl</code></li>
</ol>

<br>
### <a id='linux'></a> Linux

To install the Kubernetes CLI on Linux:  

<ol><li>Rename the downloaded binary to <code>kubectl</code>.</li>
<li>On the command line, run the following command to make the kubectl binary executable: 
  <code>$ chmod +x kubectl</code></li>
<li>Move the binary into your <code>PATH</code>. For example:
  <code>$ mv kubectl /usr/local/bin/kubectl</code></li>
</ol>

<br>
### <a id='windows'></a> Windows

To install the Kubernetes CLI on Microsoft Windows:  

<ol><li>Rename the downloaded binary to <code>kubectl.exe</code>.</li>
<li>Move the binary into your <code>PATH</code>.</li>
</ol>
