---
title: Installing PKS
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to install and configure the Pivotal Container Service (PKS) tile. See the following topics:

<ul>
  <li>
    <a href="installing-pks.html">Installing and Configuring PKS</a>
  </li>
  <li>
    <a href="installing-nsx-t.html">Installing and Configuring PKS on vSphere with NSX-T Integration</a>
  </li>
</ul>
