---
title: Kubernetes Profiles
owner: TKGI
---

This section describes how to define and use Kubernetes profiles to customize Kubernetes settings for <%= vars.product_full %> clusters. 

See the following topics:

<ul>
  <li>
    <a href="./k8s-profiles.html">Using Kubernetes Profiles</a>
  </li>
  <li>
    <a href="./k8s-profiles-encrypt-etcd.html">Encrypt an etcd Database</a>
  </li>
<ul>
