---
title: Managing Tanzu Kubernetes Grid Integrated Edition
owner: TKGI
---

The following topics describe how to manage VMware Tanzu Kubernetes Grid Integrated Edition (TKGI):  

<ul>
  <li>
    <a href="console-monitor-manage.html">Monitor and Manage Tanzu Kubernetes Grid Integrated Edition in the Management Console</a>
  </li>
  <li>
    <a href="users-index.html">Managing Tanzu Kubernetes Grid Integrated Edition Users</a>
  </li>
  <li>
    <a href="resources-index.html">Managing Kubernetes Cluster Options</a>
  </li>
  <li>
    <a href="password-management.html">Adding Infrastructure Password Changes to the Tanzu Kubernetes Grid Integrated Edition Tile</a>
  </li>
  <li>
    <a href="rotate-tile-certificates.html">Rotating Tanzu Kubernetes Grid Integrated Edition Control Plane Certificates</a>
  </li>
  <li>
    <a href="shutdown-startup.html">Shutting Down and Restarting Tanzu Kubernetes Grid Integrated Edition</a>
  </li>
  <li>
    <a href="delete.html">Deleting Tanzu Kubernetes Grid Integrated Edition</a>
  </li>
</ul>
  
