---
title: Managing PKS
owner: PKS
---

<p class="note"><strong>Note</strong>: The PKS documentation is under development. This topic will continue to be updated and expanded to reflect the most current information.</p>

This topic describes how to manage Pivotal Container Service (PKS).

##<a id='add-users'></a> Add Users

After installing PKS, operators can give developers the ability to create and manage Kubernetes clusters with the PKS Command Line Interface (PKS CLI).

<p class="note"><strong>Note</strong>: This section is under development.</p>

##<a id='access-logs'></a> Access Cluster Logs

To access cluster logs, perform the following steps:

1. Gather credential and IP address information for your BOSH Director, SSH into the Ops Manager VM, and use the BOSH CLI v2 to log in to the BOSH Director from the Ops Manager VM. For more information, see [Advanced Troubleshooting with the BOSH CLI
](https://docs.pivotal.io/pivotalcf/customizing/trouble-advanced.html).
1. After logging in to the BOSH Director, identify the names of the VMs you want to retrieve logs from by listing all VMs in your deployment. For example:
	<pre class="terminal">$ bosh -e my-env -d my-dep vms</pre> 
1. Download the logs from the VM. For example:
	<pre class="terminal">$ bosh -e my-env -d my-dep logs pks/0</pre>
	See the [BOSH documentation](https://bosh.io/docs/job-logs.html) for more information.
	
##<a id='delete-errand'></a> Delete PKS

To delete PKS, perform the following steps:

1. Navigate to the Ops Manager Installation Dashboard.
1. Click the trash icon on the PKS tile.
1. Click **Confirm** in the dialog box that appears.
1. By default, deleting the PKS tile will also delete all the clusters created by PKS. To preserve the clusters, click the **Delete all clusters** errand under **Pending Changes** and select **Off**.
1. Click **Apply Changes**.