---
title: Managing PKS
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to manage Pivotal Container Service (PKS). See the following sections:

<ul>
  <li>
    <a href="/runtimes/pks/1-0/configure-api.html">Configure PKS API Access</a>
  </li>
  <li>
    <a href="/runtimes/pks/1-0/manage-users.html">Manage Users in UAA</a>
  </li>
  <li>
    <a href="/runtimes/pks/1-0/manage-deployments-bosh.html">Manage PKS Deployments with BOSH</a>
  </li>
  <li>
    <a href="/runtimes/pks/1-0/custom-workloads.html">Add Custom Workloads</a>
  </li>
  <li>
    <a href="/runtimes/pks/1-0/download-logs.html">Download Cluster Logs</a>
  </li>
  <li>
    <a href="/runtimes/pks/1-0/maintain-uptime.html">Maintain Workload Uptime</a>
  </li>
  <li>
    <a href="/runtimes/pks/1-0/upgrade-pks.html">Upgrade PKS</a>
  </li>
  <li>
    <a href="/runtimes/pks/1-0/upgrade-pipeline.html">Configure the Upgrade Pipeline</a>
  </li>
  <li>
    <a href="/runtimes/pks/1-0/delete.html">Delete PKS</a>
  </li>
</ul>
