---
title: Managing Clusters with the CLI
owner: TKGI
---

This section describes how to use the CLI to manage Kubernetes clusters in <%= vars.product_full %>.

See the following topics:

<ul>
  <li>
    <a href="login.html">Logging in to <%= vars.product_short %></a>
  </li>
  <li>
    <a href="create-cluster.html">Creating Clusters</a>
  </li>
  <li>
    <a href="k8s-profiles.html">Using Kubernetes Profiles</a>
  </li>
  <li>
    <a href="network-profiles.html">Using Network Profiles</a>
  </li>
  <li>
    <a href="view-cluster-list.html">Viewing Cluster Lists</a>
  </li>
  <li>
    <a href="view-cluster-details.html">Viewing Cluster Details</a>
  </li>
  <li>
    <a href="view-cluster-plans.html">Viewing Cluster Plans</a>
  </li>
  <li>
    <a href="scale-clusters.html">Scaling Existing Clusters</a>
  </li>
  <li>
    <a href="upgrade-clusters.html">Upgrading Clusters</a>
  </li>
  <li>
    <a href="rotate-cluster-certificates.html">Rotating Cluster Certificates</a>
  </li>
  <li>
    <a href="delete-cluster.html">Deleting Clusters</a>
  </li>
</ul>
