---
title: Defining and Using Compute Profiles and Host Groups (vSphere Only)
owner: PKS
---

<strong><%= modified_date %></strong>

This section describes how to use compute profiles and host groups for <%= vars.product_full %> clusters on vSphere. 

See the following topics:

<ul>
  <li>
    <a href="./compute-profiles.html">Using Compute Profiles</a>
  </li>
  <li>
    <a href="./vsphere-host-group.html">Using vSphere Host Groups with Enterprise PKS</a>
  </li>
<ul>
