---
title: Compute Profiles and Host Groups (vSphere Only)
owner: TKGI
---

This section describes how to use compute profiles and host groups for <%= vars.product_full %> clusters on vSphere. 

See the following topics:

<ul>
  <li>
    <a href="./compute-profiles-manage.html">Creating and Managing Compute Profiles with the CLI (vSphere)</a>
  </li>
  <li>
    <a href="./compute-profiles-use.html">Using Compute Profiles (vSphere)</a>
  </li>
  <li>
    <a href="./vsphere-host-group.html">Using vSphere Host Groups with <%= vars.product_short %></a>
  </li>
<ul>
