---
title: Compute Profiles and Host Groups (vSphere Only)
owner: TKGI
---

The following topics describe how to configure and apply compute profiles and host groups to VMware Tanzu Kubernetes Grid Integrated Edition (TKGI) clusters on vSphere:  

<ul>
  <li>
    <a href="./console-compute-profile.html">Creating and Managing Compute Profiles in the Management Console</a>
  </li>
  <li>
    <a href="./compute-profiles-manage.html">Creating and Managing Compute Profiles with the CLI (vSphere)</a>
  </li>
  <li>
    <a href="./compute-profiles-use.html">Using Compute Profiles (vSphere)</a>
  </li>
  <li>
    <a href="./vsphere-host-group.html">Using vSphere Host Groups with Tanzu Kubernetes Grid Integrated Edition</a>
  </li>
<ul>
