---
title: Managing PKS
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to manage Pivotal Container Service (PKS). See the following sections:

<ul>
  <li>
    <a href="./configure-api.html">Configure PKS API Access</a>
  </li>
  <li>
    <a href="./manage-users.html">Manage Users in UAA</a>
  </li>
  <li>
    <a href="./manage-deployments-bosh.html">Manage PKS Deployments with BOSH</a>
  </li>
  <li>
    <a href="./backup-and-restore.html">Backing Up and Restoring the PKS Control Plane</a>
  </li>
  <li>
    <a href="./custom-workloads.html">Add Custom Workloads</a>
  </li>
  <li>
    <a href="./maintain-uptime.html">Maintain Workload Uptime</a>
  </li>
  <li>
    <a href="./upgrade-pks.html">Upgrade PKS</a>
  </li>
  <li>
    <a href="./upgrade-pipeline.html">Configure the Upgrade Pipeline</a>
  </li>
  <li>
    <a href="./delete.html">Delete PKS</a>
  </li>
</ul>
