---
title: Manage Users in UAA
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to manage users in Pivotal Container Service (PKS) with User Account and Authentication (UAA).
Create and manage users in UAA with the UAA Command Line Interface (UAAC).

## <a id='uaac'></a>How to Use UAAC

Use the UAA Command Line Interface (UAAC) to interact with the UAA server.
You can either run UAAC commands from the Ops Manager VM or install UAAC on your local workstation.

To run UAAC commands from the Ops Manager VM, see the following SSH procedures for [vSphere](#ssh-vsphere) or [GCP](#ssh-gcp).

To install UAAC locally, see [Component: User Account and Authentication (UAA) Server](https://docs.pivotal.io/pivotalcf/2-0/concepts/architecture/uaa.html).

### <a id='ssh-vsphere'></a>SSH into the Ops Manager VM on vSphere

To SSH into the Ops Manager VM on vSphere, you need the credentials used to import the PCF .ova or .ovf file into your virtualization system.
You set these credentials when you installed Ops Manager.

<p class="note"><strong>Note</strong>: If you lose your credentials, you must shut down the Ops Manager VM in the vSphere UI and reset the password. See <a href="https://docs.vmware.com/en/VMware-vSphere/6.5/com.vmware.vsphere.security.doc/GUID-4BDBF79A-6C16-43B0-B0B1-637BF5516112.html">vCenter Password Requirements and Lockout Behavior</a> in the vSphere documentation for more information.</p>

1. From a command line, run `ssh ubuntu@OPS-MANAGER-FQDN` to SSH into the Ops Manager VM.
Replace `OPS-MANAGER-FQDN` with the fully qualified domain name of Ops Manager.

1. When prompted, enter the password that you set during the .ova deployment
into vCenter. For example:
  <pre class="terminal">
  $ ssh ubuntu&#64;my-opsmanager-fqdn.example.com
  Password: ***********
  </pre>

1. Proceed to the [Retrieve UAA Admin Credentials](#uaa-admin) section to manage users with UAAC.

### <a id='ssh-gcp'></a>SSH into the Ops Manager VM on GCP

To SSH into the Ops Manager VM in GCP, follow these instructions:

1. Confirm that you have installed the gcloud CLI. See the [Google Cloud Platform documentation](https://cloud.google.com/sdk/gcloud/#downloading_gcloud) for more information.

1. From the GCP console, click **Compute Engine**.

1. Locate the Ops Manager VM in the **VM Instances** list.

1. Click the **SSH** menu button.

1. Copy the SSH command that appears in the popup window.

1. Paste the command into your terminal window to SSH to the Ops Manager VM. For example:
    <pre class="terminal">
    $ gcloud compute ssh om-pcf-1a --zone us-central1-b
    </pre>

1. Run `sudo su - ubuntu` to switch to the `ubuntu` user.

1. Proceed to the [Retrieve UAA Admin Credentials](#uaa-admin) section to manage users with UAAC.

##<a id='uaa-admin-login'></a> Log in as an Admin

To retrieve the PKS UAA management admin client secret, do the following:

1. In a web browser, navigate to the fully qualified domain name (FQDN) of Ops Manager and click the **Pivotal Container Service** tile.
1. Click **Credentials**.
1. To view the secret, click **Link to Credential** next to **Pks Uaa Management Admin Client**. The client username is `admin`.
1. On the command line, run the following command to target your UAA server:
  <pre>`uaac target https://PKS-API:8443 --ca-cert ROOT-CA-FILENAME`</pre>
  Replace `PKS-API` with the URL of your UAA server. You configured this URL in the PKS API section of [Installing and Configuring PKS](installing-pks.html#pks-api). Replace `ROOT-CA-FILENAME` with the certificate file you downloaded in [Configure Access to the PKS API](configure-api.html#access).
  For example:
    <pre class="terminal">
    $ uaac target api.pks.example.com:8443 --ca-cert my-cert.cert
    </pre>

    <p class="note"><strong>Note</strong>: If you receive an <code>Unknown key: Max-Age = 86400</code> warning message, you can safely ignore it because it has no impact.</p>

1. Authenticate with UAA using the secret you retrieved in a previous step.
Run the following command, replacing `ADMIN-CLIENT-SECRET` with your PKS UAA management admin client secret: <pre>uaac token client get admin -s ADMIN-CLIENT-SECRET</pre>

##<a id='cluster-access'></a> Grant Cluster Access

You can assign the following UAA scopes to users, external LDAP groups, and clients:

  * `pks.clusters.manage`: accounts with this scope can create and access their own clusters.
  * `pks.clusters.admin`: accounts with this scope can create and access all clusters.

###<a id='uaa-user'></a> Grant Cluster Access to a User

To create a new UAA user with cluster access, perform the following steps:

1. Log in as the UAA admin using the procedure [above](#uaa-admin-login).

1. To create a new user, run the following command:
  <pre>uaac user add USERNAME --emails USER-EMAIL -p USER-PASSWORD</pre>

    For example:
    <pre class="terminal">$ uaac user add alana --emails alana&#64;example.com -p password</pre>

1. Assign a scope to the user to allow them to access Kubernetes clusters.
Run `uaac member add UAA-SCOPE USERNAME`, replacing `UAA-SCOPE` with one of the UAA scopes defined [above](#cluster-access).
For example:
    <pre class="terminal">$ uaac member add pks.clusters.admin alana</pre>

###<a id='external-group'></a> Grant Control Plane Access to an External LDAP Group

For information about configuring LDAP with PKS, see the [Configure Authentication and Enterprise SSO](#configure-sso.html) topic.

The PKS control plane enables users to deploy and manage Kubernetes clusters.

To grant control plane access to an external LDAP group, perform the following steps:

1. Log in as the UAA admin using the procedure [above](#uaa-admin-login).

1. To grant control plane access to all users in an LDAP group, run the following command:
  <pre>uaac group map --name pks.clusters.manage "GROUP-DISTINGUISHED-NAME"</pre>
Replace `GROUP-DISTINGUISHED-NAME` with the LDAP Distinguished Name (DN) for the group.
For example:
    <pre class="terminal">
    $ uaac group map --name pks.clusters.manage "Operators"
    </pre>

1. (Optional) To grant control plane access to all users in an LDAP group, run the following command:
  <pre>uaac group map --name pks.clusters.admin "GROUP-DISTINGUISHED-NAME"</pre>
Replace `GROUP-DISTINGUISHED-NAME` with the LDAP DN for the group.
For example:
    <pre class="terminal">
    $ uaac group map --name pks.clusters.admin cn=Administrators,ou=Groups,dc=ldap,dc=example,dc=com
    </pre>

Where:

+ `cn` is the common name. 
+ `ou` is the organizational unit. 
+ `dc` is the domain component.

###<a id='uaa-client'></a> Grant Cluster Access to a Client

To grant cluster access to an automated client for a script or service, perform the following steps:

1. Log in as the UAA admin using the procedure [above](#uaa-admin-login).

1. Create a client with the desired scopes by running the following command:
  <pre>uaac client add CLIENT-NAME -s CLIENT-SECRET \
  --authorized&#95;grant&#95;types client&#95;credentials \
  --authorities UAA-SCOPES</pre>
  Replace `CLIENT-NAME` and `CLIENT-SECRET` with the client credentials. Replace `UAA-SCOPES` with one or more of the UAA scopes defined [above](#cluster-access), separated by a comma. For example:
    <pre class="terminal">$ uaac client add automated-client \
    -s randomly-generated-secret
    --authorized&#95;grant&#95;types client&#95;credentials  \
    --authorities pks.clusters.admin,pks.clusters.manage</pre>

