---
title: Managing PKS
owner: PKS
---

This topic describes how to manage Pivotal Container Service (PKS).

##<a id='ssh'></a> Manage PKS Deployments with BOSH

To manage your PKS deployment with BOSH, perform the following steps:

1. Gather credential and IP address information for your BOSH Director and SSH into the Ops Manager VM.
See [Advanced Troubleshooting with the BOSH CLI](https://docs.pivotal.io/pivotalcf/customizing/trouble-advanced.html) for more information.
1. Create a BOSH alias for your PKS environment. For example:
  <pre class="terminal">$ bosh alias-env pks -e 10.0.0.3 --ca-cert /var/tempest/workspaces/default/root_ca_certificate</pre>
1. Log in to the BOSH Director.
  <pre class="terminal">$ bosh -e pks log-in</pre>
1. Follow the procedures in the [Use the BOSH CLI for Troubleshooting](https://docs.pivotal.io/pivotalcf/1-12/customizing/trouble-advanced.html#cli) topic to manage your PKS deployment with BOSH.

##<a id='custom-workloads'></a> Add Custom Workloads

To apply custom Kubernetes workloads to every cluster created on a plan, add YAML to the tile config under **Default Cluster Apps**.
Use this configuration to define what a cluster includes out of the box.
For example, use custom workloads to configure metrics or logging.

##<a id='access-logs'></a> Access Cluster Logs

To access cluster logs, perform the following steps:

1. Gather credential and IP address information for your BOSH Director, SSH into the Ops Manager VM, and use the BOSH CLI v2 to log in to the BOSH Director from the Ops Manager VM.
For more information, see [Advanced Troubleshooting with the BOSH CLI](https://docs.pivotal.io/pivotalcf/customizing/trouble-advanced.html).
1. After logging in to the BOSH Director, identify the names of the VMs you want to retrieve logs from by listing all VMs in your deployment. For example:
	<pre class="terminal">$ bosh -e pks -d my-dep vms</pre>
1. Download the logs from the VM. For example:
	<pre class="terminal">$ bosh -e pks -d my-dep logs pks/0</pre>
	See the [BOSH documentation](https://bosh.io/docs/job-logs.html) for more information.
	
##<a id='delete-errand'></a> Delete PKS

To delete PKS, perform the following steps:

1. Navigate to the Ops Manager Installation Dashboard.
1. Click the trash icon on the PKS tile.
1. Click **Confirm** in the dialog box that appears.
1. By default, deleting the PKS tile will also delete all the clusters created by PKS. To preserve the clusters, click the **Delete all clusters** errand under **Pending Changes** and select **Off**.
1. Click **Apply Changes**.

