---
title: Manage Users in UAA
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to manage users in Pivotal Container Service (PKS) with User Account and Authentication (UAA).
Create and manage users in UAA with the [UAA Command Line Interface (UAAC)](https://docs.pivotal.io/pivotalcf/uaa/uaa-user-management.html).

##<a id='uaa-admin'></a> Retrieve the PKS UAA Management Admin Client Secret

To retrieve the PKS UAA management admin client secret, do the following:

1. In a web browser, navigate to the fully qualified domain name (FQDN) of Ops Manager and click the **Pivotal Container Service** tile.
1. Click **Credentials**.
1. To view the secret, click **Link to Credentials** next to **Pks Uaa Management Admin Client**. The client username is `admin`.

With this, you will be able to create a UAA user account.

##<a id='uaa-scopes'></a> Grant Cluster Access to a User

To allow a user to access clusters in PKS, do the following using UAAC:

1. Target your UAA server using `uaac target https://UAA-URL:8443`.
Replace `UAA-URL` with the domain name you configured in the **UAA** pane of the PKS tile.
For example:
  <pre class="terminal">$ uaac target https&#58;//api.pks.example.com:8443</pre>

1. Authenticate with UAA using the secret you retrieved in the previous section.
Run the following command, replacing `ADMIN-CLIENT-SECRET` with your PKS UAA management admin client secret: <pre>uaac token client get admin -s ADMIN-CLIENT-SECRET</pre>

1. Create a user by running `uaac user add USERNAME --emails USER-EMAIL -p USER-PASSWORD`. For example:
  <pre class="terminal">$ uaac user add alana --emails alana&#64;example.com -p password</pre>

1. Assign a scope to the user to allow them to access Kubernetes clusters.
Run `uaac member add UAA-SCOPE USERNAME`, replacing `UAA-SCOPE` with one of the following UAA scopes:
  * `pks.clusters.admin`: Users with this scope have full access to all clusters.
  * `pks.clusters.manage`: Users with this scope can only access clusters they create.

    For example:
    <pre class="terminal">$ uaac member add pks.clusters.admin alana</pre>

##<a id='external-group'></a> Grant Cluster Access to an External LDAP Group

For information about configuring LDAP with PKS, see the _Configuring LDAP as an Identity Provider_ section of [Installing and Configuring PKS on GCP](installing-pks-gcp.html#configure-ldap) or [Installing and Configuring PKS on vSphere](installing-pks-vsphere.html#configure-ldap).

To grant cluster access to an external LDAP group, perform the following steps:

1. Retrieve UAA admin credentials using the procedure [above](#uaa-admin).

1. To authenticate to the UAA server and receive an admin client access token, run `uaac token client get admin -s ADMIN-CLIENT-SECRET`.
Replace `ADMIN-CLIENT-SECRET` with your PKS UAA management client admin secret. For example:
    <pre class="terminal">
    $ uaac token client get admin -s my-admin-secret
    </pre>
    UAAC stores the admin client access token in `~/.uaac.yml`.

1. To grant cluster access to all users in an LDAP group, run `uaac group map --name pks.clusters.manage "GROUP-DISTINGUISHED-NAME"`.
Replace `GROUP-DISTINGUISHED-NAME` with the LDAP Distinguished Name (DN) for the group.
For example:
    <pre class="terminal">
    $ uaac group map --name pks.clusters.manage "Operators"
    </pre>

1. (Optional) To grant admin cluster access to all users in an LDAP group, run `uaac group map --name pks.clusters.admin "GROUP-DISTINGUISHED-NAME"`.
Replace `GROUP-DISTINGUISHED-NAME` with the LDAP DN for the group.
For example:
    <pre class="terminal">
    $ uaac group map --name pks.clusters.admin "Administrators"
    </pre>

