---
title: Logging and Monitoring Enterprise PKS
owner: PKS
---

This section describes how to monitor <%= vars.product_full %> deployments.

See the following topics:

<ul>
  <li>
    <a href="./view-usage-data.html">Viewing Usage Data</a>
  </li>
  <li>
    <a href="./download-logs.html">Downloading Logs from VMs</a>
  </li>
  <li>
    <a href="./monitor-audit-logs.html">Auditing <%= vars.product_short %> Logs</a>
  </li>
  <li>
    <a href="./monitor-etcd.html">Monitoring Master/etcd Node VMs</a>
  </li>
  <li>
    <a href="./create-sinks.html">Creating and Managing Sink Resources</a>
  </li>
  <li>
    <a href="./monitor-sinks.html">Monitoring Clusters with Log Sinks</a>
  </li> 
  <li>
    <a href="./access-dashboard.html">Accessing Dashboard</a>
  </li>     
</ul>

For information about monitoring <%= vars.product_short %> with VMware Wavefront, 
see [VMware <%= vars.product_short %> Integration](https://docs.wavefront.com/pks.html).
