---
title: Logging and Monitoring Tanzu Kubernetes Grid Integrated Edition
owner: TKGI
---

This section describes how to monitor <%= vars.product_full %>
(<%= vars.k8s_runtime_abbr %>) environments.

See the following topics:

<ul> 
  <li>
    <a href="./host-monitoring.html">Monitoring <%= vars.k8s_runtime_abbr %> and <%= vars.k8s_runtime_abbr %>-Provisioned Clusters</a>
  </li>
  <li>
    <a href="./in-cluster-monitoring.html">Monitoring Workers and Workloads</a>
  </li>
  <li>
    <a href="./access-dashboard.html">Accessing Dashboard</a>
  </li>
  <li>
    <a href="./view-usage-data.html">Viewing Usage Data from the Billing Database</a>
  </li>  
</ul>
