---
title: Monitoring etcd/Master Nodes
owner: PKS
---

<strong><%= modified_date %></strong>

This topic includes information about monitoring the master/etcd node VMs in your Pivotal Container Service (PKS) deployment.

<%# Do you have the ability to apply multi-master ? %>

If you deploy a cluster with multiple master node VMs, monitor cluster health by monitoring and gathering metrics from etcd.

## <a id="monitor"></a>Monitor etcd

PKS colocates etcd, an open source distributed key value store, on master node VMs.
The master node VMs use etcd for service discovery and configuration sharing within the cluster.

For more information about etcd, see the [etcd Documentation](https://github.com/etcd-io/etcd/tree/master/Documentation) on GitHub.

The etcd VM provides monitoring data on its client port.
You can enable the `/debug` endpoint for more verbose logging, but this can decrease cluster performance.

For more information about monitoring etcd, see the [Monitoring etcd](https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/monitoring.md) on GitHub.

## <a id="metrics"></a>Gather Metrics from etcd

Use the `/metrics` endpoint on any etcd VM to gather metrics from the server.

Connect a metrics system to etcd  to gather information about cluster health.
There are many monitoring systems that you can choose to gather metrics.
