---
title: Logging and Monitoring Tanzu Kubernetes Grid Integrated Edition
owner: TKGI
---

The following topics describe how to monitor VMware Tanzu Kubernetes Grid Integrated Edition
(TKGI) Linux and Windows environments.  

To monitor Linux clusters and workloads, see:  

<ul> 
  <li>
    <a href="./host-monitoring.html">Monitoring TKGI and TKGI-Provisioned Clusters</a>
  </li>
  <li>
    <a href="./in-cluster-monitoring.html">Monitoring Workers and Workloads</a>
  </li>
</ul>

<br>
To monitor Windows clusters and workloads, see:  

<ul> 
  <li>
    <a href="windows-monitoring.html">Monitoring Windows Worker Clusters and Workers</a>
  </li>
  <li>
    <a href="windows-logging.html">Logging Windows Worker Clusters and Workers</a>
  </li>
</ul>

