---
title: Monitoring Master/etcd Node VMs
owner: PKS
---

This topic includes information about monitoring the master/etcd node VMs in your <%= vars.product_full %> deployment.
You can monitor Kubernetes cluster health by monitoring and gathering metrics from etcd.

<%= vars.product_short %> co-locates etcd, an open source distributed key value store, on Kubernetes master node VMs.
The master node VMs use etcd for service discovery and configuration sharing within the cluster.

For more information about etcd, see the [etcd documentation](https://github.com/etcd-io/etcd/tree/master/Documentation) on GitHub.

For more information about configuring master/etcd nodes in the <%= vars.product_tile %> tile, see the
Plans section of _Installing <%= vars.product_short %>_ for your IaaS:

* [vSphere](installing-pks-vsphere.html#plans)
* [vSphere with NSX-T Integration](installing-nsx-t.html#plans)
* [Google Cloud Platform (GCP)](installing-pks-gcp.html#plans)
* [Amazon Web Services (AWS)](installing-pks-aws.html#plans)
* [Azure](installing-pks-azure.html#plans)

## <a id="monitor"></a>Monitor etcd

The etcd VM provides monitoring data on its client port.
You can enable the `/debug` endpoint for more verbose logging, but this can decrease cluster performance.

For more information about monitoring etcd, see [Monitoring etcd](https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/monitoring.md) on GitHub.

## <a id="metrics"></a>Gather Metrics from etcd

Each etcd VM exposes metrics on a `/metrics` endpoint.
Connect a metrics system to etcd  to gather information from the endpoint about cluster health.

You can configure any monitoring system of your choice to gather metrics.
For example, the etcd documentation recommends using the open source Prometheus monitoring service.
For more information, see the [Prometheus documentation](https://prometheus.io/docs/introduction/overview/).

## <a id="errors"></a>Troubleshoot etcd

We recommend working with Pivotal or VMware Support to troubleshoot master/etcd node VMs.
The monitoring and metrics data you gather from the master/etcd node VMs can help the Support team diagnose and troubleshoot errors.
