---
title: Logging and Monitoring Tanzu Kubernetes Grid Integrated Edition
owner: TKGI
---

This section describes how to monitor <%= vars.product_full %>
(<%= vars.k8s_runtime_abbr %>) Linux and Windows environments.

If you are monitoring Linux clusters and workloads, see the following topics:

<ul> 
  <li>
    <a href="./host-monitoring.html">Monitoring <%= vars.k8s_runtime_abbr %> and <%= vars.k8s_runtime_abbr %>-Provisioned Clusters</a>
  </li>
  <li>
    <a href="./in-cluster-monitoring.html">Monitoring Workers and Workloads</a>
  </li>
  <li>
    <a href="./access-dashboard.html">Accessing Dashboard</a>
  </li>
</ul>

<br>
If you are monitoring Windows clusters and workloads, see:

<ul> 
  <li>
    <a href="windows-monitoring.html">Monitoring Windows Worker Clusters and Workers</a>
  </li>
  <li>
    <a href="windows-logging.html">Logging Windows Worker Clusters and Workers</a>
  </li>
  <li>
    <a href="./access-dashboard.html">Accessing Dashboard</a>
  </li>
</ul>

