---
title: Monitoring ETCD/Master Nodes
owner: PKS
---

Do you have the ability to apply multi-master ?

## <a id="etcd"></a>About ETCD
ETCD exposes its metrics based on Prometheus.

When setting up multi master, we want users to have a metric system in place to monitor etcd. 

## <a id="monitor-etcd"></a>Monitor ETCD
Connect a metrics system to etcd .
There are multiple monitoring systems that operators can choose.

This monitors cluster health.
Having this monitoring will aid in providing diagnostic steps that will help contextualize Support tickets.

How to find the etcd server: each has a /metrics URL .

Link to https://github.com/etcd-io/etcd/blob/master/Documentation/metrics.md 
Link to this topic in the Plans section of the PKS Install Docs where we mention multi master .

<p class="note"><strong>Note</strong>: DIY recovery is not recommended.
