---
title: Network Profiles (NSX-T Only)
owner: TKGI
---

This section describes how to define and use network profiles for <%= vars.product_full %> clusters deployed on NSX-T with vSphere. 

See the following topics:

<ul>
  <li>
    <a href="./console-network-profile.html">Working with Network Profiles in the Management Console</a>
  </li>
  <li>
    <a href="./network-profiles-opsmgr.html">Working with Network Profiles in Ops Manager</a>
  </li>
  <li><strong>Network Profile Use Cases</strong>
    <ul>
      <li>
        <a href="./network-profiles-lb-size.html">Size a Load Balancer</a>
      </li>
      <li>
        <a href="./network-profiles-pods.html">Customizing Pod Networks</a>
      </li>
      <li>
        <a href="./network-profiles-nodes.html">Customize Node Networks</a>
      </li>
      <li>
        <a href="./network-profiles-fip.html">Customize Floating IP Pools</a>
      </li>
      <li>
        <a href="./network-profiles-ns-groups.html">Configure Bootstrap NSGroups</a>
      </li>
      <li>
        <a href="./network-profiles-edge.html">Configure Edge Router Selection</a>
      </li>
      <li>
        <a href="./network-profiles-nodes-dns.html">Specify Nodes DNS Servers</a>
      </li>
      <li>
        <a href="./network-profiles-dns.html">Configure DNS for Pre-Provisioned IPs</a>
      </li>
      <li>
        <a href="./network-profiles-ncp-lb.html">Configure the TCP Layer 4 Load Balancer</a>
      </li>
      <li>
        <a href="./network-profiles-ncp-ingress.html">Configure the HTTP/S Layer 7 Ingress Controller</a>
      </li>
      <li>
        <a href="./network-profiles-ncp-dfw.html">Define DFW Section Markers</a>
      </li>
      <li>
        <a href="./network-profiles-ncp-logerr.html">Configure NCP Logging</a>
      </li>
      <li>
        <a href="./network-profiles-shared-t1.html">Shared and Dedicated Tier-1 Router Topologies</a>
      </li>
    </ul>
  </ul>
