---
title: Defining Network Profile for DNS Lookup of Master Node Load Balancer IP Address
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to define network profile for performing DNS lookup of the Master node(s) load balancer IP address.

## <a id='about'></a> About DNS Lookup of Load Balancer and Ingress IPs

In an Enterprise PKS environment on NSX-T, when you provision a Kubernetes cluster using the command `pks create-cluster`, the system creates a layer 4 NSX-T Load Balancer for the Kubernetes API master node(s). In addition, if you define an ingress resource, NCP creates two layer 7 virtual servers (HTTP and HTTPS) as the Ingress Controller for inbound traffic to Kubernetes pods. The IP addresses that are assigned to these two are derived from the floating IP pool. They are not known in advance, and you have to wait for the IP addresses to be allocated from the Floating IP Pool to know what they are. 

The network profile for DNS lookup of the master node IP address and ingress controller addresses this limitation by allowing you to look up the IP addresses from a DNS server using the FQDN. In this way you can tell PKS what IP addresses to use for these resources when the cluster is created, and be able to have DNS records for them so FQDNs can be used.

You can define a network profile to specify an FQDN that will be used for the Kubernetes master node(s) load balancer and an FQDN that will be used for the ingress controller, in which case PKS will perform a DNS lookup for the pre-provisioned IP addresses; in the case of the ingress controller, the DNS prefix is specified in a network profile. A byproduct of this feature is that you can specify on the command line a fixed IP address that will be used for the Kubernetes master node(s) load balancer.

## <a id='dns-lookup-lb'></a> Performing DNS Lookup of the Load Balancer Fronting the Kubernetes API Server Using Network Profile

To perform a lookup of the Kubernetes master node(s) IP and the ingress controller, use a network profile.

The following network profile, api.json, triggers a DNS lookup for the Kubernetes master node(s) IP address.

```
{
    "name": "api",
    "description": "Network profile using API mode",
    "parameters": {
        "fip_pool_ids": [
            "ENTER-FIP-POOL-ID1",
            "ENTER-FIP-POOL-ID2"
        ],
        "dns_lookup_mode": "API"
    }
}
```

## <a id='dns-lookup-ingress'></a> Performing DNS Lookup of the Ingress Controller Using Network Profile


The following example network profile, api_ingress.json, triggers a DNS lookup for the Kubernetes master node(s) IP address.

```
{
    "name": "api_ingress",
    "description": "Network profile using API_INGRESS dns lookup mode",
    "parameters": {
        "fip_pool_ids": [
            "ENTER-FIP-POOL-ID1",
            "ENTER-FIP-POOL-ID2"
        ],
        "dns_lookup_mode": "API_INGRESS",
        "ingress_prefix": "ingress"
    }
}
```

## <a id='command-line'></a> Setting the Master Node IP Address on the Command Line

To test the assignment of a fixed IP address for the Kubernetes master node(s), you pass in the IP address using `-e` flag in the pks cluster creation operation. For example:

```
pks create-cluster test-cluster -p small -e 192.168.160.20
```
 
Where the IP address belongs to a valid Floating IP pool created in NSX-T.