---
title: Defining and Using Network Profiles (NSX-T)
owner: PKS
---

<strong><%= modified_date %></strong>

This section describes how to define and use network profiles for <%= vars.product_full %> clusters deployed on NSX-T with vSphere. 

See the following topics:

<ul>
  <li>
    <a href="./network-profiles-define.html">Defininig Network Profiles</a>
  </li>
  <li>
    <a href="./network-profiles.html">Using Network Profiles</a>
  </li>
  <li>
    <a href="./network-profiles-lb-size.html">Load Balancer Sizing</a>
  </li>
  <li>
    <a href="./network-profiles-pods.html">Custom Pod Networks</a>
  </li>
  <li>
    <a href="./network-profiles-fip.html">Custom Floating IP Pools</a>
  </li>
  <li>
    <a href="./network-profiles-edge.html">Edge Router Selection for Multi-Tier-0</a>
  </li>
  <li>
    <a href="./network-profiles-nodes.html">Custom Node Networks</a>
  </li>
  <li>
    <a href="./network-profiles-lb-size.html">Configuring NCP</a>
  </li>
<ul>
