---
title: Defining Network Profiles for NCP Configuration
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to define network profiles for Kubernetes clusters provisioned with <%= vars.product_full %> on vSphere with NSX-T.

## <a id='about'></a> Feature Overview

This feature addresses a customer issue that currently exists when you provision a Kubernetes cluster using the command pks create-cluster in an NSX-T environment. 

When this command is run, the PKS API creates a Load Balancer for the Kubernetes API master node(s) and NCP creates an Ingress Controller for inbound traffic to Kubernetes pods. The issue is that the IP addresses that are assigned to these two resources cannot be known in advance, and customers have to wait for the IP addresses to be allocated from the Floating IP Pool to know what they are. Customers want to tell PKS what IP addresses to use for these resources, and be able to have DNS records for them so FQDNs can be used.

This feature addresses this limitation by giving cluster operators the power to:

Specify on the command line a fixed IP address that will be used for the Kubernetes master node(s) load balancer

Use network profile to specify an FQDN that will be used for the Kubernetes master node(s) load balancer and an FQDN that will be used for the ingress controller, in which case PKS will perform a DNS lookup for the pre-provisioned IP addresses; in the case of the ingress controller, the DNS prefix is specified in a network profile


## Requirements

PKS 1.5
Permissions to provision Kubernetes clusters
Permissions to define network profiles
How to Configure
Create DNS records for the IP addresses you want to use. Then, define a network profile and add it to the system. Example network profiles are provided below.

To test the assignment of a fixed IP address for the Kubernetes master node(s), you pass in the IP address using `-e` flag in the pks cluster creation operation. For example:

pks create-cluster test-cluster -p small -e 192.168.160.20
 
Where the IP address belongs to a valid floating ip pool created in NSX-T.

## Network Profiles

To perform a lookup of the Kubernetes master node(s) IP and the ingress controller, use a network profile.

The following network profile, api.json, triggers a DNS lookup for the Kubernetes master node(s) IP address.

{
    "name": "api",
    "description": "Network profile using API mode",
    "parameters": {
        "fip_pool_ids": [
            "ENTER-FIP-POOL-ID1",
            "ENTER-FIP-POOL-ID2"
        ],
        "dns_lookup_mode": "API"
    }
}

The following example network profile, api_ingress.json, triggers a DNS lookup for the Kubernetes master node(s) IP address.

{
    "name": "api_ingress",
    "description": "Network profile using API_INGRESS dns lookup mode",
    "parameters": {
        "fip_pool_ids": [
            "ENTER-FIP-POOL-ID1",
            "ENTER-FIP-POOL-ID2"
        ],
        "dns_lookup_mode": "API_INGRESS",
        "ingress_prefix": "ingress"
    }
}

