---
title: Defining and Using Network Profiles (NSX-T)
owner: PKS
---

<strong><%= modified_date %></strong>

This section describes how to define and use network profiles for <%= vars.product_full %> clusters deployed on NSX-T with vSphere. 

See the following topics:

<ul>
  <li>
    <a href="./network-profiles-define.html">Defining Network Profiles</a>
  </li>
  <li>
    <a href="./network-profiles.html">Using Network Profiles</a>
  </li>
  <li>
    <a href="./network-profiles-lb-size.html">Sizing the Kubernetes API Load Balancer</a>
  </li>
  <li>
    <a href="./network-profiles-pods.html">Customizing Pod Networks</a>
  </li>
  <li>
    <a href="./network-profiles-fip.html">Creating Floating IP Pools</a>
  </li>
  <li>
    <a href="./network-profiles-edge.html">Configuring Edge Router Selection for Multi-T0</a>
  </li>
  <li>
    <a href="./network-profiles-ns-groups.html">Configuring Security Groups</a>
  </li>
  <li>
    <a href="./network-profiles-nodes.html">Customizing Node Networks</a>
  </li>
  <li>
    <a href="./network-profiles-dns.html">Configuring DNS Lookup of the API Load Balancer and Ingress Controller IP Addresses</a>
  </li>  
  <li>
    <a href="./network-profiles-ncp-lb.html">Configuring the NSX-T Load Balancer</a>
  </li>
  <li>
    <a href="./network-profiles-ncp-ingress.html">Configuring the NCP Ingress Controller</a>
  </li>
  <li>
    <a href="./network-profiles-ncp-logerr.html">Configuring NCP Logging</a>
  </li>
  <li>
    <a href="./network-profiles-ncp-dfw.html">Defining DFW Section Markers</a>
  </li>
<ul>
