---
title: Using Network Profiles (NSX-T Only)
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to create and use network profiles for Kubernetes clusters
provisioned with Pivotal Container Service (PKS) on vSphere with NSX-T integration.

## <a id='about'></a> About Network Profiles

Network profiles enable you to specify NSX-T configuration parameters at the time of cluster creation.
See the following table for supported use cases:

Profile Type 	| Description
----------------|----------------------------
[Load balancer sizing](lb-sizing)		| Customize the size of the load balancer deployed with a Kubernetes cluster.
[Routable pods](routable-pods)	| Give Kubernetes cluster pods routable IP addresses from a specified IP block.

## <a id='use-cases'></a> Use Cases for Network Profiles

This section describes the use cases for network profiles.

### <a id='lb-sizing'></a> Load Balancer Sizing

Using a network profile, you can customize the size of the load balancer that is deployed when a Kubernetes cluster is created using PKS.
See [Load Balancers in PKS Deployments on vSphere with NSX‑T](about-lb.html#with-nsx-t) for more information.

### <a id='routable-pods'></a> Routable Pods Network

Using a network profile, you can give pods routable IP addresses from a specific IP block, instead of using the global default NAT’ed approach. Routable pod addresses provide traceability of pods making egress requests. To use routable pods, you must create the dedicated IP block. The supported subnet size is /24. See [Create NSX-T Objects](nsxt-prepare-env.html#create-objects-network-objects) for instructions on creating IP blocks.

When you configure NSX-T for PKS, you are required to create the [Pods IP Block](nsxt-prepare-env.html#plan-ip-blocks). This subnet is assumed to be non-routable. When a Kubernetes cluster is deployed, each pod is given an IP address from the **Pods IP Block**. Since the pod IP addresses are non-routable, the system creates a SNAT rule on the T0 router to allow network egress from the pods. This deployment is shown in the diagram below.

  <img src="images/nsxt/routable-pods-01.png" alt="Non-routable Pod Network with SNAT">

Routable pods using network profiles lets you override the default behavior. After PKS is deployed, you define a /24 routable IP block in NSX-T. You then define a network profile that references the routable IP block. When you deploy a Kubernetes cluster using that network profile, each pod is given a routable IP address. With this configuration there is no NAT rule required since the pod IPs are routable. This configuration is shown in the diagram below.

  <img src="images/nsxt/routable-pods-02" alt="Routable Pod Network Using Network Profiles">

## <a id='permissions'></a> Required Permissions

Only PKS administrators can create and delete network profiles. For more information, see:

* [Define a Network Profile](#define-profile)
* [Create a Network Profile](#create-profile)
* [Delete a Network Profile](#delete-profile)

Kubernetes managers can list existing network profiles, assign them to clusters, and view cluster details.
For more information, see:

* [List Network Profiles](#list-profiles)
* [Create a Cluster With a Network Profile](#create-cluster)
* [View Cluster Details](#view-details)

## <a id="define-profile"></a> Define a Network Profile

Before you can create a network profile,
you must define your network profile configuration in a JSON file as follows:

Parameter 			| Description
--------------------|----------------------------
`name`	  			| User-defined name for the network profile
`description`   	| User-defined description for the network profile
`parameters`    	| One or more name-value pairs
`lb_size`	  		| Size of the load balancer deployed with the Kubernetes cluster:<br> `small`, `medium`, or `large`
`pod_routable`  	| Set to `true` to enable routable pods; set to `false` to use a non-routable IP block that overrides the default
`pod_ip_block_ids`	| UUID of the IP block from NSX Manager, comma-separated

The following network profile, `np-lb-med.json`, defines a medium load balancer:

```
{
 "name": "lb-profile-medium",
 "description": "Network profile for medium size NSX-T load balancer",
 "parameters": { 
 	"lb_size": "medium" 
 	}
}
```

The following network profile, `np-routable-pods.json`, defines routable pod addresses from two /24 IP blocks:

```
{
  "description": "Network profile with small load balancer and two routable pod networks",
  "name": "small-routable-pod",
  "parameters": {
    "lb_size": "small",
    "pod_routable": true,
    "pod_ip_block_ids": [
      "ebe78a74-a5d5-4dde-ba76-9cf4067eee55",
      "ebe78a74-a5d5-4dde-ba76-9cf4067eee56"
    ]
  }
}
```

<p class="note"><strong>Note</strong>: You must include the `lb_size` parameter in any network profile you define, even if the purpose of the network profile is to implement a routable pod network. In the `small-routable-pod` example, profile creation fails without the inclusion of the `lb_size` parameter. To use the default load balancer, set the value to `small`.</p>

The following network profile, `np-non-routable-pods.json`, defines a non-routable /24 IP block for pods. With this approach, the default non-routable **Pods IP Block** is overridden by the non-routable IP block specified in the profile definition:

```
{
  "description": "Network profile with small load balancer and non-routable pod network",
  "name": "small-routable-pod",
  "parameters": {
    "lb_size": "small",
    "pod_routable": false,
    "pod_ip_block_ids": [
      "ebe78a74-a5d5-4dde-ba76-9cf4067eee57"
    ]
  }
}
```

To create a network profile, follow the instructions in [Create a Network Profile](#create-profile).

## <a id="cli-commands"></a> Create and Use Network Profiles

You can create and use network profiles through the PKS CLI.
The PKS CLI supports the following operations for network profiles:

* [Create a Network Profile](#create-profile)
* [Delete a Network Profile](#delete-profile)
* [List Network Profiles](#list-profiles)
* [Create a Cluster with a Network Profile](#create-cluster)
* [View Cluster Details](#view-details)

### <a id="create-profile"></a> Create a Network Profile

After you define your network profile as described in [Define a Network Profile](#define-profile),
run the following command:

```
pks create-network-profile PATH-TO-YOUR-NETWORK-PROFILE-CONFIGURATION
``` 
Where `PATH-TO-YOUR-NETWORK-PROFILE-CONFIGURATION` is the path to the JSON file
you created in [Define a Network Profile](#define-profile).

For example:

<pre class="terminal">
$ pks create-network-profile np-routable-pods.json

Network profile small-routable-pod successfully created
</pre>

Only cluster administrators, `pks.clusters.admin`, can create network profiles.
If a cluster manager, `pks.clusters.manage`, is attempting to create a network profile,
the following error occurs:

```
You do not have enough privileges to perform this action. Please contact the PKS administrator.
```

### <a id="delete-profile"></a> Delete a Network Profile

To delete a network profile, run the following command:

```
pks delete-network-profile NETWORK-PROFILE-NAME
```

Where `NETWORK-PROFILE-NAME` is the name of the network profile you want to delete.

<p class="note"><strong>Note</strong>: You cannot delete a network profile that is in use.</p>

Only cluster administrators, `pks.clusters.admin`, can delete network profiles.
If a cluster manager, `pks.clusters.manage`, is attempting to delete a network profile,
the following error occurs:

```
You do not have enough privileges to perform this action. Please contact the PKS administrator.
```

### <a id="list-profiles"></a> List Network Profiles

To list your network profiles, run the following command:

```
pks network-profiles
```

For example:

<pre class="terminal">
$ pks network-profiles

	Name				Description 
	lb-profile-medium	Network profile for medium size NSX-T load balancer
	small-routable-pod 	Network profile with small load balancer and two routable pod networks
</pre>

### <a id="create-cluster"></a> Create a Cluster with a Network Profile

To create a PKS-provisioned Kubernetes cluster with a network profile, run the following command:

```
pks create-cluster CLUSTER-NAME --external-hostname HOSTNAME --plan PLAN-NAME --network-profile NETWORK-PROFILE-NAME
```

Where:

* `CLUSTER-NAME` is a unique name for your cluster.
* `HOSTNAME` is your external hostname used for accessing the Kubernetes API.
* `PLAN-NAME` is the name of the PKS plan you want to use for your cluster.
* `NETWORK-PROFILE-NAME` is the name of the network profile you want to use for your cluster.

<p class="note"><strong>Note</strong>: You must create the network profile before you create the cluster.</p>

### <a id="view-details"></a> View Cluster Details

To view detailed information about your cluster, run the following command:

```
pks cluster CLUSTER-NAME
```

Where `CLUSTER-NAME` is the name of your cluster. See the example output of this command below:

```
Name:						k8s1
Plan Name:					Plan 1
UUID:						6125f251-1a2e-4903-9192-efc21b27ec20
Last Action:				CREATE
Last Action State:			succeeded
Last Action Description:	Instance provisioning completed
Kubernetes Master Host:		k8s1
Kubernetes Master Port:		8443
Worker Nodes: 				1
Kubernetes Master IP(s):	192.168.150.104
Network Profile Name:		lb-profile-medium
```
