---
title: Shared and Dedicated Tier-1 Router Topologies
owner: PKS
---

This topic describes shared and dedicated Tier-1 router topologies for <%= vars.product_short %> Kubernetes clusters on vSphere with NSX-T.

Shared Tier-1 topology is the default.
This topic also explains how to define a network profile that overrides this default, to specify Dedicated Tier-1 topology for <%= vars.product_short %> clusters.

## <a id='shared-t1'></a> Shared Tier-1 Topology

By default, Kubernetes clusters in <%= vars.product_short %> with NSX-T have the Shared Tier-1 network topology, in which each cluster shares a single Tier-1 router for its external-facing components: the Kubernetes node, namespace, and NSX-T load balancer.

<p class="note"><strong>Note:</strong> The Shared Tier-1 topology requires NSX-T Data Center v2.5.</p>

This topology uses a single, shared Tier-1 switch and router for each Kubernetes cluster.
The shared Tier-1 model only uses one Tier-1 router and multiple logical switches connected to the shared Tier-1 
to connect all Kubernetes cluster components, including:

* Kubernetes Nodes Networks 
* Kubernetes Namespaces
* NSX-T load balancer instances allocated for the Kubernetes cluster

  <img src="images/nsxt/nsxt-topology-shared-t1.png">

### <a id='shared-t1-comparison'></a> Comparison to Dedicated Tier-1

Unlike the [Dedicated Tier-1 Topology](#dedicated-t1),
the shared Tier-1 model configures any necessary NAT rules (if using NAT mode) on the single Tier-1 router directly.
The Tier-0 router is not used for any NAT configuration. As a result, 
the Tier-0 router can operate in Active/Active mode if all Kubernetes clusters are deployed using the Shared Tier-1 model.

The Shared Tier-1 model enables higher scale numbers for PKS as the number of NSX-T objects allocated per Kubernetes cluster 
is drastically reduced, in comparison to dedicated Tier-1.
The advantage of the shared Tier-1 topology is that you can increase the number of NSX-T objects that can be 
supported in a given cluster. 

## <a id='dedicated-t1'></a> Dedicated Tier-1 Topology

When you provision a Kubernetes cluster with a network profile that overrides the Shared Tier-1 topology, <%= vars.product_short %> creates following NSX-T objects:

* 1 Logical Switch and Tier-1 Router for each Kubernetes Nodes subnet
* 1 Logical Switch and Tier-1 Router for each Kubernetes namespace
* 1 Logical Switch and Tier-1 Router each NSX-T Load Balancer that is allocated for the Kubernetes cluster

  <img src="images/nsxt/nsxt-topology-dedicated-t1.png">

As depicted above, the result is that a given Kubernetes cluster will run several Tier-1 switches and routers in its topology.

### <a id='dedicated-t1-profile'></a> Network Profile for Dedicated Tier-1 Topology

To create clusters with Dedicated Tier-1 topology, you define and use a network profile that overrides the default Shared Tier-1 topology
by setting the `single_tier_topology` key to `false`.

Shown below is an example network profile that disables the Shared Tier-1 Router for Kubernetes clusters:

```
{
  "name": "example-network-profile-shared-t1",
  "description": "Shared-Tier-1 topology network profile",
  "parameters": {
    "single_tier_topology": false
  }
}
```
