---
title: Defining DFW Section Markers
owner: TKGI
---

This topic describes how <%= vars.product_full %> (<%= vars.k8s_runtime_abbr %>) administrators
can define network profiles to create markers for NSX-T distributed firewall (DFW).

<p class="note"><strong>Note:</strong> The NSX-T Policy API features a tiered policy model using categories 
  and does not support prioritizing operational rules using the procedure below. 
</p>  


## <a id='overview'></a> Overview

When a network administrator or a Kubernetes developer creates a 
Kubernetes [Network Policy](https://kubernetes.io/docs/concepts/services-networking/network-policies/), 
NCP translates that Network Policy into a distributed firewall rule.  

The first DFW rules have precedence over later DFW rules, 
and when using the default DFW configuration, a network administrator cannot define a Network Policy with precedence over existing developer-created DFW rules.  

Configure a DFW Firewall Section Marker so that you can define a Network Policy with precedence over existing DFW 
rules, including rules created from a developer's Network Policy configuration.  

To configure a DFW Firewall Section Marker:  

* [Create a Top Firewall Section Marker](#top_firewall_section_marker)  
* [Create a Bottom Firewall Section Marker](#bottom_firewall_section_marker)  

For more information about DFW Firewall Section Marker rules, see [About DFW Section Markers](##shared-t1-about) below.  

<p class="note"><strong>Note:</strong> 
The NSX-T Policy API feature does not support DFW Firewall Section Marker configuration 
because it uses a category-based tiered policy model. 
NCP inserts Network Policy rules into the <code>Application</code> tier, 
the last and lowest tier, which is always preceded by other tiers, 
such as <code>Infrastructure</code> and <code>Environment</code>. 
</p>

## <a id='shared-t1-about'></a> About DFW Section Markers

Distributed firewall rules are either `Allow` or `Deny`/`Drop` rules:  

* DFW `Allow` rules are placed before `Deny`/`Drop` rules and take higher precedence than `Deny` rules.  
* When there are multiple DFW `Allow` or `Deny`/`Drop` rules, 
precedence is defined by the order the rules were created: 
    * The first `Allow` rules have precedence over later `Allow` rules. 
    * The first `Deny` rules have precedence over later `Deny` rules.  

Because the first DFW rules have precedence over later DFW rules, 
a network administrator is unable to define a Network Policy with precedence over existing DFW rules, 
including rules created from a developer's Network Policy configuration.  

DFW rules placed within the Top Firewall Section Marker or Bottom Firewall Section Marker 
have precedence over NCP-created DFW rules. 
With the top and bottom section markers, an administrator can position operational rules to have precedence 
over developer-created DFW rules.  

<p class="note"><strong>Note:</strong> 
NSX-T applies DFW rules on ESXi transport nodes to control east-west traffic. 
Edge firewall (EFW) rules run on Edge transport nodes and control north-south traffic.
</p>


## <a id='top_firewall_section_marker'></a> Create a Top Firewall Section Marker

Using the `top_firewall_section_marker`, the operational rules can be created in the top section, 
NCP will create any rules when Kubernetes network policies are created always below this top section marker. 
Thus, the operational rules created will not be over-ridden by developers. 

```
{
 "name": "Example network profile",
 "description": "Network profile to enable DFW section marking",
 "parameters": {
   "cni_configurations":
   {
      "type":"nsxt",
      "parameters": {
        "top_firewall_section_marker":"section-id",
        "bottom_firewall_section_marker":"section-id"        
      }
    }
  }
}
```

## <a id='bottom_firewall_section_marker'></a> Create a Bottom Firewall Section Marker

Drop/deny rules operate in the bottom section. 
You can define a `bottom_firewall_section_marker` so that drop/deny rules created by NCP do not displace existing rules.

```
{
 "name": "Example network profile",
 "description": "Network profile to enable DFW section marking",
 "parameters": {
   "cni_configurations":
   {
      "type":"nsxt",
      "parameters": {
        "top_firewall_section_marker":"section-id",
        "bottom_firewall_section_marker":"section-id"        
      }
    }
  }
}
```