---
title: Defining and Using Network Profiles (NSX-T)
owner: PKS
---

<strong><%= modified_date %></strong>

This section describes how to define and use network profiles for <%= vars.product_full %> clusters deployed on NSX-T with vSphere. 

See the following topics:

<ul>
  <li>
    <a href="./network-profiles-define.html">Defininig Network Profiles</a>
  </li>
  <li>
    <a href="./network-profiles.html">Using Network Profiles</a>
  </li>
  <li>
    <a href="./network-profiles-lb-size.html">Sizing the Kubernetes API Load Balancer</a>
  </li>
  <li>
    <a href="./network-profiles-pods.html">Customize Pod Networks</a>
  </li>
  <li>
    <a href="./network-profiles-fip.html">Configure Floating IP Pools</a>
  </li>
  <li>
    <a href="./network-profiles-edge.html">Edge Router Selection for Multi-T0</a>
  </li>
  <li>
    <a href="./network-profiles-ns-groups.html">Configure Security Groups</a>
  </li>
  <li>
    <a href="./network-profiles-nodes.html">Customize Node Networks</a>
  </li>
  <li>
    <a href="./network-profiles-shared-t1.html">Implement a Shared Tier-1 Router Toplogy</a>
  </li>
  <li>
    <a href="./network-profiles-ncp.html">Customize NCP Settings for Kubernetes Load Balancers</a>
  </li>
  <li>
    <a href="./network-profiles-dns.html">Configure DNS Lookup of the Master Node IP Address</a>
  </li>  
<ul>
