---
title: Using Network Profiles (NSX-T Only)
owner: PKS
---

This topic describes how to use network profiles for Kubernetes clusters
provisioned with Pivotal Container Service (PKS) on vSphere with NSX-T integration.
Network profiles let you customize NSX-T configuration parameters.

## <a id='assign-profile'></a> Assign a Network Profile to a Cluster

You can assign a network profile to a Kubernetes cluster at the time of cluster creation.
To assign a network profile to a Kubernetes cluster, you must do the following:

1. Define a network profile configuration in a JSON file.
For instructions on how to define network profile configurations,
see [Defining Network Profiles](network-profiles-define.html).
1. Create a network profile using the JSON file.
For instructions on how to create network profiles, see [Create a Network Profile](#create-profile).
1. Create a Kubernetes cluster with the network profile.
For instructions on how to create a Kubernetes cluster with a network profile,
see [Create a Cluster with a Network Profile](#create-cluster).

<p class="note"><strong>Note:</strong> Only PKS cluster administrators can create and delete network profiles.
Cluster managers can list existing network profiles and assign them to clusters.</p>

### <a name="create-cluster"></a> Create a Cluster with a Network Profile

To create a PKS-provisioned Kubernetes cluster with a network profile, run the following command:

```
pks create-cluster CLUSTER-NAME --external-hostname HOSTNAME --plan PLAN-NAME --network-profile NETWORK-PROFILE-NAME
```

Where:

* `CLUSTER-NAME` is a unique name for your cluster.
* `HOSTNAME` is your external hostname used for accessing the Kubernetes API.
* `PLAN-NAME` is the name of the PKS plan you want to use for your cluster.
* `NETWORK-PROFILE-NAME` is the name of the network profile you want to use for your cluster.

## <a id="manage-profiles"></a> Manage Network Profiles

This section describes how to create, list, and delete network profiles.

### <a id="create-profile"></a> Create a Network Profile

After you define your network profile configuration as described in [Defining Network Profiles](network-profiles-define.html),
run the following command:

```
pks create-network-profile PATH-TO-YOUR-NETWORK-PROFILE-CONFIGURATION
``` 
Where `PATH-TO-YOUR-NETWORK-PROFILE-CONFIGURATION` is the path to the JSON file
you created when defining the network profile.

For example:

<pre class="terminal">
$ pks create-network-profile np-routable-pods.json

Network profile small-routable-pod successfully created
</pre>

Only cluster administrators, `pks.clusters.admin`, can create network profiles.
If a cluster manager, `pks.clusters.manage`, attempts to create a network profile,
the following error occurs:

```
You do not have enough privileges to perform this action. Please contact the PKS administrator.
```

### <a id="list-profiles"></a> List Network Profiles

To list your network profiles, run the following command:

```
pks network-profiles
```

For example:

<pre class="terminal">
$ pks network-profiles

	Name				Description 
	lb-profile-medium	Network profile for medium size NSX-T load balancer
	small-routable-pod 	Network profile with small load balancer and two routable pod networks
</pre>

### <a id="delete-profile"></a> Delete a Network Profile

To delete a network profile, run the following command:

```
pks delete-network-profile NETWORK-PROFILE-NAME
```

Where `NETWORK-PROFILE-NAME` is the name of the network profile you want to delete.

<p class="note"><strong>Note:</strong> You cannot delete a network profile that is in use.</p>

Only cluster administrators, `pks.clusters.admin`, can delete network profiles.
If a cluster manager, `pks.clusters.manage`, attempts to delete a network profile,
the following error occurs:

```
You do not have enough privileges to perform this action. Please contact the PKS administrator.
```
