---
title: Defining Network Profiles
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to define network profiles for Kubernetes clusters provisioned with <%= vars.product_full %> on vSphere with NSX-T.

## <a id='about'></a> About Network Profiles

Network profiles let you customize NSX-T configuration parameters at the time of cluster creation. Use cases for network profiles include the following:

Profile Type 								            | Description
--------------------------------------------------------|------------------------------------------------------------------------------
[Load Balancer Sizing](network-profiles-lb-size.html)	  | Customize the size of the NSX-T load balancer provisioned when a Kubernetes cluster is created using <%= vars.product_short %>.
[Custom Pod Networks](network-profiles-pods.html)	      | Assign IP addresses from a dedicated IP block to pods in your Kubernetes cluster.
[Routable Pod Networks](network-profiles-pods.html) 	  | Assign routable IP addresses from a dedicated IP block to pods in your Kubernetes cluster.
[Bootstrap Security Group for Master Nodes](network-profiles-ns-groups.html) | Specify an NSX-T Namespace Group where Kubernetes master nodes will be added to during cluster creation.
[Pod Subnet Prefix](network-profiles-pods.html)	 	      | Specify the size of the pod subnet.
[Custom Floating IP](network-profiles-fip.html)         | Specify a custom floating IP pool.
[Edge Router Selection](network-profiles-edge.html)	    | Specify the NSX-T Tier-0 router where Kubernetes node and Pod networks will be connected to.
[Nodes DNS Configuration](network-profiles-nodes.html)  | Specify one or more DNS servers for Kubernetes clusters.

## <a id="format"></a> Network Profile Format

Network profiles are defined using JSON. Here are example network profiles for two different customers:

```
np_customer_A.json
{
    "name": "np-cust-a",
    "description": "Network Profile for Customer A",
    "parameters": {
        "lb_size": "small",
        "t0_router_id": "5a7a82b2-37e2-4d73-9cb1-97a8329e1a90",
        "fip_pool_ids": [
            "e50e8f6e-1a7a-45dc-ad49-3a607baa7fa0"
        ],
        "pod_ip_block_ids": [
            "7056d707-acec-470e-88cf-66bb86fbf439"
        ],
        "master_vms_nsgroup_id": "9b8d535a-d3b6-4735-9fd0-56305c4a5293",
        "pod_subnet_prefix" : 27
    }
}
```

```
np_customer_B.json
{
    "name": "np-cust-b",
    "description": "Network Profile for Customer B",
    "parameters": {
        "lb_size": "medium",
        "t0_router_id": "5a7a82b2-37e2-4d73-9cb1-97a8329e1a92",
        "fip_pool_ids": [
            "e50e8f6e-1a7a-45dc-ad49-3a607baa7fa2"
        ],
    	"pod_routable": "true",
    	"pod_ip_block_ids": [
      		"ebe78a74-a5d5-4dde-ba76-9cf4067eee55",
      		"ebe78a74-a5d5-4dde-ba76-9cf4067eee56"
    	]
        "master_vms_nsgroup_id": "9b8d535a-d3b6-4735-9fd0-56305c4a5292",
        "pod_subnet_prefix" : 26
    }
}
```

## <a id="params"></a> Network Profile Parameters

Define a network profile configuration in a JSON file using the following parameters:
  <table>
    <th width="30%">Parameter</th>
    <th>Type</th>
    <th>Description</th>
    <tr>
      <td>`name`</td>
      <td>String</td>
      <td>User-defined name of the network profile.</td>
    </tr>
    <tr>
      <td>`description`</td>
      <td>String</td>
      <td>User-defined description for the network profile.</td>
    </tr>
    <tr>
      <td>`parameters` </td>
      <td>Key-Value Pair</td>
      <td>One or more name-value pairs.</td>
    </tr>
    <tr>
      <td>`lb_size` </td>
      <td>Key-Word</td>
      <td>Size of the NSX-T load balancer deployed with the Kubernetes cluster. Accepts: `small`, `medium`, or `large`.</td>
    </tr>
    <tr>
      <td>`pod_ip_block_ids` </td>
      <td>Array</td>
      <td>Pod IP Block UUIDs as defined in NSX-T; comma-separated.</td>
    </tr>
    <tr>
      <td>`pod_routable` </td>
      <td>Boolean</td>
      <td>Enable routable IP addresses. Set the parameter to `true` to assign routable IP addresses to pods. Accepts: `true` or `false`.</td>
    </tr>
    <tr>
      <td>`master_vms_nsgroup_id` </td>
      <td>UUID</td>
      <td>NSGroup UUID as defined in NSX-T.</td>
    </tr>
    <tr>
      <td>`fip_pool_ids` </td>
      <td>Array</td>
      <td>Floating IP Pool UUIDs as defined in NSX-T; comma separated.</td>
    </tr>
    <tr>
      <td>`pod_subnet_prefix` </td>
      <td>Integer</td>
      <td>Prefix size of the custom Pods IP Block subnet.</td>
    </tr>
    <tr>
      <td>`t0_router_id` </td>
      <td>UUID</td>
      <td>Tenant Tier-0 router UUID as defined in NSX-T.</td>
    </tr>
    <tr>
      <td>`nodes_dns` </td>
      <td>Array</td>
      <td>IP addresses (up to 3) for DNS server lookup by Kubernetes nodes and pods.</td>
    </tr>
  </table>
## <a id="creation"></a> Network Profile Creation

After the network profile is defined in a JSON file, an <%= vars.product_short %> administrator can create the network profile using the PKS CLI. The Kubernetes administrator can use the network profile when creating a cluster.

After you define your network profile configuration as described in [Defining Network Profiles](network-profiles-define.html),
run the following command:

```
pks create-network-profile PATH-TO-YOUR-NETWORK-PROFILE-CONFIGURATION
``` 
Where `PATH-TO-YOUR-NETWORK-PROFILE-CONFIGURATION` is the path to the JSON file
you created when defining the network profile.

For example:

<pre class="terminal">
$ pks create-network-profile np-routable-pods.json

Network profile small-routable-pod successfully created
</pre>

Only cluster administrators, `pks.clusters.admin`, can create network profiles.
If a cluster manager, `pks.clusters.manage`, attempts to create a network profile,
the following error occurs:

```
You do not have enough privileges to perform this action. Please contact the PKS administrator.
```

For more information, see the [Create and Use Network Profiles](network-profiles.html#cli-commands) section of _Using Network Profiles (NSX-T Only)_.
