---
title: Verify Enterprise PKS Installation on vSphere with NSX-T
owner: PKS-NSXT
---

<strong><%= modified_date %></strong>

This topic provides general instructions for verifying the installation of an NSX-T VM, either an NSX-T Manager VM or an NSX-T Edge Node VM, that you have deployed for use with Enterprise PKS.

##<a id='om-login'></a> Log In to Ops Manager

Complete the following steps to verify the installation of an NSX-T Manager or Edge Node VM.

1. SSH to the Ops Manager VM.

  For instructions, refer to the article "How to generate an SSH key pair for installing Ops Manager v2.6 on vSphere" in the [Pivotal](https://community.pivotal.io/s/article/generate-an-ssh-key-pair-for-installing-ops-manager-v2-6-on-vsphere) or [VMware](https://kb.vmware.com/s/article/71143) support knowledge bases.

##<a id='cli-install'></a> Install the PKS and Kubectl CLIs

1. Copy CLIs to Ops Manager using SCP (PSCP in this case):

    pscp c:\temp\pks-linux-amd64-VERSION ubuntu@IP-ADDRESS:/home/ubuntu/pks
    pscp c:\temp\kubectl-linux-amd64-VERSION ubuntu@IP-ADDRESS:/home/ubuntu/pks

  For example:

    pscp c:\temp\pks\pks-linux-amd64-1.5.0-build.291 ubuntu@10.197.79.152:/home/ubuntu/pks
    pscp c:\temp\pks\kubectl-linux-amd64-1.14.5 ubuntu@10.197.79.152:/home/ubuntu/pks

1. Make the CLIs executable:

    chmod +x pks-linux-amd64-VERSION
    chmod +x kubectl-linux-amd64-VERSION

  For example:

    chmod +x pks-linux-amd64-1.5.0-build.291
    chmod +x kubectl-linux-amd64-1.14.5

1. Rename and move the files to the PATH:

    sudo mv pks-linux-amd64-1.5.0-build.291 /usr/local/bin/pks
    sudo mv kubectl-linux-amd64-1.14.5 /usr/local/bin/kubectl

##<a id='uaac-install'></a> Install UAAC and Configure UAA

1. Install UAAC:

    cd /usr/local/bin
    sudo apt -y install ruby ruby-dev gcc build-essential g++
    sudo gem install cf-uaac

  To verify installation:

    uaac -v

1. Add PKS API hostname and IP address to a DNS server.

  Get the PKS API Hostname from the PKS tile > PKS API module.

  Get the IP address from vSphere.

  Add the information to the /etc/hosts file, for example:

    vi /etc/hosts

    127.0.0.1 localhost
    ...
    10.0.0.7 api.pks.vsphere.local

1. Target PKS using UAAC:

    uaac target https://PKS-HOSTNAME:8443 --skip-ssl-validation

1. Fetch the UAA admin token.

  Retrieve the token from Ops Manager: PKS Tile > Credentials > Pks Uaa Management Admin Client

  Click on Link to Credential, copy the secret value.

  Run the following command:

    uaac token client get admin -s SECRET

  For example:

    uaac target https://api.comet.pks.local:8443 --skip-ssl-validation
    Unknown key: Max-Age = 86400

    Target: https://api.comet.pks.local:8443

    uaac token client get admin -s syMZA-FUlvdEXgXrgI-SDmkUVuP5rlzA
    Unknown key: Max-Age = 86400

    Successfully fetched token via client credentials grant.
    Target: https://api.comet.pks.local:8443
    Context: admin, from client admin

##<a id='users-add'></a> Add PKS Users to UAA 

  Add two users: PKS Admin and PKS Manage.

    uaac user add pks-admin --emails pks-admin@example.com -p PASSWORD
    user account successfully added
    
    uaac user add k8s-admin --emails k8s-admin@example.com -p PASSWORD
    user account successfully added
    
    uaac member add pks.clusters.admin pks-admin
    success
    uaac member add pks.clusters.manage k8s-admin
    success

##<a id='pks-login'></a> Log In to PKS 

1. Login as pks-admin.  

    pks login -a "api.pks.vsphere.local" -u "pks-admin" -p "VMware1!" -k

    API Endpoint: api.pks.vsphere.local
    User: pks-admin
    Login successful.

1. Log in a k8s-admin.

    pks login -a "api.pks.vsphere.local" -u "k8s-admin" -p "VMware1!" -k

    API Endpoint: api.comet.pks.local
    User: k8s-admin
    Login successful.

##<a id='bosh-verify'></a> Use BOSH to Manage PKS 

1. Create a BOSH alias.

  Go to BOSH Director tile > Credentials > Bosh Commandline Credentials.

  Copy the string `bosh_commandline_credentials` and create a Bash alias. For example:

    alias bosh="BOSH_CLIENT=ops_manager BOSH_CLIENT_SECRET=secret-from-bosh_commandline_credentials BOSH_CA_CERT=/var/tempest/workspaces/default/root_ca_certificate BOSH_ENVIRONMENT=ip-from-bosh_commandline_credentials bosh "

  Or, create `bosh_evn.sh` and run the command `source bosh_env.sh`.

    export BOSH_CLIENT=ops_manager
    export BOSH_CLIENT_SECRET=SECRET
    export BOSH_CA_CERT=/var/tempest/workspaces/default/root_ca_certificate
    export BOSH_ENVIRONMENT=IP-ADDRESS-OF-BOSH
    alias om=om-linux

1. Get bosh deployments.

    bosh deployments

1. Get bosh VMs.

    bosh vms

1. Get bosh components.

    bosh releases

1. SSH to a Kubernetes node.

    bosh ssh -d 'service-instance_9dd62330-fcea-469f-a50d-27c746622662' master/b1f99643-6905-4427-a01c-c26fc9101d40

1. Delete a Kubernetes cluster.

  This may be needed if a Kubernetes cluster fails to deploy, and you can't delete it using the PKS CLI.

    bosh -e pks delete-deployment -d service-instance_3bd9069f-aafd-4525-a145-f3e48570c055

##<a id='k8s-creds'></a> Connect to Kubernetes Cluster 

1. Retrieve credentials for the Kubernetes cluster.

    pks get-credentials CLUSTER-NAME

1. Verify that the /.kube/config file is created. 

  The following file is created:

    ls -l ~/.kube/config

1. Create a DNS record for the Kubernetes cluster and master node IP address.

  Run the following command to get the information:

    pks cluster CLUSTER-NAME

  Get the value for the "Kubernetes Master Host" and the value for the "Kubernetes Master IP(s)".

  Use these values to create a DNS record. For example:

    vi /etc/hosts

    10.197.100.130 tea-cluster

1. Connect to the Kubernetes cluster.

    kubectl config use-context CLUSTER-NAME

1. Get cluster nodes.

    kubectl get nodes

##<a id='hello-world'></a> Deploy a Hello World Cluster 


##<a id='home'></a> NSX-T Installation Instructions Home

<a href="./nsxt-install-config-steps.html">Installing and Configuring NSX-T for <%= vars.product_short %></a>.
