---
title: Configure VIP Address for the NSX Management Cluster
owner: PKS
topictype: vspherewithnsxt
---

<strong><%= modified_date %></strong>

This topic explains how to configure a Virtual IP address (VIP) and generate and register a certificate using the VIP for the NSX Managment Cluster for <%= vars.product_full %> environments using vSphere with NSX-T.

##<a id='prereqs'></a> Prerequisites

Make sure you have completed [all preceding NSX-T installation tasks](./nsxt-install-config-steps.html).

##<a id='nsxt-vip-about'></a> About the NSX Management Cluster VIP

Since you have deployed two additional NSX Managers (for a total of three), to support a single access point for the NSX Manager user interface and API, assign a virtual IP Address (VIP) to the NSX-T Management Cluster. Once the VIP is assigned, any UI and API requests to NSX-T are redirected to the virtual IP address of the cluster, which is owned by the leader node. The leader node then routes the request forward to the other components of the appliance.

Using a VIP makes the NSX Management Cluster highly-available. If you need to scale, an alternative to the VIP is to [provision a load balancer for the NSX-T Management Cluster](./nsxt-install-mgmt-lb.html). Provisioning a load balancer requires that NSX-T be fully installed and configured. It is recommended that you configure the VIP now, then install a load balancer ater NSX-T is installed and configured, and only if needed.  

### <a id="nsxt-vip-add"></a> Configure a VIP Address for the NSX-T Management Cluster

Complete the following instructions to create a VIP for the NSX Management Cluster.

1. From your browser, log in with admin privileges to NSX Manager at `https://nsx-manager-ip-address` (for example, `https://10.16.176.10`).
1. Go to **System > Overview**.
1. Click **Edit** next to the Virtual IP field.
1. Enter a VIP for the cluster, such as `172.16.11.81`. Ensure that the VIP is part of the same subnet as the other NSX Management nodes.
1. Click **Save**.
1. When prompted click **Refresh**.

## <a id="nsxt-vip-verify"></a> Verfiy the VIP Address

To verify the VIP and troubleshoot issues, complete the following steps:

1. From your browser, log in with admin privileges to the NSX Manager using the VIP address `https://nsx-manager-VIP-address`.

1. To check the API leader of the HTTPS group, enter the following command in the NSX Manager CLI `get cluster status verbose`.

1. To troubleshoot VIP issues, verify Reverse Proxy logs at `/var/log/proxy/reverse-proxy.log` and cluster manager logs at `/var/log/cbm/cbm.log`.

## <a id="nsxt-vip-which"></a> Determine Which NSX-T Manager the VIP Is Assigned To

After the VIP is configured, you can still connect to any NSX-T manager using its own IP address, or use the VIP to connect to NSX-T Manager. Both methods work. However, note that the VIP is associated with a single NSX Manager. To determine which NSX Manager the VIP is associated with, select the Virtual IP.

  <img src="images/nsxt/nsx-upgrade/nsx_24_upgrade-05.png" alt="VIP Association">

##<a id='next'></a> Next Step

[Install One or More Pair of NSX Edge Nodes](./nsxt-install-edge-node-install.html) using the OVA template file.

##<a id='home'></a> NSX-T Installation Instructions Home

<a href="./nsxt-install-config-steps.html">Installing and Configuring NSX-T for <%= vars.product_short %></a>.




