---
title: Ingress Support for HTTPS Redirect (NSX-T only)
owner: PKS-NSX-T
---

This topic describes how to redirect traffic from HTTP to HTTPS for Kubernetes ingress resources.

## <a id='https-redirect-about'></a>About Support for HTTPS Redirect for Ingress Resources

Enterprise PKS with NCP v2.5.1 provides you with the ability to redirect ingress HTTP requests to HTTPS. 

To support HTTPS, there is a new annotation in Kubernetes ingress resource: `ncp/http-redirect: "true"`, which is applicable for ingress defined with HTTPS. This annotation takes precedence over `kubernetes.io/ingress.allow-http: true`.

Clients receive the HTTP_REDIRECT (302) status code and will be redirected to the HTTPS virtual server.

## <a id='https-redirect-example'></a>HTTPS Redirect Example

The following example shows how to implement an HTTPS redirect ingress resource.

```
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: cafe-ingress-redirect
  annotations:
    ncp/http-redirect: "true"
spec:
  tls:
  - hosts:
    - cafe.example.com
    secretName: cafe-secret
  rules:
  - host: cafe.example.com
    http:
      paths:
      - path: /tea
        backend:
          serviceName: tea-svc
          servicePort: 80
      - path: /coffee
        backend:
          serviceName: coffee-svc
          servicePort: 80
```          


