---
title: Prepare ESXi Hosts as NSX-T Transport Nodes
owner: PKS-NSXT
---

<strong><%= modified_date %></strong>

This topic provides instructions for preparing ESXi hosts as NSX transport nodes.

##<a id='prereqs'></a> Prerequisites

Make sure you have completed [all preceding NSX-T installation tasks](./nsxt-install-config-steps.html).

##<a id='prep-esxi-about'></a>About ESXi Host Preparation

In NSX-T Data Center, a Transport Node allows nodes to exchange traffic for virtual networks. ESXi hosts dedicated to the <%= vars.product_short %> Compute Cluster must be prepared as transport nodes. 

For each ESXi host in the NSX-T Fabric to be used for Enterprise PKS-provisioned Kubernetes clusters, create an associated transport node. For example, if you have three ESXi hosts in the vCenter Cluster reserved for Enterprise PKS use, create three transport nodes. Add the Overlay Transport Zone to each ESXi Host Transport Node.

These instructions assume that for each participating ESXi host, the ESXi hypervisor is installed and the `vmk0` is configured. In addition, each ESXi host must have at least one free nic/vmnic for use with NSX-T Host Transport Nodes that is not in use by other vSwitches on the ESXi host. Make sure the `vmnic1` (second physical interface) of the ESXi host is not used. NSX-T will take ownership of it (opaque NSX vswitch will use it as uplink). 

<p class="note"><strong>Note</strong>: The Transport Nodes must be placed on free host NICs not already used by other vSwitches on the ESXi host. Use the <code>VTEPS</code> IP pool that allows ESXi hosts to route and communicate with each other, as well as other Edge Transport Nodes.</p>

##<a id='prep-esxi-configure'></a> Create Host Transport Nodes

Complete the following operation for each ESXi host to be used by the PKS Compute Cluster.

1. In NSX-T Manager, go to **System > Fabric > Nodes > Host Transport Nodes**.

1. For the **Managed by** field, select **VMware vCenter Server App** from the dropdown menu.
<p class="note"><strong>Note</strong>: This assumes that you configured <a href="./nsxt-install-nsx-mgmt-cluster.html#add-compute-mgr">vCenter as the Compute Manager</a>.</p>

1. Expand the Cluster icon so the ESXi hosts are displayed.

1. In the **NSX-T Configuration** column, click the **Not Configured** icon to begin the process.

1. Click **Yes** to configure the ESXi host as a transport node.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-prep-esxi/config-esxi-hosts-02.png">

1. Configure the ESXi host as follows:
  * **Transport Zone**: TZ-Overlay
  * **N-VDS Name**: `hostswitch1`
  * **NIOC Profile**: `nsx-default-noic-hostswitch-profile`
  * **Uplink Profile**: `nsx-default-uplink-hostswitch-profile`
  * **LLDP Profile**: LLDP [Send Packet Disabled]
  * **IP Assignment**: `Use IP Pool`
  * **IP POOL**: `TEP-ESXi-POOL`
  * **Physical NICs**: `vmnic1` and `uplink-1`
  * **PNIC only Migration**: No
  <img src="images/nsxt/nsxt-data-center-installation/nsx-prep-esxi/config-esxi-hosts-01.png">

1. Click **Finish** to create the ESXi Transport Node.

1. Repeat the process for each ESXi host in the vSphere Cluster dedicated for <%= vars.product_short %>.

##<a id='prep-esxi-verify'></a> Verify ESXi Host Preparation for Enterprise PKS

1. In NSX Manager, go to **System > Fabric > Nodes > Host Transport Nodes**.

1. For the **Managed by** field, select **VMware vCenter Server App** from the dropdown menu.

1. Verify that the **Node Status** is **Up** for the ESXi host.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-prep-esxi/config-esxi-hosts-03.png">

1. Select the information icon for the EXSi host in the **Node Status** column. Verify that the **Tunnel Status** status is **Up**.

1. Verify that the NSX TEP vmk is created on ESXi host and TEP to TEP communication (with Edge TN for instance) works.

		[root@ESXi-1:~] esxcfg-vmknic -l
		[root@ESXi-1:~] vmkping ++netstack=vxlan <IP of the vmk10 interface> -d -s 1500

##<a id='next'></a> Next Step

Assuming you have successfully completed [all preceding NSX-T installation tasks](./nsxt-install-config-steps.html), NSX-T Data Center should now be installed and configured for Enterprise PKS. 

Depending on your requirements, you may want to complete the following additional tasks:
- The NSX-T Data Center administrator password expires after 90 days. To change the password or the expiration interval, see [Updating the NSX-T Admin Password](./nsxt-install-update-password.html).
- If you require scalability for the NSX Management Cluster, [Provision a Load Balancer for the NSX-T Management Cluster](./nsxt-install-mgmt-lb.html).

##<a id='home'></a> NSX-T Installation Instructions Home

<a href="./nsxt-install-config-steps.html">Installing and Configuring NSX-T for <%= vars.product_short %></a>.
