---
title: Create Uplink Logical Switch for the Tier-0 Router
owner: PKS-NSXT
---

This topic provides instructions for creating an NSX-T Tier-0 Logical Router for use with Enterprise PKS.

##<a id='prereqs'></a> Prerequisites

Make sure you have completed [all preceding NSX-T installation tasks](./nsxt-install-config-steps.html).

##<a id='t0-router-about'></a>About Tier-0 Logical Routers

In NSX-T Data Center, a Tier-0 logical router provides a gateway service between the logical and physical network. For additional information, see [Tier-0 Logical Router ](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.5/administration/GUID-3F163DEE-1EE6-4D80-BEBF-8D109FDB577C.html) in the NSX-T documentation.

##<a id='t0-logical-switch'></a> Create Uplink Logical Switch (LS)

1. From your browser, log in with admin privileges to NSX Manager at `https://<nsx-manager-ip-address>`.

1. In NSX Manager, go to **Advanced Networking & Security** > **Networking** > **Switching**.

  <img src="images/nsxt/nsxt-25/nsx-edge-250_34.png">

1. Click **Add** to add a new logical switch.

1. Configure the logical switch as follows:

  * **Name**: `T0-uplink-LS` (for example)
  * **Transport Zone**: `TZ-VLAN`
  * **Uplink Teaming Policy Name**: [Use Default]
  * **Admin Status**: Up
  * **VLAN**: `1206` (for example, the VLAN ID should match the ID for the PKS Management VLAN)

  <img src="images/nsxt/nsxt-25/nsx-edge-250_35.png">

1. Click **Add** to save the configuration.

  <img src="images/nsxt/nsxt-25/nsx-edge-250_36.png">

##<a id='next'></a> Next Step

[Create an Tunnel Endpoint IP Pool](./nsxt-install-25s8-create-tep.html).

##<a id='home'></a> Installation Instructions Home

See <a href="./nsxt-install-25s0-steps.html">Installing and Configuring NSX-T v2.5 for <%= vars.product_short %></a>.
