---
title: HTTPS Redirect (NSX-T only)
owner: PKS-NSX-T
---

<strong><%= modified_date %></strong>

This topic describes how redirect traffic from HTTP to HTTPS for Kubernetes ingress resources.

## <a id='https-redirect-about'></a>About Support for HTTPS Redirect for Ingress Resources

Ability for ingress to redirect HTTP requests to HTTPS
New annotation in kubernetes ingress resource: ncp/http-redirect: "true”
Applicable for ingress defined with https
Takes precedence over kubernetes.io/ingress.allow-http: true
Clients get HTTP_REDIRECT (302) status code and will be redirected to HTTPS virtual server

## <a id='https-redirect-example'></a>HTTPS Redirect Example


