---
title: Verify NSX-T v2.5 Installation
owner: PKS-NSXT
---

This topic provides instructions for verifying your NSX-T environment after performing an installation of NSX-T v2.5.

##<a id='prereqs'></a> Prerequisites

Make sure you have completed [all preceding NSX-T installation tasks](./nsxt-2-5-installation-steps.html).

##<a id='prep-esxi-configure'></a> Verify the Installation of NSX-T v2.5

Complete the following operation for each ESXi host to be used by the PKS Compute Cluster.

1. In NSX-T Manager, create a T0 router.
  - Name: T0-router
  - Edge Cluster: edgecluster1
  - HA mode: Active/Active

1. Create a router port.
  - Transport Node: edge-node-1
  - LS: T0-uplink-LS
  - Subnet: For example, 10.40.206.10/25
  <img src="images/nsxt/nsxt-25/nsx-edge-250_63.png">

1. Click **Save** to create the T0 router.
  <img src="images/nsxt/nsxt-25/nsx-edge-250_64.png">

1. Create a static route.
  - Network: 0.0.0.0/0
  - Next hop: 10.40.206.125
  <img src="images/nsxt/nsxt-25/nsx-edge-250_65.png">

1. Click **Save** to save the T0 router.
  <img src="images/nsxt/nsxt-25/nsx-edge-250_66.png">

1. Verify that you can ping the T0 interface IP from the network.

		PING 10.40.206.10 (10.40.206.10): 56 data bytes
		64 bytes from 10.40.206.10: icmp_seq=0 ttl=55 time=24.407 ms
		64 bytes from 10.40.206.10: icmp_seq=1 ttl=55 time=23.984 ms
		64 bytes from 10.40.206.10: icmp_seq=2 ttl=55 time=24.170 ms
		64 bytes from 10.40.206.10: icmp_seq=3 ttl=55 time=30.211 ms

##<a id='next'></a> Next Step

Assuming you have successfully completed [all preceding NSX-T installation tasks](./nsxt-2-5-installation-steps.html), NSX-T Data Center is now be installed and configured for <%= vars.product_short %>. 

Depending on your requirements, you may want to complete the following additional tasks:

- The NSX-T Data Center administrator password expires after 90 days. To change the password or the expiration interval, see [Updating the NSX-T Admin Password](./nsxt-install-update-password.html).
- If you require scalability for the NSX Management Cluster, [Provision a Load Balancer for the NSX-T Management Cluster](./nsxt-install-mgmt-lb.html).

##<a id='home'></a> Installation Instructions Home

See <a href="./nsxt-2-5-installation-steps.html">Installing and Configuring NSX-T Data Center v2.5 for <%= vars.product_short %></a>.
