---
title: Install Additional NSX Manager Nodes and Configure the NSX Management Cluster
owner: PKS-NSXT
---

<strong><%= modified_date %></strong>

This topic provides instructions for installing additional NSX Manager nodes and forming the NSX Management Cluster for use with <%= vars.product_short %>.

##<a id='prereqs'></a> Prerequisites

Make sure you have completed [all preceding NSX-T installation tasks](./nsxt-install-config-steps.html).

##<a id='nsx-mgr-cluster-about'></a> About the NSX-T Management Cluster

The NSX-T Management Cluster is a collection of three NSX Manager nodes for high-availability. For more information, see [Deploy NSX Manager Nodes to Form a Cluster](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-B89F5831-62E4-4841-BFE2-3F06542D5BF5.html) in the NSX-T Data Center documentation.

All repository details and user credentials are synchronized NSX-T Manager Nodes in the management cluster. After the NSX-T Management Cluster is formed, you define a virtual IP address (VIP) to access the management cluster.

##<a id='login'></a> Log In to the NSX Manager Web UI

1. From your browser, log in with admin privileges to NSX Manager at `https://<nsx-manager-ip-address>`.

1. For first time log ins, read and accept the EULA terms.

1. Select whether to join the VMware's Customer Experience Improvement Program (CEIP) and click **Save**.

1. At the **Welcome to NSX-T** screen, the system indicates that you have 1 NSX-T Manager node installed, and that a "3 node cluster is recommended."
  <img src="images/nsxt/nsxt-data-center-installation/nsx-mgmt-cluster/nsx-mgmt-cluster-03.png">  

##<a id='add-compute-mgr'></a> Add vCenter as the Compute Manager

Before you can add additional NSX-T Manager Nodes, you must specify a [Compute Manager](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-D225CAFC-04D4-44A7-9A09-7C365AAFCA0E.html). A compute manager is an application that manages resources such as hosts and VMs. For Enterprise PKS we use vCenter as the compute manager.

Complete the following steps to add vCenter as the Compute Manager.

1. In NSX-T Manager, select **System** > **Fabric** > **Compute Managers** > **Add**.

1. Configure the Compute Manager as follows:
  - **Name**: Enter the name to identify the vCenter Server.
  - **Description**: Optionally add details such as the number of clusters in the vCenter Server.
  - **Domain Name/IP Address**: Enter the IP address of the vCenter Server.
  - **Type**: vCenter (keep the default option).
  - **Username** and **Password**: Enter the vCenter Server login credentials.
  - **SHA-256 Thumbprint**: Leave the thumbprint value blank.

1. Click **Add**.

    <img src="images/nsxt/nsxt-data-center-installation/nsx-mgmt-cluster/nsx-mgmt-cluster-04.png">

1. Click **Add** again.
  - Since you left the thumbprint value blank, you are prompted to accept the server-provided thumbprint.
  - After you accept the thumbprint, it takes a few seconds for NSX-T Data Center to discover and register the vCenter Server resources. 
  <img src="images/nsxt/nsxt-data-center-installation/nsx-mgmt-cluster/nsx-mgmt-cluster-05.png"> 
  <img src="images/nsxt/nsxt-data-center-installation/nsx-mgmt-cluster/nsx-mgmt-cluster-04.png">

1. Verify that the vCenter Compute Manager is successfully **Registered** and that its connection status is **Up**.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-mgmt-cluster/nsx-mgmt-cluster-06.png">  
    
1. If the Compute Manager is not registered, troubleshoot as necessary. See the [Add a Compute Manager](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-D225CAFC-04D4-44A7-9A09-7C365AAFCA0E.html) in the NSX-T Data Center documentation for guidance.

##<a id='install-more-managers'></a> Deploy Additional NSX Manager Nodes

You can deploy two additional NSX-T Manager nodes using the NSX-T user interface. For more information, see [Deploy NSX Manager Nodes to Form a Cluster from UI](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-B89F5831-62E4-4841-BFE2-3F06542D5BF5.html) in the NSX-T Data Center documentation.

Complete the following procedure to deploy additional manager nodes and form the NSX-T Management Cluster. 

1. In NSX-T Manager, select **System** > **Overview** > **Add Nodes**.

1. Enter the NSX-T Manager common attribute details as follows:
  - **Compute Manager**: Registered resource compute manager is populated.
  - **Enable SSH**: Toggle the button to allow an SSH login to the new NSX Manager node.
  - **Enable Root Access**: Toggle the button to allow the root access to the new NSX Manager node.
  - **CLI Username and Password Confirmation**: The CLI username is set to `admin`. The password must comply with the password strength restrictions.
  - **Root Password and Password Confirmation**: Set the root password for the new node. The password must comply with the password strength restrictions.
  - **DNS Servers**: Enter the DNS server IP address available in the vCenter Server.
  - **NTP Servers**: Enter the NTP server IP address.
  - **Form Factor**: Select **Medium** (default) or **Large**. Do not select **Small**.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-mgmt-cluster/nsx-mgmt-cluster-07.png">  

1. Enter the second NSX-T Manager node details.
  - **Name**: Enter a name for the NSX-T Manager node, such as `nsx-manager-2`.
  - **Cluster**: Designate the cluster the node is going to join from the drop-down menu.
  - **Resource Pool or Host**: Select the **infra** resource pool from the drop-down menu.
  - **Datastore**: Select a datastore for the node files from the drop-down menu.
  - **Network**: Assign the network from the drop-down menu.
  - **Management IP/Netmask**: Enter the IP address and netmask.
  - **Management Gateway**: Enter the gateway IP address.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-mgmt-cluster/nsx-mgmt-cluster-08.png">  

1. Click **Add Node** and configure a third NSX Manager node.
  - **Name**: Enter a name for the NSX-T Manager node, such as `nsx-manager-3`.
  - **Cluster**: Designate the cluster the node is going to join from the drop-down menu.
  - **Resource Pool or Host**: Select the **infra** resource pool from the drop-down menu.
  - **Datastore**: Select a datastore for the node files from the drop-down menu.
  - **Network**: Assign the network from the drop-down menu.
  - **Management IP/Netmask**: Enter the IP address and netmask.
  - **Management Gateway**: Enter the gateway IP address.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-mgmt-cluster/nsx-mgmt-cluster-09.png">    

1. Click **Finish** and the new NSX-T Manager nodes are deployed.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-mgmt-cluster/nsx-mgmt-cluster-10.png">    

##<a id='verify-nsx-mgmt-cluster'></a> Verify the NSX Management Cluster

1. Verify the deployment of the new NSX Manager nodes.
  - At the **System** > **Overview** > **Management Cluster**, you should see the deployment of the additional nodes.
  - Wait for 10-15 minutes for the deployment, cluster formation, and repository synchronization to complete.
  - Track the deployment process at the **System** > **Overview** screen in vCenter Server.

1. See [Verify NSX VM Deployment for Enterprise PKS](./nsxt-install-verify-vm-deployment.html) to verify the installation of each additional NSX-T Manager node.

##<a id='next'></a> Next Step

See [Configure VIP Address for the NSX-T Management Cluster](./nsxt-install-mgmt-vip.html).

##<a id='home'></a> NSX-T Installation Instructions Home

<a href="./nsxt-install-config-steps.html">Installing and Configuring NSX-T for <%= vars.product_short %></a>.
