---
title: Installing and Configuring NSX-T Managers
owner: TKGI-NSXT
---

This topic provides instructions for installing and configuring NSX-T Managers on vSphere in a clustered arrangement for high-availability.

##<a id='nsxt-install-prereqs'></a> Prerequisites

Before completing this section, make sure you have completed the following sections:

<ul>
  <li>
    <a href="./nsxt-install-prereqs.html">NSX-T Installation Prerequisites</a>
  </li>
</ul>


##<a id='nsxt30-mgr1'></a> Deploy NSX-T Manager 1

Deploy the NSX-T Manager OVA in vSphere. Download the OVA from the VMware software download site.

1. Using the vSphere Client, right-click the vCenter cluster and select **Deploy OVF Template.**
  <img src="images/nsxt/nsxt-30/nsx-manager-1-01.png">
1. At the **Select an OVF Template** screen, browse to and select the NSX Unified Appliance OVA file.
  <img src="images/nsxt/nsxt-30/nsx-manager-1-02.png">
1. At the **Select a name and folder** screen, select the target Datacenter object.
  <img src="images/nsxt/nsxt-30/nsx-manager-1-03.png">
1. At the **Select a compute resource** screen, select the target vCenter cluster.
  <img src="images/nsxt/nsxt-30/nsx-manager-1-03a.png">
1. Review the details.
  <img src="images/nsxt/nsxt-30/nsx-manager-1-04.png">
1. At the **Configuration** screen, select at least **Medium** for the configuration size.
  <img src="images/nsxt/nsxt-30/nsx-manager-1-05.png">
1. At the **Select storage** screen, choose **Thin Provision** and the desired datastore.
  <img src="images/nsxt/nsxt-30/nsx-manager-1-06.png">
1. For **Network1**, enter the VLAN management network, such as `PG-MGMT-VLAN-1548`.
  <img src="images/nsxt/nsxt-30/nsx-manager-1-07.png">
1. Enter strong passwords for all user types.
  <img src="images/nsxt/nsxt-30/nsx-manager-1-08.png">
1. Enter the hostname, such as `nsx-manager-1`.
1. Enter the rolename, such as `NSX Manager`.
1. Enter the Gateway IP address, such as `10.173.62.253`.
1. Enter a public IP address for the VM, such as `10.173.62.44`.
1. Enter the Netmask, such as `255.255.255.0`.
  <img src="images/nsxt/nsxt-30/nsx-manager-1-09.png">
1. Enter the DNS server, such as `10.172.40.1`.
1. Enter the `NTP server`, such as `10.113.60.176`.
1. Enable the **Enable SSH** checkbox.
1. Enable the **Allow SSH root logins** checkbox.
  <img src="images/nsxt/nsxt-30/nsx-manager-1-10.png">
1. Click **Finish**, and NSX-T Manager 1 starts deploying.
  <img src="images/nsxt/nsxt-30/nsx-manager-1-11.png">
1. Monitor the deployment using the **Recent Tasks** pane.
  <img src="images/nsxt/nsxt-30/nsx-manager-1-12.png">
1. When the deployment completes, select the VM and power it on.
1. Access the NSX-T Manager 1 web console by navigating to the URL, such as: `https://10.173.62.44/`.
  <img src="images/nsxt/nsxt-30/nsx-manager-1-13.png">
1. Log in and verify the installation. Note the system message that a "3 node cluster" is recommended.
  <img src="images/nsxt/nsxt-30/nsx-manager-1-14.png">

##<a id='nsxt30-compute-mgr'></a> Add vCenter as the Compute Manager

A compute manager is required for NSX-T environments with multiple NSX-T Manager nodes. A compute manager is an application that manages resources such as hosts and VMs. For TKGI we use the vCenter Server as the compute manager.

Complete the following steps to add vCenter as the Compute Manager. For additional guidance, refer to the [NSX-T documentation](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/3.0/installation/GUID-D225CAFC-04D4-44A7-9A09-7C365AAFCA0E.html).

1. In the NSX Management console, navigate to **System** > **Appliances**.
  <img src="images/nsxt/nsxt-30/nsx-manager-1-15.png">
1. Select **Compute Managers**.
  <img src="images/nsxt/nsxt-30/nsx-manager-1-16.png">
1. Click **Add**.
1. Enter a **Name**, such as **vCenter**.
1. Enter an **IP address**, such as `10.173.62.43`.
1. Enter the vCenter username, such as `administrator@vsphere.local`.
1. Set the **Enable Trust** toggle to **Yes**.
  <img src="images/nsxt/nsxt-30/nsx-manager-1-17.png">
1. Click **Add**.
1. Click **Add** again at the thumbprint warning.
  <img src="images/nsxt/nsxt-30/nsx-manager-1-18.png">
1. Verify that the Compute Manager is added and registered.
  <img src="images/nsxt/nsxt-30/nsx-manager-1-19.png">

##<a id='nsxt30-mgr2'></a> Deploy NSX-T Manager 2

Use the NSX-T Management Console to deploy an additional NSX-T Manager node as part of the NSX-T Management layer. For more information, refer to the [NSX-T documentation](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/3.0/installation/GUID-B89F5831-62E4-4841-BFE2-3F06542D5BF5.html).

1. In the NSX Management Console, navigate to **System** > **Appliances**. 
1. Select **Add NSX Appliance**.
  <img src="images/nsxt/nsxt-30/nsx-manager-1-20.png">
1. Enter a hostname, such as `nsx-manager-2`.
1. Enter the Management IP/netmask, such as `10.173.62.45/24`.
1. Enter the Gateway, such as `10.173.62.253`.
1. For the Node size, choose `medium`.
  <img src="images/nsxt/nsxt-30/nsx-manager-1-21.png">
1. For the Compute Manager, select `vCenter`.
1. For the Compute Cluster, enter `MANAGEMENT-cluster`.
1. For the Datastore, select the datastore, such as `datastore2`.
1. For the Virtual Disk Format, select `thin provision`.
1. For the Network, select the VLAN management network, such as `PG-MGMT-VLAN-1548`.
  <img src="images/nsxt/nsxt-30/nsx-manager-1-22.png">
1. Select **Enable SSH**.
1. Select **Enable root access**.
1. Enter a strong password.
  <img src="images/nsxt/nsxt-30/nsx-manager-1-23.png">
1. Click **Install Appliance**.
1. Verify that the NSX-T Manager 2 appliance is added.
  <img src="images/nsxt/nsxt-30/nsx-manager-1-24.png">
  <img src="images/nsxt/nsxt-30/nsx-manager-1-25.png">
  <img src="images/nsxt/nsxt-30/nsx-manager-1-26.png">

##<a id='nsxt30-mgr3'></a> Deploy NSX-T Manager 3

Use the NSX-T Management Console to deploy a third NSX-T Manager node as part of the NSX-T Management layer. For more information, refer to the [NSX-T documentation](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/3.0/installation/GUID-B89F5831-62E4-4841-BFE2-3F06542D5BF5.html).

1. In the NSX Management Console, navigate to **System** > **Appliances**. 
1. Select **Add NSX Appliance**.
1. Enter a hostname, such as `nsx-manager-3`.
1. Enter the Management IP/netmask, such as `10.173.62.46/24`.
1. Enter the Gateway, such as `10.173.62.253`.
1. For the Node size, choose `medium`.
1. For the Compute Manager, select `vCenter`.
1. For the Compute Cluster, enter `MANAGEMENT-cluster`.
1. For the Datastore, select the datastore, such as `datastore2`.
1. For the Virtual Disk Format, select `thin provision`.
1. For the Network, select the VLAN management network, such as `PG-MGMT-VLAN-1548`.
1. Select **Enable SSH**.
1. Select **Enable root access**.
1. Enter a strong password.
1. Click **Install Appliance**.
1. Verify that the NSX-T Manager 3 appliance is added.
  <img src="images/nsxt/nsxt-30/nsx-manager-1-27.png">
  <img src="images/nsxt/nsxt-30/nsx-manager-1-28.png">

##<a id='nsxt30-mgmt-vip'></a> Configure the NSX-T Management VIP

The NSX-T Management layer includes three NSX-T Manager nodes. To support a single access point, assign a virtual IP Address (VIP) to the NSX-T Management layer. Once the VIP is assigned, any UI and API requests to NSX-T are redirected to the virtual IP address of the cluster, which is owned by the leader node. The leader node then routes the request forward to the other components of the appliance.

Using a VIP makes the NSX Management Cluster highly-available. If you need to scale, an alternative to the VIP is to provision a load balancer for the NSX-T Management Cluster. Provisioning a load balancer requires that NSX-T be fully installed and configured. It is recommended that you configure the VIP now, then install a load balancer after NSX-T is installed and configured, and only if needed.

Complete the following instructions to create a VIP for the NSX Management Cluster. The IP address you use for the VIP must be part of the same subnet as the NSX-T Management nodes.

1. In the NSX Management Console, navigate to **System** > **Appliances**. 
1. Click the **Set Virtual IP** button.
1. Enter a Virtual IP address, such as `10.173.62.47`.
  <img src="images/nsxt/nsxt-30/nsx-manager-1-29.png">
1. Verify that the VIP is added.
  <img src="images/nsxt/nsxt-30/nsx-manager-1-30.png">
  <img src="images/nsxt/nsxt-30/nsx-manager-1-31.png">
1. Access the NSX-T Management console using the VIP, such as `https://10.173.62.47/login.jsp`.
  <img src="images/nsxt/nsxt-30/nsx-manager-1-32.png">
  <img src="images/nsxt/nsxt-30/nsx-manager-1-33.png">

##<a id='nsxt30-mgmt-license'></a> Add the NSX-T Manager License

If you do not add the proper NSX-T license, you will receive an error when you try to deploy an Edge Node VM.

1. In the NSX-T Manager console, navigate to **System** > **Licenses**.
1. Add the NSX Data Center Advanced (CPU) license.
1. Verify that the license is added.

##<a id='nsxt30-mgmt-enable-adv'></a> Enable the NSX-T Manager Interface (if necessary)

The NSX Management Console provides two user interfaces: **Policy** and **Manager**. TKGI supports both. 

The **Policy** interface is the default. If you are using the **Manager** interface for configuring the networking and security objects, you need to enable the Manager interface.

1. In the NSX-T Manager console, navigate to **System** > **User Interface Settings**.
  <img src="images/nsxt/nsxt-30/nsx-manager-1-38.png">
1. Click **Edit**.
1. For the **Toggle Visibility** field, select **Visible to all Users**.
1. For the **Default Mode** field, select **Manager**.
1. Click **Save**.
  <img src="images/nsxt/nsxt-30/nsx-manager-1-40.png">
  <img src="images/nsxt/nsxt-30/nsx-manager-1-41.png">
1. Refresh the NSX-T Manager Console and navigate to an area of the console that is not listed under **System**.
1. In the upper-right area of the console, verify that the **Manager** option is enabled. 
