---
title: Create DVS Port Group for NSX-T Edge Nodes
owner: PKS-NSXT
---

This topic provides instructions for creating a distributed virtual switch port group for use with <%= vars.product_short %>.

##<a id='prereqs'></a> Prerequisites

Make sure you have completed [all preceding NSX-T installation tasks](./nsxt-2-5-installation-steps.html).

##<a id='tzs-about'></a>About vSphere Distributed Switch and DVS Port Group

A vSphere distributed switch acts as a single switch across all associated hosts in a data center to provide centralized provisioning, administration, and monitoring of virtual networks. You configure a vSphere distributed switch on the vCenter Server system and the configuration is propagated to all hosts that are associated with the switch. This lets virtual machines maintain consistent network configuration as they migrate across multiple hosts.

A port group associated with a vSphere distributed switch that specifies port configuration options for each member port. Distributed port groups define how a connection is made through the vSphere distributed switch to the network.

For more information, see [Networking Concepts](https://docs.vmware.com/en/VMware-vSphere/6.7/com.vmware.vsphere.networking.doc/GUID-2B11DBB8-CB3C-4AFF-8885-EFEA0FC562F4.html) in the VMware vSphere documentation.

##<a id='tz-overlay'></a>Create DVS Port Groups for Edge Nodes 

1. Log in to vCenter.

1. Select the vSwitch0 for the Edge Cluster.

  <img src="images/nsxt/nsxt-25/nsx-edge-250_28.png">

1. For vSwitch0, create an uplink port group.
  - Port Group: **NSX-EDGE-UPLINK**
  - VLAN ID: **All (4095)** (it's a TRUNK)

  <img src="images/nsxt/nsxt-25/nsx-edge-250_29.png">

1. Select the vSwitch1 for the Edge Cluster.

  <img src="images/nsxt/nsxt-25/nsx-edge-250_30.png">

1. For vSwitch1, create a port group for VTEP.
  - Port Group: **NSX-EDGE-VTEP-PG**
  - VLAN ID: None

  <img src="images/nsxt/nsxt-25/nsx-edge-250_30.png">

  <img src="images/nsxt/nsxt-25/nsx-edge-250_31.png">

1. Set the MTU on the virtual switch to 9000 bytes.

  Set the MTU to 9000 bytes on the virtual switch that host the port group for the Edge Node VTEP. In this example, the VTEP virtual switch is vSwitch1.

  <img src="images/nsxt/nsxt-25/nsx-edge-250_32.png">

  <img src="images/nsxt/nsxt-25/nsx-edge-250_33.png">

##<a id='next'></a> Next Step

[Create Uplink Logical Switch for the Tier-0 Router](./nsxt-2-5-installation-create-uplink-ls-t0.html).

##<a id='home'></a> Installation Instructions Home

See <a href="./nsxt-2-5-installation-steps.html">Installing and Configuring NSX-T v2.5 for <%= vars.product_short %></a>.
