---
title: Create Edge Cluster
owner: PKS-NSXT
---

<strong><%= modified_date %></strong>

This topic provides instructions for creating an NSX-T Edge Cluster for use with <%= vars.product_short %>.

##<a id='prereqs'></a> Prerequisites

Make sure you have completed [all preceding NSX-T installation tasks](./nsxt-install-config-steps.html).

##<a id='edge-cluster-about'></a>About Edge Clusters

In NSX-T Data Center, an Edge Cluster is a logical boundary for resourcing. Having a multi-node cluster of NSX-T Edge Nodes helps ensure that at least one NSX Edge is always available. To create a Tier-0 logical router or a Tier-1 router with stateful services such as NAT, a traffic load balancer, and other virtual network objects, you must associate them with an NSX Edge cluster.

An Edge Cluster can have a maximum of 10 Edge Nodes. If the provisioning requires more Edge Nodes than what a single Edge Cluster can support, multiple Edge Clusters must be deployed. An NSX-T Edge Transport Node can be added to only one NSX-T Edge cluster. After creating the NSX-T Edge cluster, you can later edit it to add additional NSX-T Edge Nodes.  An NSX-T Edge cluster can be used to back multiple logical routers. 

For more information, see [Edge Clusters](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-898099FC-4ED2-4553-809D-B81B494B67E7.html) in the NSX-T Data Center documentation.

##<a id='edge-cluster-create'></a> Create Edge Cluster

Create an NSX Edge Cluster and add each Edge Transport Node to the Edge Cluster by completing the following procedure: 

1. In NSX Manager, select **System > Fabric > Nodes > Edge Clusters** and click **Add**.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-edge-cluster/create-edge-cluster-01.png">

1. Configure the NSX Edge Cluster as follows:

  * **Name**: Enter the NSX Edge cluster a name.
  * **Edge Cluster Profile**: Select `nsx-default-edge-high-availability-profile` from the menu.
  * **Transport Nodes > Member Type**: Select `Edge Node` from the menu.
  * From the **Available** column, select both NSX-T Edge Nodes and click the right-arrow to move them to the **Selected** column.
  * Click **Add**.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-edge-cluster/create-edge-cluster-02.png">

##<a id='edge-cluster-verify'></a> Verify Edge Cluster Creation  

To verify Edge Cluster creation, complete the following steps:

1. In NSX-T Manager, select **System > Fabric > Nodes > Edge Clusters**.

1. Verify that you see the new Edge Cluster.

1. Select **Edge Cluster > Related > Transport Nodes**.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-edge-cluster/create-edge-cluster-03.png">

1. Verify that both Edge Transport Nodes are members of the Edge Cluster.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-edge-cluster/create-edge-cluster-04.png">

1. SSH to NSX Edge Node 1 and run the following commands to verify proper connectivity.

		nsx-edge-1> get vteps
		nsx-edge-1> get host-switches
		nsx-edge-1> get edge-cluster status
		nsx-edge-1> get controller sessions

1. SSH to NSX Edge Node 2 and repeat the above commands to verify proper connectivity.

1. Get the TEP IP addresses.
  * Navigate to **System > Fabric > Nodes > Edge Transport Nodes**.
  * Select the Edge Transport Node, such as `nsx-edge-1-tn`.
  * Select the **Monitor tab**. 

1. Verify Edge-TN1 to Edge-TN2 connectivity (TEP to TEP).

		nsx-edge-1> get logical-router
		nsx-edge-1> vrf 0
		nsx-edge-1(vrf)> ping TEP-IP-ADDRESS-EDGE-2

  You should be able to ping Edge Transport Node 2 using the TEP address.

##<a id='next'></a> Next Step

See [Create Tier-0 Logical Router](./nsxt-install-create-t0.html).

##<a id='home'></a> NSX-T Installation Instructions Home

See <a href="./nsxt-install-config-steps.html">Installing and Configuring NSX-T for <%= vars.product_short %></a>.
