---
title: Enable NSX Repository Service for VIB Installs
owner: PKS-NSXT
---

<strong><%= modified_date %></strong>

This topic provides instructions for enabling VIB installs from the NSX Manager repository service.

##<a id='prereqs'></a> Prerequisites

Make sure you have completed [all preceding NSX-T installation tasks](./nsxt-install-config-steps.html).

##<a id='vib-about'></a>About VIBs

VIB stands for vSphere Installation Bundle. A VIB is a collection of files packaged into a single archive to facilitate software distribution for vSphere hosts, similar to a tarball or ZIP archive for other operating systems. 

VIB packages are installed on ESXi hosts. To enable VIB installations from the NSX-T Manager repository, the repository service needs to be enabled on each NSX-T Manager node. 

##<a id='enable-repo-service'></a> Enable Repository Service on Each NSX-T Manager Node

To enable VIB installation from the NSX Manager repository, the repository service needs to be be enabled in NSX Manager.

1. Open an SSH session to one of the NSX-T Manager VMs, such as `nsx-manager-1`. 

  - For example, if you are using Unix: `ssh admin@IP_ADDRESS_OF_NSX_MANAGER-1` 
  - If you are using Windows, use Putty to SSH to the NSX-T Manager node

1. Enable the repository service by running the following command:

	```
	nsx-manager-1> set service install-upgrade enable
	```

1. Repeat this procedure for each NSX Manager node you are deploying for <%= vars.product_short %>. 

	For example:

	```
	nsx-manager-2> set service install-upgrade enable
	```

	```
	nsx-manager-3> set service install-upgrade enable
	```

##<a id='next'></a> Next Step

See [Create an IP Pool for Tunnel Endpoint IP Addresses](./nsxt-install-create-tep.html).

##<a id='home'></a> NSX-T Installation Instructions Home

See <a href="./nsxt-install-config-steps.html">Installing and Configuring NSX-T for <%= vars.product_short %></a>.
