---
title: Using NSX-T Insgress Resources
owner: PKS
iaas: vsphere-nsxt
---

This topic lists the documentation for using NSX-T ingress resources.

## NSX-T Ingress Resources

<ul>
  <li>
    <a href="./nsxt-ingress-srvc-lb.html">Configuring Ingress Resources and Load Balancer Services</a>
  </li>
  <li>
    <a href="./nsxt-health.html">Checking the Health of NSX-T Load Balancer Service</a>
  </li>
  <li>
    <a href="./nsxt-ingress-scale.html">Scaling NSX-T Ingress Resources</a>
  </li>
  <li>
    <a href="/pks/1-6/nsxt-https-redirect.html">Using HTTPS Redirect for NSX-T Ingress</a>
  </li>
</ul>
