---
title: Create Edge Cluster
owner: PKS-NSXT
---

<strong><%= modified_date %></strong>

This topic provides instructions for creating an NSX-T Edge Cluster for use with Enterprise PKS.

##<a id='edge-cluster-about'></a>About Edge Clusters

Logical boundary for resourcing.

Having a multi-node cluster of NSX Edges helps ensure that at least one NSX Edge is always available. In order to create a tier-0 logical router or a tier-1 router with stateful services such as NAT, load balancer, and so on. You must associate it with an NSX Edge cluster. Therefore, even if you have only one NSX Edge, it must still belong to an NSX Edge cluster to be useful.

An NSX Edge transport node can be added to only one NSX Edge cluster.

An NSX Edge cluster can be used to back multiple logical routers.

After creating the NSX Edge cluster, you can later edit it to add additional NSX Edges.


Create an [NSX Edge Cluster](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.3/com.vmware.nsxt.install.doc/GUID-898099FC-4ED2-4553-809D-B81B494B67E7.html?hWord=N4IghgNiBcIKYBMDmcAEBjCBXAzgFzgCcQBfIA) and add each NSX Edge Transport Node to the Edge Cluster. For instructions, see [Create Edge Cluster](nsxt-deploy.html#create-edge-cluster).


##<a id='edge-cluster-create'></a> Create Edge Cluster

Create an NSX Edge Cluster and add each Edge Transport Node to the Edge Cluster by completing this procedure: [Create an NSX Edge Cluster](https://docs.vmware.com/en/VMware-NSX-T/2.2/com.vmware.nsxt.install.doc/GUID-898099FC-4ED2-4553-809D-B81B494B67E7.html).

When creating the Edge Cluster for <%= vars.product_short %>, refer to the following example:

  <img src="images/nsxt/nsx-misc/edge-cluster-01.png">

##<a id='edge-cluster-verify'></a> Verify Edge Cluster Creation  

To verify Edge Cluster creation:

1. In NSX Manager, select **Fabric > Nodes > Edge Clusters**. 
1. Verify that you see the new Edge Cluster.
  <img src="images/nsxt/nsx-misc/edge-cluster-02.png">
1. Select **Edge Cluster > Related > Transport Nodes**.
1. Verify that all Edge Transport Nodes are members of the Edge Cluster.
  <img src="images/nsxt/nsx-misc/edge-cluster-03.png">
1. SSH to NSX Edge Node 1 and run the following commands to verify proper connectivity.

		nsx-edge-1> get vteps
		nsx-edge-1> get host-switches
		nsx-edge-1> get edge-cluster status
		nsx-edge-1> get controller sessions

1. SSSH to NSX Edge Node 2 and repeat the above commands to verify proper connectivity.
1. Verify Edge-TN1 to Edge-TN2 connectivity (TEP to TEP).

		nsx-edge-1> get logical-router
		nsx-edge-1> vrf 0
		nsx-edge-1(vrf)> ping TEP-IP-ADDRESS-EDGE-2

Locate the TEP IP addresses at the Nodes > Edge Transport Nodes > NODE > Monitor. 