---
title: Create Tunnel Endpoint IP Pool
owner: PKS-NSXT
---

This topic provides instructions for creating an IP pool for tunnel endpoints (TEPs).

##<a id='prereqs'></a> Prerequisites

Make sure you have completed [all preceding NSX-T installation tasks](./nsxt-2-5-installation-steps.html).

##<a id='tep-about'></a>About TEPs

Tunnel endpoints (TEPs) are the source and destination IP addresses used in the external IP header to identify the ESXi hosts that originate and end the NSX-T encapsulation of overlay frames. The TEP addresses do not need to be routable for <%= vars.product_full %>, so you can use any random IP addressing scheme you want. For more information, see [Tunnel Endpoint IP Addresses](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.5/installation/GUID-E7F7322D-D09B-481A-BD56-F1270D7C9692.html) in the NSX-T Data Center documentation.

##<a id='tep-create'></a> Create TEP IP Pool

To create the TEP IP Pool, complete the following procedure:

1. From your browser, log in with admin privileges to NSX Manager at `https://NSX-MANAGER-IP-ADDRESS`.

1. In NSX Manager, select **Advanced Networking & Security** > **Inventory** > **Groups** > **IP Pools**.
  <img src="images/nsxt/nsxt-25/nsx-edge-250_37.png">

1. Select **Add**.
  <img src="images/nsxt/nsxt-25/nsx-edge-250_38.png">

1. Configure the IP pool as follows:
  - **Name**: For example, `TEP-IP-POOL`.
  - **Description**. Optional.
  - **IP Ranges**: Enter the IP allocation ranges. For example, `192.23.0.1 - 192.23.0.100`.
    <p class="note"><strong>Note</strong>: TEP addresses do not need to be publicly routable.</p>
  - **Gateway**: For example, `192.23.0.254`.
  - **CIDR**: Enter the Network address. For example, `192.23.0.0/24`.
  - **DNS Servers** (optional): Comma-separated list of DNS servers.
  - **DNS Suffix** (optional): Such as `corp.local`.
  <img src="images/nsxt/nsxt-25/nsx-edge-250_39.png">

##<a id='tep-verify'></a> Verify TEP IP Pool Creation

To verify TEP IP Pool configuration, complete the following steps:

1. In NSX Manager, select **Advanced Networking & Security** > **Inventory** > **Groups** > **IP Pools**.

1. Verify that the TEP IP Pool you created is present.

##<a id='next'></a> Next Step

[Deploy NSX Edge Nodes for Enterprise PKS](./nsxt-2-5-installation-edge-node-deploy.html).

##<a id='home'></a> Installation Instructions Home

See <a href="./nsxt-2-5-installation-steps.html">Installing and Configuring NSX-T v2.5 for <%= vars.product_short %></a>.