---
title: Enable NSX Repository Service for VIB Installs
owner: PKS-NSXT
---

<strong><%= modified_date %></strong>

This topic provides instructions for enabling VIB installs from the NSX Manager repository service.

##<a id='prereqs'></a> Prerequisites

Make sure you have completed [all preceding NSX-T installation tasks](./nsxt-install-config-steps.html).

##<a id='vib-about'></a>About VIBs

VIB stands for vSphere Installation Bundle. A VIB is analgous a tarball or ZIP archive in that it is a collection of files packaged into a single archive to facilitate distribution. VIB packages are installed on ESXi hosts. To enable VIB installations from the NSX Manager repository, the repository service needs to be enabled on each NSX Manager node. 

##<a id='enable-repo-service'></a> Enable Repository Service on NSX Manager

To enable VIB installation from the NSX Manager repository, the repository service needs to be be enabled in NSX Manager.

1. SSH into NSX Manager by using the command `ssh admin@IP_ADDRESS_OF_NSX_MANAGER` (Unix) or Putty (Windows).

1. Enable the repository service by running the following command:

	```
	nsx-manager-1> set service install-upgrade enable
	```

1. Repeat this procedure for each NSX Manager node you are deploying for <%= vars.product_short %>. 

	For example:

	```
	nsx-manager-2> set service install-upgrade enable
	```

	```
	nsx-manager-3> set service install-upgrade enable
	```

##<a id='next'></a> Next Step

[Create an IP Pool for Tunnel Endpoint IP Addresses](./nsxt-install-create-tep.html).

##<a id='home'></a> NSX-T Installation Instructions Home

<a href="./nsxt-install-config-steps.html">Installing and Configuring NSX-T for <%= vars.product_short %></a>.
