---
title: Configuring Ingress Using the NSX-T Load Balancer
owner: PKS
iaas: vsphere-nsxt
---

This section provides topics for configuring the NSX-T load balancer used for ingress resources.

Layer 7 load balancing is implemented via a Kubernetes ingress resource. The ingress is allocated an IP from the Floating IP Pool specified in the NSX-T configuration. NCP exposes the ingress load balancer service on this IP address for both the HTTP and HTTPS ports (port 80 and 443).

## Configuring Ingress Using the NSX-T Load Balancer

<ul>
  <li>
    <a href="./nsxt-ingress-srvc-lb.html">Configuring Ingress Resources and Load Balancer Services</a>
  </li>
  <li>
    <a href="./nsxt-health.html">Viewing and Troubleshooting the Health Status of Cluster Network Objects</a>
  </li>
  <li>
    <a href="./nsxt-ingress-scale.html">Scaling the NSX-T Ingress Load Balancer</a>
  </li>
  <li>
    <a href="/pks/1-6/nsxt-ingress-rewrite-url.html">Using Ingress URL Rewrite</a>
  </li>
</ul>
