---
title: Create NSX-T Objects for PKS
owner: PKS
---

<strong><%= modified_date %></strong>

Installing PKS on vSphere with NSX-T requires the creation of NSX IP blocks for Kubernetes node and pod networks, as well as a Floating IP Pool from which you can assign routable IP addresses to cluster resources. 

You must create separate NSX-T IP blocks for the node networks and the pod networks. The subnets for both nodes and pods should have a size of 256 (/16). For more information about planning IP blocks, see [Plan IP Blocks](nsxt-prepare-env.html#plan-ip-blocks). 

  * **Nodes IP Block** (`node-network-ip-block`). PKS uses this IP block to assign address space to Kubernetes master and worker nodes when new clusters are deployed or a cluster increases its scale.
  * **Pods IP Block** `pod-network-ip-block`. The NSX-T Container Plug-in (NCP) uses this block to assign address space to Kubernetes pods through the Container Networking Interface (CNI).

For more information about NSX IP blocks, see [Manage IP Blocks](https://docs.vmware.com/en/VMware-NSX-T/2.2/com.vmware.nsxt.admin.doc/GUID-46C7B20D-4BE4-400E-AF39-1ADFE945DE38.html) in the VMware NSX-T documentation.

## Instructions

This section provides instructions for preparing the vSphere and NSX-T infrastructure for the PKS Copmute Plane where Kubernetes clusters run. 

- Part I:     [Create the Pods IP Block](create-pods-ipb)         
- Part II:    [Create the Nodes IP Block](create-nodes-ipb)                                  
- Part II:    [Create a Floating IP Pool](create-float-ipp)     

##<a id='create-pods-ipb'></a> Create the Pods IP Block

1. In NSX Manager, go to Networking > IPAM.

  <img src="images/nsxt/nsx-objects/create-pod-ipb-01.png">

1. Click Add and create a new IP Block for Pods. For example:

	Name: PKS-PODS-IP-BLOCK
	CIDR: 172.16.0.0/16

  <img src="images/nsxt/nsx-objects/create-pod-ipb-02.png">

1. Click Add and verify creation of the Pods IP Block.

  <img src="images/nsxt/nsx-objects/create-pod-ipb-03.png">


1. Ge the UUID of the Pods IP Block object. You will reference this UUID when you install PKS with NSX-T.

  <img src="images/nsxt/nsx-objects/create-pod-ipb-04.png">


##<a id='create-nodes-ipb'></a> Create the Nodes IP Block

1. In NSX Manager, go to Networking > IPAM.

  <img src="images/nsxt/nsx-objects/create-node-ipb-01.png">

1. Click Add and create a new IP Block for Nodes. For example:

	Name: PKS-NODES-IP-BLOCK
	CIDR: 192.168.0.0/16

  <img src="images/nsxt/nsx-objects/create-node-ipb-02.png">

1. Click Add and verify creation of the Nodes IP Block.

  <img src="images/nsxt/nsx-objects/create-node-ipb-03.png">

1. Ge the UUID of the Nodes IP Block object. You will reference this UUID when you install PKS with NSX-T.

  <img src="images/nsxt/nsx-objects/create-node-ipb-04.png">


##<a id='create-float-ipp'></a> Create Floating IP Pool

1. In NSX Manager, go to Inventory > Groups > IP Pool.

  <img src="images/nsxt/nsx-objects/create-float-ipp-01.png">

1. Click Add and create a new Floating IP Pool. For example:

	Name: PKS-FLOATING-IP-POOL
	IP Ranges: 10.40.14.10 - 10.40.14.253
	Gateway: 10.40.14.254
	CIDR: 10.40.14.0/24

  <img src="images/nsxt/nsx-objects/create-float-ipp-02.png">

1. Click Add and verify creation of the Nodes IP Block.

  <img src="images/nsxt/nsx-objects/create-float-ipp-03.png">

1. Ge the UUID of the Floating IP Pool object. You will reference this UUID when you install PKS with NSX-T.

  <img src="images/nsxt/nsx-objects/create-float-ipp-04.png">

