---
title: Create TEP IP Pool
owner: PKS-NSXT
---

<strong><%= modified_date %></strong>

This topic provides instructions for enabling VIB installs from the NSX Manager repository service.

##<a id='tep-about'></a>About TEPs

Tunnel endpoints (TEPs) are the source and destination IP addresses used in the external IP header to identify the ESXi hosts originating and end the NSX-T Data Center encapsulation of overlay frames. 

You can also use either DHCP or manually configured IP pools for tunnel endpoint IP addresses.

##<a id='tep-create'></a> Create TEP IP Pool

To create the TEP IP Pool, complete this procedure: [Create an IP Pool for Tunnel Endpoint IP Addresses](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-E7F7322D-D09B-481A-BD56-F1270D7C9692.html).

1. From a browser, log in with admin privileges to an NSX Manager at https://<nsx-manager-ip-address>.

1. Select Advanced Networking & Security > Inventory > Groups > IP Pools > Add.

1. Enter the IP pool details.

	- Name: `TEP-ESXi-POOL`, for example
	- Description (optional)
	- IP Ranges: Enter the IP allocation ranges, such as `23.23.23.1 - 23.23.23.10` (or `192.168.200.100 - 192.168.200.115`)
	- Gateway: `23.23.23.254`, for example 
	- CIDR: Enter the Network address in a CIDR notation, for example `23.23.23.0/24` (or `192.168.200.0/24`)
	- DNS Servers (optional): Comma-separated list of DNS servers, such as `192.168.66.10`
	- DNS Suffix (optional): Such as `corp.local`

When creating the TEP IP Pool, refer to the following example:

  <img src="images/nsxt/nsx-misc/tep-01.png">

##<a id='tep-verify'></a> Verify TEP IP Pool  

To verify TEP IP Pool configuration:

1. In NSX Manager, select **Inventory > Groups > IP Pools**.

1. Verify that the TEP IP Pool you created is present.

  <img src="images/nsxt/nsx-misc/tep-02.png">