---
title: Create an Uplink Profile
owner: PKS-NSXT
---

<strong><%= modified_date %></strong>

This topic provides instructions for creating an NSX-T uplink profile for use with Enterprise PKS.

##<a id='prereqs'></a> Prerequisites

Make sure you have completed [all preceding NSX-T installation tasks](./nsxt-install-config-steps.html).

##<a id='uplink-about'></a>About Uplink Profiles

An uplink profile defines policies for the uplinks from ESXi hosts to NSX-T logical switches. For more information, see [Uplink Profile](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-50FDFDFB-F660-4269-9503-39AE2BBA95B4.html) in the NSX-T Data Center documentation.

##<a id='uplink-create'></a>Create Uplink Profile for Edge Nodes

Complete the following steps to create an uplink profile:

1. In NSX-T Manager, select **System** > **Fabric** > **Profiles** > **Uplink Profiles** > **Add**.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-uplink/create-uplink-01.png">

1. Enter a **Name** for the new uplink profile, such as `edge-uplink-profile`. 

1. Enter the MTU value. The uplink profile MTU default value is 1600.

1. Click **Add**.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-uplink/create-uplink-03.png">


##<a id='uplink-verify'></a>Verify Uplink Profile Creation

To verify Uplink Profile creation:

1. In NSX-T Manager, select **System** > **Fabric** > **Profiles** > **Uplink Profiles**.

1. Verify that you see the Edge Node uplink profile you created:
  <img src="images/nsxt/nsxt-data-center-installation/nsx-uplink/create-uplink-04.png">

##<a id='next'></a> Next Step

[Configure Edge Nodes as NSX Transport Nodes](./nsxt-install-create-tns.html).

##<a id='home'></a> NSX-T Installation Instructions Home

<a href="./nsxt-install-config-steps.html">Installing and Configuring NSX-T for <%= vars.product_short %></a>.
