---
title: Installing and Configuring NSX-T Data Center v2.5 for Enterprise PKS
owner: PKS-NSXT
---

This topic provides the workflow for installing and configuring NSX-T Data Center v2.5 for use with <%= vars.product_full %> on vSphere.

##<a id='nsxt-install-tasks'></a> Workflow for Installing and Configuring NSX-T Data Center v2.5

To perform a new installation of NSX-T Data Center for <%= vars.product_short %>, complete the following steps in the order presented.

<p class="note"><strong>Note:</strong> Refer to the <%= vars.product_short %> release notes for the target PKS version you are installing and verify that NSX-T 2.5 is supported.</p>

1. [Deploy NSX-T Manager from OVA Template](./nsxt-install-25s1-deploy-manager-ova.html).

1. [Add Compute Manager](./nsxt-install-25s2-compute-manager.html).

1. [Add NSX-T Manager Nodes](./nsxt-install-25s3-add-mgr-nodes.html).

1. [Add NSX-T Manager VIP](./nsxt-install-25s4-mgmt-vip.html) or [Provision a Load Balancer for the NSX-T Management Cluster](./nsxt-install-mgmt-lb.html).
  <p class="note"><strong>Note:</strong> Configure a VIP to provide high availability (HA) for the NSX-T Management Cluster. Configure a load balancer if you need high availability *and* you need to scale the NSX Manager. For most installations a VIP is sufficient.</p>

1. [Create Overlay and VLAN Transport Zones](./nsxt-install-25s5-create-tzs.html).

1. [Create DVS Port Group for Edge Nodes](./nsxt-install-25s6-create-dvs-pg.html).

1. [Create Uplink Logical Switch for the Tier-0 Router](./nsxt-install-25s7-create-uplink-ls-t0.html).

1. [Create a Tunnel Endpoint IP Pool](./nsxt-install-25s8-create-tep.html).

1. [Deploy NSX Edge Node VMs](./nsxt-install-25s9_edge-node-deplpoy.html).

1. [Create Edge Cluster and Add Edge Nodes](./nsxt-install-25s10_create-edge-cluster.html).

1. [Prepare ESXi Hosts in the Compute Cluster as Transport Nodes](./nsxt-install-25s11-prep-esxi-hosts.html).

1. [Verify the NSX-T Environment](./nsxt-install-25s12-verify-env.html).

