---
title: Prerequisites for Installing and Configuring NSX-T Data Center v3 for TKGI
owner: TKGI-NSXT
---

This topic provides instructions for installing and configuring NSX-T Data Center v3 <%= vars.product_full %> on vSphere.

##<a id='nsxt30-prereqs'></a> Prerequisites for Installing NSX-T Data Center

To perform a new installation of NSX-T Data Center for <%= vars.product_short %>, complete the following steps in the order presented.

1. Read the [Release Notes](./release-notes.html) for the target <%= vars.k8s_runtime_abbr %> version you are installing and verify NSX-T v3 support.

1. Read the topics in the [Preparing to Install <%= vars.product_short %> on vSphere with NSX-T Data Center](./vsphere-nsxt-index-prepare.html) section of the documentation.
