---
title: Join NSX Edge Nodes with the Management Plane for Enterprise PKS
owner: PKS-NSXT
---

<strong><%= modified_date %></strong>

This topic provides instructions for joining NSX-T Edge Nodes with the NSX-T Management Plane.

##<a id='prereqs'></a> Prerequisites

Make sure you have completed [all preceding NSX-T installation tasks](./nsxt-install-config-steps.html).

##<a id='nsx-edges-join-about'></a> About Joining NSX Edge Nodes with the NSX Management Plane

Joining NSX Edges with the management plane ensures that the NSX Manager and NSX Edges can communicate with each other. For more information, see [Join NSX Edge with the Management Plane](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-11BB4CF9-BC1D-4A76-A32A-AD4C98CBF25B.html) in the NSX-T Data Center documentation.

##<a id='nsx-edges-join'></a> Join NSX Edge Nodes with the NSX-T Management Plane

To register an Edge Node with NSX Manager, complete the following procedure:

1. Open an SSH session to one of the NSX-T Manager VMs, such as `nsx-manager-1`. 

  - For example, if you are using Unix: `ssh admin@IP_ADDRESS_OF_NSX_MANAGER-1` 
  - If you are using Windowsw, use Putty to SSH to the NSX-T Manager node

1. Open another SSH session to the target NSX Edge Node VM, such as `nsx-edge-1`.

1. On the NSX-T Manager appliance, run the command `get certificate api thumbprint`.

    The command output is a string of alphanumeric numbers that is unique to this NSX Manager. For example:

    ```
	nsx-manager-1> get certificate api thumbprint
	120a129d533601a6513abb...924210243d6d6bce8f8f0d84d66d
    ```

1. On the NSX-T Edge Node VM, run the following command to register the Edge Node with the NSX Management Plane.

	```
	join management-plane <nsx-manager-ip-address> username <username> thumbprint <nsx-manager-api-thumbprint>
	```

	For example:

	```
	join management-plane 10.197.79.143 username admin thumbprint 120a129d533601a6...210243d6d6bce8f8f0d84d66d
	```

1. When prompted, enter the admin password for the NSX-T Manager.

1. Verify that you see the following output, indicating that the NSX Edge Node is successfully registered.

	```
	Node successfully registered as Fabric Node: 2a8xYdec-aXa7-11x9-9063-0050512345f11
	```

1. Repeat this join procedure for each NSX Edge Node you have installed for <%= vars.product_short %>.

##<a id='nsx-edges-join-verify'></a> Verify NSX Edge Node Registration with the NSX Management Plane

To verify Edge Node registration with NSX Manager:

1. Verify Edge Node registration by running the command `get managers` on the NSX Edge Node.

	You should see that the Edge Node is connected to one of the NSX Manager nodes. For example:

	```
	nsx-edge-1> get managers
	- 10.XXX.XX.144    Standby
	- 10.XXX.XX.145    Connected
	- 10.XXX.XX.143    Standby
	```

1. In NSX Manager, select the page **System** > **Fabric** > **Nodes** > **Edge Transport Nodes**.

	You should see each registered Edge Node.

	<p class="note"><strong>Note</strong>: Initially the "Configuration State" is yellow because the Edge Nodes are not configured a NSX-T Transport Nodes. This is done later in the process.</p>

1. Repeat this verification procedure for each NSX Edge Node you are deploying for <%= vars.product_short %>.

##<a id='next'></a> Next Step

See [Enable Repository Service on Each NSX Manager Node](./nsxt-install-enable-vib.html).

##<a id='home'></a> NSX-T Installation Instructions Home

See <a href="./nsxt-install-config-steps.html">Installing and Configuring NSX-T for <%= vars.product_short %></a>.
