---
title: Create an Uplink Profile
owner: PKS-NSXT
---

<strong><%= modified_date %></strong>

This topic provides instructions for creating an NSX-T uplink profile for use with Enterprise PKS.

##<a id='uplink-about'></a>About Uplink Profiles

An uplink profile defines policies for the links from hypervisor (ESXi) hosts to NSX-T Data Center logical switches.

For more information, see [Create an Uplink Profile](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-50FDFDFB-F660-4269-9503-39AE2BBA95B4.html) in the NSX-T documentation.

##<a id='uplink-create'></a>Create Uplink Profile for Edge Nodes

Complete the following steps to create an uplink profile:

1. From a browser, log in with admin privileges to an NSX Manager at https://<nsx-manager-ip-address>.

1. Select System > Fabric > Profiles > Uplink Profiles > Add.

1. Complete the uplink profile details. 

1. Enter a Transport VLAN value.

1. Enter the MTU value. The uplink profile MTU default value is 1600.

  <img src="images/nsxt/nsx-misc/edge-uplink-01.png">

##<a id='uplink-verify'></a>Verify Uplink Profile Creation

To verify Uplink Profile creation:

1. In NSX Manager select **Fabric > Profiles > Uplink Profiles**.

1. Verify that you see the Edge Node uplink profile you created:

  <img src="images/nsxt/nsx-misc/edge-uplink-02.png">

1. In addition to the UI, you can also view the uplink profiles with the API call GET /api/v1/host-switch-profiles. 