---
title: Create TEP IP Pool
owner: PKS-NSXT
---

<strong><%= modified_date %></strong>

This topic provides instructions for creating an IP pool for tunnel endpoints (TEPs).

##<a id='prereqs'></a> Prerequisites

Make sure you have completed [all preceding NSX-T installation tasks](./nsxt-install-config-steps.html).

##<a id='tep-about'></a>About TEPs

Tunnel endpoints (TEPs) are the source and destination IP addresses used in the external IP header to identify the ESXi hosts that originate and end the NSX-T encapsulation of overlay frames. You can use DHCP or manually configured IP pools for TEP addresses. The TEP addresses do not need to be routable. so you can use any random IP addressing scheme you want. For more information, see [Tunnel Endpoint IP Addresses](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-E7F7322D-D09B-481A-BD56-F1270D7C9692.html) in the NSX-T Data Center documentation.

##<a id='tep-create'></a> Create TEP IP Pool

To create the TEP IP Pool, complete the following procedure:

1. In NSX Manager, select **Advanced Networking & Security** > **Inventory** > **Groups** > **IP Pools** > **Add**.

1. Enter the IP pool details.

  - **Name**: `TEP-ESXi-POOL`, for example
  - **Description** (optional)
  - **IP Ranges**: Enter the IP allocation ranges, for example `192.168.200.100 - 192.168.200.115`
  - **Gateway**: `23.23.23.254`, for example 
  - **CIDR**: Enter the Network address in a CIDR notation, for example `192.168.200.0/24`
  - **DNS Servers** (optional): Comma-separated list of DNS servers, such as `192.168.66.10`
  - **DNS Suffix** (optional): Such as `corp.local`

  <img src="images/nsxt/nsxt-data-center-installation/nsx-tep-pool/create-tep-pool-01.png">

<p class="note"><strong>Note</strong>: TEP addresses do not need to be publicly routable.</p>

##<a id='tep-verify'></a> Verify TEP IP Pool Creation

To verify TEP IP Pool configuration, complete the following steps:

1. In NSX Manager, select **Advanced Networking & Security** > **Inventory** > **Groups** > **IP Pools**.

1. Verify that the TEP IP Pool you created is present.

  <img src="images/nsxt/nsxt-data-center-installation/nsx-tep-pool/create-tep-pool-02.png">

##<a id='next'></a> Next Step

See [Create Overlay and VLAN Transport Zones](./nsxt-install-create-tzs.html).

##<a id='home'></a> NSX-T Installation Instructions Home

See <a href="./nsxt-install-config-steps.html">Installing and Configuring NSX-T for <%= vars.product_short %></a>.
