---
title: Create an IP Pool for VTEP
owner: TKGI-NSXT
---

This topic provides instructions for installing and configuring NSX-T Data Center v3.0 for use with <%= vars.product_full %> on vSphere.

##<a id='nsxt30-ip-pools'></a> Create an IP Pool for VTEP

Tunnel endpoints (TEPs) are the source and destination IP addresses used in the external IP header to identify the ESXi hosts that originate and end the NSX-T encapsulation of overlay frames. The TEP addresses do not need to be routable so you can use any random IP addressing scheme you want. For more information, refer to the [NSX-T Data Center documentation](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/3.0/installation/GUID-E7F7322D-D09B-481A-BD56-F1270D7C9692.html).

1. In the NSX-T Management Console, select the **Manager** interface (upper right).
1. Navigate to **Networking** > **IP Address Pool**.  
  <img src="images/nsxt/nsxt-30/ip-pool-01.png">
1. Click **Add**.
1. Enter a **Name**, such as `TEP-IP-POOL`.
1. Enter an IP range, such as `192.23.213.1 - 192.23.213.10`.
1. Enter a CIDR address, such as `192.23.213.0/24`.  
  <img src="images/nsxt/nsxt-30/ip-pool-02.png">
1. Click **Add**.
1. Verify that the pool is added.  
  <img src="images/nsxt/nsxt-30/ip-pool-03.png">
