---
title: Create Edge Transport Nodes
owner: PKS-NSXT
---

<strong><%= modified_date %></strong>

This topic provides instructions for enabling VIB installs from the NSX Manager repository service.

##<a id='create-edge-tns'></a>Step 11: Create Edge Transport Nodes

Create NSX Edge Transport Nodes which allow Edge Nodes to exchange virtual network traffic with other NSX nodes.

Be sure to add both the VLAN and OVERLAY NSX Transport Zones to the NSX Edge Transport Nodes and confirm NSX Controller and Manager connectivity. Use the MAC addresses of the Edge VM interfaces to deploy the virtual NSX Edges:

* Connect the OVERLAY N-VDS to the vNIC (`fp-eth#`) that matches the MAC address of the second NIC from your deployed Edge VM.
* Connect the VLAN N-VDS to the vNIC (`fp-eth#`) that matches the MAC address of the third NIC from your deployed Edge VM.

To create an Edge Transport Node for <%= vars.product_short %>:

1. Log in to NSX Manager (`https://IP_ADDRESS_OF_NSX_MANAGERs`).
1. Go to **Fabric > Nodes > Edges**.
1. Select an Edge Node.
1. Click Actions > **Configure as Transport Node**.
  <img src="images/nsxt/nsx-misc/edge-transport-node-01.png">
1. In the General tab, enter a name and select both Transport Zones: TZ-Overlay (Overlay) and TZ-VLAN (VLAN).
  <img src="images/nsxt/nsx-misc/edge-transport-node-02a.png">
1. Select the **Host Switches** tab.
1. Configure the first transport node switch. For example:
 * **Edge Switch Name**: `hostswitch1`
 * **Uplink Profile**: `edge-uplink-profile`
 * **IP Assignment**: `Use IP Pool`
 * **IP Pool**: `TEP-ESXi-POOL`
 * **Virtual NICs**: `fp-eth0` (corresponds to Edge VM vnic1 (second vnic))
  <img src="images/nsxt/nsx-misc/edge-transport-node-02.png">
1. Click **Add Host Switch**.
1. Configure the second transport node switch. For example:
 * **Edge Switch Name**: `hostswitch2`
 * **Uplink Profile**: `edge-uplink-profile`
 * **Virtual NICs**: `fp-eth1` (corresponds to Edge VM vnic2 (third vnic))
  <img src="images/nsxt/nsx-misc/edge-transport-node-03.png">
   <p class="note"><strong>Note</strong>: Repeat this procedure for the second Edge Transport Node (Edge-TN2), as well as additional Edge Node pairs you deploy for <%= vars.product_short %>.</p>

To verify the creation of Edge Transport Nodes:

1. In NSX Manager, select **Fabric > Nodes > Edges**. 
1. Verify that Controller Connectivity and Manager Connectivity are `UP` for both Edge Nodes.
  <img src="images/nsxt/nsx-misc/edge-transport-node-08.png">
1. In NSX Manager, select **Fabric > Nodes > Transport Node**. 
1. Verify that the configuration state is `Success`.
  <img src="images/nsxt/nsx-misc/edge-transport-node-07.png">
1. SSH to each NSX Edge VM and verify that the Edge Transport Node is "connected" to the Controller.

		nsx-edge-1> get controllers