---
title: Creating the PKS Compute Plane
owner: PKS
---

<strong><%= modified_date %></strong>

This section provides instructions for preparing the vSphere and NSX-T infrastructure for the PKS Compute Plane where Kubernetes clusters run. 

##<a id='prerequisites'></a>Prerequisites

Before you begin this procedure, ensure that you have successfully completed all preceding steps for installing <%= vars.product_short %> on vSphere with NSX-T, including:

<ul>
  <li>
    <a href="./nsxt-install-config-steps.html">Installing and Configuring NSX-T for <%= vars.product_short %></a>
  </li>
  <li>
    <a href="./nsxt-prepare-mgmt-plane.html">Creating the PKS Management Plane</a>
  </li>
</ul>

##<a id='create-rp'></a>Step 1: Create vSphere Resource Pools for AZ-1

1. Log in to vCenter for your vSphere environment.
1. Select **Compute Cluster > New Resource Pool**.
  <img src="images/nsxt/compute-plane/create-compute-plane-01.png">
1. Name the resource pool, such as `RP-PKS-AZ-1`.
  <img src="images/nsxt/compute-plane/create-compute-plane-02.png">
1. Click **OK** and verify resource pool creation:
  <img src="images/nsxt/compute-plane/create-compute-plane-03.png">

##<a id='create-rp'></a>Step 2: Create vSphere Resource Pools for AZ-N

1. Log in to vCenter for your vSphere environment.
1. Select **Compute Cluster > New Resource Pool**.
  <img src="images/nsxt/compute-plane/create-compute-plane-01.png">
1. Name the resource pool, such as `RP-PKS-AZ-2`.
  <img src="images/nsxt/compute-plane/create-compute-plane-02.png">
1. Click **OK** and verify resource pool creation:
  <img src="images/nsxt/compute-plane/create-compute-plane-03.png">

##<a id='next'></a> Next Step

After you complete this procedure, follow the instructions in <a href="./vsphere-nsxt-om-deploy.html">Deploying Ops Manager with NSX-T for <%= vars.product_short %></a>.
