---
title: Configure Edge Nodes for High Availability (HA)
owner: PKS-NSXT
---

<strong><%= modified_date %></strong>

This topic provides instructions for configuring Edge Node high-availability (HA) for <%= vars.product_short %>.

##<a id='prereqs'></a> Prerequisites

Make sure you have completed [all preceding NSX-T installation tasks](./nsxt-install-config-steps.html).

##<a id='edge-ha-about'></a>About Edge Node HA

If <%= vars.product_short %> is deployed in <a href="./nsxt-topologies.html">NAT mode</a>, Edge Nodes for high availability (HA) use Active/Standby mode to support failover. Properly configuring the Edge Nodes for HA requires two uplinks on the T0 router: one attached to Edge Transport Node 1, and the other attached to Edge Transport Node 2. In addition, you need to create a VIP that is the IP address used for the T0 uplink defined when the T0 Router was created.

##<a id='edge-ha-prereq'></a> Verify Tier-0 Router Configuration

If the T0 Router is not correctly configured for HA, failover to the standby Edge Node will not occur. Before you configure Edge Node HA, verify the following for the T0 Router:

1. In NSX Manager, go to **Advanced Networking & Security** > **Routing > Routers**.

1. Select the T0 Router you created for Enterprise PKS.

1. Select **Configuration > Router Ports**.

1. Verify that you created two uplink router ports for the Edge Nodes as described in the topic <a href="nsxt-install-create-t0.html">Create Tier-0 Logical Router</a>.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-edge-ha/configure-ha-uplink-03.png">

1. With the T0 router selected, select **Routing** > **Static Routes**.

1. Verify that you defined a default static route so that the next hop points to the physical router.
  * **Network**: `0.0.0.0/0`
  * **Next Hop**: `10.179.67.233`
  * **Logical Router Port**: empty

1. If you did not create the required router ports and static routes for the Edge Transport Nodes, see <a href="nsxt-install-create-t0.html">Create Tier-0 Logical Router</a>.

##<a id='edge-ha-vip'></a> Create HA VIP

Create an HA virtual IP (VIP) address. This address is used for the T0 router uplink. External router devices, such as the physical router, that peer with the T0 router must use the VIP address.

<p class="note"><strong>Note</strong>: The IP addresses for the uplink-1 router port, uplink-2 router port, and the HA VIP must belong to same subnet.</p>

1. In NSX Manager, go to **Advanced Networking & Security** > **Routing > Routers**.

1. Select the T0 Router you created for Enterprise PKS.

1. Select **Configuration** > **HA VIP**.

1. Create the VIP as follows.
  * **VIP Address**: `10.179.67.235/24`, for example
  * **Status**: Enabled
  * **Uplinks Ports**: `Uplink1` and `Uplink2`, for example
  <img src="images/nsxt/nsxt-data-center-installation/nsx-edge-ha/configure-ha-vip-01.png">

1. Click **Save** and verify the creation of the HA VIP.

##<a id='edge-ha-disconnect'></a> Disconnect Unused NICs

Disconnect unused vNICs to prevent the duplication of traffic from two vNICs connected to same VLAN. This can occur when you configure HA for an active/standby Edge Node pair.

1. Using vCenter, disconnect any unused vNIC interface in each Edge Node VM (this interface can cause duplicate packets.)

1. For example, in the screenshot below, **Network adapter 4** is not being used, so it is disconnected:
  <img src="images/nsxt/nsx-misc/edge-node-ha-06.png">

##<a id='edge-ha-verify'></a>Verify Edge Node HA Configuration

1. The T0 router should display both Edge Node uplink ports in active/standby pairing.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-edge-ha/configure-ha-vip-02.png">

1. Run the following commands to verify HA channels:

		nsx-edge-1> get high-availability channels
		nsx-edge-1> get high-availability channels stats
		nsx-edge-1> get logical-router
		nsx-edge-1> get logical-router ROUTER-UUID high-availability status

1. Repeat for Edge Node 2.

##<a id='next'></a> Next Step

See [Configure ESXi Hosts as NSX Transport Nodes](./nsxt-install-prep-esxi-hosts.html).

##<a id='home'></a> NSX-T Installation Instructions Home

See <a href="./nsxt-install-config-steps.html">Installing and Configuring NSX-T for <%= vars.product_short %></a>.
