---
title: Create Transport Zones
owner: PKS-NSXT
---

<strong><%= modified_date %></strong>

This topic provides instructions for creating transport zones for use with <%= vars.product_short %>.

##<a id='prereqs'></a> Prerequisites

Make sure you have completed [all preceding NSX-T installation tasks](./nsxt-install-config-steps.html).

##<a id='tzs-about'></a>About Transport Zones

In NSX-T Data Center, a transport zone (TZ) is a logical construct that controls which hosts a logical switch can reach. A transport zone defines a collection of hosts that can communicate with each other across a physical network infrastructure. This communication happens over one or more interfaces defined as Virtual Tunnel Endpoints (VTEPs).

There are two types of transport zones: Overlay and VLAN. An overlay transport zone is used by ESXi host transport nodes and NSX-T Edge Nodes. When an ESXi host or NSX-T Edge transport node is added to an Overlay transport zone, an N-VDS is installed on the ESXi host or NSX Edge Node. The VLAN transport zone is used by NSX-T Edge Nodes and ESXi host transport nodes for its VLAN uplinks. When an NSX-T Edge Node is added to a VLAN transport zone, a VLAN N-VDS is installed on the NSX-T Edge Node. 

For more information, see [Transport Zones](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-F739DC79-4358-49F4-9C58-812475F33A66.html) in the NSX-T Data Center documentation.

##<a id='tz-overlay'></a>Create Overlay Transport Zone 

Create an Overlay Transport Zone (`TZ-OVERLAY`) for PKS control plane services and Kubernetes clusters overlay networks associated with associated with VDS `hostswitch1`.

1. In NSX Manager, select **System** > **Fabric** > **Transport Zones** > **Add**.

1. Enter a **Name** for the transport zone, such as `TZ-OVERLAY`.

1. Enter a **N-VDS Name**, such as `hostswitch1`. 

1. Select a **Host Membership Criteria** (N-VDS mode): Standard or Enhanced Datapath.
  <p class="note"><strong>Note:</strong> In enhanced mode, only specific NIC configurations are supported (ESXi hosts v6.7+), and you must ensure that you configure the supported NICs. Refer to the NSX-T Data Center documentation for more information.</p>

1. For **Traffic Type**, select **Overlay**.

1. (Optional) Enter one or more uplink teaming policy names.

1. Click **Add**.

  <img src="images/nsxt/nsxt-data-center-installation/nsx-tzs/create-tz-overlay.png">

##<a id='tz-vlan'></a>Create VLAN Transport Zone 

Create the VLAN Transport Zone (`TZ-VLAN`) for NSX Edge Node uplinks (ingress/egress) for Kubernetes clusters associated with VDS `hostswitch2`.

1. In NSX Manager, select **System** > **Fabric** > **Transport Zones** > **Add**.

1. Enter a **Name** for the transport zone, such as `TZ-VLAN`.

1. Enter **N-VDS Name**, such as `hostswitch2`. 

1. Select a **Host Membership Criteria** (N-VDS mode): Standard or Enhanced Datapath.
  <p class="note"><strong>Note:</strong> In enhanced mode, only specific NIC configurations are supported (ESXi hosts v6.7+), and you must ensure that you configure the supported NICs. Refer to the NSX-T Data Center documentation for more information.</p>

1. For **Traffic Type**, select **VLAN**.

1. (Optional) Enter one or more uplink teaming policy names.

1. Click **Add**.

  <img src="images/nsxt/nsxt-data-center-installation/nsx-tzs/create-tz-vlan.png">

##<a id='tz-verify'></a>Verify Transport Zone Creation

To verify transport zone creation:

1. In NSX-T Manager select **System** > **Fabric > Transport Zones**.

1. Verify that you see the TZ-OVERLAY and TZ-VLAN transport zones you created:

  <img src="images/nsxt/nsxt-data-center-installation/nsx-tzs/create-tzs-success.png">

##<a id='next'></a> Next Step

[Create Edge Node Uplink Profile](./nsxt-install-create-uplink-profile.html).

##<a id='home'></a> NSX-T Installation Instructions Home

<a href="./nsxt-install-config-steps.html">Installing and Configuring NSX-T for <%= vars.product_short %></a>.

