---
title: Ingress Support for HTTPS Redirect (NSX-T only)
owner: PKS-NSX-T
---

This topic describes how to redirect traffic from HTTP to HTTPS for Kubernetes ingress resources.

## <a id='https-redirect-about'></a>About Support for HTTPS Redirect for Ingress Resources

Enteprise PKS with NCP v2.5.1 provides you with the ability to redirect ingress HTTP requests to HTTPS. 

To support HTTPS, there is a new annotation in Kubernetes ingress resource: `ncp/http-redirect: "true"`, which is applicable for ingress defined with https.

This annotation takes precedence over `kubernetes.io/ingress.allow-http: true`.

Clients get HTTP_REDIRECT (302) status code and will be redirected to HTTPS virtual server

## <a id='https-redirect-example'></a>HTTPS Redirect Example


