---
title: Installing and Configuring NSX-T Data Center v2.5 for Enterprise PKS
owner: PKS-NSXT
---

This topic provides the workflow for installing and configuring NSX-T Data Center v2.5 for use with <%= vars.product_full %> on vSphere.

##<a id='nsxt-install-prereqs'></a> Prerequisites for Installing NSX-T Data Center v2.5 for Enterprise PKS

To perform a new installation of NSX-T Data Center for <%= vars.product_short %>, complete the following steps in the order presented.

1. Read the [Release Notes](./release-notes.html) for the target PKS version you are installing and verify NSX-T 2.5 support.

1. Read the topics in the [Preparing to Install Enterprise PKS on vSphere with NSX-T Data Center](https://docs.pivotal.io/pks/1-6/vsphere-nsxt-index-prepare.html) section of the documentation.

##<a id='nsxt-install-tasks'></a> Workflow for Installing and Configuring NSX-T Data Center v2.5 for Enterprise PKS

1. [Deploy the NSX-T Manager Appliance Using an OVA Template](./nsxt-2-5-installation-deploy-manager-ova.html).

1. [Add vCenter as the Compute Manager](./nsxt-2-5-installation-compute-manager.html).

1. [Add Additional NSX-T Manager Nodes](./nsxt-2-5-installation-add-mgr-nodes.html) using the NSX Manager web interface.

1. [Configure a VIP Address](./nsxt-2-5-installation-mgmt-vip.html) or [Provision a Load Balancer](./nsxt-install-mgmt-lb.html) for the NSX-T Management Cluster.
  <p class="note"><strong>Note:</strong> A VIP provides high availability (HA) for the NSX-T Management Cluster. If you need to scale the NSX Manager API, configure a load balancer.</p>

1. [Create Overlay and VLAN Transport Zones](./nsxt-2-5-installation-create-tzs.html).

1. [Create DVS Port Group for Edge Nodes](./nsxt-2-5-installation-create-dvs-pg.html).

1. [Create Uplink Logical Switch for the Tier-0 Router](./nsxt-2-5-installation-create-uplink-ls-t0.html).

1. [Create a Tunnel Endpoint IP Pool](./nsxt-2-5-installation-create-tep.html).

1. [Deploy NSX Edge Node VMs](./nsxt-2-5-installation-edge-node-deploy.html) using the NSX Manager web interface.

1. [Create Edge Cluster and Add Edge Nodes](./nsxt-2-5-installation-create-edge-cluster.html).

1. [Prepare ESXi Hosts as Transport Nodes](./nsxt-2-5-installation-prepare-esxi-hosts.html).

1. [Verify the Installation of NSX-T](./nsxt-install-25s12-verify-env.html).