---
title: Implementing a Multi-Foundational Deployment for PKS
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to deploy multiple instances of PKS on vSphere with NSX-T infrastructure.

## <a id='about'></a> About Multi-Foundational PKS

A multi-foundational deployment of PKS lets you install and run multiple instances of PKS The purpose of a multi-foundational deployment of PKS is to share/leverage the vSphere and NSX-T infrastructure across multiple foundations, giving you complete isolation.. 

As shown in the diagram, with a multi-foundational PKS topology, each PKS instance is deployed to a dedicated NSX-T Tier-0 router. Foundation A T0 router with CIDR 10.0.0.0/16 connects to the vSphere and NSX-T infrastructure. Likewise Foundation B router with CIDR 20.0.0.0/16.

As with a single instance deployment, PKS management components are deployed to a dedicated /24 network, for example, 10.0.01.0/24 for PKS Foundation A; 20.0.0.0/16 for PKS Foundation B. When PKS is deployed, /24 networks are defined for the nodes, pods, and load balancers. Because of the dedicated Tier-0 router, there is complete isolation between each PKS instance.

<img src="images/nsxt/multi-pks/multi-pks-01.png" alt="Architecture for Multi-Foundational PKS Deployment">

## <a id="prereqs"></a> Requirements

To implement a multi-foundational PKS topology, adhere to the following requirements:

- One Tier-0 router for each PKS instance. For more information, see <a href="./nsxt-multi-t0.html">Configuring Multiple Tier-0 Routers for Tenant Isolation</a>.
- The Floating IP pool must not overlap. The CIDR range for each Floating IP Pool must be unique; IP addresses cannot overlap. For more information, see <a href="./nsxt-create-objects.html">Create Floating IP Pool</a>.
- For any PKS instance deployed in no-NAT mode, the Pods IP Blocks cannot overlap.

The image below shows three PKS installations across three Tier-0 foundations. You can mix-and-match NAT and no-NAT mode across foundations. If you are using more than one routable Pods IP Block network, each routable network must be unique. Because Kubernetes nodes are behind a dedicated Tier-0 router, the Nodes IP Block IP addresses can overlap. Each Tier-0 router must be unique. Likewise you must define a unique Floating ID Pool with non-overlapping IPs. 

<img src="images/nsxt/multi-pks/multi-pks-03.png" alt="Configuring Multi-Foundational PKS Deployment">