---
title: Verify NSX-T VM Deployment for Enterprise PKS
owner: PKS-NSXT
---

<strong><%= modified_date %></strong>

This topic provides general instructions for verifying the installation of an NSX-T VM, either an NSX-T Manager VM or an NSX-T Edge Node VM, that you have deployed for use with Enterprise PKS.

##<a id='nsx-vm-verify'></a> Verify NSX VM Installation

Complete the following steps to verify the installation of an NSX-T Manager or Edge Node VM.

1. Once the NSX VM is installed, power on the VM.

1. From the vSphere Client, open NSX VM console to track the VM boot process.

1. After the NSX VM boots, log in to the NSX CLI as the `admin` user.

1. Once you are logged into the NSX VM, enter `?` to view the command usage and options for the NSX CLI.

1. Run the command `get interface eth0` to verify that the IP address was applied as expected.

1. Run the command `get services` to verify that all the services are running.
  - If the services are not running, wait for all the services to start running.
  - By default the following services are not running: `liagent`, `migration-coordinator`, and `snmp`. You can start them use the command `start service <service-name>`, such as `start service liagent`. For SNMP, run `set snmp community <community-string>` first, followed by `start service snmp`. 

1. Ping the NSX VM from another host. 
  - Get the IP address for the NSX VM from the **Summary** tab in vCenter. 
  - Verify that you can ping the NSX VM from another host (such as your laptop), for example: `ping 10.196.188.21`.

1. SSH to the NSX VM. 
  - Use the IP address for the NSX VM to remotely connect using SSH. 
  - From Unix hosts use the command `ssh admin@IP_ADDRESS_OF_NSX_MANAGER`, for example: `ssh admin@10.196.188.21`. 
  - On Windows use Putty and provide the IP address. Enter the NSX CLI user name and password that you defined during VM configuration.

1. If you did not enable SSH during configuration of the VM template (OVA), you can enable SSH on the NSX VM as follows:
  - Console to the NSX VM
  - Run the command `start service ssh`
  - To make it persistent, run the command `set service ssh start-on-boot`	

1. Verify that your NSX VM has the required connectivity by performing the following tasks.
  - The NSX VM can ping its default gateway.
  - The NSX VM can ping the ESXi hosts that are in the same network as the NSX Manager.
  - The NSX VM can ping its DNS server and its NTP server.

1. Troubleshoot as necessary.
  - If connectivity is not established, make sure that the network adapter of the virtual appliance is in the proper network or VLAN.

##<a id='home'></a> NSX-T Installation Instructions Home

<a href="./nsxt-install-config-steps.html">Installing and Configuring NSX-T for <%= vars.product_short %></a>.
