---
title: Add VIP Address for the NSX-T Management Cluster
owner: PKS
topictype: PKS-NSXT
---

This topic describes how to configure a Virtual IP address (VIP) for the NSX-T Management Cluster for <%= vars.product_full %>.

##<a id='prereqs'></a> Prerequisites

Make sure you have completed [all preceding NSX-T installation tasks](./nsxt-2-5-installation-steps.html).

##<a id='nsxt-vip-about'></a> About the NSX Management Cluster VIP

The NSX-T Management Cluster comprises three NSX-T Manager nodes. To support a single access point for the NSX Manager web interface and API, assign a virtual IP address (VIP) to the NSX-T Management Cluster. Once the VIP is assigned, any UI and API requests to NSX-T are redirected to the  VIP address, which is owned by the leader node. The leader node then routes the request to the other cluster nodes.

Using a VIP makes the NSX Management Cluster highly available. If you need to scale you can [provision a load balancer for the NSX-T Management Cluster](./nsxt-install-mgmt-lb.html). Provisioning a load balancer requires that NSX-T be fully installed and configured. It is recommended that you configure the VIP now, then if needed install a load balancer after NSX-T is installed and configured. For more information about configuring a load balancer for the NSX-T Management Cluster, see [Provisioning a Load Balancer for the NSX-T Management Cluster](./nsxt-install-mgmt-lb.html).

## <a id="nsxt-vip-add"></a> Configure a VIP Address for the NSX-T Management Cluster

Complete the following instructions to create a VIP for the NSX Management Cluster. The IP address you use for the VIP must be part of the same subnet as the NSX-T Management nodes.

1. From your browser, log in with admin privileges to NSX Manager at `https://NSX-MANAGER-IP-ADDRESS`.

1. Go to **System > Overview**.

1. Click **Edit** next to the Virtual IP field.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-manager-installation/nsx-manager-250_31.png">

1. Enter a VIP for the cluster, such as `172.16.11.81`. Ensure that the VIP is part of the same subnet as the other NSX Management nodes.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-manager-installation/nsx-manager-250_32.png">

1. Click **Save**.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-manager-installation/nsx-manager-250_33.png">

1. When prompted click **Refresh**. In the the **Virtual IP** field, you should see the VIP address in use, as well as the NSX Manager leader node that the VIP is associated with.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-manager-installation/nsx-manager-250_33.png">

After the VIP is configured, you use it to connect to the NSX-T Manager. The VIP is associated with a single NSX-T Manager. If that node goes down, the VIP attaches to another node. If necessary you can still connect to any NSX-T manager direclty using its own IP address. 

## <a id="nsxt-vip-verify"></a> Verify the VIP Address

To verify the VIP and troubleshoot issues, complete the following steps.

1. From your browser, log in with admin privileges to the NSX-T Management Cluster using the VIP address `https://NSX-MANAGER-VIP-ADDRESS`.

1. To check the API leader of the management cluster, enter the following command in the NSX Manager CLI `get cluster status verbose`.

1. To troubleshoot VIP issues, verify the following logs:
  * Reverse Proxy logs at `/var/log/proxy/reverse-proxy.log` 
  * Cluster manager logs at `/var/log/cbm/cbm.log`

##<a id='next'></a> Next Step

See [Create TZ_OVERLAY and TZ_VLAN](./nsxt-2-5-installation-create-tzs.html).

##<a id='home'></a> Installation Instructions Home

See <a href="./nsxt-2-5-installation-steps.html">Installing and Configuring NSX-T v2.5 for <%= vars.product_short %></a>.