---
title: Creating the PKS Compute Plane
owner: PKS
---

This section provides instructions for preparing the vSphere and NSX-T infrastructure for the PKS Compute Plane where Kubernetes clusters run. 

##<a id='prerequisites'></a>Prerequisites

Before you begin this procedure, ensure that you have successfully completed all preceding steps for installing <%= vars.product_short %> on vSphere with NSX-T, including:

<ul>
  <li>
    <a href="./nsxt-deploy.html">Deploying NSX-T for <%= vars.product_short %></a>
  </li>
  <li>
    <a href="./nsxt-prepare-mgmt-plane.html">Creating the PKS Management Plane</a>
  </li>
</ul>

##<a id='create-rp'></a>Step 1: Create vSphere Resource Pools for AZ-1 and AZ-2

1. Log in to vCenter for your vSphere environment.
1. Select **Compute Cluster > New Resource Pool**.
  <img src="images/nsxt/compute-plane/create-compute-plane-01.png">
1. Name the resource pool, such as `RP-PKS-AZ-1`.
  <img src="images/nsxt/compute-plane/create-compute-plane-02.png">
1. Click **OK** and verify resource pool creation:
  <img src="images/nsxt/compute-plane/create-compute-plane-03.png">
1. Repeat the same operation for Compute Cluster 2 (`RP-PKS-AZ-2`):
  <img src="images/nsxt/compute-plane/create-compute-plane-04.png">

##<a id='create-snat-k8m'></a>Step 2: Create SNAT rule on T0 Router for Kubernetes Access to NSX Manager

Create a SNAT rule on T0 router for K8s Master Nodes (hosting NCP) to reach NSX Manager.

1. Select the **T0 router > Services > NAT**.
1. Click **ADD** and configure the SNAT rule. For example:
   * **Priority**: 1011
   * **Action**: SNAT
   * **Source**: 192.168.0.0/16
   * **Destination IP**: 10.40.206.0/24
   * **Translated IP**: 10.40.14.3
  <img src="images/nsxt/compute-plane/create-compute-plane-05.png">
1. Click **Save**.
1. Verify SNAT rule creation:
  <img src="images/nsxt/compute-plane/create-compute-plane-06.png">

##<a id='create-snat-k8m-ldap'></a>Step 3: Create SNAT Rule on T0 Router for Kubernetes Access to LDAP/AD

Create a SNAT rule on T0 router for K8s Master Nodes (hosting NCP) to reach AD (LDAP) Server (if necessary).

1. In NSX Manager, select the **T0 router > Services > NAT**.
1. Add an SNAT rule for K8S Master Node access to LDAP/AD. For example:
    * **Priority**: 1011
    * **Action**: SNAT
    * **Source**: 192.168.0.0/16
    * **Destination IP**: 10.40.207.0/24
    * **Translated IP**: 10.40.14.3
	<img src="images/nsxt/compute-plane/create-compute-plane-07.png">
1. Click **Save**.
1. Add and verify SNAT rule creation:
  <img src="images/nsxt/compute-plane/create-compute-plane-08.png">

##<a id='next'></a> Next Step

After you complete this procedure, follow the instructions in <a href="./vsphere-nsxt-om-deploy.html">Deploying Ops Manager with NSX-T for <%= vars.product_short %></a>.
