---
title: Configure Edge Transport Nodes
owner: PKS-NSXT
---

<strong><%= modified_date %></strong>

This topic provides instructions for configuring Edge Transport Nodes for use with Enterprise PKS.

##<a id='prereqs'></a> Prerequisites

Make sure you have completed [all preceding NSX-T installation tasks](./nsxt-install-config-steps.html).

##<a id='tns-about'></a>About Transport Nodes

In NSX-T transport nodes are the hosts running the local control plane daemons and forwarding engines implementing the NSX-T Data Center data plane. The transport nodes consists of a NSX-T Data Center Virtual Distributed Switch (N-VDS), which is responsible for switching packets according to the configuration of available network services.

A host can serve as a transport node if it contains at least one NSX managed virtual distributed switch (N-VDS, previously known as hostswitch). When you create a host transport node and then add the node to a transport zone, NSX-T Data Center installs an N-VDS on the host. For each transport zone that the host belongs to, a separate N-VDS is installed. The N-VDS is used for attaching VMs to NSX-T Data Center logical switches and for creating NSX-T Data Center logical router uplinks and downlinks. 

##<a id='tns-edge-config'></a>Configure Each Edge Node as as Transport Node

Create NSX Edge Transport Nodes which allow Edge Nodes to exchange virtual network traffic with other NSX nodes.

Be sure to add both the VLAN and OVERLAY NSX Transport Zones to the NSX Edge Transport Nodes and confirm NSX Manager connectivity. Use the MAC addresses of the Edge VM interfaces to deploy the virtual NSX Edges:

* Connect the OVERLAY N-VDS to the vNIC (`fp-eth#`) that matches the MAC address of the second NIC from your deployed Edge VM.
* Connect the VLAN N-VDS to the vNIC (`fp-eth#`) that matches the MAC address of the third NIC from your deployed Edge VM.

To create an Edge Transport Node for <%= vars.product_short %>:

1. Log in to NSX Manager (`https://IP_ADDRESS_OF_NSX_MANAGER`).

1. Go to **Fabric > Nodes > Edges**.

1. Select an Edge Node.

1. Click Actions > **Configure as Transport Node**.
  <img src="images/nsxt/nsx-misc/edge-transport-node-01.png">

1. In the General tab, enter a name and select both Transport Zones: TZ-Overlay (Overlay) and TZ-VLAN (VLAN).
  <img src="images/nsxt/nsx-misc/edge-transport-node-02a.png">

1. Select the **Host Switches** tab.

1. Configure the first transport node switch. For example:
 * **Edge Switch Name**: `hostswitch1`
 * **Uplink Profile**: `edge-uplink-profile`
 * **IP Assignment**: `Use IP Pool`
 * **IP Pool**: `TEP-ESXi-POOL`
 * **Virtual NICs**: `fp-eth0` (corresponds to Edge VM vnic1 (second vnic))
  <img src="images/nsxt/nsx-misc/edge-transport-node-02.png">

1. Click **Add Host Switch**.

1. Configure the second transport node switch. For example:
 * **Edge Switch Name**: `hostswitch2`
 * **Uplink Profile**: `edge-uplink-profile`
 * **Virtual NICs**: `fp-eth1` (corresponds to Edge VM vnic2 (third vnic))
  <img src="images/nsxt/nsx-misc/edge-transport-node-03.png">

1. Repeat this procedure for the second Edge Transport Node (Edge-TN2), as well as additional Edge Node pairs you deploy for <%= vars.product_short %>.</p>

##<a id='tns-edge-verify'></a>Verify Edge Transport Node Configuration

To verify the configuration of Edge Transport Nodes:

1. In NSX Manager, select **Fabric > Nodes > Edges**. 
1. Verify that Controller Connectivity and Manager Connectivity are `UP` for both Edge Nodes.
  <img src="images/nsxt/nsx-misc/edge-transport-node-08.png">
1. In NSX Manager, select **Fabric > Nodes > Transport Node**. 
1. Verify that the configuration state is `Success`.
  <img src="images/nsxt/nsx-misc/edge-transport-node-07.png">
1. SSH to each NSX Edge VM and verify that the Edge Transport Node is "connected" to the Controller.
	
	```
	nsx-edge-1> get controllers
	```

##<a id='next'></a> Next Step

[Create Edge Cluster](./nsxt-install-create-edge-cluster).

##<a id='home'></a> NSX-T Installation Instructions Home

<a href="./nsxt-install-config-steps.html">Installing and Configuring NSX-T for <%= vars.product_short %></a>.
