---
title: Create Edge Transport Nodes
owner: PKS-NSXT
---

<strong><%= modified_date %></strong>

This topic provides instructions for configuring Edge Transport Nodes for use with Enterprise PKS.

##<a id='prereqs'></a> Prerequisites

Make sure you have completed [all preceding NSX-T installation tasks](./nsxt-install-config-steps.html).

##<a id='tns-about'></a>About Transport Nodes

In NSX-T transport nodes are the hosts running the local control plane daemons and forwarding engines implementing the NSX-T data plane. A transport node runs a NSX-T Virtual Distributed Switch (N-VDS) that is responsible for switching packets according to the configuration of available network services.

A host can serve as a transport node if it contains at least one NSX-T-managed virtual distributed switch (N-VDS). When you create a host transport node and then add the node to a transport zone, NSX-T Data Center installs an N-VDS on the host. For each transport zone that the host belongs to, a separate N-VDS is installed. The N-VDS is used for attaching VMs to NSX-T Data Center logical switches and for creating NSX-T Data Center logical router uplinks and downlinks. 

In this portion of the NSX-T installation for Enterprise PKS, you create NSX Edge Transport Nodes that allow Edge Nodes to exchange virtual network traffic with other nodes. You add both the VLAN and OVERLAY NSX Transport Zones to the NSX Edge Transport Nodes and confirm NSX-T Manager connectivity. 

We will use the MAC addresses of the Edge VM interfaces to deploy the virtual NSX Edges:

* Connect the OVERLAY N-VDS to the vNIC (`fp-eth#`) that matches the MAC address of the second NIC from your deployed Edge VM.
* Connect the VLAN N-VDS to the vNIC (`fp-eth#`) that matches the MAC address of the third NIC from your deployed Edge VM.

For more information, see [NSX Edge Transport Node](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-53295329-F02F-44D7-A6E0-2E3A9FAE6CF9.html) in the NSX-T Data Center documentation.

##<a id='tns-edge-config'></a>Configure Each Edge Node as as Transport Node

To create an Edge Transport Node for <%= vars.product_short %>, complete the following steps.

<p class="note"><strong>Note:</strong> Perform this procedure for each Edge Node pair you deploy for <%= vars.product_short %>.</p> 

1. Log in to NSX Manager at `https://VIP_ADDRESS_OF_NSX_MANAGEMENT_CLUSTER`.

1. Go to **System > Fabric > Nodes > Edge Transport Nodes**.

1. Verify that you see both of the NSX-T Edge Nodes you have installed.

1. Click the **Configure** link in **Configuration State** column for the first Edge Node.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-tns/create-tns-01.png">

1. In the **General** tab, configure the following:
 * **Name**: Enter a name for the Edge Transport Node, such as `nsx-edge-1-tn`.
 * **Transport Zones**: Select both Transport Zones: TZ-Overlay (Overlay) and TZ-VLAN (VLAN). 
  <img src="images/nsxt/nsxt-data-center-installation/nsx-tns/create-tns-02.png">

1. Select the **N-VDS** tab.

1. Configure the distributed switch for the overlay network.
 * **Edge Switch Name**: `hostswitch1`
 * **Associated Transport Zones**: `TZ-OVERLAY`
 * **Uplink Profile**: `edge-uplink-profile`
 * **IP Assignment**: `Use IP Pool`
 * **IP Pool**: `TEP-ESXi-POOL`
 * **Virtual NICs**: `uplink-1` and `fp-eth0` (corresponds to Edge VM vnic1 (second vnic))
  <img src="images/nsxt/nsxt-data-center-installation/nsx-tns/create-tns-03.png">

1. Click **Add N-VDS** to add the second virtual distributed switch.

1. Configure the second transport node switch.
 * **Edge Switch Name**: `hostswitch2`
 * **Associated Transport Zones**: `TZ-VLAN`
 * **IP Assignment**: leave blank
 * **Uplink Profile**: `edge-uplink-profile`
 * **Virtual NICs**: `uplink-1` and `fp-eth1` (corresponds to Edge VM vnic2 (third vnic))
  <img src="images/nsxt/nsxt-data-center-installation/nsx-tns/create-tns-04.png">

1. Click **Save**. You should see that the **Configuration State** is `Success` and the **Node Status** is initially `Up`.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-tns/create-tns-05.png">

1. Repeat this procedure for the second Edge Transport Node.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-tns/create-tns-10.png">
  <img src="images/nsxt/nsxt-data-center-installation/nsx-tns/create-tns-07.png">
  <img src="images/nsxt/nsxt-data-center-installation/nsx-tns/create-tns-08.png">
  <img src="images/nsxt/nsxt-data-center-installation/nsx-tns/create-tns-11.png">

##<a id='tns-edge-verify'></a>Verify Edge Transport Node Configuration

To verify the configuration of each Edge Transport Node, complete the following steps:

1. In NSX-T Manager, select **System > Fabric > Nodes > Edge Transport Nodes**.

1. For the first Edge Transport Node: 
  * Verify that the **Configuration State** is `Success`.
  * Verify that the **Node Status** is **Degraded**, which is expected because there is no traffic yet.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-tns/create-tns-13.png">  

1. Click the **Information** icon in the **Node Status** column for the first Edge Node.

1. Verify that Manager Connectivity, Controller Connectivity, and Tunnel Status are `UP` for the selected Edge Transport Node.
  <p class="note"><strong>Note:</strong> The PNIC/Bond Status is expected to be **Degraded**. It will change when you will have traffic over the tunnel.</p> 
  <img src="images/nsxt/nsxt-data-center-installation/nsx-tns/create-tns-12.png">

1. Repeat this verification process for the second Edge Transport Node. 

##<a id='next'></a> Next Step

See [Create Edge Cluster](./nsxt-install-create-edge-cluster.html).

##<a id='home'></a> NSX-T Installation Instructions Home

See <a href="./nsxt-install-config-steps.html">Installing and Configuring NSX-T for <%= vars.product_short %></a>.


