---
title: Add NSX Manager Nodes
owner: PKS-NSXT
---

This topic provides instructions for deploying additional NSX Manager nodes and forming the NSX Management Cluster for use with <%= vars.product_short %>.

##<a id='prereqs'></a> Prerequisites

Make sure you have completed [all preceding NSX-T installation tasks](./nsxt-install-config-steps.html).

##<a id='nsx-mgr-cluster-about'></a> About the NSX-T Management Cluster

The NSX-T Management Cluster is a collection of three NSX Manager nodes for high-availability. You can deploy additional NSX-T Manager nodes using the NSX-T Manager web interface. All repository details and user credentials are synchronized across NSX-T Manager Nodes by the management cluster database. 

For more information, see [Deploy NSX Manager Nodes to Form a Cluster from UI](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.5/installation/GUID-B89F5831-62E4-4841-BFE2-3F06542D5BF5.html) in the NSX-T Data Center documentation.

##<a id='install-more-managers'></a> Deploy Additional NSX Manager Nodes

Complete the following procedure to deploy additional manager nodes and form the NSX-T Management Cluster. 

1. From your browser, log in with admin privileges to NSX Manager at `https://NSX-MANAGER-IP-ADDRESS`.

1. In NSX-T Manager, select **System** > **Overview** > **Add Nodes**.

1. Enter the NSX-T Manager common attribute details as follows:
  - **Compute Manager**: Registered resource compute manager is populated.
  - **Enable SSH**: Toggle the button to allow an SSH login to the new NSX Manager node.
  - **Enable Root Access**: Toggle the button to allow the root access to the new NSX Manager node.
  - **CLI Username and Password Confirmation**: The CLI username is set to `admin`. The password must comply with the password strength restrictions.
  - **Root Password and Password Confirmation**: Set the root password for the new node. The password must comply with the password strength restrictions.
  - **DNS Servers**: Enter the DNS server IP address available in the vCenter Server.
  - **NTP Servers**: Enter the NTP server IP address.
  - **Form Factor**: Select **Medium** (default) or **Large**. Do not select **Small**.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-mgmt-cluster/nsx-mgmt-cluster-07.png">  

1. Enter the second NSX-T Manager node details.
  - **Name**: Enter a name for the NSX-T Manager node, such as `nsx-manager-2`.
  - **Cluster**: Designate the cluster the node is going to join from the drop-down menu.
  - **Resource Pool or Host**: Select the **infra** resource pool from the drop-down menu.
  - **Datastore**: Select a datastore for the node files from the drop-down menu.
  - **Network**: Assign the network from the drop-down menu.
  - **Management IP/Netmask**: Enter the IP address and netmask.
  - **Management Gateway**: Enter the gateway IP address.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-mgmt-cluster/nsx-mgmt-cluster-08.png">  

1. Click **Add Node** and configure a third NSX Manager node.
  - **Name**: Enter a name for the NSX-T Manager node, such as `nsx-manager-3`.
  - **Cluster**: Designate the cluster the node is going to join from the drop-down menu.
  - **Resource Pool or Host**: Select the **infra** resource pool from the drop-down menu.
  - **Datastore**: Select a datastore for the node files from the drop-down menu.
  - **Network**: Assign the network from the drop-down menu.
  - **Management IP/Netmask**: Enter the IP address and netmask.
  - **Management Gateway**: Enter the gateway IP address.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-mgmt-cluster/nsx-mgmt-cluster-09.png">    

1. Click **Finish** and the new NSX-T Manager nodes are deployed.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-mgmt-cluster/nsx-mgmt-cluster-10.png">    

##<a id='verify-nsx-mgmt-cluster'></a> Verify the NSX Management Cluster

1. Verify the deployment of the new NSX Manager nodes.
  - At the **System** > **Overview** > **Management Cluster**, you should see the deployment of the additional nodes.
  - Wait for 10-15 minutes for the deployment, cluster formation, and repository synchronization to complete.
  - Track the deployment process at the **System** > **Overview** screen in vCenter Server.

1. See [Verify NSX VM Deployment for Enterprise PKS](./nsxt-install-verify-vm-deployment.html) to verify the installation of each NSX-T Manager node.

##<a id='next'></a> Next Step

[Configure VIP Address for the NSX-T Management Cluster](./nsxt-install-25s4-mgmt-vip.html).

##<a id='home'></a> Installation Instructions

See <a href="./nsxt-install-25s0-steps.html">Installing and Configuring NSX-T v2.5 for <%= vars.product_short %></a>.