---
title: Installing and Configuring NSX-T Data Center v2.5 for Enterprise PKS
owner: PKS-NSXT
---

This topic provides the workflow for installing and configuring NSX-T Data Center v2.5 for use with <%= vars.product_full %> on vSphere.

##<a id='nsxt-install-tasks'></a> Workflow for Installing and Configuring NSX-T Data Center v2.5

To perform a new installation of NSX-T Data Center for <%= vars.product_full %>, complete the following steps in the order presented.

1. [Deploy NSX-T Manager from OVA Template](./nsxt-install-25-deploy-manager-ova.html).

1. [Add Compute Manager](./nsxt-install-nsx-mgmt-cluster.html).

1. [Add NSX-T Manager Nodes](./nsxt-install-nsx-mgmt-cluster.html).

1. [Add NSX-T Manager VIP](./nsxt-install-mgmt-vip.html).
  <p class="note"><strong>Note:</strong> Configure a VIP to provide high availability (HA) for the NSX-T Management Cluster.</p>

1. [Create Overlay and VLAN Transport Zones](./nsxt-install-create-tzs.html).

1. [Create DVS Port Group for Edge Nodes]().

1. Create Uplink Logical Switch for the Tier-0 Router.

1. [Create an Tunnel Endpoint IP Pool](./nsxt-install-create-tep.html).

1. [Deploy NSX Edge Node VMs](./nsxt-install-edge-node-install.html).
  <p class="note"><strong>Note:</strong> You must install a large size Edge Node VM or the bare metal Edge Node for <%= vars.product_short %>.</p>

1. [Create Edge Cluster and Add Edge Nodes](./nsxt-install-create-tns.html).

1. [Prepare ESXi Hosts in the Compute Cluster as Transport Nodes](./nsxt-install-prep-esxi-hosts.html).
