---
title: Add vCenter as the Compute Manager for NSX-T
owner: PKS-NSXT
---

This topic provides instructions for adding vCenter as the Compute Manager for NSX-T Data Center.

##<a id='prereqs'></a> Prerequisites

Make sure you have completed [all preceding NSX-T installation tasks](./nsxt-2-5-installation-steps.html).

##<a id='about-compute-mgr'></a> About the Compute Manager

A [Compute Manager](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.5/installation/GUID-D225CAFC-04D4-44A7-9A09-7C365AAFCA0E.html) is an application that manages resources such as hosts and VMs. For Enterprise PKS we use vCenter as the compute manager.

##<a id='add-compute-mgr'></a> Add vCenter as the Compute Manager

Complete the following steps to add vCenter as the Compute Manager.

1. From your browser, log in with admin privileges to NSX Manager at `https://NSX-MANAGER-IP-ADDRESS`.

1. In NSX-T Manager, select **System** > **Fabric** > **Compute Managers** > **Add**.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-manager-installation/nsx-manager-250_22.png">

1. Configure the Compute Manager as follows:
  - **Name**: Enter the name to identify the vCenter Server.
  - **Description**: Optionally add details such as the number of clusters in the vCenter Server.
  - **Domain Name/IP Address**: Enter the IP address of the vCenter Server.
  - **Type**: vCenter (keep the default option).
  - **Username** and **Password**: Enter the vCenter Server login credentials.
  - **SHA-256 Thumbprint**: Leave the thumbprint value blank.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-manager-installation/nsx-manager-250_23.png">

1. Click **Add**.

1. Click **Add** again.
  - Since you left the thumbprint value blank, you are prompted to accept the server-provided thumbprint.
  - After you accept the thumbprint, it takes a few seconds for NSX-T Data Center to discover and register the vCenter Server resources. 
  <img src="images/nsxt/nsxt-data-center-installation/nsx-manager-installation/nsx-manager-250_24.png">

1. Verify that the vCenter Compute Manager is successfully **Registered** and that its connection status is **Up**.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-mgmt-cluster/nsx-mgmt-cluster-06.png">  
    
1. If the Compute Manager is not registered, [troubleshoot as necessary](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.5/installation/GUID-D225CAFC-04D4-44A7-9A09-7C365AAFCA0E.html).

##<a id='next'></a> Next Step

[Add NSX-T Manager Nodes](./nsxt-2-5-installation-add-manager-nodes.html).

##<a id='home'></a> Installation Instructions

See <a href="./nsxt-2-5-installation-steps.html">Installing and Configuring NSX-T v2.5 for <%= vars.product_short %></a>.

