---
title: Load Balancing and Ingress with NSX-T
owner: TKGI
iaas: vsphere-nsxt
---

This section provides topics for configuring the NSX-T load balancer used for ingress resources.

Layer 7 load balancing is implemented via a Kubernetes ingress resource. The ingress is allocated an IP from the Floating IP Pool specified in the NSX-T configuration. NCP exposes the ingress load balancer service on this IP address for both the HTTP and HTTPS ports (port 80 and 443).

## Configuring Ingress Using the NSX-T Load Balancer

<ul>
  <li>
    <a href="nsxt-ingress-monitor.html">Monitoring Ingress Resources</a>
  </li>
  <li>
    <a href="nsxt-health.html">Viewing and Troubleshooting the Health Status of Cluster Network Objects</a>
  </li>
  <li>
    <a href="nsxt-ingress-srvc-lb.html">Configuring Ingress Resources and Load Balancer Services</a>
  </li>
  <li>
    <a href="network-profiles-lb-size.html">Defining a Network Profile for Load Balancer Sizing</a>
  </li>
  <li>
    <a href="nsxt-ingress-scale.html">Scaling the HTTP/S Layer 7 Ingress Load Balancers Using the LoadBalancer CRD</a>
  </li>
  <li>
    <a href="network-profiles-ncp-ingress.html">Defining Network Profiles for the HTTP/S Layer 7 Ingress Controller</a>
  </li>
  <li>
    <a href="network-profiles-ncp-lb.html">Defining Network Profiles for the TCP Layer 4 Load Balancer</a>
  </li>
  <li>
    <a href="nsxt-ingress-rewrite-url.html">Using Ingress URL Rewrite</a>
  </li>
</ul>
