---
title: PAS and PKS Deployments with Ops Manager
owner: PKS
---

Ops Manager is a web app that you use to deploy and manage
Pivotal Application Service (PAS) and Pivotal Container Service (PKS).
This topic explains why Pivotal recommends using separate installations of
Ops Manager for PAS and PKS.

For more information about deploying PKS, see [Installing PKS](installing.html).

## <a id='security'></a>Security

Ops Manager deploys the PAS and PKS runtime platforms using BOSH.
For security reasons, Pivotal does not recommend installing
PAS and PKS on the same Ops Manager instance.
For even stronger security, Pivotal recommends deploying each Ops Manager instance
using a unique cloud provider account.

## <a id='tile-configuration'></a>Tile Configuration and Troubleshooting

Separate installations of Ops Manager allow you to customize
and troubleshoot runtime tiles independently.
You may choose to configure Ops Manager with different settings
for your PAS and PKS deployments.
