---
title: Configure a Load Balancer for Harbor Registry on PKS
owner: PKS
---

A load balancer is a third party device that distributes network and application traffic across resources. You can use a load balancer to secure and facilitate access to Harbor from outside the network.

The example below explains configuration steps for setting up a TCP load balancer to work with the Harbor registry connected to your PKS deployment. 

<p class="note"><strong>Note</strong>: Harbor requires a dedicated load balancer to work with PKS. If you wish to configure a load balancer for the PKS API, you will need an additional load balancer..</p>

##<a id="create"></a> Creating a Load Balancer for Harbor 

These are guidelines for setting up your own load balancer, not a strict procedure. Your process may not match these steps exactly, as configuration details vary from device to device.

To access the load balancer configuration options on GCP, follow these steps:

1. Navigate to [Google Cloud Platform](https://console.cloud.google.com/).
1. In the sidebar menu, select **Network Services** > **Load balancing**.

#### Configuration Tips

* You must use a TCP load balancer.
* Name your load balancer something human-readable and related to its use, such as `PKS-HARBOR`.

###<a id="backend"></a> Configuring the Load Balancer Backend

To access the backend of your load balancer, follow these steps:

1. Navigate to [Google Cloud Platform](https://console.cloud.google.com/).
1. In the sidebar menu, select **Network Services** > **Load balancing**.
1. Click the **Backends** tab.

#### Configuration Tips

* If you have an existing broker instance, you do not need to point to it from the load balancer. The Resource Config section of Harbor tile provides an opportunity to do this. For more information, see [LINK TO DOCS](docslink.html)
* You do not need to enable health checks on your load balancer. For more information about health checks, see [Using Application Health Checks](../devguide/deploy-apps/healthchecks.html).

###<a id="frontend"></a> Configuring the Load Balancer Frontend

To access the frontend of your load balancer, follow these steps:

1. Navigate to [Google Cloud Platform](https://console.cloud.google.com/).
1. In the sidebar menu, select **Network Services** > **Load balancing**.
1. Click the **Frontends** tab.

First, grant Harbor HTTPS access. Enter the following information:

1. Enter a human-readable name in the **Name** field. For example, `PKS-HARBOR-HTTPS`
1. Select **Create IP Address**. Enter the following configuration information details:
	* **Name**: Enter a human-readable name. For example, `PKS-HARBOR-IP`.
	* **Description**: Explain the purpose of this IP address. For example, `Fixed IP address for Harbor`.
1. Enter `443` in the **Port** field.
1. Optional: Configure [Harbor Notary](#harbor) to sign images.
1. Create a firewall rule for the load balancer. Configure the following options:
	* **Ingress**: `Allow`
	* **Target**: `harbor-app`
	* **Source**: `0.0.0.0/0`
	* **Ports**: `tcp:443; tcp:4443`
1. Create a DNS entry pointing to the load balancer IP address. For example, `harbor.pks.pcf.pw -> 35.197.235.35`
1. Add the `harbor-app` network tag to the firewall.
	<p class="note"><strong>Note</strong>: The Harbor VM must have the <code>harbor-app</code> network tag applied to it.</p>

###<a id="harbor"></a> Optional: Configure Harbor Notary
Harbor Notary is required if you want to use Notary to sign images. Complete these steps to configure Harbor Notary:

* Enter a human-readable **Name**, such as `pks-harbor-notary`.
* Enter the IP you used in [Frontend load balancer configuration tips](#frontend), with port `4443`.

##<a id="next-steps"></a> Next Steps

When you have configured your load balancer, continue to LINK TO HARBOR SETUP DOCS.