---
title: Configure a Load Balancer for PKS Clusters
owner: PKS
---

A load balancer is a third party device that distributes network and application traffic across resources. You can use a load balancer to secure and facilitate access to Harbor from outside the network. 

The example below explains how to create a load balancer for your cluster and use the CLI to create and manage clusters. To complete these procedures, you must have already configured an external load balancer to access the PKS API.

<p class="note"><strong>Note</strong>: Make sure the version of the CLI you are using matches the version of the PKS tile you are installing.</p>

##<a id="create"></a> Creating Load Balancers for PKS Clusters

1. Log into the PKS API and create a cluster. An example command follows:
	<code>pks login -a api.pks.EXAMPLE-URL.co -u "EXAMPLE-USERNAME" -p "EXAMPLE-PASSWORD" -k</code><br/>
	For more information, see [Create a Cluster](create-cluster.html).
2. Navigate to [Google Cloud Platform](https://console.cloud.google.com/).
3. In the sidebar menu, select **Network Services** > **Load balancing**.
4. Click **Create Load Balancer**.
5. In the *TCP Load Balancing* pane, click **Start configuration**.
6. Select the configuration details that apply to your use case and click **Continue**. The *New TCP load balancer* menu opens.
7. Enter a **Name** for your load balancer and click **Backend configuration**. The *Backend configuration* panel opens.
<p class="note">Configure a TCP Load Balancer with a human-readable name in lower case letters, such as <code>pks-cluster-api-1</code></p>.
8. Configure the load balancer backend.
	1. Select a **Region**.
	1. Specify any other configuration options you require. 
	<p class="note">When you configure the load balacner backend, health checks are not required.</p>
9. Click **Frontend configuration**. The _Frontend Configuration_ panel opens.
10. Configure the load balancer frontend.
	1. Optional: Enter a human-readable name in lower case letters, such as `pks-cluster-api`. 
	1. Reserve an IP address by clicking into the **IP** menu and selecting **Create IP address**. Give the IP address a human-readable name and click **Reserve**. 
	1. In the **Port** field, specify `8443`.
	1. Click **Done**.
11. Review your configuration and click **Create**.

##<a id="firewall"></a> Creating Firewall Rules for Load Balancers





	</li>
	<li>Create firewall rules for the load balancer. The following configuration parameters are required:<br/>
		<ul>
			<li>Select the network name value that matches the VPC network name you created earlier. This is not the default name.</li>
			<li>Set <strong>Ingress</strong> to <code>Allow</code>.</li>
			<li>Set <strong>Target</strong> to <code>PKS-CLUSTER-API-1</code>, which you defined in Step 1.</li>
			<li>Set the <strong>Source</strong> to <code>0.0.0.0/0</code>.</li>
			<li>Set the <strong>Ports</strong> to <code>tcp:8443</code>.</li>
		</ul>
	</li>
	<li>Enter <code>pks list-plans</code>.</li>
	<li>Choose a plan by ?????????????</li>
	<li>Create a cluster on this plan. Example code follows: <code>pks create-cluster YOUR-CLUSTER-NAME --external-hostname 192.0.2.0 --plan small --num-nodes 3</code>.</li>
	<li>Wait while the cluster is created. To check the creation progress, enter the following command in the BOSH CLI of the Ops Manager instance: <code>bosh -e pks task</code>.<br>
	<p class="note"><strong>Note</strong>: This errand may run after the deployment. Depending on what other tasks you have queued, several BOSH tasks may run at this time.</li>
	<li>Connect the Kubernetes cluster API load balancer to the master instance of the cluster.</li>
	<li>Search for the master VM ID by either entering <code>bosh -e pks vms</code>. Alternatively, you can log into the GCP Console and navigate to <strong>Compute Engine</strong> > <strong>VM Instances</strong>, and filter the results by <strong>Master</strong>.</li>
	<li>Edit the pks-cluster-api-1 load balancer and add that instance in the Backend configuration. HOW???????????????????</li>
	<li>Add the <code>pks-cluster-api-1</code> network tag to the master instance. This funnels traffic through the load balancer and into the cluster.</li>
