---
title: Firewall Ports and Protocols Requirements for vSphere with NSX-T
owner: TKGI
nsxt: true
---

<div class="quick-links">
  <ul>
    <li><a href="#enterprise"><%= vars.product_short %> Ports and Protocols</a></li>
    <ul>
      <li><a href="#users"><%= vars.product_short %> Users Ports and Protocols</a></li>
      <li><a href="#core"><%= vars.product_short %> Core Ports and Protocols</a></li>
    </ul>
    <li><a href="#vmware">VMware Ports and Protocols</a></li>
    <ul>
      <li><a href="#virtual-infra">VMware Virtual Infrastructure Ports and Protocols </a></li>
      <li><a href="#optional-integration">VMware Optional Integration Ports and Protocols</a></li>
    </ul>
  </ul>
</div>

<%= partial 'ports-protocols-sphere' %>
