---
title: Firewall Ports and Protocols Requirements
owner: TKGI
netenv: antrea
---

<%= partial 'ports-protocols' %>

## <a id="networking"></a> Networking Ports and Protocols

The following tables list ports and protocols required for network communication. 

### <a id="antrea"></a> Antrea Networking Ports and Protocols

The following tables list ports and protocols required for network communication in Antrea environments. 

| Source Component | Destination Component | Destination Protocol | Destination Port | Service| 
| --- | --- | --- | --- | --- |
| Worker Node VMs | Worker Node VMs | UDP | 6081 | Geneve | 
| Master Node VMs | Master Node VMs | TCP | 8091 | TCP| 

<p class="note"><strong>Note</strong>: Port 6081 must be open on all of the worker node VMs and 
  port 8091 must be open on all master node VMs in the clusters you create in an Antrea networking environment.</p>
  
For more information, see [Network Requirements](https://github.com/antrea-io/antrea/blob/main/docs/network-requirements.md#network-requirements) 
in the Antrea GitHub repository.  