---
title: Firewall Ports and Protocols Requirements (Antrea and Flannel Networking)
owner: TKGI
netenv: antrea
---

This topic describes the firewall ports and protocols requirements for using VMware Tanzu Kubernetes Grid Integrated Edition (TKGI)
with Antrea and Flannel container networking.  

If you are using TKGI on vSphere, see one of the follow topics instead:

* [Firewall Ports and Protocols Requirements for vSphere with NSX](ports-protocols-nsx-t.html)
* [Firewall Ports and Protocols Requirements for vSphere (Antrea and Flannel Networking)](ports-protocols-wo-nsx-t.html)

<br>
<br>
## <a id="overview"></a> Overview

Apps frequently require the ability to pass internal communication between system components on 
different networks.  

Firewalls and Kubernetes NetworkPolicy are used to filter traffic and limit access in environments with strict 
inter-network access control policies and your apps require one or more conduits through a secured environment's firewalls. 

<%= vars.recommended_by %> recommends that you enable access to the apps through the standard Kubernetes load-balancers and ingress controller types, instead of using a Kubernetes NetworkPolicy to filter traffic between networks and TKGI system components and clusters. 
This enables you to designate specific ports and protocols as a firewall conduit.    

Consult the following tables when configuring port settings to install or upgrade TKGI 
or configure a Kubernetes cluster:

* [TKGI Users Ports and Protocols](#users)  
* [TKGI Core Ports and Protocols](#core)  
* [Antrea Networking Ports and Protocols](#antrea)  

<p class="note"><strong>Note</strong>: To control which groups access deploying and scaling 
your organization's Tanzu Kubernetes Grid Integrated Edition-deployed Kubernetes clusters, configure your firewall settings 
as described on the Operator –> TKGI API server lines below.</p>

<%= partial 'ports-protocols' %>
