---
title: Prepare Workloads for an Upgrade
owner: PKS
---

To prevent workload downtime during a PKS upgrade, define the following settings in the deployment manifest:

[//]: # (* Set `max_in_flight` to 1.)
[//]: # (This value cannot be configured in the current PKS version.)
* Increase the number of worker nodes by editing the `spec.replicas` value.
* Schedule pod replicas to run on separate workers by defining a `podAntiAffinity` rule.

For example:

```yaml
kind: Deployment
metadata:
  # ...
spec:
  replicas: 3
  template:
    metadata:
      labels:
        app: APP-NAME
    spec:
      containers:
      - name: MY-APP
        image: MY-IMAGE
        ports:
        - containerPort: 12345
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: "app"
                    operator: In
                    values:
                    - APP-NAME
              topologyKey: "kubernetes.io/hostname"
```

See the following table for descriptions of the values you must edit in the deployment manifest:

<table>
  <tr>
    <th>Key-Value Pair</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><pre>spec:<br>  replicas: 3</pre></td>
    <td>Set this value to at least 2 to increase the number of worker nodes.
    If you are unsure of your worker capacity, begin by increasing the value by 1.</td>
  </tr>
  <tr>
    <td><pre>app: APP-NAME</pre></td>
    <td>Use this app name when you define the anti-affinity rule later in the spec.</td>
  </tr>
  <tr>
    <td><pre>matchExpressions: <br>- key: "app"</pre></td>
    <td>This value matches <code>spec.template.metadata.labels.app</code>.</td>
  </tr>
  <tr>
    <td><pre>values: <br>- APP-NAME</pre></td>
    <td>This value matches the <code>APP-NAME</code> you defined earlier in the spec.</td>
  </tr>
</table>