---
title: PKS Prerequisites
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes the prerequisites for installing Pivotal Container Service (PKS) on vSphere or Google Cloud Platform (GCP).

##<a id='general'></a> General PKS Prerequisites

PKS requires the PKS Command Line Interface (PKS CLI) and the Kubernetes CLI (kubectl).
See the following topics for information about installing each CLI:

<ul>
  <li>
    <a href="./installing-pks-cli.html">Installing the PKS CLI</a>
  </li>
  <li>
    <a href="./installing-kubectl-cli.html">Installing the Kubernetes CLI</a>
  </li>
  </li>
</ul>

##<a id='resources'></a> Resource Requirements

For information about the resource requirements for installing PKS, see the topic that corresponds to your cloud provider:

* [vSphere Prerequisites and Resource Requirements](vsphere-requirements.html)
* [GCP Prerequisites and Resource Requirements](gcp-requirements.html)
