---
title: Prerequisites
owner: PKS
---

In addition to the prerequistes detailed in the installation and usage topics, Pivotal Container Service (PKS) requires the following: 

<ul>
  <li>
    <a href="./installing-pks-cli.html">Installing the PKS CLI</a>
  </li>
  <li>
    <a href="./installing-kubectl-cli.html">Installing the Kubernetes CLI</a>
  </li>
  </li>
</ul>