---
title: Using Proxies with PKS
owner: PKS
---

PKS lets you proxy outgoing HTTP and HTTPS traffic from:

- PKS management components (PKS API server, Ops Manager, and BOSH Director)
- Kubernetes cluster nodes

When you configure PKS for proxy support in Ops Manager, HTTP/S Proxy setting are applied to the PKS API Instance. You are able to create a Kubernetes cluster such that the PKS API instance VM is able to CRUD objects on the NSX-T Manager behind a proxy.

    <%= image_tag("pks-proxy-arch.png") %>

## <a id="v2-2"></a>PKS API Proxy

Configure a proxy for PKS API and management plane traffic. A PKS deployment w/ NSX-T where vCenter & the NSX-T manager are on a separate network/subnet from the PKS API instance, and there is an HTTP/S proxy between the two networks.

    <%= image_tag("pks-proxy-config.png") %>

1. Log in to Ops Manager.

1. Select User Name > Settings in the upper right.

1. Select the Proxy Settings pane.

1. Under HTTP Proxy, enter the FQDN or IP address of your HTTP proxy endpoint. For example, http://proxy.pks.com:1234.

1. Under HTTPS Proxy, enter the FQDN or IP address HTTPS proxy endpoint. For example, https://proxy.pks.com:1234.

1. Under No Proxy, enter the following network CIDR ranges that must bypass the proxy.

	For the PKS API proxy, you must include the following in the `no_proxy` field: 

		`<Deployment-Network-Cidr>,<Node-Network-IP-Block-Cidr>,<Pod-Network-IP-Block-Cidr>`

## Kubernetes Clusters Proxy

To configure a global proxy for all outgoing HTTP and HTTPS traffic from Kubernetes cluster nodes, see the [Networking section](https://docs.pivotal.io/runtimes/pks/1-2/installing-nsx-t.html#networking) of PKS with NSX-T tile configuration.