---
title: Using Proxies with PKS
owner: PKS
---

PKS lets you proxy outgoing HTTP and HTTPS traffic from PKS management components and Kubernetes cluster nodes to vSphere and NSX-T components on the standard network.

    <%= image_tag("pks-proxy-arch.png") %>

## <a id='pks-proxy'></a>PKS Proxy

In a PKS environment on vSphere with NSX-T, PKS components are typically deployed to a management network/subnet separate from the standard network with vCenter, NSX-T Manager, and ESXi hosts. PKS Proxy is for such environments where there is an HTTP/S proxy between the PKS network and the main network.

PKS Proxy settings are applied to the PKS API instance. When a PKS operator creates a Kubernetes cluster, the PKS API instance VM behind a proxy is able to manage objects on the NSX-T Manager.

    <%= image_tag("pks-proxy-config.png") %>

To configure a proxy for PKS: 

1. Log in to Ops Manager.

1. Select User Name > Settings in the upper right.

1. Select Proxy Settings.

1. Under HTTP Proxy, enter the FQDN or IP address of the HTTP proxy endpoint. For example, `http://proxy.pks.com:1234`.

1. Under HTTPS Proxy, enter the FQDN or IP address of the HTTPS proxy endpoint. For example, `https://proxy.pks.com:1234`.

1. Under No Proxy, **include** the following networks that must bypass the proxy (required).

		`<Deployment-Network-Cidr>,<Node-Network-IP-Block-Cidr>,<Pod-Network-IP-Block-Cidr>`
1. Save.

1. Review pending changes in Ops Manager.

1. Deploy PKS components using Ops Manager.

## Kubernetes Cluster Proxy

To configure a global proxy for all outgoing HTTP and HTTPS traffic from Kubernetes cluster nodes, see the [Networking section](https://docs.pivotal.io/runtimes/pks/1-2/installing-nsx-t.html#networking) of installing PKS with NSX-T.