---
title: Limit Resource Usage
owner: TKGI
---

This section describes how to define and use resource quotas for Kubernetes clusters in <%= vars.product_full %>.

See the following topics:

<ul>
  <li>
    <a href="./console-resource-quotas.html">Assign Resource Quotas to Users in the Management Console</a>
  </li>
  <li>
    <a href="./resource-usage.html">Managing Resource Usage with Quotas</a>
  </li>
  <li>
    <a href="./resource-review.html">Viewing Usage Quotas</a>
  </li>
</ul>
