---
title: PKS Release Notes
owner: PKS
---

<strong><%= modified_date %></strong>

This topic contains release notes for Pivotal Container Service (PKS) v1.2.0-Beta-1.

## <a id="v1.2-beta"></a>v1.2.0-Beta-1

**Release Date**: August 21, 2018

### <a id="snapshot"></a>Product Snapshot

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.2.0-Beta-1</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>August 21, 2018</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager versions</td>
        <td>v2.2.x, v2.3.x</td>
    </tr>
    <tr>
        <td>Stemcell version</td>
        <td>3586.36</td>
    </tr>
    <tr>
        <td>Kubernetes version</td>
        <td>v1.10.5
    </tr>
    <tr>
        <td>NSX-T version</td>
        <td>v2.2</td>
    </tr>
    <tr>
        <td>NCP version</td>
        <td>v2.2.1</td>
    </tr>
</table>

### <a id="v1.2.0-Beta-1-upgrade"></a>Upgrade Procedure
The supported upgrade paths to PKS v1.2.0-Beta-1 are from PKS v1.1.1 and later.

### <a id="v1.2.0-Beta-1"></a>What's New
+ PKS can be deployed on Amazon Web Services (AWS).

### <a id="v1.2.0-Beta-1-known-issues"></a>Known Issues

* If you use stemcell v3586.18 or later
in the 3586 line of Linux stemcells
when deploying PKS on GCP, you may see the following:

  * The output of the `bosh vms` command
  shows an error message that includes `unresponsive agent`.
  * Your PKS-provisioned Kubernetes cluster does not respond to any PKS CLI commands,
  such as `pks get-credentials` or `pks delete-cluster`.

    Until this issue is resolved,
    use stemcell v3586.16 when deploying PKS on GCP.
