---
title: PKS Release Notes
owner: PKS
---

## <a id="v1.0.0"></a>v1.0.0

**Release Date**: February 8, 2018

PKS (Pivotal Container Service) is used to create and manage on-demand Kubernetes clusters via the PKS CLI.

### <a id="features"></a>Features

* Create, resize, delete, list, and show clusters through the PKS CLI
* Native support for NSX-T and Flannel
* Easily obtain kubeconfigs to use each cluster
* Use kubectl to view the Kubernetes dashboard
* Define plans that pre-configures VM size, authentication, default number of workers, addons, etc.
* User/Admin configurations for access to PKS API
* Centralized logging through syslog

### <a id="known"></a>Known Issues

* Updating the PKS tile with a new stemcell triggers the rolling of each VM in each cluster. Also, updating other tiles in your deployment with new stemcells causes the rolling of the PKS tile. This is enabled by the **Upgrade all clusters errand**. Pivotal recommends that this errand remains on because automatic rolling of VMs ensures that all deployed cluster VMs are patched. This automatic rolling could cause downtime in your deployment.
* The upgrade all errand will fail if there are any deployments in a failed state. To fix, delete the failed cluster (PKS CLI) or redeploy the failed cluster and get them into a successful state (BOSH CLI).
