---
title: PKS Release Notes
owner: PKS
---

PKS (Pivotal Container Service) is used to create and manage on-demand Kubernetes clusters via the PKS CLI.

## <a id="v1.1.0"></a>v1.1.0

**Release Date**: TBD, 2018

<p class="note breaking"><strong>Breaking Change</strong>: The PKS CLI now prompts for confirmation before resizing and deleting clusters, since this action is non-reversible.
You can use the <code>--non-interactive</code> flag to skip this confirmation.</p>

PKS v1.1.0 includes or supports the following component versions:

<table border="1" class="nice">
  <tbody>
    <tr>
    <th>Product Component</th>
    <th>Version Supported</th>
    <th>Notes</th>
   </tr>
   <tr>
   <td>vSphere</td>
   <td>6.5 and 6.5 U1 - Editions
    <ul><li>vSphere Enterprise Plus Edition</li></ul>
    <ul><li>vSphere with Operations Management Enterprise Plus</li></ul></td>
   <td>Supported versions of vSphere with Pivotal Container Service (PKS)</td>
   </tr>
   <tr>
   <td>VMware Harbor Registry</td>
   <td>1.4.0</td>
   <td>Separate tile available for download from Pivotal Network</td>
   </tr>
   <tr>
   <td>NSX-T</td>
   <td>2.1 Advanced Edition</td>
   <td>Available from VMware</td>
   </tr>
   <tr>
   <td>Pivotal Cloud Foundry Operations Manager (Ops Manager)</td>
   <td>2.0.X</td>
   <td>Separate product available for download from Pivotal Network</td>
   </tr>
   <tr>
   <td>Stemcell</td>
   <td>3468.21</td>
   <td>Separate download available from Pivotal Network</td>
   </tr>
   <tr>
   <td>Kubernetes</td>
   <td>1.9.2</td>
   <td>Packaged in the PKS Tile (CFCR)</td>
   </tr>
   <tr>
   <td>CFCR (Kubo)</td>
   <td>0.13</td>
   <td>Packaged in the PKS Tile</td>
   </tr>
   <tr>
   <td>NCP</td>
   <td>2.1.0.1</td>
   <td>Packaged in the PKS Tile</td>
   </tr>
   <tr>
   <td>PKS CLI</td>
   <td>1.0.0-build.3</td>
   <td>Separate download available from the PKS section of Pivotal Network</td>
   </tr>
   <tr>
   <td>Kubernetes CLI</td>
   <td>1.9.2</td>
   <td>Separate download available from the PKS section of Pivotal Network</td>
   </tr>
   </tbody>
   <tfoot>
   <tr>
    <td colspan="3"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
   </tr>
  </tfoot>
</table>


### <a id="features"></a>Features


### <a id="known"></a>Known Issues

