---
title: PKS Release Notes
owner: PKS
---

<strong><%= modified_date %></strong>

This topic contains release notes for Pivotal Container Service (PKS) v1.3.x.


Bug fixes:
No proxy property for vSphere now accepts wildcard domains (e.g.: *.example.com, .example.com). Check <a href="./installing-pks-vsphere.html#networking">Installing PKS on vSphere</a> for more information.
