---
title: PKS Release Notes
owner: PKS
---

## <a id="v0.8"></a>v0.8

**Release Date**: December 22, 2017

PKS (Pivotal Container Service) is used to create and manage on-demand Kubernetes clusters via the PKS CLI.

### Features

* Create, resize, delete, list, and show clusters through the PKS CLI
* Native support for NSX-T and Flannel
* Easily obtain kubeconfigs to use each cluster
* Use kubectl to view the Kubernetes dashboard
* Define a set plan that configures VM size, authentication (RBAC or ABAC), and the number of workers for others to use

### Known Issues

* PKS v0.8 does not support air-gapped environments. This issue will be resolved for PKS v1.0. 
* PKS v0.8 with NSX-T integration does not support inserting external SSL certificates to trust NSX-T Manager. You must select **Disable SSL certificate verification**. This issue will be resolved for PKS v1.0.
* Operators who use the NSX-T integration can only assign 40 characters to a pod’s namespace.
