---
title: PKS Release Notes
owner: PKS
---

## <a id="v0.8"></a>v0.8

**Release Date**: December 22, 2017

PKS (Pivotal Container Service) is used to create and manage on-demand Kubernetes clusters via the PKS CLI.

### Features

* Create, resize, delete, list, and show clusters through the PKS CLI
* Native support for NSX-T and Flannel
* Easily obtain kubeconfigs to use each cluster
* Use kubectl to view the Kubernetes dashboard
* Define a set plan that configures VM size, authentication (RBAC or ABAC), and the number of workers for others to use

### Known Issues

* Operators who deploy the PKS tile on GCP must perform an extra step in this version to set up the cloud config such that the GCP service account used by PKS is specified for each VM. For more information, see  [Step 4: Post-Deployment Steps](installing.html#post-deployment-steps) in <em>Installing and Configuring PKS</em>.
* Operators who use the NSX-T integration can only assign 40 characters to a pod's namespace.