---
title: PKS Release Notes
owner: PKS
---

PKS (Pivotal Container Service) is used to create and manage on-demand Kubernetes clusters via the PKS CLI.

## <a id="v1.0.0"></a>v1.0.0

**Release Date**: February 8, 2018

PKS v1.0.0 uses the following component versions:

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <tr>
    <td>Stemcell</td><td>3468.21</td>
  </tr>
    <td>PKS CLI</td><td>1.0.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id="features"></a>Features

* Create, resize, delete, list, and show clusters through the PKS CLI
* Native support for NSX-T and Flannel
* Easily obtain kubeconfigs to use each cluster
* Use kubectl to view the Kubernetes dashboard
* Define plans that pre-configure VM size, authentication, default number of workers, and addons when creating Kubernetes clusters
* User/Admin configurations for access to PKS API
* Centralized logging through syslog

### <a id="known"></a>Known Issues

#### <a id="special"></a>Special Characters
In vCenter, special characters, such as, `(`, `#`, `&`, `;`, `"`, `'`, `^`, `\`, Space ( ), `!`, and `%`  cannot be used with PKS.

#### Stemcell Updates Cause Automatic VM Rolling

Enabling the **Upgrade all clusters** errand allows automatic rolling for VMs in your deployment.
Pivotal recommends enabling this errand to ensure that all deployed cluster VMs are patched.

When you enable the **Upgrade all clusters** errand, the following actions can cause downtime:

* Updating the PKS tile with a new stemcell triggers the rolling of each VM in each cluster.
* Updating other tiles in your deployment with new stemcells causes the rolling of the PKS tile.


#### Upgrade Errand Fails with Failed Deployments
The **Upgrade all clusters** errand fails if any deployments are in a failed state.

To work around this issue, [delete the failed cluster](using.html#delete-cluster) using the PKS CLI or [redeploy the failed cluster](managing.html#ssh) with the BOSH CLI to ensure the cluster is in a successful state.
