---
title: Prerequisites and Resource Requirements
owner: PKS
---

<p class="note"><strong>Note</strong>: The PKS documentation is under development. This topic will continue to be updated and expanded to reflect the most current information.</p>

This topic describes the prerequisites and resource requirements for installing Pivotal Container Service (PKS) with or without NSX-T integration.

##<a id='pks-without-nsx-t'></a> PKS Without NSX-T Integration

###<a id='prereqs'></a> Prerequisites

####<a id='ops-man'></a> Ops Manager v2.0

To install PKS, you must have Ops Manager v2.0 installed. Consult the following documentation specific to your IaaS:

* [vSphere](https://docs-pcf-staging.cfapps.io/pivotalcf/2-0/customizing/vsphere.html)
* [Google Cloud Platform](https://docs-pcf-staging.cfapps.io/pivotalcf/2-0/customizing/gcp.html) (GCP)

When configuring Ops Manager v2.0, you must create a service network for PKS and enable post-deploy scripts.

In addition, PKS requires that BOSH DNS is deployed in your PCF installation. By default, BOSH DNS is enabled. If you opted to disable BOSH DNS in Ops Manager, you must re-enable BOSH DNS and redeploy PCF before installing PKS. For more information on opting out of BOSH DNS, see [this KB article](For more information on opting out of BOSH DNS, see [this KB article](https://discuss.pivotal.io/hc/en-us/articles/115015720428-Disabling-or-Opting-Out-of-BOSH-DNS-in-PCF).

If using GCP, configure your services subnet to use a DNS range from the internal Google network. Set this value on the <strong>Create Networks</strong> page in the Ops Manager Director tile.</p>

####<a id='other-prereqs'></a> Additional Prerequisites

Installing PKS also requires the following:

* An external load balancer to access the PKS API
* An external load balancer to access each created cluster
* [Kubectl](https://kubernetes.io/docs/tasks/tools/install-kubectl/), the Kubernetes CLI, to access created cluster

###<a id='resources'></a> Resource Requirements

Installing PKS deploys the following two virtual machines (VMs):

<table>
<tr>
<th>VM</th>
<th>CPU</th>
<th>RAM</th>
<th>Ephemeral Disk</th>
<th>Persistent Disk</th>
</tr>
<td>Pivotal Container Service</td>
<td>1</td>
<td>4 GB</td>
<td>20 GB</td>
<td>n/a</td>
</tr>
</table>

Each Kubernetes cluster provisioned through PKS deploys the following VMs:

<table>
<tr>
<th>Number</th>
<th>VM</th>
<th>CPU</th>
<th>RAM</th>
<th>Ephemeral Disk</th>
<th>Persistent Disk</th>
</tr>
<td>1</td>
<td>etcd</td>
<td>1</td>
<td>1 GB</td>
<td>8 GB</td>
<td>2 GB</td>
</tr>
</tr>
<td>1</td>
<td>master</td>
<td>1</td>
<td>4 GB</td>
<td>8 GB</td>
<td>n/a</td>
</tr>
<tr>
<td>1</td>
<td>worker node</td>
<td>2</td>
<td>4 GB</td>
<td>8 GB</td>
<td>10 GB</td>
</tr>
</table>

##<a id='pks-with-nsx-t'></a> PKS With NSX-T Integration

##<a id='with-nsx-t-prereqs'></a> Prerequisites

###<a id='pks-prereqs'></a> PKS Prerequisites

See the [Prerequisites](#prereqs) section above for the PKS prerequisites. 

###<a id='nsx-t-prereqs'></a> NSX-T Prerequisites

Integrating NSX-T with PKS requires the following vSphere and NSX-T version dependencies:

<table class="nice">
    <th>Component</th>
    <th>Version</th>
    <tr>
        <td>VMware vSphere</td>
        <td>6.5 GA and 6.5 U1</td>
    </tr>
    <tr>
        <td>VMware NSX-T</td>
        <td>2.1</td>
    </tr>
</table>

##<a id='with-nsx-t-resources'></a> Resource Requirements

### <a id='pks-reqs'></a>PKS Requirements

See the [Resource Requirements](#resources) section above for the PKS resource requirements.

### <a id='nsx-t-reqs'></a>NSX-T Requirements

Deploying NSX-T requires the additional following resources from your vSphere environment:

<table>
<tr>
  <th>NSX-T Component</th>
  <th>Instance Count</th>
  <th>Memory</th>
  <th>vCPU</th>
  <th>Disk Space</th>
</tr>
<tr>
  <td>NSX-T Manager Appliance</td>
    <td>1</td>
    <td>16 GB</td>
    <td>4</td>
    <td>140 GB</td>
</tr>
<tr>
  <td>NSX-T Controller(s)</td>
    <td>1 or 3</td>
    <td>16 GB</td>
    <td>4</td>
    <td>120 GB</td>
</tr>
<tr>
  <td>NSX-T Edge</td>
    <td>1 or more</td>
    <td>16 GB</td>
    <td>8</td>
    <td>120 GB</td>
</tr>
</table>


