---
title: Viewing Usage Quotas
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to review your VM resource usage and quotas using the Pivotal Container Service Application Interface (PKS API).  

Your <%= vars.product_short %> administrator might set maximum VM memory and CPU count utilization limits on your VM instances. 
This quota limitation is based on the total allocated size of the VM instances you create, not their actual utilization. 

Using PKS API you can determine the size limitations your administrator has assigned to you and your 
current usage. 
    
<%= partial 'beta-component' %>

## <a id='quota-dev'></a> Viewing Quotas

The PKS API `quotas` command reports your resource utilization quota as JSON.

1. To view your resource quota, run the following command:

    ```
    curl -k -H "Authorization: Bearer USER-TOKEN" https://DOMAIN:9021/ENV-NAME/quotas/USER-ID
    ```

    Where:
    * `USER-TOKEN` is your authentication token.
    * `DOMAIN` is your API domain.
    * `ENV-NAME` is your environment name.
    * `USER-ID` is your user account id.

## <a id='usage-dev'></a> Viewing Usage

The PKS API `usages` command reports your resource utilization as JSON.

1. To view your current allocated resource utilization, run the following command:

    ```
    curl -k -H "Authorization: Bearer USER-TOKEN" https://DOMAIN:9021/ENV-NAME/usages/USER-ID
    ```

    Where:
    * `USER-TOKEN` is your authentication token.
    * `DOMAIN` is your API domain.
    * `ENV-NAME` is your environment name.
    * `USER-ID` is your user account id.
