---
title: Managing Resource Usage
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to manage and monitor resource utilization using the Pivotal Container Service Application Interface (PKS API).  

As <%= vars.product_short %> administrator you can set a maximum limit on each user's total VM resource allocation.  

PKS API quota commands provide a way for you to restrict a user's total allocated VM memory size and CPU count. 
Using the PKS API you can create rules, review rules and review users' current total utilization.  

<%= partial 'beta-component' %>

## <a id='quota-admin'></a> Manage Quota Limitations

1. To enforce a quota on a specific user, run the following command:

    ```
    curl -k \
    -H "Authorization: Bearer AUTH-TOKEN" \
    -H "Content-Type: application/json" \
    -d \
    '{
        "owner": "USER-ID",
        "limit": {
          "cpu": MAX-CPU,
          "memory": MAX-MEM
          }
        }' \
    https://DOMAIN:9021/ENV-NAME/quotas
    ```

    Where:
    * `AUTH-TOKEN` is your authentication token.
    * `DOMAIN` is your API domain.
    * `ENV-NAME` is your environment name.
    * `USER-ID` is user account id to enforce the quota restriction on.
    * `MAX-CPU` is the maximum total number of CPU cores the user is allowed to allocate to VM instances.
    * `MAX-MEM` is the maximum total amount of memory, in Gigabytes, the user is allowed to allocate to VM instances.

1. To modify a specific user's existing quota, run the following command:

    ```
    curl -k -X PATCH \
    -H "Authorization: Bearer AUTH-TOKEN" \
    -H "Content-Type: application/json" \
    -d \
    '{
        "owner": "USER-ID",
        "limit": {
          "cpu": MAX-CPU,
          "memory": MAX-MEM
          }
        }' \
    https://DOMAIN:9021/ENV-NAME/quotas/USER-ID
    ```

    Where:
    * `AUTH-TOKEN` is your authentication token.
    * `DOMAIN` is your API domain.
    * `ENV-NAME` is your environment name.
    * `USER-ID` is user account id to enforce the quota restriction on.
    * `MAX-CPU` is the maximum total number of CPU cores the user is allowed to allocate to VM instances.
    * `MAX-MEM` is the maximum total amount of memory, in Gigabytes, the user is allowed to allocate to VM instances.

1. To delete a specific user's existing quota, run the following command:

    ```
    curl -k -X DELETE \
    -H "Authorization: Bearer AUTH-TOKEN" \
    https://DOMAIN:9021/ENV-NAME/quotas/USER-ID
    ```

    Where:
    * `AUTH-TOKEN` is your authentication token.
    * `DOMAIN` is your API domain.
    * `ENV-NAME` is your environment name.
    * `USER-ID` is user account id to enforce the quota restriction on.

## <a id='quota-view-admin'></a> View Quotas

The PKS API `quotas` command reports resource utilization quotas as JSON.

1. To to list the resource quota restrictions currently applied to a single user, run the following command:

    ```
    curl -k \
    -H "Authorization: Bearer AUTH-TOKEN" \
    https://DOMAIN:9021/ENV-NAME/quotas/USER-ID
    ```

    Where:
    * `AUTH-TOKEN` is your authentication token.
    * `DOMAIN` is your API domain.
    * `ENV-NAME` is your environment name.
    * `USER-ID` is the account id to report on. 

    For example:
    <pre class="terminal">
    $ user=exampleuser
    $ curl -v -k -H "Authorization: Bearer $token" \
    https://example.com:9021/my-environment/quotas/$user  

    {"owner":"cody","limit":{"cpu":2,"memory":1.0}}
    </pre>


1. To to list all current resource quota restrictions, run the following command:

    ```
    curl -k \
    -H "Authorization: Bearer AUTH-TOKEN" \
    https://DOMAIN:9021/ENV-NAME/quotas
    ```

    Where:
    * `AUTH-TOKEN` is your authentication token.
    * `DOMAIN` is your API domain.
    * `ENV-NAME` is your environment name.

## <a id='utilization-view-admin'></a> View Usage

The PKS API `usages` command reports resource utilization as JSON.

1. To list the current resource utilization for a single user, run the following command:

    ```
    curl -k -H "Authorization: Bearer AUTH-TOKEN" https://DOMAIN:9021/ENV-NAME/usages/USER-ID
    ```

    Where:
    * `AUTH-TOKEN` is your authentication token.
    * `DOMAIN` is your API domain.
    * `ENV-NAME` is your environment name.
    * `USER-ID` is your user account id.

1. To list the current resource utilization for all users, run the following command:

    ```
    curl -k -H "Authorization: Bearer AUTH-TOKEN" https://DOMAIN:9021/ENV-NAME/usages
    ```

    Where:
    * `AUTH-TOKEN` is your authentication token.
    * `DOMAIN` is your API domain.
    * `ENV-NAME` is your environment name.
    * `USER-ID` is your user account id.
