---
title: Managing Kubernetes Cluster Options
owner: TKGI
---

The following topics describe how an VMware Tanzu Kubernetes Grid Integrated Edition (TKGI) administrator can create and manage options for the Kubernetes clusters that TKGI users provision:  

<ul>
  <li>
    <a href="quotas.html">CPU and Memory Quotas</a>
  </li>
  <li>
    <a href="network-profiles-index.html">Network Profiles (NSX Only)</a>
  </li>
  <li>
    <a href="managing-clusters-vsphere.html">Compute Profiles and Host Groups (vSphere Only)</a>
  </li>
</ul>
