---
title: Managing Kubernetes Cluster Resources
owner: PKS
---

See the following topics:

<ul>
  <li>
    <a href="create-config-cluster-lb.html">Load Balancing</a>
  </li>
  <li>
    <a href="quotas.html">CPU and Memory</a>
  </li>
  <li>
    <a href="network-profiles-index.html">Network Profiles (NSX-T Only)</a>
  </li>
  <li>
    <a href="managing-clusters-vsphere.html">Compute Profiles and Host Groups (vSphere Only)</a>
  </li>
</ul>
