---
title: Viewing Usage Quotas
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to review your VM resource usage and quotas using the Pivotal Container Service Application Interface (PKS API).  

Your <%= vars.product_short %> administrator might set maximum VM memory and vCPU count limits on your VM instances. 
This quota limitation is based on the total allocated size of the VM instances you create, not their actual utilization. 

Using PKS API you can determine the size limitations your administrator has assigned to you and your 
current usage. 
    
<%= partial 'beta-component' %>

## <a id='quota-admin'></a> Setup Your Command Line Authentication Token

<%= partial 'create-auth-token-var' %>

## <a id='quota-dev'></a> Viewing Quotas

The PKS API `quotas` command reports your resource utilization quota as JSON.

To view your resource quota, run the following command:

```
curl -k -H "Authorization: Bearer $USER-TOKEN" \
https://API:9021/v1beta1/quotas/USER-ID
```

Where:  
* `USER-TOKEN` is your authentication token environment variable.  
* `API` is your PKS API instance address.  
* `USER-ID` is your user account ID.  

## <a id='usage-dev'></a> Viewing Usage

The PKS API `usages` command reports your resource utilization as JSON.

To view your current allocated resource utilization, run the following command:

```
curl -k -H "Authorization: Bearer $USER-TOKEN" \
https://API:9021/v1beta1/usages/USER-ID
```

Where:  
* `USER-TOKEN` is your authentication token environment variable.  
* `API` is your PKS API instance address.  
* `USER-ID` is your user account ID.  
