---
title: Managing Resource Usage
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to manage and monitor resource utilization using the Pivotal Container Service Application Interface (PKS API).  

As <%= vars.product_short %> administrator you can set a maximum limit on each user's total VM resource allocation.  

PKS API quota commands provide a way for you to restrict a user's total allocated VM memory size and CPU count. 
Using the PKS API you can create rules, review rules and review users' current total utilization. 

<p class="note"><strong>Note</strong>: Quota limitations affect only non-admin user accounts. A quota applied to an admin user account is ignored.</p>

<%= partial 'beta-component' %>

## <a id='setup-token'></a> Set Up Your Command Line Authentication Token

The <%= vars.product_short %> Quota and Resource API commands in this topic use an authentication 
token environment variable.

To export your authentication token into an environment variable, run the following command:

```
pks login -a PKS-API -u USER-ID -p 'PASSWORD' \
-k export AUTH-TOKEN=$(bosh int ~/.pks/creds.yml --path /access_token)
``` 

Where:

* `PKS-API` is your PKS API server URI.
* `USER-ID` is your PKS User ID.
* `PASSWORD` is your PKS password.
* `AUTH-TOKEN` is the name of your authentication token environment variable.  

For example:
<pre class="terminal">
$ pks login -a pks.my.lab -u alana -p 'psswrdabc123...!' -k export SECRETTOKEN=$(bosh int ~/.pks/creds.yml --path /access_token)
</pre>  

## <a id='quota-admin'></a> Manage Quota Limitations

To enforce a quota on a specific user, run the following command:

```
curl -k -H "Authorization: Bearer $AUTH-TOKEN" \
-H "Content-Type: application/json" \
-d \
'{ \
    "owner": "USER-ID", \
    "limit": { \
      "cpu": MAX-CPU, \
      "memory": MAX-MEM \
      } \
    }' \
https://API:9021/v1beta1/quotas
```

Where:

* `AUTH-TOKEN` is your authentication token environment variable.
* `USER-ID` is user account ID to enforce the quota restriction on.
* `MAX-CPU` is the maximum total amount of CPU resources the user can allocate to containers and pods.
* `MAX-MEM` is the maximum total amount of memory, in gigabytes, the user can allocate to containers and pods.
* `API` is your PKS API instance address.  

To modify a specific user's existing quota, run the following command:

```
curl -k -X PATCH -H "Authorization: Bearer $AUTH-TOKEN" \
-H "Content-Type: application/json" \
-d \
'{ \
    "owner": "USER-ID", \
    "limit": { \
      "cpu": MAX-CPU, \
      "memory": MAX-MEM \
      } \
    }' \
https://API:9021/v1beta1/quotas/USER-ID
```

Where:

* `AUTH-TOKEN` is your authentication token environment variable.
* `USER-ID` is user account ID to enforce the quota restriction on.
* `MAX-CPU` is the maximum total amount of CPU resources the user can allocate to containers and pods.
* `MAX-MEM` is the maximum total amount of memory, in gigabytes, the user can allocate to containers and pods.
* `API` is your PKS API instance address.  

For example:
<pre class="terminal">
$ user=exampleuser
$ pks login -a pks.my.lab -u $user -p 'psswrdabc123...!' -k export TOKEN=$(bosh int ~/.pks/creds.yml --path /access_token)
$ curl -v -k -X PATCH -H "Authorization: Bearer $TOKEN" \
-H "Content-Type: application/json" -d \
'{ \
    "owner": "cody",  \
    "limit": {  \
        "cpu": 4,  \
        "memory": 5 \
    }  \
}' https&#58;//example.com&#58;9021/v1beta1/quotas/$user
</pre>

To delete a specific user's existing quota, run the following command:

```
curl -k -X DELETE -H "Authorization: Bearer $AUTH-TOKEN" \
https://API:9021/v1beta1/quotas/USER-ID
```

Where:

* `AUTH-TOKEN` is your authentication token environment variable.
* `API` is your PKS API instance address.
* `USER-ID` is user account ID to enforce the quota restriction on.  

For example:
<pre class="terminal">
$ user=exampleuser
$ pks login -a pks.my.lab -u $user -p 'psswrdabc123...!' -k export TOKEN=$(bosh int ~/.pks/creds.yml --path /access_token)
$ curl -k -X DELETE -H "Authorization: Bearer $TOKEN" https&#58;//example.com&#58;9021/v1beta1/quotas/$user
$ curl -k -X DELETE -H "Authorization: Bearer $TOKEN" https&#58;//example.com&#58;9021/v1beta1/quotas/$user
{
  "body":"The quota owner named: \"exampleuser\" not found."
}
</pre>

## <a id='quota-view-admin'></a> View Quotas

The PKS API `quotas` command reports resource utilization quotas as JSON.

To to list the resource quota restrictions currently applied to a single user, run the following command:

```
curl -k -H "Authorization: Bearer $AUTH-TOKEN" \
https://API:9021/v1beta1/quotas/USER-ID
```

Where:

* `AUTH-TOKEN` is your authentication token environment variable.
* `API` is your PKS API instance address.
* `USER-ID` is the account ID to report on.  

For example:
<pre class="terminal">
$ user=exampleuser
$ pks login -a pks.my.lab -u $user -p 'psswrdabc123...!' -k export TOKEN=$(bosh int ~/.pks/creds.yml --path /access_token)
$ curl -v -k -H "Authorization: Bearer $TOKEN" \
https&#58;//example.com&#58;9021/v1beta1/quotas/$user 
{
  "owner":"cody",
  "limit":{
      "cpu":2,
      "memory":1.0
  }
}
</pre>


To to list all current resource quota restrictions, run the following command:

```
curl -k -H "Authorization: Bearer $AUTH-TOKEN" \
https://API:9021/v1beta1/quotas
```

Where:

* `AUTH-TOKEN` is your authentication token environment variable.
* `API` is your PKS API instance address.  

For example:
<pre class="terminal">
$ user=exampleuser
$ pks login -a pks.my.lab -u $user -p 'psswrdabc123...!' -k export TOKEN=$(bosh int ~/.pks/creds.yml --path /access_token)
$ curl -v -k -H "Authorization: Bearer $TOKEN" \
https&#58;//example.com&#58;9021/v1beta1/quotas
[
  {
    "owner":"cody",
    "limit":{
        "cpu":2,
        "memory":1.0
    }
  }
]
</pre>  

## <a id='utilization-view-admin'></a> View Usage

The PKS API `usages` command reports resource utilization as JSON.

To list the current resource utilization for a single user, run the following command:

```
curl -k -H "Authorization: Bearer $AUTH-TOKEN" https://API:9021/v1beta1/usages/USER-ID
```

Where:

* `AUTH-TOKEN` is your authentication token environment variable.
* `API` is your PKS API instance address.
* `USER-ID` is your user account ID.  

To list the current resource utilization for all users, run the following command:

```
curl -k -H "Authorization: Bearer $AUTH-TOKEN" \
https://API:9021/v1beta1/usages
```

Where:

* `AUTH-TOKEN` is your authentication token environment variable.
* `API` is your PKS API instance address.
* `USER-ID` is your user account ID.  
