---
title: Managing Kubernetes Cluster Options
owner: TKGI
---

This section describes how an <%= vars.product_short %> administrator can create and manage options for the Kubernetes clusters that <%= vars.product_short %> users provision.

See the following topics:

<ul>
  <li>
    <a href="quotas.html">CPU and Memory Quotas</a>
  </li>
  <li>
    <a href="network-profiles-index.html">Network Profiles (NSX-T Only)</a>
  </li>
  <li>
    <a href="managing-clusters-vsphere.html">Compute Profiles and Host Groups (vSphere Only)</a>
  </li>
</ul>
