---
title: Rotating Tanzu Kubernetes Grid Integrated Edition Control Plane Certificates
owner: TKGI
---

This topic describes how to rotate certificates for
the <%= vars.product_short %> (<%= vars.k8s_runtime_abbr %>) control plane and tile.

To check certificate expiration dates, see [Check Expiration Dates and Certificate Types](https://docs.pivotal.io/platform/security/pcf-infrastructure/advanced-certificate-rotation.html#check-expiration) in the Ops Manager documentation.

For how to rotate Kubernetes cluster certificates, see [Rotating Cluster Certificates](./rotate-cluster-certificates.html).

## <a id="control"></a>Rotate TKGI Control Plane Certificates

<%= vars.k8s_runtime_abbr %> control plane and tile certificates are configurable and non-configurable certificates stored in CredHub.
Rotate them as follows:

* Rotate **configurable** certificates in the tile interface by entering new values
and redeploying the tile.

* **Non-configurable** certificates rotate automatically with each tile upgrade.
Most of these have 4- or 5-year expiry periods,
so users do not ordinarily need to rotate them.
  - Follow Ops Man docs to rotate these if needed:
  [Rotate a Single CA and Its Leaf Certificates](https://docs.pivotal.io/platform/security/pcf-infrastructure/advanced-certificate-rotation.html#single-rotation).
  - This procedure requires Ops Manager v2.9 or later.

For more information, see [Certificate Types](https://docs.pivotal.io/platform/security/pcf-infrastructure/certificate-types.html) in the Ops Manager documentation.
