---
title: Scaling Existing Clusters
owner: PKS
---

This topic explains how to scale an existing cluster by using the PKS CLI to increase or decrease
the number of worker nodes in the cluster.

Follow the steps below to scale an existing cluster using the PKS CLI.

1. <%= partial 'login-pks-api' %>

1. To view the current number of worker nodes in your cluster, run the following command:

    ```
    pks cluster CLUSTER-NAME
    ```
    Where `CLUSTER-NAME` is the name of your cluster.

1. Run the following command:

    ```
    pks resize CLUSTER-NAME --num-nodes NUMBER-OF-WORKER-NODES
    ```
    Where:
    * `CLUSTER-NAME` is the name of your cluster.
    * `NUMBER-OF-WORKER-NODES` is the number of worker nodes you want to set for the cluster.
	   * To scale down your existing cluster, enter a number lower than the current number of worker
        nodes. 
		* To scale up your existing cluster, enter a number higher than the current number of worker
        nodes. The maximum number of worker nodes you can set is configured in the **Plan** pane of
        the Pivotal Container Service tile in Pivotal Ops Manager.

	 For example:
    <pre class="terminal">
    $ pks resize my-cluster --num-nodes 5
    </pre>
    <p class="note"><strong>Note:</strong> This command may roll additional virtual machines in the
    cluster, which can affect workloads if the worker nodes are at capacity.</p>




