---
title: Scaling Existing Clusters
owner: PKS
---

Follow the steps below to scale up an existing cluster using the PKS CLI.
<p class="note"><strong>Note</strong>: You cannot scale the number of worker nodes down. You can only scale the number of worker nodes up.</p>

1. <%= partial 'login-pks-api' %>

1. Run the following command below to scale up your cluster. You cannot scale the number of worker nodes down.
  <p class="note"><strong>Note</strong>: This command may roll additional VMs in the cluster, affecting workloads if the worker nodes are at capacity. This issue will be resolved in a future release of PKS.</p>
  <pre>
  pks resize CLUSTER-NAME --num-nodes WORKER-NODES
  </pre>
  Replace the placeholder values in the command as follows:
  * `CLUSTER-NAME` is the name of your cluster.
  * `WORKER-NODES` is the number of worker nodes for the cluster.
  For example:
  <pre class="terminal">$ pks resize my-cluster --num-nodes 5</pre>
