---
title: PKS Security Disclosure and Release Process
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes the processes for disclosing security issues and releasing related fixes for Pivotal Container Service (PKS), Kubernetes, Cloud Foundry Container Runtime (CFCR), VMware NSX, and VMware Harbor.

##<a id='security-pks'></a> Security Issues in PKS

Pivotal and VMware provide security coverage for PKS. 
Please report any vulnerabilities directly to [Pivotal Application Security Team](https://pivotal.io/security) or the [VMware Security Response Center](https://www.vmware.com/security/vsrc.html).

Security fixes are provided in accordance with the [PCF Security Release Policy](https://docs.pivotal.io/pivotalcf/security/process/pcf-security.html#release-policy) and the [Pivotal Support Lifecycle Policy](https://pivotal.io/support/lifecycle_policy).

Where applicable, security issues may be coordinated with the responsible disclosure process for the open source security teams in Kubernetes and Cloud Foundry projects.

##<a id='security-kubernetes'></a> Security Issues in Kubernetes
Pivotal and VMware follow the Kubernetes responsible disclosure process to work within the Kubernetes project to report and address suspected security issues with Kubernetes.

This process is discussed in [Kubernetes Security and Disclosure Information](https://kubernetes.io/docs/reference/issues-security/security/).  

When the Kubernetes project releases security fixes, PKS releases fixes according to the [PCF Security Release Policy](https://docs.pivotal.io/pivotalcf/2-1/security/process/pcf-security.html#release-policy) and the [Pivotal Support Lifecycle Policy](https://pivotal.io/support/lifecycle_policy).

##<a id='security-cfcr'></a> Security Issues in CFCR
Pivotal and VMware follow the Cloud Foundry responsible disclosure process to work within the Cloud Foundry Foundation to report and address suspected security issues with CFCR.

This process is discussed in [Cloud Foundry Security](https://www.cloudfoundry.org/security/).

When the Cloud Foundry Foundation releases security fixes, PKS releases fixes according to the [PCF Security Release Policy](https://docs.pivotal.io/pivotalcf/security/process/pcf-security.html#release-policy) and the [Pivotal Support Lifecycle Policy](https://pivotal.io/support/lifecycle_policy).

##<a id='security-nsx'></a> Security Issues in VMware NSX
Security issues in VMware NSX are coordinated with the [VMware Security Response Center](https://www.vmware.com/security/vsrc.html).

##<a id='security-harbor'></a> Security Issues in VMware Harbor
Security issues in VMware Harbor are coordinated with the [VMware Security Response Center](https://www.vmware.com/security/vsrc.html).
