---
title: Enabling the SecurityContextDeny Admission Plugin
owner: PKS
---

<strong><%= modified_date %></strong>

This section describes how to enable the SecurityContextDeny admission controller for <%= vars.product_full %> clusters.

##<a id='about-sec-context-deny'></a> About the SecurityContextDeny Admission Plugin

The SecurityContextDeny admission controller plugin will deny any pod that attempts to set certain escalating SecurityContext fields. 

See [Using Admission Controllers](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/) in the Kubernetes documentation for more information.

##<a id='enable-sec-context-deny'></a> Enabling the SecurityContextDeny Admission Plugin

The SecurityContextDeny admission plugin should be enabled if a cluster does not use pod security policies (PSPs) to restrict the set of values a security context can take. See [Enabling and Using Pod Security Policies](./pod-security-policy) for more information.

To enable the SecurityContextDeny admission plugin:

1. In the PKS tile, select the desired Plan, such as Plan 1.
1. At the bottom of the configuration panel, select the **SecurityContextDeny** option.
	<img src="images/psp-seccontextdeny.png" alt="Enabling SecurityContextDeny" width="425">
1. Click **Save**.
1. At the Installation Dashboard, click **Review Pending Changes**.
1. For Enterprise PKS, verify that the "Upgrade all clusters errand" is selected.
1. Click **Apply Changes** to deploy Enterprise PKS.


  
