---
title: PKS Shutdown and Startup Procedure
owner: PKS
iaas: vsphere-nsxt
---

<strong><%= modified_date %></strong>

This topic lists and describes the shutdown and startup sequence for PKS-provisioned Kubernetes cluster nodes, PKS control plane components, and vSphere hosts.

##<a id="shutdown"></a> Shutdown Sequence and Tasks

To perform a graceful shutdown of all Kubernetes, PKS, and infrastructure components, complete the following tasks in sequence.

###<a id="shutdown-apps"></a> Customer Apps

Shut down all customer apps running on PKS-provisioned Kubernetes clusters.

<p class="note"><strong>Note</strong>: This task is optional. Perform it after considering the types of apps you have deployed. For example, stateful, stateless, or legacy apps.</p>

###<a id="shutdown-k8s"></a> Kubernetes Clusters

Shut down all PKS-provisioned Kubernetes clusters following the procedure defined in this Pivotal KB article: 
<a href="https://community.pivotal.io/s/article/how-to-shutdown-and-startup-a-multi-master-pks-cluster">How to shutdown and startup a Multi Master PKS cluster</a>.

For each Kubernetes cluster that you intend to shut down, do the following:

1. Using the BOSH CLI, retrieve the BOSH deployment name of your PKS clusters by running the following command.
    
    ```
    bosh deployments
    ```
     
    Kubernetes cluster deployment names begin with service-instance_ and include a unique BOSH-generated hash.

1. Using the BOSH CLI, stop the Kubernetes worker nodes by running the following command. 

    ```
    bosh -d service-instance_CLUSTER-UUID stop worker
    ```

    Where `CLUSTER-UUID` is the BOSH deployment name of your PKS cluster. For example:

    <pre class="terminal">
    $ bosh -d service-instance_aa1234567bc8de9f0a1c stop worker</pre>

    <p class="note"><strong>Note</strong>: When you use the BOSH <code>stop</code> command, all processes 
    on the Kubernetes node are stopped. BOSH marks them stopped so that when the VM is powered 
    back on, the processes do not start automatically.</p>

1. Using the BOSH CLI, stop the Kubernetes master nodes by running the following command. 

    ```
    bosh -d service-instance_CLUSTER-UUID stop master
    ```

    Where `CLUSTER-UUID` is the BOSH deployment name of your PKS cluster. For example:

    <pre class="terminal">
    $ bosh -d service-instance_aa1234567bc8de9f0a1c stop worker</pre>

1. Using vCenter, shut down all Kubernetes node VMs. To do this, perform the following steps:
	1. Verify the node type by checking the "job" name in the the **Custom Attributes** pane.
	1. Perform a graceful shutdown by right-clicking the target VM and selecting **Power** > **Shut Down Guest OS**. 

    <img src="images/nsxt/shutdown/shutdown-k8s-nodes.png" alt="Shutdown Kubernetes Nodes">

    [View a larger version of this image.](images/nsxt/shutdown/shutdown-k8s-nodes.png)

###<a id="shutdown-pks"></a> PKS Control Plane

To shut down the PKS control plane VM, do the following:

1. Using the BOSH CLI, retrieve the BOSH deployment ID of your PKS deployment by running the following command.

    ```
    bosh deployments
    ```
    PKS deployment names begin with `pivotal-container-service` and include a unique BOSH-generated hash.

1. Using the BOSH CLI, stop the PKS control plane VM by running the following command. 

    ```
    bosh -d pivotal-container-service-DEPLOYMENT-ID stop 
    ```

    Where `DEPLOYMENT-ID` is the BOSH-generated ID of your PKS deployment. For example:

    <pre class="terminal">
    $ bosh -d pivotal-container-service-1bf7b02738056cdc37e6 stop</pre>

1. Using vCenter, locate and gracefully shut down the PKS control plane VM.

   <img src="images/nsxt/shutdown/shutdown-pks.png" alt="Shutdown PKS Control Plane VM">

   [View a larger version of this image.](images/nsxt/shutdown/shutdown-pks.png)

###<a id="shutdown-harbor"></a> Harbor Registry

To shut down the Harbor Registry VM, do the following:

1. Using the BOSH CLI, stop the Harbor VM by running the following command. 

(`bosh -d harbor-container-registry-xxx stop`).
- Using vCenter, locate and gracefully shutdown the Harbor VM.

<img src="images/nsxt/shutdown/shutdown-harbor.png" alt="Shutdown Harbor VM">

###<a id="shutdown-bosh"></a> BOSH Director

Shutdown BOSH Director as follows:
- Using vCenter, locate and gracefully shutdown the BOSH VM.

<img src="images/nsxt/shutdown/shutdown-bosh.png" alt="Shutdown BOSH VM">

###<a id="shutdown-om"></a> Ops Manager

Shutdown Ops Manager as follows:
- Using vCenter, locate and gracefully shutdown the Ops Manager VM.

<img src="images/nsxt/shutdown/shutdown-om.png" alt="Shutdown Ops Manager VM">

###<a id="shutdown-nsxt"></a> NSX-T Components

Shutdown all NSX-T components as follows:
- Using vCenter, gracefully shutdown all NSX-T VMs in the following order: NSX-T Manager, NSX-T Controllers, NSX-T Edge Nodes.

<img src="images/nsxt/shutdown/shutdown-nsxt.png" alt="Shutdown NSX-T VMs">

###<a id="shutdown-vc"></a> vCenter Server

Using vCenter, gracefully shutdown the vCenter Server VM. 

<p class="note"><strong>Note</strong>: The vSphere Client is no longer be avaialable after this VM is shutdown.</p>

<img src="images/nsxt/shutdown/shutdown-vc.png" alt="Shutdown vCenter Server VM">

###<a id="shutdown-esxi"></a> ESXi Hosts

Shutdown all each ESXi host in the vSphere cluster as follows:

First, put the ESXi host into maintence mode. To do this:
- Using a browser, navigate to the HTTPS IP address of the ESXi host, for example: https://10.196.146.20/.
- Log in using vSphere administrative credentials.
- Put the ESXi host in maintenance mode by selecing **Actions** > **Enter maintenance mode**.
<img src="images/nsxt/shutdown/maint-mode.png" alt="Put ESXi Host into Maintenance Mode">

Second, power off the ESXi host. To do this you have two options:
- Use the EXSi web interface and select **Actions** > **Shut down**, or
- Use the remote management console for the host, such as Dell IDRAC or HP iLO.
<img src="images/nsxt/shutdown/shutdown-idrac.png" alt="Shutdown ESXi Host">

##<a id="startup"></a> Startup Sequence and Tasks

To restart all Kubernetes, PKS, and infrastructure components, complete the following tasks in the sequence presented.

###<a id="start-esxi"></a> ESXi Hosts

First, using the remote management console, such as such as Dell IDRAC or HP iLO, power on each ESXi host. Next, connect to the web interface of each ESXi host and exit maintenance mode.

###<a id="start-vc"></a> vCenter

Connect to the web interface of the ESXi server that is hosting the vCenter VM. Select the vCenter VM and click on Power On.

###<a id="start-nsxt"></a> NSX-T Components

Log into vCenter using the vSphere Client and power on the following VMs in the sequence presented:
- NSX-T Manager
- NSX-T Controllers
- NSX-T Edge Nodes

###<a id="start-om"></a> Ops Manager

Using vCenter, power on the Ops Manager VM.

###<a id="start-bosh"></a> BOSH Director

Using vCenter, power on the BOSH Director VM. 

<p class="note"><strong>Note</strong>: BOSH is aware that all the VMs under its control were stopped; thus, BOSH will not attempt to resurrect any VMs, which is the desired behavior.</p>

Due to a bug, it may take approximately 90 minutes for BOSH to start properly. To speed up the BOSH startup process:
1. Get the BOSH Director VM Credentials from Ops Manager. 
1. SSH to the BOSH VM.
1. Run the following commands:
		sudo -i
		monit summary
1. If you see "Process uaa Connection failed" and "Process credhub not monitored," issue the following command:
		monit restart uaa
1. After a few minutes, run `monit summary` again. You should see that the above processes are now running. At this point BOSH should be fully up and running.

###<a id="start-pks"></a> PKS Control Plane

Start the PKS Control Plane as follows:
- Using vCenter, power on the PKS VM.
- Using the BOSH CLI, start the PKS process on the VM (`bosh -d pivotal-container-service-xxx start`).

<p class="note"><strong>Note</strong>: Because you stopped the PKS process using BOSH, you must restart it using BOSH.</p>

###<a id="start-harbor"></a> Harbor Registry

Start Harbor Registry as follows:
- Using vCenter, power on the Harbor VM.
- Using the BOSH CLI, start the Harbor process on the VM (`bosh -d harbor-container-registry-xxx start`).

###<a id="start-k8s"></a> Kubernetes Clusters

For each Kubernetes cluster that you intend to startup, start the Kubernetes nodes in the following sequence:

- Using the BOSH CLL, ssh to the first master node and start etcd.
- Using the BOSH CLI, start the next master node.
- Using the BOSH CLI, start all remaining master nodes (including the master where you started etcd).
- Using the BOSH CLI, start all worker nodes.

Refer to the following the procedure for the exact Kubernetes node startup instructions: <a href="https://community.pivotal.io/s/article/how-to-shutdown-and-startup-a-multi-master-pks-cluster">How to shutdown and startup a Multi Master PKS cluster</a>.

###<a id="start-apps"></a> Customer Apps

Start all apps running on the PKS-provisioned Kubernetes clusters.