---
title: PKS Shutdown and Startup Procedure
owner: PKS
iaas: vsphere-nsxt
---

<strong><%= modified_date %></strong>

This topic lists and describes the shutdown and startup sequence for PKS-provisioned Kubernetes cluster nodes, PKS Control Plane components, and vShphere IaaS hosts.

##<a id="shutdown"></a> Shutdown Sequence and Tasks

To perform a graceful shutdown of all Kubernetes, PKS, and infrastructure components, complete the following tasks in the sequence presented .

###<a id="shutdown-apps"></a> Customer Apps

Shutdown all applications running on PKS-provisioned Kubernetes clusters.

<p class="note"><strong>Note</strong>: This task is optional to be performed at your discretion with consideration given to the types of apps you have deployed (stateful, stateless, legacy, etc.).</p>

###<a id="shutdown-k8s"></a> Kubernetes Clusters

Shutdown all PKS-provisioned Kubernetes clusters following the procedure defined in this Pivotal KB article: <a href="https://community.pivotal.io/s/article/how-to-shutdown-and-startup-a-multi-master-pks-cluster">How to shutdown and startup a Multi Master PKS cluster</a>.

For each Kubernetes cluster that you intend to shutdown, follow this procedure:

- Using the BOSH CLI, stop the Kubernetes worker nodes (`bosh -d service-instance_xxxxxxxxx stop worker`).
- Using the BOSH CLI, stop the Kubernetes master nodes (`bosh -d service-instance_xxxxxxxxxx stop master`).

<p class="note"><strong>Note</strong>: When you use the BOSH `stop` command, all processes on the Kubernetes node will be stopped, and BOSH will mark them as stopped so when the VM is powered back on, the processes will not start automatically.</p>

- Using vCenter, shutdown all Kubernetes node VMs. 
	- Verify the node type by checking the "job" name in the the **Custom Attributes** pane.
	- Perform a graceful shutdown by right-clicking the target VM and selecting **Power** > **Shut Down Guest OS**. 

<img src="images/nsxt/shutdown/shutdown-k8s-nodes.png" alt="Shutdown Kubernetes Nodes">

###<a id="shutdown-pks"></a> PKS Control Plane

Shutdown the PKS Control Plane VM as follows:
- Using the BOSH CLI, stop the PKS Control Plane VM (`bosh -d pivotal-container-service-xxx stop`).
- Using vCenter, locate and gracefully shutdown the PKS Control Plane VM.

<img src="images/nsxt/shutdown/shutdown-pks.png" alt="Shutdown PKS Control Plane VM">

###<a id="shutdown-harbor"></a> Harbor Registry

Shutdown the Harbor Registry VM as follows:
- Using the BOSH CLI, stop the Harbor VM (`bosh -d harbor-container-registry-xxx stop`).
- Using vCenter, locate and gracefully shutdown the Harbor VM.

<img src="images/nsxt/shutdown/shutdown-harbor.png" alt="Shutdown Harbor VM">

###<a id="shutdown-bosh"></a> BOSH Director

Shutdown BOSH Director as follows:
- Using vCenter, locate and gracefully shutdown the BOSH VM.

<img src="images/nsxt/shutdown/shutdown-bosh.png" alt="Shutdown BOSH VM">

###<a id="shutdown-om"></a> Ops Manager

Shutdown Ops Manager as follows:
- Using vCenter, locate and gracefully shutdown the Ops Manager VM.

<img src="images/nsxt/shutdown/shutdown-om.png" alt="Shutdown Ops Manager VM">

###<a id="shutdown-nsxt"></a> NSX-T Components

Shutdown all NSX-T components as follows:
- Using vCenter, gracefully shutdown all NSX-T VMs in the following order: NSX-T Manager, NSX-T Controllers, NSX-T Edge Nodes.

<img src="images/nsxt/shutdown/shutdown-nsxt.png" alt="Shutdown NSX-T VMs">

###<a id="shutdown-vc"></a> vCenter Server

Using vCenter, gracefully shutdown the vCenter Server VM. 

<p class="note"><strong>Note</strong>: The vSphere Client is no longer be avaialable after this VM is shutdown.</p>

<img src="images/nsxt/shutdown/shutdown-vc.png" alt="Shutdown vCenter Server VM">

###<a id="shutdown-esxi"></a> ESXi Hosts

Shutdown all each ESXi host in the vSphere cluster as follows:

First, put the ESXi host into maintence mode. To do this:
- Using a browser, navigate to the HTTPS IP address of the ESXi host, for example: https://10.196.146.20/.
- Log in using vSphere administrative credentials.
- Put the ESXi host in maintenance mode by selecing **Actions** > **Enter maintenance mode**.
<img src="images/nsxt/shutdown/maint-mode.png" alt="Put ESXi Host into Maintenance Mode">

Second, power off the ESXi host. To do this you have two options:
- Use the EXSi web interface and select **Actions** > **Shut down**, or
- Use the remote management console for the host, such as Dell IDRAC or HP iLO.
<img src="images/nsxt/shutdown/shutdown-idrac.png" alt="Shutdown ESXi Host">

##<a id="startup"></a> Startup Sequence and Tasks

To restart all Kubernetes, PKS, and infrastructure components, complete the following tasks in the sequence presented.

###<a id="start-esxi"></a> ESXi Hosts

Using the remote management console such as such as Dell IDRAC or HP iLO, power on each ESXi host.

###<a id="start-vc"></a> vCenter

Connect to the web interface of the ESXi server that is hosting the vCenter VM, then power on the VM.

###<a id="start-nsxt"></a> NSX-T Components

Log into vCenter and power on the following VMs:
- NSX-T Manager
- NSX-T Controllers
- NSX-T Edge Nodes

###<a id="start-om"></a> Ops Manager

Using vCenter, power on the Ops Manager VM.

###<a id="start-bosh"></a> BOSH Director

Using vCenter, power on the BOSH Director VM.

<p class="note"><strong>Note</strong>: BOSH is aware that all the VMs under its control were BOSH stopped; thus, BOSH will not attempt to resurrect any VMs, which is the desired behavior.</p>

###<a id="start-pks"></a> PKS Control Plane

Using vCenter, power on the PKS Control Plane VM.

###<a id="start-harbor"></a> Harbor Registry

Using vCenter, power on the Harbor VM.

###<a id="start-k8s"></a> Kubernetes Clusters

Start each PKS-provisioned Kubernetes cluster following the procedure defined in this Pivotal KB article: <a href="https://community.pivotal.io/s/article/how-to-shutdown-and-startup-a-multi-master-pks-cluster">How to shutdown and startup a Multi Master PKS cluster</a>.

For each Kubernetes cluster that you intend to startup, start the Kubernetes nodes in the following order:

- Using the BOSH CLL, ssh to the first master node and start etcd.
- Using the BOSH CLI, start the next master node.
- Using the BOSH CLI, start all remaining master nodes.
- Using the BOSH CLI, start all worker nodes.

###<a id="start-apps"></a> Customer Apps

Start all apps running on the PKS-provisioned Kubernetes clusters.

