---
title: Sink Architecture in PKS
owner: PKS
---

This topic describes how sinks are implemented in Pivotal Container Service (PKS) deployments.

## <a id="sink-diagram"></a> Sink Architecture Diagram

The following diagram details sink architecture in PKS.

<a href="images/sink-architecture.png" target="_blank"><img src="images/sink-architecture.png" alt="Sink architecture in PKS"></a>

<%#= original graphic is here https://docs.google.com/presentation/d/1xFhfrNPPKrSts4U4HsAZAl1pWuHkhq4vXWN8gLGY3G8/edit?usp=sharing %>

## <a id="sink-architecture"></a> Sink Architecture

Logs are monitored by a set of fluent-bit daemons, which run as a pod on each node.

When sinks are added or removed, all the fluent-bit pods are refreshed with new sink information.

Another pod collects Kubernetes API events and sends them to a fluent-bit pod.

## <a id="related-links"></a> Related Links

For more information on sinks in PKS, see the following topics:

* For information about creating sinks in PKS, see [Creating Sink Resources](./create-sinks.html).
* For information about using sinks for monitoring, see [Monitoring PKS with Sinks](./monitor-sinks.html).
