---
title: Solution Guides for Tanzu Kubernetes Grid Integrated Edition 
owner: TKGI
---

This topic lists the solution guides you can use with <%= vars.product_full %>.

## Solution Guides

<ul>
  <li>
    <a href="https://github.com/pivotal-cf/docs-pks/tree/1.14/solutions">Solution Guide for Enabling Highly Resilient Kubernetes Workloads Using vSAN Stretched Clusters</a>
  </li>
</ul>
