---
title: Solution Guides for Tanzu Kubernetes Grid Integrated Edition 
owner: TKGI
---

The following topics are solution guides you can use with <%= vars.product_full %> (<%= vars.k8s_runtime_abbr %>):  

## Solution Guides

<ul>
  <li>
    <a href="https://github.com/pivotal-cf/docs-pks/blob/1.20/solutions/using-vsan-stretched-clusters.pdf">Solution Guide for Enabling Highly Resilient Kubernetes Workloads Using vSAN Stretched Clusters</a>
  </li>
</ul>
