---
title: Supporting Windows Clusters
owner: TKGI
---

The following topics describe how to support Windows worker-based Kubernetes clusters provisioned by VMware Tanzu Kubernetes Grid Integrated Edition (TKGI):  

<ul>
  <li>
    <a href="windows-workers.html">Configuring Windows Worker-Based Kubernetes Clusters</a>
  </li>
  <li>
    <a href="create-vsphere-stemcell.html">Creating a Windows Stemcell for vSphere Using Stembuild</a>
  </li>
  <li>
    <a href="windows-pause-internetless.html">Using a Windows Pause Image for an Air-Gapped Environment</a>
  </li>
</ul>
