---
title: Supporting Clusters
owner: TKGI
---

This section describes how to support Kubernetes clusters provisioned by <%= vars.product_full %>.

See the following topics:

<ul>
  <li>
    <a href="cluster-credentials.html">Retrieving Cluster Credentials and Configuration</a>
  </li>
  <li>
    <a href="manage-cluster-permissions.html">Managing Cluster Access and Permissions</a>
  </li>
  <li>
    <a href="admission-plugins.html">Using Admission Control Plugins for <%= vars.product_short %> Clusters</a>
  </li>
  <li>
    <a href="harbor.html">Getting Started with VMware Harbor Registry</a>
  </li>
  <li>
    <a href="docker-custom-ca-certs.html">Configuring <%= vars.product_short %> Clusters with Private Docker Registry CA Certificates (Beta)</a>
  </li>
  <li>
    <a href="vsphere-persistent-storage.html">PersistentVolume Storage Options on vSphere</a>
  </li>
  <li>
    <a href="volumes.html">Configuring and Using PersistentVolumes</a>
  </li>
</ul>

<p class="note"><strong>Note:</strong> <%= vars.product_short %> does not currently support the Kubernetes Service Catalog and the GCP Service Broker.</p>
