---
title: Supporting Clusters
owner: TKGI
---

The following topics describe how to support Kubernetes clusters provisioned by VMware Tanzu Kubernetes Grid Integrated Edition (TKGI):  

<ul>
  <li>
    <a href="cluster-credentials.html">Retrieving Cluster Credentials and Configuration</a>
  </li>
  <li>
    <a href="manage-cluster-permissions.html">Managing Cluster Access and Permissions</a>
  </li>
  <li>
    <a href="admission-plugins.html">Using Admission Control Plugins for Tanzu Kubernetes Grid Integrated Edition Clusters</a>
  </li>
  <li>
    <a href="harbor.html">Getting Started with VMware Harbor Registry</a>
  </li>
  <li>
    <a href="docker-custom-ca-certs.html">Configuring Tanzu Kubernetes Grid Integrated Edition Clusters with Private Docker Registry CA Certificates (Beta)</a>
  </li>
  <li>
    <a href="vsphere-persistent-storage.html">PersistentVolume Storage Options on vSphere</a>
  </li>
  <li>
    <a href="volumes.html">Configuring and Using PersistentVolumes</a>
  </li>
</ul>

<p class="note"><strong>Note:</strong> Tanzu Kubernetes Grid Integrated Edition does not currently support the Kubernetes Service Catalog.</p>
