---
title: Supporting Clusters
owner: PKS
---

See the following topics:

<ul>
  <li>
    <a href="cluster-credentials.html">Retrieving Cluster Credentials and Configuration</a>
  </li>
  <li>
    <a href="manage-cluster-permissions.html">Managing Cluster Access and Permissions</a>
  </li>
  <li>
    <a href="admission-plugins.html">Enabling, Disabling, and Using Admission Plugins for <%= vars.product_short %> Clusters</a>
  </li>
  <li>
    <a href="configure-ingress.html">Configuring Ingress Routing</a>
  </li>
  <li>
    <a href="nsxt-ingress.html">Configuring Ingress Using the NSX-T Load Balancer</a>
  </li>  
  <li>
    <a href="harbor.html">Getting Started with VMware Harbor Registry</a>
  </li>
  <li>
    <a href="docker-custom-ca-certs.html">Configuring <%= vars.product_short %> Clusters with Private Docker Registry CA Certificates</a>
  </li>
  <li>
    <a href="vsphere-persistent-storage.html">PersistentVolume Storage Options on vSphere</a>
  </li>
  <li>
    <a href="volumes.html">Configuring and Using Dynamic PersistentVolumes</a>
  </li>
</ul>

<p class="note"><strong>Note:</strong> <%= vars.product_short %> does not currently support the Kubernetes Service Catalog and the GCP Service Broker.</p>