---
title: Telemetry
owner: PKS
---

This topic provides the metrics that the <%= vars.product_tile %> tile
sends when you enable the VMware Customer Experience Improvement Program (CEIP)
and the Pivotal Telemetry Program (Telemetry).

## <a id="configuring"></a> Configuring CEIP and Telemetry

You can opt in or opt out of
the CEIP and Telemetry program in the **Usage Data** pane of the <%= vars.product_tile %> tile.

For more information, see the _Installing <%= vars.product_short %>_ topic for your IaaS:

* [vSphere](installing-pks-vsphere.html#usage)
* [vSphere with NSX-T Integration](installing-nsx-t.html#usage)
* [Google Cloud Platform (GCP)](installing-pks-gcp.html#usage)
* [Amazon Web Services (AWS)](installing-pks-aws.html#usage)

## <a id="data-dictionary"></a>Data Dictionary

For information about the metrics PKS Telemetry collects,
see the [PKS Telemetry Data Dictionary](https://drive.google.com/open?id=18UCd1kbhR3xV_XOl6KcEU64GI6ySdkRa3iG_8QAROl8) spreadsheet in Google Drive.
