---
title: VMware CEIP
owner: TKGI
---

This topic describes the VMware Customer Experience Improvement Program (CEIP) used in VMware Tanzu Kubernetes Grid Integrated Edition (TKGI).  

## <a id="overview"></a>Overview

The CEIP program allows VMware to collect data from customer installations to improve 
the Tanzu Kubernetes Grid Integrated Edition experience.
Collecting data at scale allows VMware to identify patterns and warning signals in 
Tanzu Kubernetes Grid Integrated Edition installations.

Customers who participate in the CEIP receive proactive support benefits that include a weekly report based on telemetry data. 
Contact your Customer Success Manager to subscribe to this report. You can view a sample report at [TKGI 
Platform Operations Report](https://via.vmw.com/TKGI).

<p class="note"><strong>Note:</strong> Tanzu Kubernetes Grid Integrated Edition does not collect any personally identifiable information (PII) at either participation level.
For a list of the data Tanzu Kubernetes Grid Integrated Edition collects, see <a href="#data-dictionary">Data Dictionary</a>.</p>

### <a id="configuration"></a>Configure CEIP

To configure CEIP, see the _VMware CEIP_
section of the installation topic for your IaaS:

  * [Installing Tanzu Kubernetes Grid Integrated Edition on vSphere](./installing-vsphere.html#telemetry)
  * [Installing Tanzu Kubernetes Grid Integrated Edition on vSphere with NSX](./installing-nsx-t.html#telemetry)
  * [Installing Tanzu Kubernetes Grid Integrated Edition on AWS](./installing-aws.html#telemetry)
  * [Installing Tanzu Kubernetes Grid Integrated Edition on Azure](./installing-azure.html#telemetry)
  * [Installing Tanzu Kubernetes Grid Integrated Edition on GCP](./installing-gcp.html#telemetry)

#### <a id="proxy"></a>Proxy Communication

If you use a proxy server, the Tanzu Kubernetes Grid Integrated Edition proxy settings apply to outgoing CEIP data.

To configure Tanzu Kubernetes Grid Integrated Edition proxy settings for CEIP and other communications, see the following:

* For AWS, see [Using Proxies with Tanzu Kubernetes Grid Integrated Edition on AWS](proxies-aws.html).
* For vSphere, see [Networking](installing-vsphere.html#networking) in _Installing Tanzu Kubernetes Grid Integrated Edition on vSphere_.
* For vSphere with NSX, see [Using Proxies with Tanzu Kubernetes Grid Integrated Edition on NSX](proxies.html).

## <a id="system-components"></a> System Components

The CEIP program use the following components to collect data:

+ **Telemetry Server:** This component runs on the TKGI control plane. The server receives CEIP events from the TKGI API and metrics from Telemetry agent pods. The server sends events and metrics to a data lake for archiving and analysis.

+ **Telemetry Agent Pod:** This component runs in each Kubernetes cluster as a deployment with one replica. Agent pods periodically poll the Kubernetes API for cluster metrics and send the metrics to the Telemetry server.

The following diagram shows how CEIP data flows through the system components:

![CEIP System Data Flow](images/telemetry-data-flow.png)  
[View a larger version of this image.](images/telemetry-data-flow.png)  
<%#   <a href="images/telemetry-data-flow.png" target="_blank"><img src="images/telemetry-data-flow.png" alt="Telemetry System Data Flow"></a>     #%>
<%# Image source: https://docs.google.com/presentation/d/1GKYWnT5efjMwyPx23NCoD2VIS-NVzfHDy_6WDyrwgtU/edit#slide=id.g8599dc7597_0_0 %>
  

## <a id="data-dictionary"></a>Data Dictionary

For information about TKGI CEIP collection and reporting, see the [TKGI Telemetry Data](https://docs.google.com/spreadsheets/d/18UCd1kbhR3xV_XOl6KcEU64GI6ySdkRa3iG_8QAROl8/edit#gid=945250226) spreadsheet, hosted on Google Drive.
