ne#encoding: utf-8
---
title: Diagnosing and Troubleshooting PKS
owner: Ops Manager
---

This topic is intended to provide assistance when diagnosing and troubleshooting issues installing or using Pivotal Container Service (PKS).

##<a id='pks-cli'></a>Verify PKS CLI Version

The Pivotal Container Service (PKS) CLI interacts with the your PKS deployment through the PKS API endpoint. You create, manage, and delete Kubernetes clusters on your PKS deployment by entering commands in the PKS CLI. The PKS CLI is under active development and commands may change between versions.

Run `pks --version` to determine the version of PKS CLI installed locally. For example:

<pre class="terminal">
$ pks --version
PKS CLI version: 0.7.1-build.6
</pre>

##<a id='bosh-pks-map'></a>View Logs Files

Log files contain error messages and other information you can use to diagnose issues with your PKS deployment. Follow the steps below to access PKS log files.

1. On a command line, run `bosh -e pks -d YOUR-DEPLOYMENT-NAME vms` to list the virtual machines (VMs) in your PKS deployment.

1. Run `bosh -e pks -d YOUR-DEPLOYMENT-NAME ssh VM-NAME/GUID` to ssh into a PKS VM. 
    * To access logs on the master VM, replace `VM-NAME/GUID` with the name of the PKS master VM, and `GUID` with the GUID of the master VM. 
    * To access logs on a worker VM, replace `VM-NAME/GUID` with the name of a PKS worker VM, and `GUID` with the GUID of the same worker VM. 

1. Run `sudo su` to act as super user on the PKS VM.

1. Navigate to `/vars/vcap/sys/log` on the PKS VM:
  <pre class="terminal">
  $ cd /var/vcap/sys/log
  </pre>

1. Examine the following file:
  * On the PKS master VM, examine the `kubernetes-api` log file.
  * On a PKS worker VM, examine the `kubelet` log file.

##<a id='missing-addons'></a>Add Missing Add-ons

Your provisioned cluster requires system add-ons like `kube-dns`.
Perform the following steps to supply any missing system add-ons to your cluster.

1. Navigate to `https://YOUR-OPS-MANAGER-FQDN/` in a browser to log in to the Ops Manager Installation Dashboard.
1. Click the Ops Manager v2.0 tile.
1. Select **Director Config**.
1. Select **Enable Post Deploy Scripts**.
  <p class="note"><strong>Note</strong>: This setting enables post-deploy scripts for all tiles in your Ops Manager installation.</p>
1. Click **Save**.
1. Click the **Installation Dashboard** link to return to the Installation Dashboard.
1. Click **Apply Changes**.
1. After Ops Manager finishes applying changes, enter `pks delete-cluster` on the command line to delete the cluster. For more information, see the [Delete Cluster](using.html#delete-cluster) section of _Using PKS_.
1. Enter `pks create-cluster` on the command line to recreate the cluster. For more information, see the [Create Cluster](using.html#create-cluster) section of the _Using PKS_.

##<a id='bosh-pks-map'></a>Error: Failed Jobs

If you see an error referencing `post-start scripts failed` or `Failed Jobs`, follow the steps below to enable Post Deploy scripts in Ops Manager.

1. In a web browser, navigate to the fully qualified domain name (FQDN) of the Ops Manager director.

1. Click the Ops Manager Director tile.

1. Select **Director Config** to open the **Director Config** page.

1. Select the **Enable Post Deploy Scripts** checkbox.

1. Click **Save**.

1. Click the **Installation Dashboard** link to return to the Installation Dashboard.

1. Click **Apply Changes**. 

1. Ops Manager Director re-installs. This may take a few moments. When the installation process successfully completes, a **Changes Applied** window appears.

