---
title: Diagnosing and Troubleshooting Tanzu Kubernetes Grid Integrated Edition
owner: Ops Manager
---

The following topics provide assistance when diagnosing and troubleshooting issues when installing or using VMware Tanzu Kubernetes Grid Integrated Edition (TKGI):  

<ul>
  <li>
    <a href="./troubleshoot-issues.html">General Troubleshooting</a>
  </li>
  <li>
    <a href="./diagnostic-tools.html">Using BOSH Diagnostic Commands in Tanzu Kubernetes Grid Integrated Edition</a>
  </li>
  <li>
    <a href="./verify-health.html">Verifying Deployment Health</a>
  </li>
  <li>
    <a href="./interruptions.html">Service Interruptions</a>
  </li>
    <li>
    <a href="./console-troubleshooting.html">Troubleshooting the Management Console</a>
  </li>
</ul>
