---
title: What Happens During PKS Upgrades
owner: PKS
---

This topic explains what happens to Kubernetes clusters provisioned by Pivotal Container Service (PKS) during PKS upgrades.

## <a id="introduction"></a>Introduction

PKS enables you to upgrade either the PKS tile and all PKS-provisioned Kubernetes clusters or only the PKS tile.

* [Upgrades of the PKS Tile and PKS-Provisioned Clusters](#upgrade-all)
* [Upgrades of the PKS Tile Only](#upgrade-tile)

During an upgrade of the PKS tile, your configuration settings are automatically migrated to the new tile version. For upgrading instructions, see [Upgrading PKS](upgrade-pks.html).

### <a id="canary"></a>Canary Instances

The PKS tile is a BOSH deployment.
When you deploy or upgrade a product using BOSH, the number of canary instances can affect the deployment.

BOSH-deployed products can set a number of canary instances to upgrade first, before the rest of the deployment VMs.
BOSH continues the upgrade only if the canary instance upgrade succeeds.
If the canary instance encounters an error, the upgrade stops running and other VMs are not affected.

The PKS tile uses one canary instance when deploying or upgrading PKS.

## <a id="upgrade-all"></a>Upgrades of the PKS Tile and PKS-Provisioned Clusters

During an upgrade of the PKS tile and PKS-provisioned clusters, the following occurs:

1. The PKS API server is recreated. For more information, see [PKS API Server](#server-recreated).

1. Each of your Kubernetes clusters is recreated, one at a time. This includes the following stages for each cluster:
  1. Master nodes are recreated. For more information, see [Master Nodes](#master-recreated).
  1. Worker nodes are recreated. For more information, see [Worker Nodes](#worker-recreated).

 <p class="note"><strong>Note</strong>: When PKS is set to upgrade both the PKS tile and PKS-provisioned clusters, updating any stemcell in your deployment rolls every VM in each Kubernetes cluster. This ensures that all the VMs are patched. With the recommended resource configuration described above, no workload downtime is expected. For information about maintaining your Kubernetes workload uptime, see <a href="maintain-uptime.html">Maintaining Workload Uptime</a>.</p>

###<a id="server-recreated"></a>PKS API Server

When the PKS API server is recreated, you cannot interact with the PKS control plane or manage Kubernetes clusters. These restrictions prevent you from performing the following actions:

  * Logging in through the PKS CLI
  * Retrieving information about clusters
  * Creating and deleting clusters
  * Resizing clusters

Recreating the PKS API server does not affect deployed Kubernetes clusters and their workloads. You can still interact with them through the Kubernetes Command Line Interface, `kubectl`.

For more information about the PKS control plane, see [PKS Control Plane Overview](control-plane.html#control-plane) in _PKS Cluster Management_.

###<a id="master-recreated"></a>Master Nodes

When PKS recreates a single-master cluster during an upgrade, you cannot interact with your cluster, use `kubectl`, or push new workloads.

<p class="note"><strong>Note</strong>: To avoid this loss of functionality, Pivotal recommends using multi-master clusters.</p>

###<a id="worker-recreated"></a>Worker Nodes

When PKS recreates worker nodes, the upgrade runs on a single VM at a time. During the upgrade, the VM stops running containers. If your workloads run on a single VM, your apps will experience downtime.

When worker nodes are recreated, PKS upgrades Kubernetes to the version shipped with the PKS tile. See [Enterprise PKS Release Notes](./release-notes.html).

<p class="note"><strong>Note</strong>: To avoid downtime for stateless workloads, Pivotal recommends using at least one worker node per availability zone (AZ). For stateful workloads, Pivotal recommends using a minimum of two worker nodes per AZ.</p>

## <a id="upgrade-tile"></a>Upgrades of the PKS Tile Only

During an upgrade of the PKS tile only, the PKS API server is recreated.

When the PKS API server is recreated, you cannot interact with the PKS control plane or manage Kubernetes clusters. These restrictions prevent you from performing the following actions:

  * Logging in through the PKS CLI
  * Retrieving information about clusters
  * Creating and deleting clusters
  * Resizing clusters

Recreating the PKS API server does not affect deployed Kubernetes clusters and their workloads. You can still interact with them through the Kubernetes Command Line Interface, `kubectl`.

To upgrade the PKS tile only, set the **Upgrade all clusters errand** to **Off** before you begin the upgrade.
For more information, see [Upgrade the PKS Tile](upgrade-pks.html#upgrade-tile) in _Upgrading PKS_.

For more information about the PKS control plane, see [PKS Control Plane Overview](control-plane.html#control-plane) in _PKS Cluster Management_.

<p class="note"><strong>Note</strong>: When PKS is set to upgrade only the PKS tile and not the clusters, the Kubernetes cluster version falls behind the PKS tile version. If the clusters fall more than one version behind the tile, PKS cannot upgrade the clusters. The clusters must be upgraded to match the PKS tile version before the next tile upgrade.</p>
