---
title: Upgrade PKS with NSX-T
owner: PKS
---

<strong><%= modified_date %></strong>

This topic explains how to upgrade the Pivotal Container Service (PKS) tile for
environments using vSphere with NSX-T.

PKS v1.1.5 supports NSX-T 2.2 and vSphere 6.5 U2. For details, see the [VMware Product Interoperability Matrix](https://www.vmware.com/resources/compatibility/sim/interop_matrix.php)
for PKS in the VMware documentation.

If you use PKS with NSX-T, we recommend that you upgrade to PKS v1.1.5 and
NSX-T 2.2 to take advantage of key features and important architectural changes.

## <a id="upgrade"></a>Upgrade PKS

Follow the steps below to upgrade to PKS v1.1.5.

<p class="note"><strong>Note</strong>: When upgrading PKS with NSX-T, workloads in your Kubernetes cluster are not available while the Edge Nodes are being upgraded. If you have not configured Active/Standby, expect some downtime. For more information, see <a href="./understanding-upgrades.html">What Happens During PKS Upgrades</a>.</p>

1. Upgrade to PKS v1.1.4. You can only upgrade to PKS v1.1.5 from PKS v1.1.4.
For instructions, see [Upgrade PKS](upgrade-pks.html).

1. (Optional) Back up the NSX-T and NCP logs. For more information, see [PKS Logs for NSX-T and NCP](#logs) below.

1. Navigate to the Ops Manager Installation Dashboard.

1. Click the Pivotal Container Service tile.

1. Click **Plan 1**.

1. Under **Worker VM Type**, select a K8 worker VM type with a minimum disk
size of 16&nbsp;GB.

    <p class="note"><strong>Note</strong>: Architectural changes to PKS with NSX-T require that you set the <strong>Worker VM Type</strong> to a disk with a minimum size of 16&nbsp;GB before upgrading. If you do not make this change, the Kubernetes worker VM may run out of ephemeral disk space and cause the upgrade to fail. The default <strong>Worker VM Type</strong> provides insufficient disk space for PKS v1.1.5 with NSX-T or later environments.</p>

1. Follow the instructions in [Upgrade PKS](upgrade-pks.html) to upgrade from
PKS v1.1.4 to PKS v1.1.5.

1. Log in to the NSX Manager UI and navigate to **System > Utilities > Upgrade**.

1. Click **Proceed to Upgrade** and follow the instructions. The NSX-T Upgrade
wizard walks you through the process of upgrading from NSX-T 2.1 to NSX-T 2.2.

	 <img src="images/upgrade-nsxt.png" alt="NSX-T Upgrade Wizard">
    For more information, see [Upgrading NSX-T](https://docs.vmware.com/en/VMware-NSX-T/2.2/com.vmware.nsxt.upgrade.doc/GUID-E04242D7-EF09-4601-8906-3FA77FBB06BD.html) in the VMware documentation.

1. (Optional) Upgrade vSphere from version 6.5 or 6.5 U1 to 6.5 U2. For more
information, see [Upgrading vSphere in an NSX Environment](https://docs.vmware.com/en/VMware-NSX-for-vSphere/6.4/com.vmware.nsx.upgrade.doc/GUID-ED005943-AB33-4D8D-A642-97774276C539.html) in the VMware 
documentation.

## <a id="architectural-changes"></a>PKS with NSX-T Architectural Changes

PKS v1.1.5 includes architectural changes related to integration with NSX-T,
including the NSX-T Container Plugin (NCP). PKS uses NCP to integrate with
NSX-T. For more information about NCP, see [Overview of NSX-T Container Plug-in](https://docs.vmware.com/en/VMware-NSX-T/2.0/com.vmware.nsxt.ncp_kubernetes.doc/GUID-52A92986-0FDF-43A5-A7BB-C037889F7559.html) in the VMware documentation.

<p class="note"><strong>Note</strong>: The information in this section is provided for information purposes only. You do not need to install or configure NCP. NCP is automatically installed and configured when you deploy PKS in an NSX-T environment.</p>

### NSX-T Node Agent and Kube Proxy

In PKS v1.1.4 and earlier, the NSX-T Node Agent and NSX-T Kube Proxy run as a 
daemon set on each worker node. With PKS v1.1.5, both the NSX-T Node Agent and 
the Kube Proxy run as BOSH-managed processes on each worker node.

### NSX-T Container Plugin (NCP)

In PKS v1.1.4 and earlier, NCP runs as a Kubernetes Pod on a single worker 
node. With PKS v1.1.5, NCP runs as a BOSH-managed process on the Kubernetes 
master node.

With PKS v1.1.5, in the case of a multi-master PKS deployment, the NCP process 
runs on all master nodes but is active on only a single master. If the
NCP process on an active master is unresponsive, BOSH activates another NCP
process.

### <a name="logs"></a> PKS Logs for NSX-T and NCP

In PKS v1.1.4 and earlier, you access NSX-T and NCP logs using kubectl commands. In PKS v1.1.5, NSX-T and NCP are BOSH-managed processes, and you access the logs for these components using BOSH. 

BOSH jobs related to NSX-T integration with NCP as a BOSH process:

<table class="nice">
  <tr>
    <th>Location</th>
    <th>BOSH Jobs</th>
  </tr>
  <tr>
    <td rowspan="3">Master Node</td>
    <td><code>/var/vcap/sys/log/ncp</code></td>
  </tr>
  <tr>
    <td><code>/var/vcap/sys/log/pks-nsx-t-prepare-master-vm</code></td>
  </tr>
  <tr>
    <td><code>/var/vcap/sys/log/pks-nsx-t-ncp</code></td>
  </tr>
  <tr>
    <td rowspan="4">Worker Nodes</td>
    <td><code>/var/vcap/sys/log/nsx-kube-proxy</code></td>
  </tr>
  <tr>
    <td><code>/var/vcap/sys/log/openvswitch</code></td>
  </tr>
  <tr>
    <td><code>/var/vcap/sys/log/nsx-cni</code></td>
  </tr>
  <tr>
    <td><code>/var/vcap/sys/log/nsx-node-agent</code></td>
  </tr>
</table>

Run the BOSH command `bosh –d DEPLOYMENT-ID logs` to collect these logs. For
more information, see [Using Logs](https://bosh.io/docs/job-logs/) in the BOSH
documentation.

When you upgrade to PKS v1.1.5, the existing logs for NSX-T and NCP are
deleted. Before you upgrade, you may want to back these logs up. For example,
you may need to analyze these logs if you experience problems with your PKS
deployment before upgrading, or problems related to a failed upgrade.
