---
title: Upgrading Tanzu Kubernetes Grid Integrated Edition (NSX-T Networking)
owner: TKGI
topic: pksupgradensxt
---

<div class="quick-links">
  <ul>
    <li><a href="#overview">Overview</a></li>
    <li><a href="#prerequisites">Prerequisites</a></li>
    <li><a href="#prepare">Prepare to Upgrade</a></li>
    <li><a href="#upgrade">Perform the Upgrade</a></li>
      <ul>
        <li><a href="#upgrade-opsman">Upgrade Ops Manager</a></li>
        <li><a href="#upgrade-tile">Download and Import <%= vars.product_short %> v1.8</a></li>
        <li><a href="#stemcell">Download and Import the Stemcell</a></li>
        <li><a href="#errands">Verify Errand Configuration</a></li>
        <li><a href="#final-review">Verify Other Configurations</a></li>
        <li><a href="#apply-changes">Apply Changes to the <%= vars.product_tile %> Tile</a></li>
      </ul>
    <li><a href="#after-upgrade">After the Upgrade</a></li>
      <ul>
        <li><a href="#update-clis">Update the <%= vars.k8s_runtime_abbr %> and Kubernetes CLIs</a></li>
        <li><a href="#verify-upgrade">Verify the Upgrade</a></li>
        <li><a href="#upgrade-nsxt">(Optional) Upgrade NSX-T Data Center v2.5 to v3.0</a></li>
      </ul>
  </ul>
</div>

This topic provides instructions for upgrading <%= vars.product_full %> from v1.7 to v1.8 on vSphere with NSX-T networking.

## <a id='Requirements'></a>Requirements

- Read the release note
- Verify the supported upgrade path
- Backup critical components 

## Step 1: Upgrade Ops Manager

Ops Manager v2.9.3 or later is required. These instructions assume you are upgrading from Ops Manager v.2.8.5 or later.

1. Log in to Ops Manager.

1. Go to **Admin** > **Settings** > **Export Installation Settings** and click **Export Installation Settings**. The existing installation configuration is exported as an encrypted archive. You use this to import to the upgrade installation.
  <img src="images/nsxt/nsxt-30/upgrade-01.png">

1. Log in to vCenter and shut down the Ops Manager v2.8.5 VM.

1. Deploy Ops Mgr 2.9.3 VM. Refer to the instructions [Deploying Ops Manager with NSX-T for Tanzu Kubernetes Grid Integrated Edition](vsphere-nsxt-om-deploy.html). Complete Steps 1 and 2 of this procedure. 

1. Log in to the newly deployed Ops Manager.

1. Select Import Existing Installation.
  <img src="images/nsxt/nsxt-30/upgrade-01.png">

1. Browse to and select the installation configuration archive you exported.


Then apply changes:


once completed, you will see:
