---
title: Configuring the Upgrade Pipeline
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to set up a Concourse pipeline to perform automatic upgrades of a <%= vars.product_full %> installation.

When you configure the upgrade pipeline, the pipeline upgrades your installation when a new <%= vars.product_short %> release becomes available on Pivotal Network.

By default, the pipeline upgrades when a new major patch version is available.

For more information about configuring and using Concourse for continuous integration (CI), see the [Concourse documentation](https://concourse-ci.org/index.html).

## <a id="download"></a> Download the Upgrade Pipeline

Perform the following steps:

1. From a browser, log in to [Pivotal Network](https://network.pivotal.io/).

1. Navigate to the **PCF Platform Automation with Concourse** product page to download the upgrade-tile pipeline.
  <p class="note"><strong>Note</strong>: If you cannot access PCF Platform Automation with Concourse on Pivotal Network, contact Pivotal Support.</p>

1. (Optional) Edit [params.yml](https://github.com/pivotal-cf/pcf-pipelines/blob/v0.23.0/upgrade-tile/params.yml) to configure the pipeline.
  * For example, edit the `product_version_regex` value to follow minor version updates.

1. Set the pipeline using the `fly` CLI for Concourse. See the [upgrade-tile pipeline documentation](https://github.com/pivotal-cf/pcf-pipelines/tree/v0.23.0/upgrade-tile) for more information.
