---
title: Upgrade PKS
owner: PKS
---

<strong><%= modified_date %></strong>

This topic explains how to upgrade the Pivotal Container Service (PKS) tile and existing Kubernetes clusters. 
It also explains the service interruptions that can result from service changes and upgrades and from failures at the process, VM, and IaaS level.

<p class="note warning"><strong>WARNING</strong>: Do not manually upgrade your Kubernetes clusters outside of the PKS tile upgrade. The PKS tile includes the compatible Kubernetes version.</p>

## <a id="prepare"></a>Prepare to Upgrade

Before you begin upgrading the PKS tile, consider your workload capacity and uptime requirements.
If workers are operating too close to their capacity, the PKS upgrade can fail.
View your workload resource usage in Dashboard. See [Access the Dashboard](access-dashboard.html) for more information.

If your cluster is near capacity for your existing infrastructure, Pivotal recommends scaling your cluster before you upgrade.
View your workload resource usage in Dashboard.
For more information, see [Access the Dashboard](access-dashboard.html).

If your clusters are near capacity for your existing infrastructure, Pivotal recommends scaling up your clusters before you upgrade.
Scale up your cluster by running `pks-resize` or create a cluster using a larger plan. For more information, see [Scale Existing Clusters](scale-clusters.html).

To prevent workload downtime during a cluster upgrade, Pivotal recommends running your workload on at least three worker VMs, using multiple replicas of your workloads spread across those VMs. For more information, see [Maintain Workload Uptime](maintain-uptime.html).

## <a id="upgrade-tile"></a>Upgrade the PKS Tile

To upgrade PKS, you follow the same Ops Manager process that you use to install the service for the first time. 
Your configuration settings migrate to the new version automatically. To perform an upgrade:

1. Review the [Release Notes](release-notes.html) for the version you are upgrading to.

1. Download the desired version of the product from [Pivotal Network](https://network.pivotal.io/products/pivotal-container-service).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file.

1. Under the **Import a Product** button, click **+** next to **Pivotal Container Service**. This adds the tile to your staging area.

1. Click the newly-added **Pivotal Container Service** tile.

1. Optional: To upgrade all PKS-deployed Kubernetes clusters when you upgrade the PKS tile, follow the next steps:
  1. Click **Errands**.
  1. Under **Post-Deploy Errands**, set the **Upgrade all clusters errand** to **Default (On)**. The errand upgrades a single Kubernetes cluster at a time. Upgrading PKS Kubernetes clusters can temporarily interrupt the service, as described [below](#interruptions).
  <br><br>
  (Optional) To monitor the **Upgrade all clusters errand** using the BOSH CLI, do the following:
      1. Log in to the BOSH Director by running `bosh -e MY-ENVIRONMENT log-in` from a VM that can access your PKS deployment. For more information, see [Manage PKS Deployments with BOSH](manage-deployments-bosh.html).
      1. Run `bosh -e MY-ENVIRONMENT tasks`.
      1. Locate the task number for the errand in the <strong>&#35;</strong> column of the BOSH output.
      1. Run `bosh task TASK-NUMBER`, replacing `TASK-NUMBER` with the task number you located in the previous step.
  1. Click **Save**.
    <p class="note warning"><strong>WARNING</strong>: If you set the <strong>Upgrade all clusters errand</strong> to <strong>Off</strong>, your Kubernetes cluster version will fall behind the PKS tile version. If your clusters fall more than one version behind the tile, you can no longer upgrade the clusters. You must upgrade your clusters to match the PKS tile version before the next tile upgrade.</p>

1. Review the other configuration panes. Click **Save** on any panes where you make changes.
  <p class="note"><strong>Note</strong>: When you upgrade PKS, you must place singleton jobs in the AZ you selected when you first installed the PKS tile.
  You cannot move singleton jobs to another AZ.
  </p>

1. Return to the Installation Dashboard. Under **Pending Changes**, click **INSTALL Pivotal Container Service**.
If you changed **Post-Deploy Errands**, confirm that the **Post-Deploy Errands** setting matches the configuration you set in the previous step.

1. Click **Apply Changes**.

## <a id="upgrade-instances"></a>Upgrade Kubernetes Clusters

If you set the **Upgrade all clusters errand** to **Default (On)**, your PKS-deployed Kubernetes clusters are upgraded automatically when the PKS tile upgrade runs.

If you set the **Upgrade all clusters errand** to **Off**, you can upgrade all PKS-deployed Kubernetes clusters by setting the **Upgrade all clusters errand** to **On** and clicking **Apply Changes**.
 
## <a id="interruptions"></a>Service Interruptions

Service changes and upgrades and failures at the process, VM, and IaaS level can cause outages in the PKS service, as described below.

Read this section if:

+ You are experiencing a service interruption and are wondering why.
+ You are planning to update or change a Kubernetes cluster and want to know if it might cause a service interruption.

### <a id='service-update'></a>Stemcell or Service Upgrade

An operator updates a stemcell version or the PKS tile version.

- <strong>Impact:</strong> The PKS API experiences downtime while the new stemcell is applied to the Pivotal Container Service VM. 
  - <strong>Required Actions:</strong> None. If the update deploys successfully, apps reconnect automatically.

- <strong>Impact:</strong> Workloads running on single node clusters experience downtime.
  - <strong>Required Actions:</strong> None. If the update deploys successfully, workloads resume automatically. For more information, see [Maintain Workload Uptime](maintain-uptime.html#upgrades).
