---
title: Upgrade PKS with NSX-T
owner: PKS
---

<strong><%= modified_date %></strong>

This topic explains how to upgrade the Pivotal Container Service (PKS) tile for 
environments using vSphere with NSX-T.

PKS v1.1.5 supports NSX-T 2.2 and vSphere 6.5 U2. For details, see the [VMware Product Interoperability Matrix](https://www.vmware.com/resources/compatibility/sim/interop_matrix.php) for PKS.

If you use PKS with NSX-T, we recommend that you upgrade to PKS v1.1.5 and 
NSX-T 2.2 to take advantage of key features and important architectural changes.

## <a id="about-ncp">Upgrade Procedure

The PKS 1.1.5 upgrade procedure is as follows:

1.	Upgrade to PKS 1.1.4 if you are not already on this release.
	You must be on PKS 1.1.4 to upgrade to PKS 1.1.5. Refer to [Upgrade PKS](upgrade-pks.html) for instructions.
2.	If desired, back up the NSX-T and NCP logs. (See [architectural changes](#pks-nsxt-architectural-changes) for details.) 
3.	Before upgrading to PKS 1.1.5, in the PKS Tile set the **Worker VM Type** form field to use a disk with minimum size of 16 GB.
4.	Upgrade from PKS 1.1.4 to PKS 1.1.5. Refer to [Upgrade PKS](upgrade-pks.html) for instructions.
5.	Upgrade from NSX-T 2.1 to NSX-T 2.2. The NSX-T Uprade wizard walks you through the process. 
	To access the Upgrade wizard, log in to the NSX Manager UI and navigate to **System > Utilities > Upgrade**.
	Select **Proceed to Upgrade** and follow the instructions.
	<img src="images/upgrade-nsxt.png" alt="NSX-T Upgrade Wizard" width="425">
	For additional guidance, see [Upgrading NSX-T](https://docs.vmware.com/en/VMware-NSX-T/2.2/com.vmware.nsxt.upgrade.doc/GUID-E04242D7-EF09-4601-8906-3FA77FBB06BD.html).
6.	If desired, upgrade vSphere from version 6.5 or 6.5 U1 to 6.5 U2.
	See [Upgrading vSphere in an NSX Environment](https://docs.vmware.com/en/VMware-NSX-for-vSphere/6.4/com.vmware.nsx.upgrade.doc/GUID-ED005943-AB33-4D8D-A642-97774276C539.html).

**Upgrade Notes**

<p class="note"><strong>Note</strong>: When upgrading PKS with NSX-T, while the Edge Nodes are being upgraded, workloads in your Kubernetes cluster will not be available. This means that unless you have configured Active/Standby, expect some downtime. See [What Happens During PKS Upgrades](understanding-upgrades.html) for more information.

<p class="note"><strong>Note</strong>: Because of the PKS with NSX-T <a href="#pks-nsxt-architectural-changes">architectural changes</a>, you must set the **Worker VM Type** to have a disk with minimum size of 16 GB before upgrading. If you do not make this change, updgrade to PKS 1.1.5 may fail due to the Kubernetes "worker" VM running out of ephemeral disk. The default value for the "worker" is "medium" which is not sufficient for PKS 1.1.5 or later in NSX-T environments. For clarification, this change must be made to the **Worker VM Type** form field, not the **Worker Persistent Disk Type** field. This is also the recommendation for new installs of PKS 1.1.5. 

## <a id="pks-nsxt-architectural-changes">PKS with NSX-T Architectural Changes

PKS 1.1.5 includes architectural changes related to integration with NSX-T, including the NSX-T Container Plugin (NCP) which is used by PKS to integrate with NSX-T. See [Overview of NSX-T Container Plug-in](https://docs.vmware.com/en/VMware-NSX-T/2.0/com.vmware.nsxt.ncp_kubernetes.doc/GUID-52A92986-0FDF-43A5-A7BB-C037889F7559.html) for more information about NCP.

<p class="note"><strong>Note</strong>: This is informational only to understand architectural changes. You do not need to install or configure NCP. It is done automatically when you deploy PKS in a NSX-T environment.

### NSX-T Node Agent and Kube Proxy

In PKS 1.1.4 and earlier versions, the NSX-T Node Agent and NSX-T Kube Proxy run as a daemon set on each worker node. With PKS 1.1.5, both the NSX-T Node Agent and the Kube Proxy run as BOSH-manged processes on each worker node. 

### NSX-T Container Plugin (NCP)

In PKS 1.1.4 and earilers versions, NCP runs as a Kubernetes Pod on a single worker node. With PKS 1.1.5, NCP runs as a BOSH-managed process on the Kubernetes master node. 

With PKS 1.1.5, in the case of a multi-master PKS deployment, the NCP process will run on all master nodes but will only be active on a single master. If the NCP process on an active master is unresponsive, BOSH will activate another NCP process.

### PKS Logs for NSX-T and NCP

In PKS 1.1.4 and earlier versions, NSX-T and NCP logs are accessed via Kubectl commands. In PKS 1.1.5 where NSX-T and NCP are BOSH-manged processes, the logs for these components are accessed via BOSH. See below for a list of BOSH jobs where NSX-T and NCP logs are stored.

On upgrade to PKS 1.1.5, the existing logs for NSX-T and NCP will be deleted. Before upgrade you may want to back these logs up. For example, you may need to analyze these logs if there are problems related to a failed upgrade or problems you experience with your PKS deployment before upgrade. 

Here are the BOSH jobs related to NSX-T integration with NCP as as a BOSH process:

In the master node:

```
/var/vcap/sys/log/ncp           
/var/vcap/sys/log/pks-nsx-t-prepare-master-vm 
/var/vcap/sys/log/pks-nsx-t-ncp 
```

In the worker nodes:

```
/var/vcap/sys/log/nsx-kube-proxy  
/var/vcap/sys/log/openvswitch      
/var/vcap/sys/log/nsx-cni  
/var/vcap/sys/log/nsx-node-agent 
```

These logs can be collected using the BOSH command `bosh –d <deployment id> logs`.




