---
title: Upgrading Tanzu Kubernetes Grid Integrated Edition
owner: TKGI
---

The following topics describe how to upgrade <%= vars.product_full %> (<%= vars.k8s_runtime_abbr %>):  

<ul>
  <li>
    <a href="./console-upgrade.html">Upgrade <%= vars.product_short %> Management Console</a>
  </li>
  <li>
    <a href="./upgrading-opsman.html">Upgrading <%= vars.product_short %> with Ops Manager</a>
  </li> 
</ul>
