---
title: Upgrading Enterprise PKS
owner: PKS
---

This section describes how to upgrade the <%= vars.product_full %> tile. See the following topics:

<ul>
  <li>
    <a href="./checklist.html">Upgrade Preparation Checklist for <%= vars.product_short %> v1.7</a>
  </li>
  <li>
    <a href="./upgrade.html">Upgrading <%= vars.product_short %> (Flannel Networking)</a>
  </li>
  <li>
    <a href="./upgrade-nsxt.html">Upgrading <%= vars.product_short %> (NSX-T Networking)</a>
  </li>
  <li>
    <a href="./maintain-uptime.html">Maintaining Workload Uptime</a>
  </li>
  <li>
    <a href="./upgrade-pipeline.html">Configuring the Upgrade Pipeline</a>
  </li>
</ul>
