---
title: Upgrading Tanzu Kubernetes Grid Integrated Edition
owner: TKGI
---

The following topics describe how to upgrade VMware Tanzu Kubernetes Grid Integrated Edition (TKGI):  

<ul>
  <li>
    <a href="./console-upgrade.html">Upgrade Tanzu Kubernetes Grid Integrated Edition Management Console</a>
  </li>
  <li>
    <a href="./upgrading-opsman.html">Upgrading Tanzu Kubernetes Grid Integrated Edition with Ops Manager</a>
  </li> 
</ul>
