---
title: Upgrading PKS
owner: PKS
topictype: vsphereupgrade
---

This topic explains how to upgrade the Pivotal Container Service (PKS) tile and existing Kubernetes clusters.

## <a id="overview"></a> Overview

The supported upgrade paths to PKS v1.3 are from PKS v1.2.7 and later patches. PKS v1.3 is compatible 
with Ops Manager v2.3.1 and later patches, and Ops Manager v2.4.

For conceptual information about upgrading the PKS tile and PKS-provisioned Kubernetes clusters,
see [What Happens During PKS Upgrades](understanding-upgrades.html).  

<p class="note"><strong>Note</strong>: Upgrading from PKS v1.2.5 and later patches to PKS v1.3 
causes all certificates to be automatically regenerated. 
The new certificates are signed with a new certificate authority and are valid for four years. 
The old certificate authority, which remains trusted, has a validity of one year. 
</p>

For information about upgrading PKS on vSphere with NSX-T integration, see
[Upgrading PKS with NSX-T](upgrade-pks-nsxt.html).

<p class="note warning"><strong>WARNING</strong>: Do not manually upgrade your Kubernetes version. 
  The PKS service includes the compatible Kubernetes version.
</p>

## <a id="before"></a>Before You Upgrade

This section describes the activities you must perform before upgrading PKS.

### <a id="upgrade-path"></a> Determine Your Upgrade Path

Use the following table to determine your upgrade path to PKS v1.3.
<p class="note warning"><strong>WARNING</strong>: PKS v1.2.8 and earlier patches include a critical CVE. 
  When upgrading to PKS v1.3 it is critical that you implement and maintain an ETCD certificate trust chain. 
  Review the procedures in the <a href="https://community.pivotal.io/s/article/pks-upgrade-approach-for-critical-cve">
  PKS upgrade approach for CRITICAL CVE: 2019-3779 (67116)</a> article in the Pivotal Support Knowledge Base before upgrading.
</p>

<p class="note"><strong>Note:</strong> PKS v1.3 on Azure is not supported by Ops Manager v2.3.10 and later patches
and Ops Manager v2.4.4 and later patches. 
If you are deploying PKS v1.3 on Azure, install only Ops Manager v2.3.9 or
earlier patches or Ops Manager v2.4.3 or earlier patches before deploying PKS v1.3.
</p>

<table>
<tr>
  <th>If your current version of PKS is...</th>
  <th>Then use the following upgrade path:</th>
</tr>
<tr>
  <td>v1.1.5 or later v1.1 patch</td>
  <td>
    <ol>
        <li>Upgrade to Ops Manager v2.3.1 or later patch.</li>
        <li>Follow the procedures in <a href='#upgrade'>Complete the CVE Upgrade Path</a> below to upgrade to PKS v1.2.6.</li>
        <li>(Optional) Upgrade to Ops Manager v2.4.0 or later patch.</li>
    </ol>
  </td>
</tr>
<tr>
  <td>v1.2.0, v1.2.1, v1.2.2, v1.2.3, v1.2.4, or v1.2.5</td>
  <td>
    <ol>
        <li>Upgrade to Ops Manager v2.3.1 or later patch.</li>
        <li>Follow the procedures in <a href='#upgrade'>Complete the CVE Upgrade Path</a> below to upgrade to PKS v1.2.6.</li>
        <li>(Optional) Upgrade to Ops Manager v2.4.0 or later patch.</li>
    </ol>
  </td>
</tr>
<tr>
  <td>v1.2.6</td>
  <td>
    <ol>
        <li>Review the procedures in <a href='https://community.pivotal.io/s/article/pks-upgrade-approach-for-critical-cve'>
        PKS upgrade approach for CRITICAL CVE: 2019-3779 (67116)</a> in the Pivotal Support Knowledge Base.</li>
        <li>Follow the procedures in <a href='#upgrade'>Complete the CVE Upgrade Path</a> below to upgrade to PKS v1.2.7.</li>
    </ol>
  </td>
</tr>
<tr>
  <td>v1.2.7</td>
  <td>
    <ol>
        <li>Review the procedures in <a href='https://community.pivotal.io/s/article/pks-upgrade-approach-for-critical-cve'>
        PKS upgrade approach for CRITICAL CVE: 2019-3779 (67116)</a> in the Pivotal Support Knowledge Base.</li>
        <li>Follow the procedures in <a href='#upgrade'>Complete the CVE Upgrade Path</a> below to upgrade to PKS v1.3.1.</li>
    </ol>
  </td>
</tr>
<tr>
  <td>v1.2.8 or later v1.2 patch</td>
  <td>
    <ol>
        <li>Review the procedures in <a href='https://community.pivotal.io/s/article/pks-upgrade-approach-for-critical-cve'>
        PKS upgrade approach for CRITICAL CVE: 2019-3779 (67116)</a> in the Pivotal Support Knowledge Base.</li>
        <li>Follow the procedures in <a href='#upgrade'>Complete the CVE Upgrade Path</a> below to upgrade to PKS v1.3.4.</li>
    </ol>
  </td>
</tr>
<tr>
  <td>v1.3.0</td>
  <td>
    <ol>
        <li>Review the procedures in <a href='https://community.pivotal.io/s/article/pks-upgrade-approach-for-critical-cve'>
        PKS upgrade approach for CRITICAL CVE: 2019-3779 (67116)</a> in the Pivotal Support Knowledge Base.</li>
        <li>Follow the procedures in <a href='#upgrade'>Complete the CVE Upgrade Path</a> below to upgrade to PKS v1.3.1.</li>
    </ol>
  </td>
</tr>
<tr>
  <td>v1.3.1, v1.3.2, or v1.3.3</td>
  <td>
    <ol>
        <li>Review the procedures in <a href='https://community.pivotal.io/s/article/pks-upgrade-approach-for-critical-cve'>
        PKS upgrade approach for CRITICAL CVE: 2019-3779 (67116)</a> in the Pivotal Support Knowledge Base.</li>
        <li>Follow the procedures in <a href='#upgrade'>Complete the CVE Upgrade Path</a> below to upgrade to PKS v1.3.4.</li>
    </ol>
  </td>
</tr>
<tr>
  <td>v1.3.4 or later v1.3 patch</td>
  <td>
    <ol>
        <li>Follow the procedures in <a href='#upgrade-tile'>Upgrade PKS</a> below to upgrade to the most recent PKS v1.3 patch.</li>
        <li>(Optional) Upgrade to Ops Manager v2.4.0 or later patch.</li>
    </ol>
  </td>
</tr>
</table>

### <a id="prepare"></a> Prepare to Upgrade

If you have not already, complete the steps in the [Upgrade Preparation Checklist for PKS v1.3](checklist.html).

## <a id="upgrade"></a> Complete the CVE Upgrade Path

It is critical that you upgrade your PKS v1.2 environment all the way through to PKS v1.3.2 or a later patch to remove 
[Common Vulnerabilities and Exposures (CVE) 2019-3779](https://pivotal.io/security/cve-2019-3779).  

<p class="note warning"><strong>WARNING</strong>: PKS v1.2.8 and earlier patches include a critical CVE. 
  When upgrading from PKS v1.2.8 and earlier patches it is critical that you implement and maintain an ETCD certificate trust chain. 
  Review the procedures in the <a href="https://community.pivotal.io/s/article/pks-upgrade-approach-for-critical-cve">
  PKS upgrade approach for CRITICAL CVE: 2019-3779 (67116)</a> article in the Pivotal Support Knowledge Base  
  before upgrading PKS v1.2.
</p>

The steps below describe the proper procedure for upgrading all PKS v1.2 patches to PKS v1.3:  

1. [Upgrade to Ops Manager v2.3.1 or later v2.3 patch, or v2.4](#upgrade-opsman)  
1. [Upgrade to PKS v1.2.6](#upgrade-pks-1-2-6)  
1. [Upgrade from PKS v1.2.6 to PKS v1.2.7](#upgrade-beyond-2-6)  
1. [Upgrade from PKS v1.2.7 to PKS v1.3.1](#upgrade-beyond-2-7)  
1. [Upgrade from PKS v1.2.8 or later v1.2 patches to PKS v1.3.4](#upgrade-beyond-2-8)  
1. [Upgrade from PKS v1.3.0 to PKS v1.3.1](#upgrade-beyond-3-0) 
1. [Upgrade from PKS v1.3.1, v1.3.2, or v1.3.3 to PKS v1.3.4](#upgrade-beyond-3-0)

During an upgrade your existing configuration settings automatically 
migrate to the new version.  

### <a id="upgrade-opsman"></a> Upgrade to Ops Manager v2.3.1 or later v2.3 patch, or v2.4

Before you upgrade to PKS v1.3, you must upgrade to Ops Manager v2.3.1 or later v2.3 patch, or v2.4.

1. Follow the procedures detailed in 
[Upgrade Ops Manager and Installed Products to v2.3](https://docs.pivotal.io/pivotalcf/2-3/customizing/upgrading-pcf.html#upgrade_ops) 
or [Upgrade Ops Manager and Installed Products to v2.4](https://docs.pivotal.io/pivotalcf/2-4/customizing/upgrading-pcf.html#upgrade_ops) 
in _Upgrading Pivotal Cloud Foundry_.

1. <%= partial 'add-clusters-workloads' %>

### <a id="upgrade-pks-1-2-6"></a> Upgrade to PKS v1.2.6

Skip this step if you are already running PKS v1.2.6 or later version.

1. To upgrade to PKS v1.2.6, perform the upgrade procedures described in 
[Upgrade PKS](#upgrade-tile), below. Note the following PKS v1.2.6-upgrade differences:
    * Download the PKS v1.2.6 tile.

### <a id="upgrade-beyond-2-6"></a><a id="after-upgrading-to-2-6"></a> Upgrade from PKS v1.2.6 to PKS v1.2.7

Skip this step if you are already running PKS v1.2.7 or later version.  

You can upgrade PKS v1.2.6 directly to PKS v1.2.7. 

1. Determine your PKS migration path by reviewing 
[PKS upgrade approach for CRITICAL CVE: 2019-3779 (67116)](https://community.pivotal.io/s/article/pks-upgrade-approach-for-critical-cve)
in the Pivotal Support Knowledge Base.  
1. To upgrade PKS v1.2.6 to PKS v1.2.7, perform the upgrade procedures described in 
[Upgrade PKS](#upgrade-tile), below. Note the following PKS v1.2.7-upgrade differences:
    * Download the PKS v1.2.7 tile.

### <a id="upgrade-beyond-2-7"></a> Upgrade from PKS v1.2.7 to PKS v1.3.1

Skip this step if you are already running PKS v1.2.8 or later v1.2 patches.  

You can upgrade PKS v1.2.7 directly to PKS v1.3.1.  

1. Review 
[PKS upgrade approach for CRITICAL CVE: 2019-3779 (67116)](https://community.pivotal.io/s/article/pks-upgrade-approach-for-critical-cve)
in the Pivotal Support Knowledge Base.  
1. To upgrade to PKS v1.3.1, perform the upgrade procedures described in 
[Upgrade PKS](#upgrade-tile), below. Note the following PKS v1.3.1-upgrade differences:
    * Download the PKS v1.3.1 tile. 

### <a id="upgrade-beyond-2-8"></a> Upgrade from PKS v1.2.8 or later v1.2 patches to PKS v1.3.4

Skip this step if you are already running PKS v1.3.4 or later patches.  

You can upgrade PKS v1.2.8 or later v1.2 patches directly to PKS v1.3.4.  

1. Review 
[PKS upgrade approach for CRITICAL CVE: 2019-3779 (67116)](https://community.pivotal.io/s/article/pks-upgrade-approach-for-critical-cve)
in the Pivotal Support Knowledge Base.  
1. To upgrade to PKS v1.3.4, perform the upgrade procedures described in 
[Upgrade PKS](#upgrade-tile), below. Note the following PKS v1.3.4-upgrade differences:
    * Download the PKS v1.3.4 tile.

### <a id="upgrade-beyond-3-0"></a> Upgrade from PKS v1.3.0 to PKS v1.3.1

Skip this step if you are already running PKS v1.3.1 or later v1.3 patches.  

You can upgrade PKS v1.3.0 directly to PKS v1.3.1.  

1. Review 
[PKS upgrade approach for CRITICAL CVE: 2019-3779 (67116)](https://community.pivotal.io/s/article/pks-upgrade-approach-for-critical-cve)
in the Pivotal Support Knowledge Base.  
1. To upgrade to PKS v1.3.1, perform the upgrade procedures described in 
[Upgrade PKS](#upgrade-tile), below. Note the following PKS v1.3.1-upgrade differences:
    * Download the PKS v1.3.1 tile. 

### <a id="upgrade-beyond-3-0"></a> Upgrade from PKS v1.3.1, v1.3.2, or v1.3.3 to PKS v1.3.4

Skip this step if you are already running PKS v1.3.4 or later patches.  

You can upgrade PKS v1.3.1, v1.3.2 or v1.3.3 directly to PKS v1.3.4.  

1. Review 
[PKS upgrade approach for CRITICAL CVE: 2019-3779 (67116)](https://community.pivotal.io/s/article/pks-upgrade-approach-for-critical-cve)
in the Pivotal Support Knowledge Base.  
1. To upgrade to PKS v1.3.4, perform the upgrade procedures described in 
[Upgrade PKS](#upgrade-tile), below. Note the following PKS v1.3.4-upgrade differences:
    * Download the PKS v1.3.4 tile.

## <a id="upgrade-tile"></a> Upgrade PKS

Upgrading PKS follows the same Ops Manager process that you used to install the PKS tile for the first time.

<p class="note"><strong>Note:</strong> Your configuration settings migrate to the new version automatically. 
  Follow the steps below to perform an upgrade.
</p>

To upgrade between PKS versions, complete the following steps:  

1. [Download and Import the PKS tile](#pks-tile)  
1. [Download and Import the Stemcell](#stemcell)  
1. [Verify Errand Configuration](#worker-nodes)  
1. [Apply Changes to the PKS Tile](#apply-changes)  

### <a id="pks-tile"></a> Download and Import the PKS tile

To download and import the PKS tile, complete the following steps: 

1. Review the [Release Notes](release-notes.html) for the version you are upgrading to.

1. Download the desired version of the product from [Pivotal Network](https://network.pivotal.io/products/pivotal-container-service/).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file.

1. Under the **Import a Product** button, click **+** next to **Pivotal Container Service**. This adds the tile to your staging area.


### <a id="stemcell"></a> Download and Import the Stemcell

PKS v1.3.x uses a [Xenial stemcell](https://docs.pivotal.io/pivotalcf/2-4/stemcells/#xenial).

If Ops Manager does not have the Xenial stemcell required for PKS, the PKS tile displays the message **Missing stemcell**.

<p class="note"><strong>Note:</strong> If the <b>Stemcell Library</b> in Ops Manager already has a compatible Xenial stemcell,
  the <b>Missing stemcell</b> link does not appear. You do not need to download or import a new stemcell and can skip this step.</p>

To download and import a new Xenial stemcell, follow the steps below:

1. On the **Pivotal Container Service** tile, click on the **Missing stemcell** link.

    <img src="images/missing_stemcell.png" alt="Verify stemcell assignment">

1. In the **Stemcell Library**, locate Pivotal Container Service and note the required stemcell version.

1. Visit the [Stemcells for PCF (Ubuntu Xenial)](https://network.pivotal.io/products/stemcells-ubuntu-xenial/) page on Pivotal Network,
and download the required stemcell version appropriate for your IaaS.

1. Return to the **Installation Dashboard** in Ops Manager, and click on **Stemcell Library**.

1. On the **Stemcell Library** page, click **Import Stemcell** and select the stemcell file you downloaded from Pivotal Network.

1. Select Pivotal Container Service and click **Apply Stemcell to Products**.

1. Verify that Ops Manager successfully applied the stemcell. The stemcell version you imported and applied appears in the **Staged** column for Pivotal Container Service.

1. Select the **Installation Dashboard** link to return to the Installation Dashboard.

### <a id="worker-nodes"></a> Verify Errand Configuration

To verify that errands are configured correctly in the PKS tile, perform the following steps.

1. Click the newly-added **Pivotal Container Service** tile.

1. Click **Errands**.

1. Under **Post-Deploy Errands**, verify that the **Upgrade all clusters errand** is set to **Default (On)**. The errand upgrades a single Kubernetes cluster at a time. Upgrading PKS Kubernetes clusters can temporarily interrupt the service, as described in [Service Interruptions](interruptions.html).

    <p class="note warning"><strong>WARNING</strong>: If you are upgrading PKS, you must enable the <strong>Upgrade All Clusters</strong> errand.</p>

1. Under **Post-Deploy Errands**, set the **Run smoke tests** errand to **On**. The errand uses the PKS Command Line Interface (PKS CLI) to create a Kubernetes cluster and then delete it. If the creation or deletion fails, the errand fails and the installation of the PKS tile is aborted.

1. Review the other configuration panes. Click **Save** on any panes where you make changes.
    <p class="note"><strong>Note</strong>: When you upgrade PKS, you must place singleton jobs in the AZ you selected when you first installed the PKS tile. You cannot move singleton jobs to another AZ.</p>

### <a id="apply-changes"></a> Apply Changes to the PKS Tile

Perform the following steps to complete the upgrade to the PKS tile.

1. Return to the **Installation Dashboard** in Ops Manager.

1. Click **Review Pending Changes**. 
     For more information about this Ops Manager page, see
    [Reviewing Pending Product Changes](https://docs.pivotal.io/pivotalcf/2-3/customizing/review-pending-changes.html).

1. Click **Apply Changes**.

1. (Optional) To monitor the progress of the **Upgrade all clusters errand** using the BOSH CLI, do the following:
      1. Log in to the BOSH Director by running `bosh -e MY-ENVIRONMENT log-in` from a VM that can access your PKS deployment. For more information, see [Managing PKS Deployments with BOSH](manage-deployments-bosh.html).
      1. Run `bosh -e MY-ENVIRONMENT tasks`.
      1. Locate the task number for the errand in the <strong>&#35;</strong> column of the BOSH output.
      1. Run `bosh task TASK-NUMBER`, replacing `TASK-NUMBER` with the task number you located in the previous step.

## <a id="after-upgrade"></a>After the Upgrade

After you complete the upgrade to PKS v1.3.x, complete the following verifications and upgrades.

### <a id="update-clis""></a> Update PKS and Kubernetes CLIs

Update the PKS and Kubernetes CLIs on any local machine 
where you run commands that interact with your upgraded version of PKS.

To update your CLIs, download and re-install the PKS and Kubernetes CLI distributions 
that are provided with PKS on Pivotal Network.

For more information about installing the CLIs, see the following topics:

* [Installing the PKS CLI](installing-pks-cli.html)

* [Installing the Kubernetes CLI](installing-kubectl-cli.html)

### <a id="verify-upgrade"></a> Verify the Upgrade

After you apply changes to the PKS tile and the upgrade is complete, perform the following steps:

1. Verify that your Kubernetes environment is healthy. To verify the health of your Kubernetes environment, see [Verifying
Deployment Health](verify-health.html#k8s).

1. <%= partial 'add-clusters-workloads' %>

### <a id="upgrade-vcenter"></a> (Optional) Upgrade vSphere

If you are deploying PKS on vSphere, consult the chart below, and upgrade vSphere if necessary.
<%= partial '_vsphere_versions' %>
