---
title: Upgrading Tanzu Kubernetes Grid Integrated Edition with Ops Manager
owner: TKGI
---

The following topics describe how to upgrade the VMware Tanzu Kubernetes Grid Integrated Edition (TKGI) tile:  

<ul>
  <li>
    <a href="./checklist.html">Upgrade Preparation Checklist for Tanzu Kubernetes Grid Integrated Edition</a>
  </li>
  <li>
    <a href="./upgrade-scenarios.html">Upgrade Order for Tanzu Kubernetes Grid Integrated Edition Environments on vSphere</a>
  </li>
  <li>
    <a href="./upgrade.html">Upgrading Tanzu Kubernetes Grid Integrated Edition (Antrea Networking)</a>
  </li>
  <li>
    <a href="./upgrade-nsxt.html">Upgrading Tanzu Kubernetes Grid Integrated Edition (NSX Networking)</a>
  </li>
  <li>
    <a href="./maintain-uptime.html">Maintaining Workload Uptime</a>
  </li>
  <li>
    <a href="./upgrade-pipeline.html">Configuring the Upgrade Pipeline</a>
  </li>
</ul>

For information about upgrading the Tanzu Kubernetes Grid Integrated Edition Management Console, see [Upgrade Tanzu Kubernetes Grid Integrated Edition Management Console](console-upgrade.html).

