---
title: Upgrading Tanzu Kubernetes Grid Integrated Edition (NSX-T Networking)
owner: TKGI
topic: pksupgradensxt
---

This topic provides instructions for upgrading <%= vars.product_full %> from v1.7 to v1.8 on vSphere with NSX-T networking.

##<a id='Requirements'></a> Upgrade Requirements

- Read the release notes
- Verify the supported upgrade path
- Review upgrade scenarios
- Backup critical components 

##<a id='1-upgrade-om-bosh'></a> Step 1: Upgrade Ops Manager and BOSH Director Tile

Ops Manager v2.9.3 or later is required. These instructions assume you are upgrading from Ops Manager v.2.8.5 or later.

1. Log in to Ops Manager.

1. Go to **Admin** > **Settings** > **Export Installation Settings** and click **Export Installation Settings**. 
  - The existing installation configuration is exported as an encrypted archive. 
  - You use this to import to the upgrade installation.
  <img src="images/nsxt/nsxt-30/upgrade-01.png">

1. Log in to vCenter Server using the vSphere Client.

1. Shut down the Ops Manager VM.

1. Deploy the target version of the Ops Mgr VM.
  - Refer to the instructions [Deploying Ops Manager with NSX-T for Tanzu Kubernetes Grid Integrated Edition](vsphere-nsxt-om-deploy.html).
  - Complete Steps 1 and 2 of this procedure. 

1. Using a browser, navigate to the newly deployed Ops Manager web interface.

1. Select **Import Existing Installation**.
  <img src="images/nsxt/nsxt-30/upgrade-02.png">

1. Browse to and select the installation configuration archive you exported.

1. Log in to Ops Manager 

1. Click **Apply Changes**. 
  <img src="images/nsxt/nsxt-30/upgrade-03.png">

1. Verify that the BOSH Director for vSphere tile is updated to the target version.
  <img src="images/nsxt/nsxt-30/upgrade-04.png">

##<a id='2-upgrade-tkgi'></a> Step 2: Upgrade TGKI Tile

Once Ops Manager and BOSH are upgraded, the next step is to upgrade the TKGI tile.

1. Log in to Ops Manager.

1. Import the target version of the TKGI tile to Ops Manager. 
  <img src="images/nsxt/nsxt-30/upgrade-05.png">

1. Go to the Review Pending Changes screen.

1. Expand the Errands dropdown for the staged TKGI tile. 

1. Deselect the **Upgrade All Clusters errand**.
  - It is reocmmended to update the Kuberentes clusters separately after upgrading TGKI itself.

1. Click **Apply Changes.**
  <img src="images/nsxt/nsxt-30/upgrade-06.png">

1. Verify that the TKGI tile is updated to the target version.
  <img src="images/nsxt/nsxt-30/upgrade-07.png">

##<a id='3-upgrade-k8s'></a> Step 3: Upgrade Kubernetes Clusters and Verify TKGI Upgrade

Once Ops Manager, BOSH, and TGKI are upgraded, the next step is to upgrade all Kubernetes clusters managed by TKGI. The recommended method for upgrading Kubernetes clusters is using the CLI.

1. Log in to the TKGI enviroment using the TKGI CLI. 

1. Run the command `pks clusters` to list all Kubernetes clusters and verify their current versions and status.

  For example:

  ```
  PKS Version     Name                      k8s Version  Plan Name  UUID                                  Status     Action
  1.7.0-build.26  pks-cluster-1-small  		1.16.7       small      0bea03c8-af47-48e8-b249-814c0bc407b9  succeeded  CREATE
  1.7.0-build.26  pks-cluster-2-medium      1.16.7       medium     5d9f4501-70cb-460b-9d78-0afbc074cb8c  succeeded  CREATE
  1.7.0-build.26  pks-cluster-3-large       1.16.7       large      b448117a-bb6f-49de-bc9b-452588bd44ef  succeeded  CREATE
  ```

1. Update each cluster individually one-by-one using the command `pks upgrade-cluster CLUSTER-NAME`.
  - You do not have to wait for each upgrade to complete before upgrading the next one.
  - BOSH assigns a unique task ID to each cluster upgrade. This is the advantage of running each upgrade separately: it makes troubleshooting easier.

1. When the upgrades are complete, run the command `pks clusters` to verify.

  For example:

  ```
  PKS Version     Name                      k8s Version  Plan Name  UUID                                  Status     Action
  1.8.0-build.13  pks-cluster-1-small  		1.17.5       small      0bea03c8-af47-48e8-b249-814c0bc407b9  succeeded  UPGRADE
  1.8.0-build.13  pks-cluster-2-medium      1.17.5       medium     5d9f4501-70cb-460b-9d78-0afbc074cb8c  succeeded  UPGRADE
  1.8.0-build.13  pks-cluster-3-large       1.17.5       large      b448117a-bb6f-49de-bc9b-452588bd44ef  succeeded  UPGRADE
  ```

1. To verify successful upgrade, create a test cluster.
  
  For example: 

  ```
  pks create-cluster pks-cluster-4-test --external-hostname pks-cluster-test --plan medium --num-nodes 3
  ```

1. Verify that the new cluster is created with the appropriate version of TKGI and Kubernetes.

  For example: `pks clusters`

  ```
  PKS Version     Name                      k8s Version  Plan Name  UUID                                  Status     Action
  1.8.0-build.13  pks-cluster-4-test        1.17.5       medium     5d9f4501-70cb-460b-9d78-0afbc074cb8c  succeeded  CREATE
  1.8.0-build.13  pks-cluster-1-small  		1.17.5       small      0bea03c8-af47-48e8-b249-814c0bc407b9  succeeded  UPGRADE
  1.8.0-build.13  pks-cluster-2-medium      1.17.5       medium     5d9f4501-70cb-460b-9d78-0afbc074cb8c  succeeded  UPGRADE
  1.8.0-build.13  pks-cluster-3-large       1.17.5       large      b448117a-bb6f-49de-bc9b-452588bd44ef  succeeded  UPGRADE
  ```

##<a id='4-upgrade-nsxt'></a> Step 4: Upgrade to NSX-T 3.0

At this point you can upgrade to NSX-T 3.0. 

Upload the NSX-T upgrade bundle using the NSX-T Manager and proceed with the upgrade process by following the instructions in the UI.

  <img src="images/nsxt/nsxt-30/upgrade-09.png">

For more information, refer to the [NSX-T Data Center Upgrade Guide](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/3.0/upgrade/GUID-E04242D7-EF09-4601-8906-3FA77FBB06BD.html) documentation.

##<a id='5-upgrade-vsphere'></a> Step 5: Upgrade to vSphere 7

The last step is to upgrade to vSphere 7. This includes upgrading each ESXi host and the vCenter Server Appliance.  

Upgrade vCenter first. Refer to [Upgrading the vCenter Server Appliance](https://docs.vmware.com/en/VMware-vSphere/7.0/com.vmware.vcenter.upgrade.doc/GUID-30485437-B107-42EC-A0A8-A03334CFC825.html) in the vCenter documentation.

After you have upgraded vCenter, upgrade each ESXi host. For more information, refer to the [Upgrading ESXi hosts](https://docs.vmware.com/en/VMware-vSphere/7.0/com.vmware.esxi.upgrade.doc/GUID-122035F6-8433-463E-A0F7-B4FC71A05B04.html) documentation. 

