---
title: Upgrading PKS Overview
owner: PKS
---

This section describes how to upgrade the Pivotal Container Service (PKS) tile. See the following topics:

<ul>
  <li>
    <a href="./understanding-upgrades.html">What Happens During PKS Upgrades</a>
  </li>
  <li>
    <a href="./checklist.html">Upgrade Preparation Checklist for PKS v1.3</a>
  </li>
  <li>
    <a href="./upgrade-pks.html">Upgrading PKS</a>
  </li>
  <li>
    <a href="./upgrade-pks-nsxt.html">Upgrading PKS with NSX-T</a>
  </li>
  <li>
    <a href="./upgrade-pks-nsxt-24.html">Upgrading to PKS v1.3.6 and NSX-T 2.4.x</a>
  </li>  
  <li>
    <a href="./maintain-uptime.html">Maintaining Workload Uptime</a>
  </li>
  <li>
    <a href="./upgrade-pipeline.html">Configuring the Upgrade Pipeline</a>
  </li>
</ul>
