---
title: Upgrading PKS
owner: PKS
---

<strong><%= modified_date %></strong>

This section describes how to upgrade the Pivotal Container Service (PKS) tile. See the following topics:

<ul>
  <li>
    <a href="./upgrade-pks.html">Upgrade PKS</a>
  </li>
  <li>
    <a href="./maintain-uptime.html">Maintain Workload Uptime</a>
  </li>
  <li>
    <a href="./upgrade-pipeline.html">Configure the Upgrade Pipeline</a>
  </li>
</ul>