---
title: Configure the Upgrade Pipeline
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to set up a Concourse pipeline to perform automatic upgrades of a Pivotal Container Service (PKS) installation.

When you configure the upgrade pipeline, the pipeline upgrades your installation when a new PKS release becomes available on Pivotal Network.
By default, the pipeline upgrades when a new major patch version is available.

See the [Concourse documentation](https://concourse-ci.org/introduction.html) for more information about using Concourse for continuous integration (CI).

## <a id="download"></a> Download the Upgrade Pipeline

Perform the following steps:

1. From a browser, log in to [Pivotal Network](https://network.pivotal.io/).

1. To download the upgrade pipeline, navigate to [https://network.pivotal.io/products/pcf-automation/](https://network.pivotal.io/products/pcf-automation/).
  <p class="note"><strong>Note</strong>: If you cannot access the link, contact Pivotal Support.</p>

1. (Optional) Edit [params.yml](https://github.com/pivotal-cf/pcf-pipelines/blob/v0.23.0/upgrade-tile/params.yml) to configure the pipeline.
  * For example, edit the `product_version_regex` value to follow minor version updates.

See the [upgrade-tile pipeline documentation](https://github.com/pivotal-cf/pcf-pipelines/tree/v0.23.0/upgrade-tile) for more information.
