---
title: Upgrading PKS with NSX-T
owner: PKS
topictype: vspherewithnsxtupgrade
---

<strong><%= modified_date %></strong>

This topic explains how to upgrade the Pivotal Container Service (PKS) for environments using vSphere with NSX-T.

The supported upgrade paths to PKS v1.3.x are from PKS v1.2.5 and later. PKS v1.3.x is compatible with Ops Manager v2.3.1 or later and Ops Manager v2.4.x.

<p class="note"><strong>Note</strong>: Upgrading from PKS v1.2.5+ to PKS v1.3.x causes all certificates to be automatically regenerated. The old certificate authority is still trusted, and has a validity of one year. But the new certificates are signed with a new certificate authority, which is valid for four years.</p>

## <a id="before"></a>Before You Upgrade

This section describes the activities you must perform before upgrading PKS.

### <a id="compatiblity-chart"></a>Consult Compatibility Charts

For information about PKS with NSX-T and Ops Manager compatibility, refer to the release notes.

### <a id="upgrade-path"></a> Determine Your Upgrade Path

For information about the supported upgrade path, refer to the release notes.

### <a id="prepare"></a>Prepare to Upgrade

If you have not already, complete the steps in the [Upgrade Preparation Checklist for PKS v1.3](checklist.html).

## <a id="upgrade"></a> During the Upgrade

This section describes the steps required to upgrade to PKS v1.3 with NSX-T v2.3.

### <a id="upgrade-pks-1.1.5"></a> Step 1: Upgrade to PKS v1.1.5 or Later

Skip this step if you are already running PKS v1.1.5+.

Follow the procedures detailed in [Upgrading PKS with NSX-T](https://docs.pivotal.io/pks/1-1/upgrade-pks-nsxt.html) in the PKS v1.1 documentation.

<p class="note"><strong>Note:</strong> PKS v1.1.5 with NSX-T introduces architectural changes that require larger sized worker node VMs. Before you upgrade to PKS v1.1.5 or later, you must increase the size of the Kubernetes worker node VM. For more information on how to increase the worker node VM size, see <a href="https://docs.pivotal.io/pks/1-1/upgrade-pks.html#upgrade-tile">Increase the Kubernetes Worker Node VM Size</a> in the PKS v1.1 documentation. For more information about the architectural changes in PKS v1.1.5 with NSX-T, see <a href="https://docs.pivotal.io/pks/1-1/release-notes.html#arch-changes">NSX-T Architectural Changes</a> in the PKS v1.1.5 Release Notes.
</p>

### <a id="upgrade-nsxt-2.2"></a> Step 2: Upgrade to NSX-T v2.2

Skip this step if you are already running NSX-T v2.2.

To upgrade to NSX-T v2.2, follow the procedures detailed in [Upgrading NSX-T](https://docs.vmware.com/en/VMware-NSX-T/2.2/com.vmware.nsxt.upgrade.doc/GUID-E04242D7-EF09-4601-8906-3FA77FBB06BD.html) in the VMware documentation.

### <a id="upgrade-opsman"></a> Step 3: Upgrade to v2.3.1+

Before you upgrade to PKS v1.2.5, you must upgrade to Ops Manager v2.3.1+.

1. Follow the procedures detailed in [Upgrade Ops Manager and Installed Products to v2.3](https://docs.pivotal.io/pivotalcf/2-3/customizing/upgrading-pcf.html#upgrade_ops) or [Upgrade Ops Manager and Installed Products to v2.4](https://docs.pivotal.io/pivotalcf/2-4/customizing/upgrading-pcf.html#upgrade_ops).

1. <%= partial 'add-clusters-workloads' %>

### <a id="upgrade-pks"></a> Step 4: Upgrade to PKS v1.3.x

To upgrade PKS, you follow the same Ops Manager process that you use to install
the tile for the first time.

Your configuration settings migrate to the new version automatically.
Follow the steps below to perform an upgrade.

1. Review the [Release Notes](release-notes.html) for the version you are upgrading to.

1. Download the desired version of the product from [Pivotal Network](https://network.pivotal.io/products/pivotal-container-service/).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product**.

1. Browse to the PKS product file and select it. Uploading the file takes several minutes.
  <img src="images/upgrade-nsxt-2.png" alt="Upload PKS product file to Ops Manager">

1. Under the **Import a Product** button, click **+** next to **Pivotal Container Service**. This adds the tile to your staging area.<br><br>
  <img src="images/upgrade-nsxt-3.png" alt="Import the PKS product file">

### <a id="stemcell"></a> Step 5: Download and Import the Stemcell

PKS v1.3.x uses a [Xenial stemcell](https://docs.pivotal.io/pivotalcf/stemcells/#xenial).

If Ops Manager does not have the Xenial stemcell required for PKS, the PKS tile displays the message **Missing stemcell**.

<p class="note"><strong>Note:</strong> If the <b>Stemcell Library</b> in Ops Manager already has a compatible Xenial stemcell,
  the <b>Missing stemcell</b> link does not appear. You do not need to download or import a new stemcell and can skip this step.</p>

To download and import a new Xenial stemcell, follow the steps below:

1. On the **Pivotal Container Service** tile, click on the **Missing stemcell** link.

    <img src="images/missing_stemcell.png" alt="Verify stemcell assignment">

1. In the **Stemcell Library**, locate Pivotal Container Service and note the required stemcell version.

1. Visit the [Stemcells for PCF (Ubuntu Xenial)](https://network.pivotal.io/products/stemcells-ubuntu-xenial/) page on Pivotal Network,
and download the required stemcell version for vSphere.

1. Return to the **Installation Dashboard** in Ops Manager, and click on **Stemcell Library**.

1. On the **Stemcell Library** page, click **Import Stemcell** and select the stemcell file you downloaded from Pivotal Network.
    <img src="images/upgrade-nsxt-5.png" alt="Import stemcell">

1. Select the PKS product and click **Apply Stemcell to Products**.
    <img src="images/upgrade-nsxt-6.png" alt="Apply stemcell to PKS">

1. Verify that Ops Manager successfully applied the stemcell.
    <img src="images/upgrade-nsxt-7.png" alt="Verify stemcell assignment">

1. Select the **Installation Dashboard** link to return to the Installation Dashboard.
    <img src="images/upgrade-nsxt-8.png" alt="Verify status is green">

### <a id="worker-nodes"></a> Step 6: Verify Errand Configuration

To verify that errands are configured correctly in the PKS tile, perform the following steps.

1. In the PKS tile, click **Errands**.

1. Under **Post-Deploy Errands**, verify that the listed errands are configured as follows:
  * **NSX-T Validation errand**: Set to **On**
  * **Upgrade all clusters errand**: Set to **Default (On)**
  * **Create pre-defined Wavefront alerts errand**: Set to **Default (Off)**
  * **Run smoke tests**: Set to **On**. The errand uses the PKS Command Line Interface (PKS CLI) to create a Kubernetes cluster and then delete it. If the creation or deletion fails, the errand fails and the installation of the PKS tile is aborted.

    <p class="note warning"><strong>WARNING</strong>: If you set the <strong>Upgrade all clusters errand</strong> to <strong>Off</strong>, your Kubernetes cluster version will fall behind the PKS tile version. If your clusters fall more than one version behind the tile, you can no longer upgrade the clusters. You must upgrade your clusters to match the PKS tile version before the next tile upgrade.</p>

1. If you make any changes, click **Save**.

### <a id="apply-changes"></a> Step 6: Apply Changes to the PKS Tile

Perform the following steps to complete the upgrade to the PKS tile.

1. Return to the **Installation Dashboard** in Ops Manager.

1. Click **Review Pending Changes**.
   For more information about this Ops Manager page, see
    [Reviewing Pending Product Changes](https://docs.pivotal.io/pivotalcf/2-3/customizing/review-pending-changes.html).

1. Click **Apply Changes**.

### <a id="upgrade-nsxt-2.3"></a> Step 7: Upgrade to NSX-T v2.3

NSX-T v2.3 is the recommended version of NSX-T to use with PKS v1.3.

To upgrade to NSX-T v2.3, follow the procedures detailed in [Upgrading NSX-T Data Center](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.3/com.vmware.nsxt.upgrade.doc/GUID-E04242D7-EF09-4601-8906-3FA77FBB06BD.html).

## <a id="post-upgrade"></a> After the Upgrade

After you complete the upgrade to PKS v1.3.x and NSX-T v2.3, complete the following verifications and upgrades.

### <a id="update-clis""></a> Update PKS and Kubernetes CLIs

Update the PKS and Kubernetes CLIs on any local machine 
where you run commands that interact with your upgraded version of PKS.

To update your CLIs, download and re-install the PKS and Kubernetes CLI distributions 
that are provided with PKS on Pivotal Network.

For more information about installing the CLIs, see the following topics:

* [Installing the PKS CLI](installing-pks-cli.html)

* [Installing the Kubernetes CLI](installing-kubectl-cli.html)

### <a id="verify"></a> Verify the Upgrade

After you apply changes to the PKS tile and the upgrade is complete,
verify that your Kubernetes environment is healthy and confirm that NCP is
running on the master node VM.

To verify the health of your Kubernetes environment and NCP, see [Verifying
Deployment Health](verify-health.html).

### <a id="vsphere"></a>(Optional) Upgrade vSphere

If you are deploying PKS on vSphere with NSX&#8209;T, consult the chart below, and upgrade vSphere if necessary.
Upgrade vSphere from version 6.5 or 6.5 U1 to 6.5 U2 or 6.7. 
<%= partial '_vsphere_versions' %>