---
title: Upgrading Tanzu Kubernetes Grid Integrated Edition
owner: TKGI
---

This section describes how to upgrade <%= vars.product_full %>. See the following topics:

<ul>
  <li>
    <a href="./console-upgrade.html">Upgrade <%= vars.product_short %> Management Console</a>
  </li>
  <li>
    <a href="./upgrading-opsman.html">Upgrading <%= vars.product_short %> with Ops Manager</a>
  </li> 
</ul>
