---
title: Managing Tanzu Kubernetes Grid Integrated Edition Users in Ops Manager
owner: TKGI
---

The following topics describe how to connect User Account and Authentication (UAA) to external user stores when using VMware Tanzu Operations Manager (Ops Manager) to configure VMware Tanzu Kubernetes Grid Integrated Edition (TKGI) and how to manage users with UAA:  

<ul>
  <li>
    <a href="configuring-ldap.html">Connecting Tanzu Kubernetes Grid Integrated Edition to an LDAP Server</a>
  </li>
  <li>
    <a href="okta-sso-config.html">Configuring Okta as a SAML Identity Provider</a>
  </li>
  <li>
    <a href="azure-ad-sso-config.html">Configuring Azure Active Directory as a SAML Identity Provider</a>
  </li>
  <li>
    <a href="configuring-saml.html">Connecting Tanzu Kubernetes Grid Integrated Edition to a SAML Identity Provider</a>
  </li>
  <li>
    <a href="manage-users.html">Managing Tanzu Kubernetes Grid Integrated Edition Users with UAA</a>
  </li>
  <li>
    <a href="uaa-scopes.html">UAA Scopes for Tanzu Kubernetes Grid Integrated Edition Users</a>
  </li>
  <li>
    <a href="oidc-provider.html">OIDC Provider for Kubernetes Clusters</a>
  </li>
</ul>
