---
title: Managing Tanzu Kubernetes Grid Integrated Edition Users
owner: TKGI
---

The following topics describe how to use either VMware Tanzu Kubernetes Grid Integrated Edition Management Console (TKGI MC) or VMware Tanzu Operations Manager (Ops Manager) to manage users:  

<ul>
  <li>
    <a href="console-identity-management.html">Identity Management in the Management Console</a>
  </li>
  <li>
    <a href="users-opsmgr.html">Identity Management in Ops Manager</a>
  </li>
</ul>
