---
title: Managing Enterprise PKS Users
owner: PKS
---

This section describes how to connect UAA to external user stores when
configuring <%= vars.product_full %> and how to manage users with UAA.

See the following topics:

<ul>
  <li>
    <a href="configuring-ldap.html">Connecting <%= vars.product_short %> to an LDAP Server</a>
  </li>
  <li>
    <a href="okta-sso-config.html">Configuring Okta as a SAML Identity Provider</a>
  </li>
  <li>
    <a href="azure-ad-sso-config.html">Configuring Azure Active Directory as a SAML Identity Provider</a>
  </li>
  <li>
    <a href="configuring-saml.html">Connecting <%= vars.product_short %> to a SAML Identity Provider</a>
  </li>
  <li>
    <a href="manage-users.html">Managing <%= vars.product_short %> Users with UAA</a>
  </li>
</ul>
