---
title: Managing Tanzu Kubernetes Grid Integrated Edition Users
owner: TKGI
---

This section describes how to use either <%= vars.product_full %> Management Console or Ops Manager to manage users.

See the following topics:

<ul>
  <li>
    <a href="console-identity-management.html">Identity Management in the Management Console</a>
  </li>
  <li>
    <a href="users-opsmgr.html">Identity Management in Ops Manager</a>
  </li>
</ul>
