---
title: Prerequisites for Using PKS
owner: PKS
---

The procedures for using PKS have the following prerequisites:

* You must have a Pivotal Cloud Foundry (PCF) deployment with Ops Manager v2.0 or later and PKS installed.

* You must have the [PKS CLI](installing-pks-cli.html) installed.

* You must have the [Kubernetes CLI](installing-kubectl-cli.html) installed. For more information about using `kubectl`, see the [kubectl documentation](https://kubernetes.io/docs/user-guide/kubectl-overview/).

* You must have an external TCP or HTTPS load balancer configured to forward traffic to the PKS API endpoint. For more information, see the Configure External Load Balancer section of <em>Installing and Configuring PKS on [GCP](installing-pks-gcp.html#loadbalancer-pks-api) or [vSphere](installing-pks-vsphere.html#loadbalancer-pks-api)</em>.

* You must have your PKS API endpoint and your UAA credentials. To retrieve these values, perform the following steps:
  1. Navigate to the **Pivotal Container Service** tile in the Ops Manager Installation Dashboard.
  1. Click **Credentials**.
  1. To retrieve the UAA credentials, click **Uaa Admin Secret**.
  1. Click the **Status** tab.
  1. Retrieve the PKS API IP under **IPs**.
  <p class="note"><strong>Note</strong>: If your PKS installation is integrated with NSX-T, use the DNAT IP address assigned in the <a href="installing-nsx-t.html#apply-changes">Apply Changes and Retrieve the PKS Endpoint</a> section of <em>Installing and Configuring PKS with NSX-T Integration</em>.</p>