---
title: Using PKS
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to use Pivotal Container Service (PKS).

<p class="note"><strong>Note</strong>: Because PKS does not currently support the Kubernetes Service Catalog or the GCP Service Broker, binding clusters to Kubernetes services is not supported.</p>

The procedures for using PKS have the following prerequisites:

* You must have an external TCP or HTTPS load balancer configured to forward traffic to the PKS API endpoint. For more information, see the <em>Configure External Load Balancer</em> section of [Installing and Configuring PKS](installing-pks.html#loadbalancer-pks-api).

* You must know the address of your PKS API endpoint and have a UAA-created user account that has been granted PKS cluster access. For more information, see [Manage Users in UAA](manage-users.html).
  <p class="note"><strong>Note</strong>: If your PKS installation is integrated with NSX-T, use the DNAT IP address assigned in the <a href="installing-nsx-t.html#apply-changes">Step 7: Apply Changes and Retrieve the PKS Endpoint</a> section of <em>Installing and Configuring PKS with NSX-T Integration</em>.</p>

See the following sections:
 
<ul>
  <li>
  <a href="./create-cluster.html">Create a Cluster</a>
  </li>
  <li>
  <a href="./cluster-credentials.html">Retrieve Cluster Credentials and Configuration</a>
  </li>
  <li>
  <a href="./view-cluster-list.html">View Cluster List</a>
  </li>
  <li>
  <a href="./view-cluster-details.html">View Cluster Details</a>
  </li>
  <li>
  <a href="./view-cluster-plans.html">View Cluster Plans</a>
  </li>         
  <li>
  <a href="./volumes.html">Using Dynamic Persistent Volumes</a>
  </li>
  <li>
  <a href="./scale-clusters.html">Scale Existing Clusters</a>
  </li>
  <li>
  <a href="./access-dashboard.html">Access the Dashboard</a>
  </li>         
  <li>
  <a href="./deploy-workloads.html">Deploy and Access Basic Workloads</a>
  </li>     
  <li>
  <a href="./delete-cluster.html">Delete a Cluster</a>
  </li>  
  <li>
  <a href="./log-out.html">Log Out of the PKS Environment</a>
  </li>    
</ul>