---
title: Using PKS
owner: PKS
---

<strong><%= modified_date %></strong>

This section describes how to use Pivotal Container Service (PKS).

<p class="note"><strong>Note</strong>: Because PKS does not currently support the Kubernetes Service Catalog or the GCP Service Broker, binding clusters to Kubernetes services is not supported.</p>

The procedures for using PKS have the following prerequisites:

* You must have an external TCP or HTTPS load balancer configured to forward traffic to the PKS API endpoint. For more information, see the [Configure External Load Balancer](installing-pks-vsphere.html#loadbalancer-pks-api) section of <em>Installing PKS</em> for your IaaS.

* You must know the address of your PKS API endpoint and have a UAA-created user account that has been granted PKS cluster access. For more information, see [Managing Users in PKS with UAA](manage-users.html).
  <p class="note"><strong>Note</strong>: If your PKS installation is integrated with NSX-T, use the DNAT IP address assigned in the <a href="installing-nsx-t.html#retrieve-endpoint">Retrieve the PKS Endpoint</a> section of <em>Installing PKS on vSphere with NSX-T Integration</em>.</p>

See the following sections:

<ul>
  <li>
  <a href="./login">Logging in to PKS</a>
  </li>
  <li>
  <a href="./access-dashboard.html">Accessing Dashboard</a>
  </li>
  <li>
  <a href="./deploy-workloads.html">Deploying and Exposing Basic Workloads</a>
  </li>
  <li>
  <a href="./harbor.html">Getting Started with VMware Harbor Registry</a>
  </li>
  <li>
  <a href="./helm.html">Using Helm with PKS</a>
  </li>
  <li>
  <a href="./configuring-pvs.html">Configuring PersistentVolumes</a>
  </li>
  <li>
  <a href="./volumes.html">Using Dynamic PersistentVolumes</a>
  </li>
  <li>
  <a href="./create-sinks.html">Creating Sink Resources</a>
  </li>
  <li>
  <a href="./log-out.html">Logging Out of PKS</a>
  </li>
</ul>
