---
title: Scenarios for Backing Up and Restoring TKGI Workloads 
owner: TKGI
---

This section summarizes the scenarios and considerations for workload back up and restore using Velero and the restic plugin.  

## <a id="velero-scenarios"></a>Kubernetes Workload Back Up and Restore Scenarios Using Velero

The following scenarios and considerations summarize the various aspects of workload back up and restore using Velero for TKGI.

App Type 	| Back Up Criteria   		| Service Type 	     			| Storage Provider 		| Tools 		| Example    
------------|---------------------------|-------------------------------|-----------------------|---------------|---------
Stateless 	| Kubernetes namespace		| Load balancer with dynamic IP | None 				    | Velero 		| [Back Up and Restore Stateless Guestbook Web App](velero-stateless-ns.html)
Stateless 	| Kubernetes label			| Load balancer with dynamic IP | None 				    | Velero 		| [Back Up and Restore Stateless Guestbook Web App](velero-stateless-label.html)
Stateful 	| Kubernetes namespace		| Load balancer with dynamic IP | VMware Cloud Provider | Velero, restic| [Back Up and Restore Stateful Guestbook Web App](velero-stateful-ns.html)
Stateful 	| Kubernetes label			| Load balancer with dynamic IP | VMware Cloud Provider | Velero, restic| [Back Up and Restore Stateful Guestbook Web App](velero-stateful-label.html)
Stateful 	| Kubernetes namespace		| Load balancer with dynamic IP | CSI 				    | Velero, restic| [Back Up and Restore Stateful Guestbook Web App (CSI)](velero-stateful-ns-csi.html)
StatefulSet | Kubernetes namespace		| Headless cluster IP 			| VMware Cloud Provider | Velero, restic| [Back Up and Restore StatefulSet Cassandra DB](velero-statefulset-ns.html)
StatefulSet | Kubernetes label			| Headless cluster IP 			| VMware Cloud Provider | Velero, restic| [Back Up and Restore StatefulSet Cassandra DB](velero-statefulset-label.html)
StatefulSet | Kubernetes namespace		| Headless cluster IP 			| CSI 				    | Velero, restic| [Back Up and Restore StatefulSet Cassandra DB (CSI)](velero-statefulset-ns-csi.html)
Stateful 	| Kubernetes namespace		| Load balancer with static IP 	| VMware Cloud Provider | Velero, restic| [Back Up and Restore Stateful WordPress App](velero-stateful-lb.html)
Stateful 	| Kubernetes namespace		| Load balancer with static IP 	| CSI 				    | Velero, restic| [Back Up and Restore stateful WordPress App (CSI)](velero-stateful-lb-csi.html)
Stateless 	| Kubernetes namespace		| Ingress with static IP 		| None 				    | Velero 		| [Back Up and Restore Stateless Guestbook App](velero-stateful-ingress.html)
Stateless, stateful | Whole cluster 	| Load balancer with dynamic IP, headless cluster IP | VMware Cloud Provider | Velero, restic| [Back Up and Restore Whole Cluster](velero-cluster.html)

