---
title: Scenarios for Backing Up and Restoring TKGI Workloads 
owner: TKGI
---

This section summarizes the scenarios and considerations for workload backup and restore using Velero and Restic.

## <a id="valero-about"></a>Velero Backup and Restore Scenarios

The following scenarios and considerations summarize the various aspects of workload backup and restore using Velero for TKGI.

App Type 	| Backup criteria    		| Service Type 	     			| Storage Provider 		| Velero plugin | Example    
------------|---------------------------|-------------------------------|-----------------------|---------------|---------
Stateless 	| Kubernetes namespace		| Load balancer with dynamic IP | N/A 				    | N/A 			| [Backup and restore stateless Guestbook web app](velero-stateless-ns.html)
Stateless 	| Kubernetes label			| Load balancer with dynamic IP | N/A 				    | N/A 			| [Backup and restore stateless Guestbook web app](velero-stateless-label.html)
Stateful 	| Kubernetes namespace		| Load balancer with dynamic IP | vCP 				    | Restic 		| [Backup and restore stateful Guestbook web app](velero-stateful-ns.html)
Stateful 	| Kubernetes label			| Load balancer with dynamic IP | vCP 				    | Restic 		| [Backup and restore stateful Guestbook web app](velero-stateful-label.html)
Stateful 	| Kubernetes namespace		| Load balancer with dynamic IP | CSI 				    | Restic 		| [Backup and restore stateful Guestbook web app (CSI)](velero-stateful-ns-csi.html)
StatefulSet | Kubernetes namespace		| Headless cluster IP 			| vCP 				    | Restic 		| [Backup and restore statefulset Cassandra DB](velero-statefulset-ns.html)
StatefulSet | Kubernetes label			| Headless cluster IP 			| vCP 				    | Restic 		| [Backup and restore statefulset Cassandra DB](velero-statefulset-label.html)
StatefulSet | Kubernetes namespace		| Headless cluster IP 			| CSI 				    | Restic 		| [Backup and restore statefulset Cassandra DB (CSI)](velero-statefulset-ns-csi.html)
Stateful 	| Kubernetes namespace		| Load balancer with static IP 	| vCP 				    | Restic 		| [Backup and restore stateful Wordpress app](velero-stateful-lb.html)
Stateful 	| Kubernetes namespace		| Load balancer with static IP 	| CSI 				    | Restic 		| [Backup and restore stateful Wordpress app (CSI)](velero-stateful-lb-csi.html)
Stateless 	| Kubernetes namespace		| Ingress with static IP 		| N/A 				    | N/A 			| [Backup and restore stateless Guestbook app](velero-stateful-ingress.html)
Stateless, stateful | Whole cluster 	| LB with dynamic IP, headless cluster IP | vCP 		| Restic 		| [Backup and restore whole cluster](velero-cluster.html)

