---
title: Verifying Deployment Health
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to verify the health of your Pivotal Container Service
(PKS) deployment.

## <a id="k8s"></a>Verify Kubernetes Health

Verify the health of your Kubernetes environment by following the steps below:

1. To verify that all nodes are in a ready state, run the following command for all Kubernetes contexts:

    ```
    kubectl get nodes
    ```

1. To verify that all pods are running, run the following command for all Kubernetes contexts:

    ```
    kubectl get pods --all-namespaces
    ```

1. To verify that all the processes are in a running state, run the following
command for each deployment:

    ```
    bosh -d MY-DEPLOYMENT instances --ps
    ```
    Where:
    * `MY-DEPLOYMENT` is the name of your PKS deployment. PKS deployment names
begin with `pivotal-container-service` and include a unique BOSH-generated hash.  

    For example:
    <pre class="terminal">$ bosh -d pivotal-container-service/a1b2c333d444e5f66a77 instances --ps</pre>

## <a id="ncp"></a>Verify NCP Health (NSX-T Only)

NCP runs as a BOSH host process. Each Kubernetes master node VM has one NCP process running. 
If your cluster has multiple master nodes, one NCP process is active while the others are on standby. 
For more information, see 
[Architectural Changes](https://docs.pivotal.io/runtimes/pks/1-1/release-notes.html#arch-changes).  

Verify NCP health by following the steps below:

1. From the Ops Manager VM, run the following command:

    ```
    bosh -e MY-ENV login
    ```
    Where:
    * `MY-ENV` is the alias you set for your BOSH Director. For more information, see
[Managing PKS Deployments with BOSH](manage-deployments-bosh.html).  

    For example:
    <pre class="terminal">$ bosh -e pks login</pre>

1. To locate the Kubernetes master node VM name and ID, run the following command:

    ```
    bosh -e MY-ENV -d MY-DEPLOYMENT vms
    ```
    Where:
    * `MY-ENV` is the alias you set for your BOSH Director. For more information, see
[Managing PKS Deployments with BOSH](manage-deployments-bosh.html).
    * `MY-DEPLOYMENT` is the name of your PKS deployment. PKS deployment names
begin with `pivotal-container-service` and include a unique BOSH-generated hash.  

    For example:
    <pre class="terminal">$ bosh -e pks -d pivotal-container-service/a1b2c333d444e5f66a77 vms</pre>
    Your PKS API VM name begins with `pivotal-container-service` and includes a BOSH-generated hash. This value is different from the deployment hash.

1. To SSH into the Kubernetes master node VM, run the following command:

    ```
    bosh -e MY-ENV -d MY-DEPLOYMENT ssh VM-NAME/ID
    ```
    Where:
    * `MY-ENV` is the alias you set for your BOSH Director. For more information, see
[Managing PKS Deployments with BOSH](manage-deployments-bosh.html).
    * `MY-DEPLOYMENT` is the name of your PKS deployment. PKS deployment names
begin with `pivotal-container-service` and include a unique BOSH-generated hash.
    * `VM-NAME` is your Kubernetes master node VM name.
    * `ID` is your Kubernetes master node VM ID. This is a unique BOSH-generated hash.  

    For example:
    <pre class="terminal">$ bosh -e pks \
    -d pivotal-container-service/a1b2c333d444e5f66a77 \
    ssh pivotal-container-service/000a1111-222b-3333-4cc5-de66f7a8899b</pre>

1. From the master node VM, run the following command:

    ```
    monit summary
    ```
  Verify that you see `Process: 'ncp'` is `running`.

1. To check if the NCP process is active or on standby, run the following command:

    ```
    /var/vcap/jobs/ncp/bin/nsxcli -c get ncp-master status
    ```

1. To restart the NCP process, run the following command:

    ```
    monit restart ncp
    ```

1. To verify that the NCP process restarts successfully, run the following command:
    ```
    monit summary
    ```
