---
title: Viewing and Exporting Usage Data
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how operators can view and export usage information from
their Pivotal Container Service (PKS) deployment. Operators can use this data to
calculate billed usage, perform customer chargebacks, and generate usage reports.

The PKS database stores the following pod usage data:

- **Watermark**: the number of pods that run at a single time.
- **Consumption**: the memory and CPU usage of pods.

To extract either type of usage data from your PKS deployment, you must
`bosh ssh` into your PKS VM.

## <a id="about"></a>About Usage Data

This section describes the usage data records you can view in the PKS billing
database. The agent pod collects usage data for the deployment and sends the data
to the PKS aggregator agent. The aggregator agent then stores the data in the PKS database. You can access the PKS database from the PKS VM.

The following is an example of a pod usage data table:


```
+--------------------------------------+---------------------+---------------------+--------------+--------------+-------------------------------------------------------+
| id                                   | first_seen          | last_seen           | namespace    | name         | service_instance_id                                   |
+--------------------------------------+---------------------+---------------------+--------------+--------------+-------------------------------------------------------+
| 12a345b6-7890-13c4-de5f-67890a123b4c | 2019-01-07 13:57:03 | 2019-01-08 11:34:33 | my-namespace | my-pod       | service-instance_a12b3456-78cd-90e1-fa2b-3456c789def0 |
| ac203f27-104b-11e9-b520-42010a000b0a | 2019-01-04 18:09:04 | 2019-01-07 14:09:03 | my-namespace | my-other-pod | service-instance_a12b3456-78cd-90e1-fa2b-3456c789def0 |
+--------------------------------------+---------------------+---------------------+--------------+--------------+-------------------------------------------------------+
2 rows in set (0.00 sec)

```

The following table describes the fields that appear in the pod usage data table:

<table>
  <tr>
    <th>Field Name</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><b>id</b></td>
    <td>Unique record identifier</td>
  </tr>
  <tr>
    <td><b>first_seen</b></td>
    <td>The date when the pod was first recorded to the database</td>
  </tr>
  <tr>
    <td><b>last_seen</b></td>
    <td>The date when the pod was most recently recorded to the database</td>
  </tr>
  <tr>
    <td><b>namespace</b></td>
    <td>The namespace where the pod is deployed</td>
  </tr>
  <tr>
    <td><b>name</b></td>
    <td>The name of the pod</td>
  </tr>
  <tr>
    <td><b>service_instance_id</b></td>
    <td>The cluster where the pod is deployed</td>
  </tr>
</table>

## <a id="bosh-ssh"></a>View Usage Data

To view the pod usage data table, follow the steps below:

<ol>
<li>In a browser, navigate to Ops Manager.</li>
<li>Select the <b>Pivotal Container Service</b> tile.</li>
<li>Select the <b>Status</b> tab. Record the IP address that appears in the <b>IPS</b> column.</li>
<li>Select the <b>Credentials</b> tab.</li>
<li>Click the credential link next to <b>Cf Mysql Billing Db Password</b>. Record the billing database password that appears.</li>
<li>Open a terminal window from any system inside your PKS network. If your system is outside the network, you can SSH into the PKS VM. For more information, see <a href="manage-deployments-bosh.html#pks-api">SSH into the PKS API VM</a>.</li>
<li>On the command line, log in to the billing database by running <code>mysql -h IP-ADDRESS -u billing -p billing</code>, replacing <code>IP-ADDRESS</code> with the IP
you located in a previous step.<br><br>
For example: <pre>mysql -h 10.0.10.10 -u billing -p billing</pre></li>
<li>When prompted by the command line, enter the billing database password you recorded
in a previous step.</li>
<li>View the tables in the billing database by running <code>show tables;</code>.<br><br>For example:
<pre class="terminal">MariaDB [billing]> show tables;
+-------------------+
| Tables_in_billing |
+-------------------+
| pods              |
| schema_migrations |
+-------------------+
2 rows in set (0.00 sec)
</pre></li>
<li>View the raw pod usage data in the <code>pods</code> table by running <code>select * from pods;</code>.<br><br>For example:
<pre class="terminal">MariaDB [billing]> select * from pods;

+--------------------------------------+---------------------+---------------------+--------------+--------------+-------------------------------------------------------+
| id                                   | first_seen          | last_seen           | namespace    | name         | service_instance_id                                   |
+--------------------------------------+---------------------+---------------------+--------------+--------------+-------------------------------------------------------+
| 12a345b6-7890-13c4-de5f-67890a123b4c | 2019-01-07 13:57:03 | 2019-01-08 11:34:33 | my-namespace | my-pod       | service-instance_a12b3456-78cd-90e1-fa2b-3456c789def0 |
| ac203f27-104b-11e9-b520-42010a000b0a | 2019-01-04 18:09:04 | 2019-01-07 14:09:03 | my-namespace | my-other-pod | service-instance_a12b3456-78cd-90e1-fa2b-3456c789def0 |
+--------------------------------------+---------------------+---------------------+--------------+--------------+-------------------------------------------------------+
2 rows in set (0.00 sec)</pre></li>
</ol>

