---
title: Configure PKS API Load Balancer
owner: PKS
iaas: vSphere
---

This topic describes how to configure an external load balancer for the PKS API.

## <a id='overview'></a> Overview

You must configure an external load balancer to make the PKS API accessible from outside the network.
This external load balancer forwards traffic to the PKS API endpoint on ports 8443 and 9021.
You can use any external load balancer for the PKS API.

To set up an external load balancer for the PKS API, do the following after you install the <%= vars.product_tile %> tile:

1. [Retrieve the PKS API Endpoint](#retrieve-pks-api)
1. [Configure an External Load Balancer](#loadbalancer-pks-api)

## <a id='prerequisites'></a> Prerequisites

Before configuring an external load balancer for the PKS API, you must have the following:

* The PKS API certificate that you provided in the [PKS API](installing-pks-vsphere.html) section of _Installing Enterprise PKS on vSphere_. 
* The PKS API hostname that you entered in the [PKS API](installing-pks-vsphere.html) section of _Installing Enterprise PKS on vSphere_.

## <a id='retrieve-pks-api'></a> Step 1: Retrieve the PKS API Endpoint

<%= partial '../share-endpoint' %>

## <a id='loadbalancer-pks-api'></a>Step 2: Configure an External Load Balancer

To configure an external load balancer for the PKS API, do the following:

1. Configure the external load balancer to resolve to the domain name you set in the [PKS API](installing-pks-vsphere.html#pks-api) section of _Installing <%= vars.product_short %> on vSphere_.

1. Configure your load balancer with the following information:

  - IP address from [Retrieve PKS API Endpoint](#retrieve-pks-api)
  - Ports 8443 and 9021
  - HTTPS or TCP protocol

## <a id='next-install-step'></a> Next Installation Task

Create Enterprise PKS admin users who can create and manage clusters by following the procedures 
in [Set up Enterprise PKS Admin Users](vsphere-configure-pks-users.html).

