---
title: Preparing to Install PKS on vSphere
owner: Ops Manager
iaas: vSphere
---

This topic outlines the steps for preparing to install Pivotal Container Service (PKS) on vSphere. See the following sections:

<ul>
  <li>
    <a href="./vsphere-requirements.html">vSphere Prerequisites and Resource Requirements</a>
  </li>
  <li>
    <a href="./ports-protocols-nsx-t.html">Firewall Ports and Protocols Requirements for vSphere with NSX-T</a>
  </li>
  <li>
    <a href="./vsphere-prepare-env.html">Preparing to Deploy PKS to vSphere</a>
  </li>
  <li>
    <a href="./vsphere-om-deploy.html">Deploying Ops Manager to vSphere</a>
  </li>
  <li>
    <a href="./vsphere-om-config.html">Configuring Ops Manager on vSphere</a>
  </li>
  <li>
    <a href="https://docs.pivotal.io/partners/vmware-harbor/index.html">Installing and Integrating VMware Harbor Registry with PKS</a>
  </li>
</ul>