---
title: Preparing to Install Tanzu Kubernetes Grid Integrated Edition on vSphere with NSX-T Data Center
owner: TKGI
iaas: vsphere-nsxt
---

This topic lists the sections to follow when installing <%= vars.product_full %> on vSphere with NSX-T Data Center.

## Preparing to Install <%= vars.product_short %> on vSphere with NSX-T

In preparation for installing <%= vars.product_short %> on vSphere with NSX-T, review the following documentation:

<ul>
  <li>
    <a href="./nsxt-install-prereqs.html">NSX-T Installation Prerequisites</a>
  </li>
  <li>
    <a href="./nsxt-install-managers.html">Install and Configure the NSX-T Manager Hosts</a>
  </li>
  <li>
    <a href="./nsxt-install-tls-certs.html">Generate and Register the NSX-T Management TLS Certificate and Private Key</a>
  </li>
  <li>
    <a href="./nsxt-install-vtep.html">Create an IP Pool for VTEP</a>
  </li>
  <li>
    <a href="./nsxt-install-tzs.html">Configure Transport Zones</a>
  </li>
  <li>
    <a href="./nsxt-install-vsphere-net.html">Configure vSphere Networking for ESXi Hosts</a>
  </li>
  <li>
    <a href="./nsxt-install-edges.html">Deploy NSX-T Edge Nodes</a>
  </li>
  <li>
    <a href="./nsxt-install-transport.html">Deploy NSX-T Transport Nodes</a>
  </li>
  <li>
    <a href="./nsxt-install-objects-k8s.html">Create NSX-T Objects for Kubernetes Clusters Provisioned by TKGI</a>
  </li>    
  <li>
    <a href="./nsxt-install-objects-mgmt.html">Create NSX-T Objects for the TKGI Management Plane Components</a>
  </li>    
  <li>
    <a href="./nsxt-install-password.html.md">Configure NSX-T Passwords</a>
  </li>
</ul>