---
title: Install Tanzu Kubernetes Grid Integrated Edition on VMware Cloud Foundation
owner: TKGI
---

This topic explains how to install and operate <%= vars.product_short %> (<%= vars.k8s_runtime_abbr %>)
on the VMware Cloud Foundation platform.

## <a id='about-vcf'></a>About TKGI Integration with VCF

VMware Cloud Foundation (VCF) is a unified SDDC platform that brings together VMware vSphere, vSAN, NSX and vRealize components into a integrated stack to deliver enterprise-ready cloud infrastructure for the private and public cloud. For more information,
see the [VCF Documentation](https://docs.vmware.com/en/VMware-Cloud-Foundation/index.html).

You can install <%= vars.product_short %> (<%= vars.k8s_runtime_abbr %>) v1.8 on VCF v4. You can use either the [TKGI Management Console](console-install-vsphere.html) or [Ops Manager](vsphere-nsxt-index.html) to install TKGI on VCF. The installation procedure is generally the same that you would follow if you were not using the VCF platform, with the requirements and considerations documented here.

## <a id='vcf-requirements'></a> Requirements for Installing TKGI on VCF

To install TGKI on VCF, you must adhere to the following requirements:

- Deploy only the supported versions of TKGI and VCF. Check the [Release Notes](./release-notes.html) for precise version compatibility. 

- Deploy vSphere 7.x with NSX-T 3.x using a converged VDS for vSphere and NSX-T traffic. You cannot use an N-VDS for NSX-T transport node traffic. Because of this requirement, a fresh installation is required. There is no way to migrate from N-VDS to VDS.

- Deploy TKGI in the Workload domain only. VCF creates domains, including a Management and Workload domain. TKGI components, including Ops Manager, BOSH Director, TKGI API and DB, and Harbor, must be installed into the Workload domain.

- Deploy TKGI using a single vSphere cluster, if you are using the TKGI Management Console. The reason is that currently the TKGI Management Console does not support using multiple converged VDSes. If you are using Ops Manager, you can use multiple vSphere clusters (with separate VDSes) as long as you are using a shared datastore (vSAN) to support PersistentVolumes.

- When deploying TKGI on VCF, do not generate a new certificate for NSX-T Manager. If you do it will break the VCF to NSX-T Manager communication. You must use the existing NSX-T Manager certificate when configuring TKGI.

- You must deploy an NSX-T load balancer in front of the NSX Manager nodes in the VCF Management Domain. See [Installing an NSX-T Management Plane Load Balancer](./nsxt-install-mgmt-lb.html) for more information.

## <a id='vcf-topos'></a>Supported Topologies for TKGI on VCF

TKGI supports two topologies for VCF: a Workload Domain with a single vSphere Cluster and a Workload Domain with multiple vSphere clusters.

### <a id='vcf-topo-1'></a>Topology 1: Workload Domain with a Single vSphere Cluster

This topology contains a single vSphere cluster in the Workload Domain managed by the vCenter Server instance on the Management Domain.

    <img src="images/vsphere/vcf-tkgi-topology1.png" alt="Workload Domain with 1 vSphere Cluster" width="325">

### <a id='vcf-topo-2'></a>Topology 2: Workload Domain with Multiple vSphere Clusters

This toplogy contains two or more vSphere clusters in the Workload Domain managed by the vCenter instance on the Management Domain.

    <img src="images/vsphere/vcf-tkgi-topology2.png" alt="GCP pane configuration" width="325">

## <a id='vcf-deployment'></a>TKGI on VCF Deployment Procedure

This section provides high-level instructions for deploying TKGI once the Management and Workload Domains are created using VCF.

These instructions assume hands-on experience deploying NSX-T and TKGI. For assistance with NSX-T 3.0, see [Installing and Configuring NSX-T Data Center v3.0 for Tanzu Kubernetes Grid Integrated Edition](./nsxt-3-0-install.html). For instructions on installing TKGI, see [Installing Tanzu Kubernetes Grid Integrated Edition on vSphere](./vsphere-index.html).

### <a id='vcf-deployment-nat'></a>Deployment: NAT Mode

Follow this procedure to deploy TKGI in [NAT mode](./nsxt-topologies.html#topology-nat) on VCF using [Ops Manager](./vsphere-nsxt-index.html) or the [TKGI Management Console](./console-install-vsphere.html).

1. Deploy the Management Domain and a single Workload Domain by deploying VCF 4.0, which installs and configures vSphere 7.0 with vSAN and NSX-T 3.0. See the [VMWare Cloud Foundation Deployment Guide](https://docs.vmware.com/en/VMware-Cloud-Foundation/4.0/com.vmware.vcf.ovdeploy.doc_40/GUID-F2DCF1B2-4EF6-444E-80BA-8F529A6D0725.html) for guidance.
1. Decide on the [topology](#vcf-topos) and create one or two vSphere clusters in the Workload Domain.
1. After the Workload Domain is created, use the NSX Manager in the Workload Domain to configure the following NSX-T objects:
- Create a VLAN trunk port group for the NSX Edge interfaces, one for port group for each Edge Node.
- Create an Uplink Profile for the Edge Nodes.
- Deploy two Edge Nodes of size Large VM form factor.
- Create an Edge Cluster comprising the Edge Nodes.
1. Create Resource pool in VC for deployment and K8 VMs. These will be used in Availability zones.
1. Deploy the Ops Manager or TKGI Management Console OVA in the Management Domain on the management network.
1. Configure the tile or installer with the connection information for vCenter in the Workload Domain.
1. Configure the tile or installer with the connection information for NSX-T Manager in the Workload Domain.
- Select the Edge Cluster and Edge Nodes.
- Provide IPs for Edge Node-1 uplink, Edge-Node-2 uplink, HA VIP for uplink and Default gateway.
- Provide deployment network info.
- Provide POD & Node CIDRs.
- Provide Load Balancer IP range. (NAT IPs will be taken from from this pool.)
- Get the Active cluster cert from NSXT and provide the same for NSX Cert.
1. Create Availability zones.
1. Select vSAN datastore for Ephemeral and Persistent storage.
1. Create Kubernetes plans.
1. Enable integration with vROPs and vRLI.
1. Enable Harbor. (If you are using the Ops Manager installation, deploy Harbor after TKGI.)
1. Deploy TKGI.

### <a id='vcf-deployment-no-nat'></a>Deployment: No-NAT and Hybrid Modes

Follow this procedure to deploy TKGI in [No-NAT mode](./nsxt-topologies.html#topology-no-nat) or using a [Hybrid topology](./nsxt-topologies.html#topology-hybrid) on VCF using [Ops Manager](./vsphere-nsxt-index.html) or the [TKGI Management Console](./console-install-vsphere.html).

1. Deploy the Management Domain and a single Workload Domain by deploying VCF 4.0, which installs and configures vSphere 7.0 with vSAN and NSX-T 3.0. Refer to the [VMWare Cloud Foundation Deployment Guide](https://docs.vmware.com/en/VMware-Cloud-Foundation/4.0/com.vmware.vcf.ovdeploy.doc_40/GUID-F2DCF1B2-4EF6-444E-80BA-8F529A6D0725.html).
1. Decide on the topology and create one or two vSphere clusters in the Workload Domain.
1. After the Workload Domain is created, use the NSX Manager in the Workload Domain to configure the following NSX-T objects:
- Create a VLAN trunk port group for the NSX Edge interfaces, one for port group for each Edge Node.
- Create an Uplink Profile for the Edge Nodes.
- Deploy two Edge Nodes of size Large VM form factor.
- Create an Edge Cluster comprising the Edge Nodes.
- Create T0 router and add uplink interfaces to get reachability to the physical switches.
- Create overlay logical switch for deployment network
- Create a Tier-1 router and add interface to overlay logical switch. Redistribute connected routes.
- Create 2 IP blocks with mask /16. 
- Create 1 IP pool for the Load Balancer VIP.
1. Create Resource pool in VC for deployment and Kubernetes node VMs. These will be used in Availability zones.
1. Deploy the Ops Manager or TKGI Management Console OVA in the Management Domain on the management network.
1. Configure the tile or installer with the connection information for vCenter in the Workload Domain.
1. Configure the tile or installer with the connection information for NSX-T Manager in the Workload Domain.
- Configure the Edge cluster, T0 router, IPAMs and IP pools created earlier.
- Choose the topology (No-NAT or Hybrid).
- Get the Active cluster cert from NSXT and provide the same for NSX Cert.
1. Create Availability zones.
1. Select vSAN datastore for Ephemeral and Persistent storage.
1. Create Kubernetes plans.
1. Enable integration with vROPs and vRLI.
1. Enable Harbor. (If you are using the Ops Manager installation, deploy Harbor after TKGI.)
1. Deploy TKGI.
