---
title: Advanced Configurations for Tanzu Kubernetes Grid Integrated Edition on vSphere with NSX-T Data Center
owner: TKGI
iaas: vsphere-nsxt
---

This topic lists the sections to follow when installing <%= vars.product_full %> on vSphere with NSX-T Data Center.

## Post-Installation NSX-T Configurations

After you have installed <%= vars.product_short %> on vSphere with NSX-T, refer to the following sections for additional NSX-T configuration options:

<ul>
  <li>
    <a href="./nsxt-mgmt-lb.html">Deploying an NSX-T Load Balancer</a>
  </li>
  <li>
    <a href="./network-profiles-index.html">Defining and Using Network Profiles</a>
  </li>
  <li>
    <a href="./proxies.html">Using Proxies with <%= vars.product_short %> on NSX-T</a>
  </li>
  <li>
    <a href="./nsxt-ingress-srvc-lb.html">Configuring Ingress Resources and Load Balancer Services</a>
  </li>
  <li>
    <a href="./nsxt-multi-t0.html">Isolating Tenants</a>
  </li>
  <li>
    <a href="./nsxt-multi.html">Implementing a Multi-Foundation <%= vars.product_short %> Deployment</a>
  </li>
</ul>
