---
title: Installing Tanzu Kubernetes Grid Integrated Edition on vSphere with NSX-T Data Center
owner: TKGI
iaas: vsphere-nsxt
---

This topic lists the sections to follow when installing NSX-T Data Center on vSphere for use with <%= vars.product_full %>.

## Install NSX-T on vSphere 

To install NSX-T on vSphere for <%= vars.product_short %>, complete the following sections:

<ul>
  <li>
    <a href="./nsxt-install-prereqs.html">NSX-T Installation Prerequisites</a>
  </li>
  <li>
    <a href="./nsxt-install-managers.html">Install and Configure the NSX-T Manager Hosts</a>
  </li>
  <li>
    <a href="./nsxt-install-tls-certs.html">Generate and Register the NSX-T TLS Certificate and Private Key</a>
  </li>
  <li>
    <a href="./nsxt-install-vtep.html">Create an IP Pool for VTEP</a>
  </li>
  <li>
    <a href="./nsxt-install-tzs.html">Configure Transport Zones</a>
  </li>
  <li>
    <a href="./nsxt-install-vsphere-net.html">Configure vSphere Networking for ESXi Hosts</a>
  </li>
  <li>
    <a href="./nsxt-install-edges.html">Deploy NSX-T Edge Nodes</a>
  </li>
  <li>
    <a href="./nsxt-install-transports.html">Deploy NSX-T Transport Nodes</a>
  </li>
  <li>
    <a href="./nsxt-install-objects-k8s.html">Create NSX-T Objects for Kubernetes Clusters Provisioned by TKGI</a>
  </li>    
  <li>
    <a href="./nsxt-install-objects-mgmt.html">Create NSX-T Objects for TKGI Management Plane Components</a>
  </li>    
  <li>
    <a href="./nsxt-install-password.html">Configure NSX-T Passwords</a>
  </li>
</ul>