---
title: vSphere Prerequisites and Resource Requirements
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes the prerequisites and resource requirements for installing Pivotal Container Service (PKS) on vSphere with or without NSX-T integration.

You can also configure integration with NSX-T and Harbor.

##<a id='vsphere'></a> Component Version Requirements

###<a id='pks-with-vsphere'></a> vSphere Version Requirements

PKS on vSphere supports the following vSphere component versions:

<table class="nice">
  <tr>
    <th>Versions</th>
    <th>Editions</th>
  </tr>
  <tr>
    <td><ul><li>VMware vSphere 6.5 GA</li><li>VMware vSphere 6.5 U1</li></ul></td>
    <td><ul><li>vSphere Enterprise Plus</li><li>vSphere with Operations Management Enterprise Plus</li></ul></td>
  </tr>
</table>

###<a id='pks-with-nsx-t'></a> NSX-T Integration Version Requirements

Deploying NSX-T requires the additional following component versions:

<table class="nice">
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  <tr>
    <td>VMware NSX-T</td>
    <td>2.1</td>
  </tr>
</table>

##<a id='resources'></a>Resource Requirements

Installing PKS deploys the following two virtual machines (VMs):

<table>
  <tr>
    <th>VM</th>
    <th>CPU</th>
    <th>RAM</th>
    <th>Storage</th>
  </tr>
  <tr>
    <td>Pivotal Container Service</td>
    <td>1</td>
    <td>4 GB</td>
    <td>20 GB</td>
  </tr>
  <tr>
    <td>Pivotal Ops Manager</td>
    <td>1</td>
    <td>8 GB</td>
    <td>160 GB</td>
  </tr>
</table>

Each Kubernetes cluster provisioned through PKS deploys the VMs listed below. If you deploy more than one Kubernetes cluster, you must scale your allocated resources appropriately.

<table>
  <tr>
    <th>VM Name</th>
    <th>Number</th>
    <th>CPU Cores</th>
    <th>RAM</th>
    <th>Ephemeral Disk</th>
    <th>Persistent Disk</th>
  </tr>
  <tr>
    <td>master</td>
    <td>1</td>
    <td>2</td>
    <td>4 GB</td>
    <td>8 GB</td>
    <td>5 GB</td>
  </tr>
  <tr>
    <td>worker</td>
    <td>1</td>
    <td>2</td>
    <td>4 GB</td>
    <td>8 GB</td>
    <td>10 GB</td>
  </tr>
</table>

###<a id='resources-nsx-t'></a> NSX-T Integration Resource Requirements

Deploying NSX-T requires the additional following resources from your vSphere environment:

<table>
  <tr>
    <th>NSX-T Component</th>
    <th>Instance Count</th>
    <th>Memory per Instance</th>
    <th>vCPU per Instance</th>
    <th>Disk Space per Instance</th>
  </tr>
  <tr>
    <td>NSX Manager Appliance</td>
    <td>1</td>
    <td>16 GB</td>
    <td>4</td>
    <td>140 GB</td>
  </tr>
  <tr>
    <td>NSX Controllers</td>
    <td>3</td>
    <td>16 GB</td>
    <td>4</td>
    <td>120 GB</td>
  </tr>
  <tr>
    <td>NSX-T Edge</td>
    <td>1 up to 8 </td>
    <td>16 GB</td>
    <td>8</td>
    <td>120 GB</td>
  </tr>
</table>

##<a id='installing-nsx-t'></a> Installing PKS on vSphere with NSX-T

For information about the firewall ports and protocols requirements for using PKS on vSphere with NSX-T, see <a href="./ports-protocols-nsx-t.html">Firewall Ports and Protocols Requirements for vSphere with NSX-T</a>.

To install and configure PKS **with** NSX-T integration, follow the procedures below:

1. [Installing and Configuring PKS with NSX-T Integration](installing-nsx-t.html)
1. (Optional) [Installing and Integrating VMware Harbor Registry with PKS](https://docs.pivotal.io/partners/vmware-harbor/)

##<a id='installing'></a> Installing PKS on vSphere without NSX-T

To install PKS on vSphere **without** NSX-T integration, follow the procedures below:

1. [Preparing to Deploy PKS to vSphere](vsphere-prepare-env.html)
1. [Deploying Ops Manager to vSphere](vsphere-om-deploy.html)
1. [Configuring Ops Manager on vSphere](vsphere-om-config.html)
1. [Installing and Configuring PKS on vSphere](installing-pks-vsphere.html)
1. (Optional) [Installing and Integrating VMware Harbor Registry with PKS](https://docs.pivotal.io/partners/vmware-harbor/)

