---
title: Installing Tanzu Kubernetes Grid Integrated Edition on vSphere with VMware NSX
owner: TKGI
iaas: vsphere-nsxt
---

The following topics describe how to install NSX Data Center on vSphere for use with VMware Tanzu Kubernetes Grid Integrated Edition (TKGI).  

## Install NSX on vSphere 

To install NSX on vSphere for Tanzu Kubernetes Grid Integrated Edition, complete the following sections in the order listed:

<ul>
  <li>
    <a href="./nsxt-install-prereqs.html">NSX Installation Prerequisites</a>
  </li>
  <li>
    <a href="./nsxt-install-managers.html">Install and Configure the NSX Manager Hosts</a>
  </li>
  <li>
    <a href="./nsxt-install-tls-certs.html">Generate and Register the NSX TLS Certificate and Private Key</a>
  </li>
  <li>
    <a href="./nsxt-install-vtep.html">Create an IP Pool for VTEP</a>
  </li>
  <li>
    <a href="./nsxt-install-tzs.html">Configure Transport Zones</a>
  </li>
  <li>
    <a href="./nsxt-install-vsphere-net.html">Configure vSphere Networking for ESXi Hosts</a>
  </li>
  <li>
    <a href="./nsxt-install-edges.html">Deploy NSX Edge Nodes</a>
  </li>
  <li>
    <a href="./nsxt-install-transports.html">Deploy NSX Transport Nodes</a>
  </li>
  <li>
    <a href="./nsxt-install-objects-k8s.html">Create NSX Objects for Kubernetes Clusters Provisioned by TKGI</a>
  </li>    
  <li>
    <a href="./nsxt-install-objects-mgmt.html">Create NSX Objects for TKGI Management Plane Components</a>
  </li>    
  <li>
    <a href="./nsxt-install-password.html">Configure NSX Passwords</a>
  </li>
</ul>
