<!--Default search-->
<!--If book needs something different, add a book-search partial to the book's layouts folder-->
<div class="header-item searchbar js-searchbar">
  <a class="search-icon" data-behavior="Search"></a>
  <div class="search-input">
    <div class="search-input-inner" id="docs-search">
      <% if defined?(elastic_search?) && elastic_search? %>
        <form method="get" action="/search">
          <input name="q" placeholder="search" class="search-box" />
        </form>
      <% else %>
        <gcse:searchbox></gcse:searchbox>
      <% end %>
    </div>
  </div>
</div>
