<div id="feedback">
  <hr>
  <form data-behavior="SubmitFeedback">
    <fieldset id="feedback-helpful">
      <legend>Was this topic helpful?</legend>
      <div class="feedback-option">
        <input type="radio" name="helpful" value="true" id="is-helpful" required />
        <label for="is-helpful">Yes</label>
      </div>
      <div class="feedback-option">
        <input type="radio" name="helpful" value="false" id="is-not-helpful" />
        <label for="is-not-helpful">No</label>
      </div>
    </fieldset>
    <fieldset id="feedback-comments">
      <legend>Suggestions for improvement</legend>
      <textarea name="comments" placeholder="I would like this topic to..."></textarea>
    </fieldset>
    <input type="hidden" name="date" />
    <input type="hidden" name="page_url" />
    <div id="errors">
    </div>
    <input type="submit" value="Submit" id="feedback-submit"/>
  </form>
  <hr>
</div>
