@import "partials/mixins";

@import "vendor/mermaid";

// content
@import "partials/3rdparty";
@import "partials/global-header";
@import "partials/local-header";
@import "partials/fix-search-tables";

* {
  box-sizing: border-box;
}

// ~BREADCRUMB
// ===================================================
.breadcrumbs {
  display: block;
  margin: 0;
  padding: 0;
}
.breadcrumbs li {
  display: none;
  margin: 0;
  &:first-child {
    display: block;
  }
}


// ~HOMEPAGE
// ===================================================
.index .content {
  padding-bottom: 0;
  padding-top: 0;
}

.panel-wrapper {
  border: 2px solid #edefef;
  border-radius: 10px;
  margin: 3em 0 0;
  padding: 0 1.25rem;
}
.panels {
  display: block;
  padding: 0;
  @include clearfix;
  @media (min-width: $bp-wide) {
    margin-top: 1.5em;
  }
}
.panel .title-deemph {
  display: block;
}

// Add notebook like shadows
/*doc
---
title: Panel
name: panel
category: basics
---
```html_example
<li class="panel">
  <a href="#">
    <div class="prodname">
      <span class="title-deemph">Pivotal</span> <span class="title-emph">Product</span><span class='tmr'>&trade;</span> for <span class="title-emph">Pivotal Cloud Foundry</span><span class='tmr'>&trade;</span>
    </div>
  </a>
</li>
```
*/
.panel {
  display: block;
  margin-bottom: 2em;
  position: relative;
}
.panel img {
  display: block;
  margin: 0 auto;
  height: 4rem;
}
.panel a {
  color: $color-text;
  padding: 1em;
  display: block;
  overflow: hidden;
  padding-top: 1.5em;
  min-height: 7rem;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  border-color: #F3F3F3;
  border-bottom-color: #E0E0E0;
  text-align: center;
  &[href^="http"]:after {
    display: none;
  }
}
.content .panel a:hover {
  background: $color-bg-panel;
  border-bottom-color: darken(#ecefef, 5%);
  // border-left-color: $color-accent-bright;
  .action {
    color: $color-text;
  }
}
.prodname {
  font-size: $font-size-m;
  line-height: 1.1;
}
.action {
  color: #9c9c9c;
  margin-top: 0.8em;
}
.version {
  color: #9c9c9c;
  font-style: italic;
  margin-top: 0.5em;
  display: none;
}

// ~TITLES
// ===================================================

// Title used on homepage and larger splash pages

.title-panel {
  margin-top: 1.5rem;
}

.title-center {
  text-align: center;
}

/*doc
---
title: Title Flashy
name: title_flashy
category: basics
---
```html_example
<h1 class="title-flashy">
  <span class="title-deemph">Pivotal</span> Documentation
</h1>
```
*/
.title-flashy {
  display: inline-block;
  font-weight: 600;
  font-size: $font-size-l;
  text-align: left;
  margin-left: 1rem;
  img {
    height: rem(61);
    vertical-align: middle;
    padding-right: .5rem;
    float: left;
    @media (min-width: $bp-wide) {
      height: rem(45);
      float: none;
    }
  }
  @media (min-width: $bp-wide) {
    font-size: $font-size-xxl;
    margin-left: 0;
    padding-left: 1.8em;
    padding-top: 2rem;
    text-align: center;
  }
}
/*doc
---
title: Title Intro
name: title_intro
category: basics
---
```html_example
<h2 class="title-intro">
  Everything you need to know about Pivotal Software.
</h2>
```
*/
.title-intro {
  font-size: $font-size-m;
  font-weight: 300;
  margin: 0 auto 0.5em;
  max-width: 30em;
  text-align: center;
  @media (min-width: $bp-wide) {
    font-size: $font-size-l;
  }
}
/*doc
---
title: Title Details
name: title_details
category: basics
---
```html_example
<h3 class="title-details">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
</h3>
```
*/
.title-details {
  font-size: $font-size-m;
  font-weight: 300;
  margin: 0 auto;
  max-width: 30em;
  padding-bottom: 2em;
  text-align: center;
  @media (min-width: $bp-wide) {
    font-size: $font-size-m;
  }
}

/*doc
---
title: Title Modifiers
name: title_modifiers
category: basics
---
```html_example
<div class="prodname">
  <span class="title-deemph">Pivotal</span> <span class="title-emph">CF</span>
</div>
```
*/

.title-deemph {
  font-weight: 300;
}
.title-emph {
  font-weight: 600;
}


// table formatting helper

/*doc
---
title: Content Helper - Centering
name: content_helper-centering
category: basics
---

Use this div to center table cells.

```html_example
<table border="1" class="nice">
<tr>
	  <th><div class="centered"><strong>CLI</strong></div></th>
	  <th colspan='3'><div class="centered"><strong>Developer Console</strong></div></th>
</tr>
<tr>
  <td>lorem ipsum</td>
  <td>dolor sit amet</td>
</tr>
</table>
```

*/
.centered {
  margin:0 auto;
  vertical-align: middle;
   width: 50%;
}

// list helpers

/*doc
---
title: Content Helper - List Steps
name: content_helper-list_steps
category: basics
---

```html_example
<ol class="list-steps">
  <li>Item 1</li>
  <li>Item 2</li>
  <li>Item 3</li>
  <li>Item 4</li>
</ol>
```
*/
.list-steps {
  counter-reset: list-steps;
  list-style: none;
  margin-left: 1.55em;
  margin-top: 2em;
  padding: 0;
}
.list-steps > li {
  clear: both;
  min-height: 5.2em;
  padding: 0.75em 0 1.5em 3em;
  border-left: 1px dotted #ccc;
  position: relative;
  margin: 0;
}
.list-steps > li:last-child {
  border: 0;
}
.list-steps > li:before {
  background: #fff;
  border: 2px solid $gray4;
  border-radius: 100%;
  color: $gray3;
  font-weight: 600;
  content: counter(list-steps);
  counter-increment: list-steps;
  float: left;
  font-size: 1.2em;
  margin-right: 0.3em;
  height: 3rem;
  left: -1.3em;
  line-height: 3rem;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 3rem;
}
.list-steps ul {
  margin-top: 1em;
}
.list-steps ul li {
  list-style-type: disc;
  margin-top: 0.5em;
}

/*doc
---
title: Content Helper - Outline list
name: content_helper-outline_list
category: basics
---

```html_example
<ol class="list">
  <li>Item 1
    <ol>
      <li>Item 1
        <ol>
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
          <li>Item 4</li>
        </ol>
      </li>
      <li>Item 2</li>
      <li>Item 3</li>
      <li>Item 4</li>
    </ol>
  </li>
  <li>Item 2</li>
  <li>Item 3</li>
  <li>Item 4</li>
</ol>
```
*/
.list > li > ol,
.content ol > li > ol {
  list-style-type: lower-alpha;
}

.list > li > ol > li > ol,
.content ol > li > ol > li > ol {
  list-style-type: lower-roman;
}


// ~LOGOS ON TITLES
// ===================================================
.pivotalcf .logo {
  background-image: url(../images/icon_cf_green@2x.png);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: rem(25) auto;
  padding-left: 2.2em;
}
.pivotalcf_index .title-container {
  background-image: url(../images/icon_cf_green@2x.png);
  background-repeat: no-repeat;
  background-size: rem(45) auto;
  padding-left: 1.5em;
  background-position: left center;
  display: inline-block;
}

// CF CLI Help
.pivotalcf_cf-cli_cf-help table tr td:first-child,
.cf-cli_cf-help table tr td:first-child {
  width: 44%;
}
.pivotalcf_cf-cli_cf-help table, .pivotalcf_cf-cli_cf-help table tr.separator, .pivotalcf_cf-cli_cf-help table tr.separator td,
.cf-cli_cf-help table, .cf-cli_cf-help table tr.separator, .cf-cli_cf-help table tr.separator td {
  border: none;
}
