---
title: Installing and Configuring PKS
owner: PKS
---

<p class="note"><strong>Note</strong>: The PKS documentation is still under development. This topic will continue to be updated and expanded to reflect the most current information.</p>

This topic describes how to install and configure Pivotal Container Service (PKS).

##<a id='resources'></a> Resource Requirements

Installing PKS deploys the following two virtual machines (VMs):

<table>
<tr>
<th>VM</th>
<th>CPU</th>
<th>RAM</th>
<th>Ephemeral Disk</th>
<th>Persistent Disk</th>
</tr>
<tr>
<td>Separate BOSH Director</td>
<td>2</td>
<td>4 GB</td>
<td>20 GB</td>
<td>32 GB</td>
</tr>
<tr>
<td>On-Demand Broker</td>
<td>1</td>
<td>4 GB</td>
<td>20 GB</td>
<td>n/a</td>
</tr>
</table>

Each Kubernetes cluster provisioned through PKS deploys the following VMs:

<table>
<tr>
<th>Number</th>
<th>VM</th>
<th>CPU</th>
<th>RAM</th>
<th>Ephemeral Disk</th>
<th>Persistent Disk</th>
</tr>
<td>3</td>
<td>etcd</td>
<td>1</td>
<td>4 GB</td>
<td>20 GB</td>
<td>5 GB</td>
</tr>
<tr>
<td>2</td>
<td>master</td>
<td>1</td>
<td>4 GB</td>
<td>20 GB</td>
<td>n/a</td>
</tr>
<tr>
<td>3</td>
<td>worker</td>
<td>4</td>
<td>8 GB</td>
<td>100 GB</td>
<td>10 GB</td>
</tr>
<tr>
<td>1</td>
<td>route-sync</td>
<td>1</td>
<td>4 GB</td>
<td>20 GB</td>
<td>n/a</td>
</tr>
</table>