---
title: Managing PKS
owner: PKS
---

<p class="note"><strong>Note</strong>: The PKS documentation is still under development. This topic will continue to be updated and expanded to reflect the most current information.</p>

This topic describes how to manage Pivotal Container Service (PKS).

##<a id='add-users'></a> Add Users

After installing PKS, operators can give developers the ability to create and manage Kubernetes clusters with the PKS Command Line Interface (PKS CLI).

<p class="note"><strong>Note</strong>: This section is still under development.</p>

##<a id='access-logs'></a> Access Cluster Logs

<p class="note"><strong>Note</strong>: This section is still under development.</p>
