---
title: PKS Release Notes
owner: PKS
---

## v0.5.0-1 (Dev Release)

**Release Date**: Nov 13, 2017

This is the first release of the Pivotal Container Service (PKS) tile. The tile contains [Cloud Foundry Container Runtime](https://docs-kubo.cfapps.io) (CFCR), an [On-Demand Broker](https://docs.pivotal.io/svc-sdk/odb/), a Service Adapter, and the PKS API. 

This product can be installed independently of the Pivotal Application Service/Elastic Runtime tile and the Cloud Foundry Command Line Interface (cf CLI). The release allows users to interface directly with the PKS API to create Kubernetes clusters on vSphere.

### Features

* The PKS tile is accessible on [Pivotal Network](https://network.pivotal.io) for internal and alpha users.
* Users can use Ops Manager to deploy the tile. See [Installing and Configuring PKS](installing.html) for more information.
* Proxy routing mode enables PKS and `kubo-odb` to be deployed on vSphere with an option for HAProxy routing. 
* Users can create a second Kubernetes cluster on vSphere using the On-Demand Broker. This version includes a workaround to pass the `kubernetes_master_host` and `worker_haproxy_ip_addresses` via the cloud config, to be able to create a cluster without conflicting with IPs that are already used.
* Processes on the broker VM are running as `vcap`. The only process running as `root` is the `bosh-dns-nameserverconfig`, a BOSH job for DNS.
* Cloud Foundry configuration is not required to deploy the On-Demand Broker, as long as startup checks are disabled. PKS will work without a configured Cloud Foundry.
* Users can created, delete, and bind to on-demand service instances without Cloud Foundry configured.
* CFCR 0.8.0 is now available. CFCR was formerly known as Kubo.

### Alpha Features 

<p class="note"><strong>Note</strong>: These features have not been officially accepted, and may contain bugs.</p>

* Cluster data in the PKS API will persist after restarting PKS.
* Workloads with persistence can be deployed on clusters created with PKS on vSphere.
* Users can delete clusters using the PKS API.
* When listing clusters, the PKS API will display clusters while they are deleting.
* The PKS tile configuration allows users to define the default cluster configuration that is deployed with the PKS API.
* The PKS tile configuration allows users to select a default cluster authorization mode, instead of only deploying clusters with ABAC mode enabled.

## Bug Fixes

* The `worker_node_tag` is no longer required for users to set, and will be inserted into the manifest directly by deployment scripts.

## Known Issues

* The PKS tile is only installable on vSphere. GCP support is coming in the next few releases.

## Component Versions

The following table lists the component versions for v0.5.0-1 (Dev Release).

  <table>
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>CFCR (Kubo)</td><td>0.8.0</td>
  </tr>
  </tbody>
  </table>
