---
title: PKS Release Notes
owner: PKS
---

## v0.5.0

**Release Date**: Nov 13, 2017

This is the first release of the Pivotal Container Service (PKS) tile. The tile contains KuBo, On Demand Broker, a Service Adaptor, and the PKS API. This product can be installed independently of the Elastic Runtime tile, and the CF CLI, and allows users to interface directly with the PKS API to create Kubernetes clusters on vSphere.

## Features
* The Pivotal Container Service tile is accessible via Pivnet for internal and alpha users
* Users can use PCF Operations Manager to deploy the tile. See documentation for detailed configuration guides
* Proxy Routing Mode - PKS and kubo-odb can be deployed on vSphere with an option for HAProxy routing. 
* Users can create a second k8s cluster on vSphere using the on-demand broker - This version includes a workaround to pass the `kubernetes_master_host` and `worker_haproxy_ip_addresses` via the cloud config, to be able to create a cluster without conflicting with IPs that are already used.
* Processes on the broker vm are running as vcap. The only process running as root is the bosh-dns-nameserverconfig, a BOSH job for DNS
* Cloud foundry configuration is not required to deploy the on-demand broker, as long as startup checks are disabled. The experience will work without a configured Cloud Foundry
* Users can created, delete, and bind to on demand service instances without Cloud Foundry  configured.
* Kubo 0.8.0 is now available

## Alpha Features (Features that have have not been officialy accepted, and may contain bugs.)

* Cluster data in the PKS API will persist after PKS restart
* Workloads with persistence can be deployed on clusters created with PKS, on vSphere
* Users can delete clusters using PKS API
* List clusters will display clusters while they are deleting
* PKS Tile config pages in OpsMgr now allow users to define the default cluster configuration that is deployed via the PKS API.
* PKS Tile config pages allow users to select a default cluster authorization mode, instead of only deploying clusters with ABAC mode enabled.

## Bug Fixes

* The worker_node_tag is no longer required for users to set, and will be inserted into the manifest directly by deployment scripts

## Known Issues

* The tile is only installable on vSphere, GCP support coming in the next few releases.

## Component Versions

The following table lists the component versions for Pivotal Container Service (PKS) v1.0.

  <table>
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>CFCR (KuBo)</td><td>0.8.0</td>
  </tr>
  </tbody>
  </table>
