---
title: Using PKS
owner: PKS
---

<p class="note"><strong>Note</strong>: The PKS documentation is still under development. This topic will continue to be updated and expanded to reflect the most current information.</p>

This topic describes how to use Pivotal Container Services (PKS). 

After an operator has [installed](installing.html) PKS, developers can use the PKS Command Line Interface (PKS CLI) to do the following:

* [Create](#create-cluster) a Kubernetes cluster
* [Update](#update-cluster) the name of a Kubernetes cluster
* [View](#view-cluster) the list of running Kubernetes clusters
* [Delete](#delete-cluster) a Kubernetes cluster

To deploy application workloads to a Kubernetes cluster, developers use `kubectl`, the Kubernetes CLI. For more information, see the [Kubernetes documentation](https://kubernetes.io/docs/user-guide/kubectl-overview/).

##<a id='prereqs'></a> Prerequisites

To perform the procedures in this topic, you must have the following:

1. The PKS CLI installed on your local machine
1. A Pivotal Cloud Foundry (PCF) deployment with Ops Manager and PKS installed, but not Pivotal Application Service (PAS)

##<a id='create-cluster'></a> Create Cluster

To create a cluster, perform the following steps:

1. Create a cluster with the PKS CLI, specifying the cluster name and the load balancer for the cluster.
1. Bind a user to the newly created cluster. If the command completes successfully, it displays the cluster credentials and downloads the cluster configuration, known as the kubeconfig, to your local machine. 

You can use the credentials and the kubeconfig to deploy application workloads to your cluster with `kubectl`. For more information, see the [Kubernetes documentation](https://kubernetes.io/docs/user-guide/kubectl-overview/).

##<a id='update-cluster'></a> Update Cluster Name

<p class="note"><strong>Note</strong>: This section is still under development.</p>

##<a id='view-cluster'></a> View Cluster List

<p class="note"><strong>Note</strong>: This section is still under development.</p>

##<a id='delete-cluster'></a> Delete Cluster

<p class="note"><strong>Note</strong>: This section is still under development.</p>
