@import "partials/vars";

/*
 * FILE: _global-header.scss
 ======================================================================== */

header.global-header {
  background-color: #232B2F;
  line-height: 64px;
  padding: 0;
  border: none;

  > a, .header-item {
    font-size: 18px;
    vertical-align: top;
  }

  .pivotal-logo {
    background-image: url(/images/icon-p-green.jpg);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 100%;
    height: 64px;
    width: 64px;
  }

  .global-header-title {
    padding-left: 10px;
    font-weight: bold;
  }

  .header-item {
    padding: 0;
    padding-left: 10px;

    @media(min-width: $bp-wide) {
      padding-left: 0;
      line-height: 64px;
    }
  }

  .header-item:after {
    content: "";
  }

  .header-links {
    a {
      font-weight: normal;
    }
  }

  a {
    border: none;
  }

  .nav-container {
    @media (min-width: $bp-wide) {
      top: 40px;
    }
  }

  .embedded-searchbar {
    vertical-align: baseline;
    margin-bottom: 5px;

    @media(min-width: $bp-wide) {
      margin-bottom: 0;
    }
  }

  .btn-menu:before {
    font-size: $font-size-l;
  }
}

header.header-home-global {
  background: $color-bg-header;
  color: #fff;
  padding: 2em 1.5em;
  text-align: center;
  margin-top: 64px;
}

