/*
 * FILE: _local-header.scss
======================================================================== */

.local-header.local-title {
  font-weight: 200;
  padding: 10px 0;
  font-size: 31px;
  img {
    height: 26px;
  }
}

.local-header.title-container {
  border-bottom: 1px solid $color-border;
  padding: 20px 0;
  margin-bottom: 30px;
  font-weight: normal;
  a {
    border-bottom: none;
    padding: 0 5px;
  }
  .local-search {
    a {
      font-size: 16px;
      color: grey;
      vertical-align: middle;
      margin: 0 18px;
    }
    a:hover {
      background-color: inherit;
      border: none;
    }
  }

  .local-header.local-header-links {
    font-size: 14px;
    a:after {
      content: "";
    }
  }
}

.local-header.title-container {
  .local-header.version-info {
    color: grey;
    font-size: 14px;
    a:after {
      content: "";
    }
  }
}

.local-header.local-version {
  font-size: 16px;
  margin-left: 15px;
  a {
    color: $color-text;
    font-weight: normal;
    display: inline-block;
  }
  a:hover {
    background-color: $color-bg-panel;
    border-bottom: none;
  }
}

.local-header.header-dropdown {
  float: none;
}

.local-header.local-title .local-version.header-dropdown .local-header.header-dropdown-content {
  left: 0;
  float: none;
  padding: 0;
  background-color: #F5F6F7;
  border: none;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  li {
    padding: 5px;
    font-weight: normal;
    margin: 0;
  }
  li:hover {
    background-color: #d3d5d7;
    border-bottom: none;
  }
  a:link:hover {
    background-color: #d3d5d7;
    width: 100%;
    z-index: 100;
  }
}

.local-header.local-search {
  float: right;
  display: inline-block;
  width: 215px;

  table {
    margin: 0;
  }

  td, tr {
    border: none;
    margin: 0;
    padding: 0;
  }

  td.gsc-input {
    position: relative;

    &:before {
      font-family: FontAwesome;
      content: "";
      display: block;
      position: absolute;
      right: 20px;
      top: 6px;
    }
  }

  input.gsc-input {
    border: 1px solid grey;
    color: grey;
    border-radius: 15px;
    padding: 3px 15px;
  }

  .gsc-search-button, .gsc-clear-button {
    display: none;
  }

  input.local-header-search-input {
    border-radius: 50px;
    font-size: 16px;
  }

  .local-header-search-form {
    position: relative;

    &:before {
      font-family: FontAwesome;
      content: "";
      display: block;
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 16px;
      color: #969696;
    }
  }
}
