---
title: Create Network Profiles in the Management Console
owner: PKS
---

If you deployed Enterprise PKS Management Console to an NSX-T Data Center environment, you can create different network profiles for your clusters. Network profiles allow you to customize NSX-T Data Center parameters to suit different types of cluster. If you have created network profiles, you select which profile to use each time you deploy a cluster from the management console.

For examples of when you might use network profiles, see [Network Profile Use Cases](../network-profiles-define.html#use-cases).
​
If you do not create network profiles, all clusters use the default NSX-T Data Center settings that you configured when you deployed the management console.

1. Go to the **Network Profiles** view of the management console.

    ![Network profiles](images/network-profiles.png)
    [View a larger version of this image](images/network-profiles.png)

## <a id='next-steps'></a> Next Steps

- [Assign Resource Quotas to Users](resource-quotas.html)
- [Create Clusters in the Management Console](create-clusters.html)