---
title: Working with Network Profiles
owner: PKS
---

You can add, manage, and remove network profiles using the <%= vars.product_short %> Management Console.

## <a id='network-profile-using'></a>Using Network Profiles

Network profiles let you customize the NSX-T infrastructure networking and the runtime NCP networking for Kubernetes clusters provisioned by <%= vars.product_short %>. For example, using a network profile, you can change the size of the control plane load balancer, add an additional subnet for nodes, and enable the use of a third party ingress controller. For a complete list of use cases, see [Network Profile Use Cases](https://docs.pivotal.io/pks/1-7/network-profiles.html#use-cases).

### <a id='network-profile-create'></a>Create Network Profile

Use the <%= vars.product_short %> Management Console to create network profile. 

<p class="note"><strong>NOTE:</strong> You must be at the console home page to view the **Network Profiles** tab.</p>

1. Select Network Profiles.
1. Click Create Profile.
1. Enter a Name for the profile.
1. Enter a Description for the profile.
1. Beneath Optional Parameters, select [Advanced Network](#advanced-network) or [Container Network](#container-network).
1. Configure the network profile.
1. Click Save.

### <a id='network-profile-remove'></a>Delete Network Profile

Use the <%= vars.product_short %> Management Console to delete network profile. 

<p class="note"><strong>NOTE:</strong> You cannot delete a network profile that is in use by a cluster.</p>

1. Select Network Profiles.
1. Select the profile to remove.
1. Click Delete.
1. Confirm deletion.
1. Validate that the profile to removed. 

## Advanced Network

The table lists and describes the available network profile options for customizing NSX-T.

Profile Option 								               | Description											
-----------------------------------------------------------|------------------------------------------------------------------------------
[Load Balancer Size](../network-profiles-lb-size.html)	   | Size of the NSX-T load balancer service: `Small`, `Medium`, `Large`.
[Pod IP Block IDs](../network-profiles-pods.html) 		   | Array of Pod IP Block UUIDs defined in NSX-T.
[Pod Subnet Prefix](../network-profiles-pods.html) 		   | Size of the Pods IP Block subnet.
[Pod Routability](../network-profiles-pods.html) 		   | Make routable the custom Pods subnet: `Yes` or `No`. 
[Floating Pool IDs](../network-profiles-fip.html)           | Array of floating IP pool UUIDs defined in NSX-T.
[T0 Router ID](../network-profiles-edge.html)	    	   | Tenant Tier-0 Router UUID defined in NSX-T.
[Master VMs NSGroup IDs](../network-profiles-ns-groups.html)| Namespace Group UUID as defined in NSX-T.
[Node IP Block IDs](../network-profiles-nodes.html)  	   | Array of Node IP Block UUIDs defined in NSX-T.
[Node Routable](../network-profiles-nodes.html)  		   | Make routable the custom Node subnet: `Yes` or `No`.
[Node Subnet Prefix](../network-profiles-nodes.html)  	   | Size of the Node IP Block subnet.
[Nodes DNS](../network-profiles-nodes-dns.html)  		   | Array of DNS server IP addresses for lookup of Kubernetes nodes and pods.
[DNS Lookup Mode](../network-profiles-dns.html)			   | DNS lookup for the API LB (`API`) and ingress controller (`API_INGRESS`).
[Ingress Prefix](../network-profiles-ncp-ingress.html) 	   | Ingress controller hostname prefix for DNS lookup. 
[Single Tier Topology](../network-profiles-shared-t1.html)  | Use a single Tier-1 Router per cluster: `Yes` or `No`.
[Infrastructure Networks](../network-profiles-shared-t1.html)| Array of IP addresses and subnets for for use with a single tier topology.
[Custom Infrastructure Networks] 						   | 

## Container Network

The table lists and describes the available network profile options for customizing NCP.

Profile Option 								              		| Description								
----------------------------------------------------------------|------------------------------------------------------------------------------
[Use NSX-T L4 Virtual Server for K8s Load Balancer](../network-profiles-ncp-lb.html) | Use NSX-T layer 4 virtual server for each Kubernetes service of type LoadBalancer: `Yes` or `No`.
[Use NSX-T L7 Virtual Server as the Ingress Controller for K8s Cluster](../network-profiles-ncp-ingress.html) | Use NSX-T layer 7 virtual server as the ingress controller for the Kubernetes cluster: `Yes` or `No`.
[Use Same Source IP for Calling Clients](../network-profiles-ncp-ingress.html) | Use the same source IP for calling clients: `Insert` or `Replace`.
[Ingress controller IP address](../network-profiles-ncp-ingress.html) | IP address to use for the ingress controller.
[NCP Log Level](../network-profiles-ncp-logerr.html) 			| Configure NCP logging: "INFO", "WARNING", "DEBUG", "ERROR", "CRITICAL".
[Log Dropped Firewall Traffic](../network-profiles-ncp-logerr.html) | Log dropped firewall traffic: `Yes` or `No`.
[Ingress Persistence Type](../network-profiles-ncp-ingress.html)	| Specify the ingress persistence type: `none`, `cookie`, `source_ip`.
[Persistence Timeout Interval in Seconds](../network-profiles-ncp-ingress.html) | Persistence timeout interval in seconds.
[Maximum Number of L4 Servers Per Cluster](../network-profiles-ncp-lb.html) | Limit the number of L4 virtual servers per cluster.
[L4 Persitence Type](../network-profiles-ncp-lb.html) 			| Connection stickiness based on `source_ip`.
[L4 Load Balancer Behavior](../network-profiles-ncp-lb.html)		| Layer 4 load balancer behavior: `round_robin`, `least_connection`, `ip_hash`, `weighted_round_robin`.
[Top Section-id for Distributed Firewall Section](../network-profiles-ncp-dfw.html) | UUID of the top `section-id` for the distributed firewall (DFW) section as defined in NSX-T.
[Bottom Section-id for Distributed Firewall Section](../network-profiles-ncp-dfw.html) | UUID of the bottom `section-id` for the distributed firewall (DFW) section as defined in NSX-T.

