---
title: Assign Resource Quotas to Users
owner: PKS
---

Placeholder text

## <a id='next-steps'></a> Next Steps

- [Create Network Profiles in the Management Console](create-network-profiles.html)
- [Create Clusters in the Management Console](create-clusters.html)